<!--<i (click)="log(message)">{{message|json}}</i>-->

<ng-container *ngIf="message?.video || message?.audio || message?.image as mediaData">
<!--  <ng-container *ngIf="message.media as media">-->
    <div class="play-media-wrapper" [ngClass]="direction">
      <div class="item" *ngIf="message.video as src">
        <video controls>
          <source [src]="mediaData.url">
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="item" *ngIf="message.audio as src">
        <audio controls>
          <source [src]="mediaData.url">
          Your browser does not support HTML5 audio.
        </audio>
      </div>
      <div class="item" *ngIf="message.image as src">
        <img [src]="mediaData.url" alt="">
      </div>
    </div>
<!--  </ng-container>-->
</ng-container>
