@import "./../../../sass/main";


:host{
  position: relative;
}

.report-placeholder{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #80808008;
}

.active{
  border-color: white !important;
  border-bottom: 2px solid $color-primary !important;
}

a{//bootstrap override
  text-decoration: none !important;
  font-size: $font-size-sm;
  color: black;
}

input{
  width: 100%;
}
/*todo: there is an issue with centering text*/
.table td {
  text-align: center;
}


::ng-deep{
  .mat-tab-body-wrapper{
    min-height: 70vh;
  }
}