<div class="genTempGrid child-expand">
  <!--left sidebar starts-->
  <div class="genTempGridItem left-sidebar intent-header ml-1 position-relative">
    <div
      style="position: absolute; top: 0; left: 0; right: 0; max-height: 100%; z-index: 10; overflow-y: auto; overflow-x: hidden">
      <div class="d-flex" style="align-items:center;">
        <div class="text-bold">Templates</div>
        <div class="ml-auto text-theme-primary pr-2 new-intent-btn cursor-pointer d-flex align-item-center"
             style="color: #00abd3;"
             (click)="openNewIntentModal()">
          <span class="fa fa-plus pr-1 my-auto"></span>Add New
        </div>
      </div>
      <input *ngIf="_templateKeyDict && myObject.keys(_templateKeyDict) && myObject.keys(_templateKeyDict).length>0;"
             type="text" placeholder="Search Templatekey" [(ngModel)]="templateKeySearchKeyword">
      <div class="heading pl-2" *ngIf="defaultTemplateKeys">Default templates</div>
      <ng-container [ngTemplateOutlet]="templateList" [ngTemplateOutletContext]="{isIntersection: true, allowEdit: false}"></ng-container>
      <div class="heading pl-2" *ngIf="defaultTemplateKeys">Custom templates</div>
      <ng-container *ngIf="defaultTemplateKeys" [ngTemplateOutlet]="templateList" [ngTemplateOutletContext]="{isIntersection: false, allowEdit: true}"></ng-container>
    </div>

    <div *ngIf="!(_templateKeyDict && myObject.keys(_templateKeyDict) && myObject.keys(_templateKeyDict).length>0)"
         class="d-flex align-items-center" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
      <div class="align-self-center mx-2 text-center" style="color: #9e9e9e;">
        Add new template key to start adding responses
      </div>
    </div>
  </div>
  <!--left sidebar ends-->

  <ng-template #templateList let-title="title" let-isIntersection="isIntersection" let-allowEdit="allowEdit" >
    <div class="d-flex align-items-center show-on-hover"
         *ngFor="let tempKey of myObject.keys(_templateKeyDict||{})|filterTemplateLeyList:templateKeySearchKeyword: defaultTemplateKeys: isIntersection">
      <div class="pl-2 p-1 mr-1 flex-grow-1 tab-theme limit-oneline cursor-pointer"
           style="border-radius: 2px"
           [ngClass]="{'text-theme-primary':selectedTemplateKeyInLeftSideBar === tempKey}"
           (click)="updateSelectedTemplateKey(tempKey);selectedTemplateKeyOutputIndex = [];">{{tempKey}}
      </div>
      <ng-container *ngIf="allowEdit">
        <span class="fa fa-edit mr-1 cursor-pointer hide-it" style="color: #9e9e9e"
              (click)="openEditTemplateKeyModal(tempKey);"></span>
        <span class="fa fa-trash mx-2 cursor-pointer hide-it" style="color: #9e9e9e"
              (click)="openDeleteTemplateKeyModal(tempKey)"></span>
      </ng-container>
    </div>
  </ng-template>

  <div class="center-header d-flex justify-content-between align-items-center">
    <div class="response-test px-2">
      <span class="heading pl-3" *ngIf="headingAsSelectedTemplateKey">{{selectedTemplateKeyInLeftSideBar}}</span>
      <span *ngIf="!headingAsSelectedTemplateKey">
        Response Flow {{_templateKeyDict && selectedTemplateKeyInLeftSideBar &&
      _templateKeyDict[selectedTemplateKeyInLeftSideBar] &&
      ((_templateKeyDict[selectedTemplateKeyInLeftSideBar]|dataType)!=='string') ?
          ('('+_templateKeyDict[selectedTemplateKeyInLeftSideBar].length+')'):""}}
      </span>
    </div>
    <div *ngIf="showModeSelect &&  selectedTemplateKeyInLeftSideBar !== 'first_message'" class="form-group m-0 channel-drop d-flex align-items-center">
      <mat-form-field style="margin-bottom: 0px" floatLabel="never">
        <mat-select required name="name" [(ngModel)]="mode" placeholder="Select Mode" (ngModelChange)="modeChangeHandler(mode)">
          <mat-option [value]="'rich'">Rich</mat-option>
          <mat-option [value]="'dynamic'">Dynamic</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group m-0 channel-drop d-flex align-items-center" *ngIf="!hideChannelDropdown">
      <form #channelSelectorForm="ngForm" class="position-relative"
            [hidden]="!channelList || channelList.length<1">

        <mat-form-field style="margin-bottom: -1.2em" floatLabel="never">
          <mat-select required name="name" ngModel placeholder="Select Channel" >
            <mat-option *ngFor="let channel of channelList" [value]="channel.name">
              {{channel.displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

        <em class="text-danger" *ngIf="!channelList || channelList.length<1" style="font-size: 11px">No Channels</em>

    </div>
  </div>

  <div></div>
  <ng-template #codeFormEditor>
    <form [formGroup]="dynamicLogicForm" *ngIf="mode === 'dynamic'">
      <app-code-editor formControlName="code" style="height: 100%"></app-code-editor>
    </form>
  </ng-template>

  <ng-container *ngIf="!mode || mode === 'rich'; else codeFormEditor">
    <div #genTempGridItemGrid class="genTempGridItemGrid " style="position: relative;">
      <div *ngIf="!(_templateKeyDict && myObject.keys(_templateKeyDict) && myObject.keys(_templateKeyDict).length>0)"
           class="d-flex align-items-center justify-content-center mx-5 px-5"
           style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
        <div class="text-center d-flex flex-wrap justify-content-center mx-5 px-5" style="color: #9e9e9e;">
          <div class="bg-white d-flex justify-content-center align-items-center"
               style="height: 56px; width: 56px; border-radius: 28px">
            <span class="fa fa-commenting" style="color: #00abd3; font-size: 25px"></span>
          </div>
          <div class="w-100">Start configuring responses by adding a new template key from the left panel</div>
        </div>
      </div>

      <!--if the value of template key is unpasable, we will show response components-->
      <!--response components list start-->
      <div class="intentItems position-relative">
        <div class="" id="template-output-scroll-container">
          <ng-container
            *ngIf="_templateKeyDict && (_templateKeyDict[selectedTemplateKeyInLeftSideBar]|dataType)!=='string'">
            <div class="py-1 px-0 mb-3"
                 *ngFor="let outputItem of _templateKeyDict[selectedTemplateKeyInLeftSideBar]; let i = index">
              <app-code-gentemplate-ui-component-wrapper
                [selectedChannel]="selectedChannelOfGenTemplate?.name"
                [outputItem]="outputItem"
                #gentemplateItem class="gentemplateItem"
                [myIndex]=i
                [bot]="bot"
                [channelList]="channelList"
                [totalResponseTemplateComponentCount]="myObject.keys(_templateKeyDict[selectedTemplateKeyInLeftSideBar]).length"
                [selectedTemplateKeyOutputIndex]="selectedTemplateKeyOutputIndex"
                (deleteTemplate)="deleteGentemplate($event)"
                (moveTempUp)="moveUpGentempate($event)"
                (moveTempDown)="moveDownGentempate($event)"
                (selectionChanged)="selectGentempate($event)">
              </app-code-gentemplate-ui-component-wrapper>


            </div>
          </ng-container>

          <!--if the value of template key is unparsable, we will show code editor-->
          <div style="height: 150px; visibility: hidden"></div>
        </div>
      </div>
      <!--response components list ends-->
      <!--if the value of template key is unparsable, we will show code editor-->
      <ng-container *ngIf="isTemplateKeyOutputUnparsable()">
        <div class="intentItems d-flex-column-last-child-flex-grow-1">
          <div class="d-flex-column-last-child-flex-grow-1 child-expand">
            <app-code-editor class="d-flex-column-last-child-flex-grow-1 child-expand"
                             [doShowValidationsIcon]="false"
                             [doShowUploadDownloadButton]="false"
                             [text]="{text:templateKeyDictClone[selectedTemplateKeyInLeftSideBar]}"
                             (textChangedEvent)="updateSelectedTemplateKeyValue($event)"></app-code-editor>
          </div>
        </div>
      </ng-container>
      <!--fixed at bottom-->
      <div *ngIf="selectedTemplateKeyOutputIndex && selectedTemplateKeyOutputIndex.length>0"
           class="selected-templates d-flex m-2 px-2"
           style="position: sticky; bottom: 0; left: 0; right: 0; z-index: 200">
        <div>{{selectedTemplateKeyOutputIndex.length}} response selected</div>
        <div class="ml-auto color-primary cursor-pointer" (click)="selectedListCopyModel(IntentSelectionModal)">
          <span class="fa f0c5 fa-upload"></span> Copy to
        </div>
        <div class="color-primary ml-2 cursor-pointer" (click)="selectedListDuplicate()"><span class="fa fa-copy ">
      </span>
          Duplicate
        </div>
        <div class="ml-auto color-danger cursor-pointer" (click)="selectedListDelete()">Delete</div>
      </div>
      <!--fixed at bottom-->

    </div>
    <div class="text-center mb-2 bot-template-heading ">
      <div class="text-bold">+ Add new</div>
    </div>
    <div class="genTempGridItem bot-templates position-relative disabled"
         [ngClass]="{'cursor-pointer-event-none':!selectedTemplateKeyInLeftSideBar, 'disabled':!selectedTemplateKeyInLeftSideBar}">
      <div
        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-height: 100%; overflow-y: auto; overflow-x: hidden">
        <div class="static-template-list" *ngIf="!isTemplateKeyOutputUnparsable(); else templateKeyIsUnparsableMessage">
          <app-gentemplate-sidebar (genTemplateTypeClicked$)="genTemplateTypeClicked($event)"></app-gentemplate-sidebar>
        </div>

        <ng-template #templateKeyIsUnparsableMessage>
          <div class="text-center"
               style="font-size: 11px; color: #9e9e9e; position: absolute; top: 50%;right: 0; left: 0">Template
            key output is unparsable
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
<!--generation template UI ends-->


<ng-template #IntentSelectionModal>
  <div class="primary-modal">
    <div class="modal-header" style="border: none !important;">
      <h4 class="modal-title" style="display: flex;justify-content: start;">Copy response templates to</h4>
      <button aria-label="Close" class="close pull-right" type="button" (click)="modalRefWrapper.ref.close()"><span
        aria-hidden="true">×</span>
      </button>
      <br>
    </div>
    <div class="d-flex w-100 col-12" style="align-items: center;padding-left: 27px;">
      <div>{{(modelGenTempNameForm.value|numberOfTrueKeys)||"No"}} response selected</div>
      <div class="cursor-pointer color-primary ml-3" (click)="modelGenTempNameForm.reset()">
        Clear
      </div>
      <div class="cursor-pointer color-primary ml-auto mr-3"
           (click)="selectAllCheckBoxesInCopyTemplateForm(modelGenTempNameForm)">
        Select all
      </div>
      <div>
        <input type="text" style="width: 120px;border: 1px solid #e0e0e0;margin-right: 60px; padding: 3px"
               [(ngModel)]="copyModalTemplateSearchKeyword">
      </div>
    </div>
    <div class="modal-body" style="padding-top: 10px!important;">
      <div class="d-flex flex-column align-items-center justify-content-center m-2" id="checkboxes">

        <form class="modelGridGenTempNames" id="modelGenTempNameForm" #modelGenTempNameForm="ngForm"
              (submit)="selectedListCopy(modelGenTempNameForm)">
          <label class="container-chekbox text-dark"
                 *ngFor="let templateKey of myObject.keys(_templateKeyDict)|filterTemplateLeyList:copyModalTemplateSearchKeyword">
            <input type="checkbox" ngModel name="{{templateKey}}">
            <span class="checkmark mr-1"></span>
            {{templateKey}}
          </label>
        </form>
        <div class="d-flex w-100">
          <button class="btn-theme btn-theme-primary-outline ml-auto mr-2" (click)="modalRefWrapper.ref.close()">Cancel</button>
          <button class="btn-theme btn-theme-primary  d-inline-block mr-2"
                  [disabled]="(modelGenTempNameForm.value|numberOfTrueKeys)<1"
                  form="modelGenTempNameForm">Copy now
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<input type="text" hidden #templateKeyToBeDeleted>

<ng-template #EditTemplateKeyModal>
  <div class="primary-modal" (clickOutside)="templateKeyCreationError=''">
    <div class="top-dec"></div>
    <div class="modal-body" style="text-align: left">
      <div class="text-bold">Edit Template key</div>
      <form #templateKeyEditForm="ngForm" class="d-flex align-items-center flex-wrap mt-2">

        <input ngModel name="old_key" hidden type="text" [ngModel]="templateKeyToBeDeleted.value">
        <input ngModel required name="new_key" class="w-100" required type="text" [ngModel]="templateKeyToBeDeleted.value"
               (keyup.enter)="editTemplateKey(templateKeyEditForm)">
        <div class="error-wrapper">
          <span *ngIf="templateKeyCreationError" class="text-danger">{{templateKeyCreationError}}</span>
        </div>
        <div class="d-flex justify-content-end w-100 mt-2">
          <button class="btn-theme btn-theme-primary-outline mr-1" (click)="modalRefWrapper.ref.hide()">Cancel</button>
          <button class="btn-theme btn-theme-primary"
                  [disabled]="!templateKeyEditForm.valid"
                  (click)="editTemplateKey(templateKeyEditForm)">Submit
          </button>
        </div>
      </form>
    </div>

  </div>
</ng-template>
