<form  #form="ngForm" class="bot-creation-form ">

  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <label for="name">Data retention period [days]</label>
        <input ngModel="{{bot.data_persistence_period}}" name="data_persistence_period" type="text" class="form-control" placeholder="Time until Data will retain((in days)" id="name" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Consent disclaimer message</label>
        <input ngModel="{{bot.consentMessage}}" name="consentMessage" type="text" class="form-control" placeholder="Consent Message" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">External CMS Endpoint</label>
        <input ngModel="{{bot.cmsurl}}" name="cmsurl" type="text" class="form-control" placeholder="Endpoint URL to fetch consent config" id="alterEgo">
      </div>

    </div>
    <div class="col-5">
      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Allow anonymization?</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Blanket consent for all consumers</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">External CMS Endpoint</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>
    </div>
  </div>

</form>
