<form [formGroup]="formGroup" *ngIf="_bot" class="bot-creation-form ">

  <div class="row m-0">
    <fieldset class="col-5" [readonlyselectedroles]="myEAllActions['Update Bots']">
      <div class="">
        <!--<label for="name">Data retention period [days]</label>-->
        <!--<input-->
               <!--formControlName="data_persistence_period" type="number"-->
               <!--class="form-control"-->
               <!--placeholder="Time until Data will retain((in days)" id="name" requiredClass>-->
        <app-bot-config-input
          displayName="Data retention period [days]"
          [isRequired]="true"
          placeholder="Time until Data will retain((in days)"
          formControlName="data_persistence_period"></app-bot-config-input>
      </div>

      <div class="">
        <!--<label for="alterEgo" [ngClass]="{'required':_bot.blanket_consent}">Consent disclaimer message</label>-->
        <!--<label [hidden]="blanket_consent.valid" class="text-danger pl-1" for="alterEgo"><i>Consent disclaimer message is required</i></label>-->
        <!--<input [required]="_bot.blanket_consent"-->
               <!--formControlName="consent_message" type="text" class="form-control"-->
               <!--placeholder="Consent Message" id="alterEgo">-->

        <app-bot-config-input
          displayName="Consent disclaimer message"
          placeholder="Consent disclaimer message"
          [isDisabled]="!advanced_data_protection"
          formControlName="consent_message"></app-bot-config-input>

      </div>

      <div class="switch-wrapper">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Advanced Data Protection</label>
          <app-ui-switch
            formControlName="advanced_data_protection"
            [(ngModel)]="advanced_data_protection"
            [disabled]="permissionService.isTabAccessDenied(myEAllActions['Update Bots'])"
          ></app-ui-switch>
        </div>
      </div>
    </fieldset >
    <fieldset class="col-5" [readonlyselectedroles]="myEAllActions['Update Bots']">
      <div class="switch-wrapper">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Persist Anonymized Conversation Logs</label>
          <app-ui-switch
            formControlName="allow_anonymization"
            [disabled]="permissionService.isTabAccessDenied(myEAllActions['Update Bots'])"
          ></app-ui-switch>
        </div>
      </div>

      <div class="switch-wrapper">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Blanket consent for all consumers</label>
          <app-ui-switch
            formControlName="blanket_consent"
            [disabled]="permissionService.isTabAccessDenied(myEAllActions['Update Bots'])"
          ></app-ui-switch>
        </div>
      </div>
    </fieldset>
  </div>

</form>
