<!--<i>{{selectedIntent|json}}</i>-->
<header *ngIf="view === 'table'">
  <div class="d-flex flex-row heading p-0 flex-shrink-0" style="height: 32px">
    <strong class="heading-title">
      Training data
    </strong>
    <ng-template #blinking>
      <div class="article-state blinking">
        <i class="fa fa-circle blinking" style="color: white; font-size: 6px; margin-right: 4px"></i>
        <i class="fa fa-circle blinking" style="color: white; font-size: 6px; margin-right: 4px"></i>
        <i class="fa fa-circle blinking" style="color: white; font-size: 6px;"></i>
      </div>
    </ng-template>
    <div class="model-state " *ngIf="corpusMiniObj &&  corpusMiniObj.state; else blinking"
         [ngStyle]="{'background-color':  corpusMiniObj.state === 'saved' ? '#fdc31c':
          corpusMiniObj.state === 'training' ? '#f48a42' :
          corpusMiniObj.state === 'trained' ? '#00abd3' :
          corpusMiniObj.state === 'live' ? '#34bc6e' : '#00abd3', 'color': corpusMiniObj.state === 'saved' ? '#474747' : '#ffffff' }">
      {{ corpusMiniObj.state === 'saved' ? 'Saved' :
        corpusMiniObj.state === 'training' ? 'Training' :
            corpusMiniObj.state === 'trained' ? 'Trained' :
                corpusMiniObj.state === 'live' ? 'Live' : 'Trained' }}
    </div>
    <div class="mr-auto">
    </div>
    <div *ngIf= "corpusMiniObj &&  corpusMiniObj.state && corpusMiniObj.state === 'saved'">
      <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border"
              (click)="trainMLBotsModal()" *appMyIf="myEAllActions['Train task bot']"
      >
        <mat-icon class="mat-icon material-icons">sync</mat-icon>
        Train
      </button>
    </div>
    <div *ngIf= "corpusMiniObj &&  corpusMiniObj.state && corpusMiniObj.state === 'trained'">
      <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border"
              (click)="makeLiveMLBots()" *appMyIf="myEAllActions['Make trained model live']"
      >
        <mat-icon class="mat-icon material-icons">arrow_upward</mat-icon>
        Make Live
      </button>
    </div>
    <!--    <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border" (click)="trainMLBots()">-->
    <!--      <mat-icon class="mat-icon material-icons">sync</mat-icon>-->
    <!--      Train-->
    <!--    </button>-->
  </div>
  <div style="color: #696969;font-size: 11px;">Configure intents and entities over which the bot will
    work
  </div>
</header>
<div style="position: relative; min-height: 70vh;" *ngIf="view === 'table'" class="fade-in-custom">
  <app-imi-loader *ngIf="loading" class="loader-center"></app-imi-loader>
  <div *ngIf="selectedTabIndex === 0">
    <app-button-wrapper
      class="card--update" *appMyIf="myEAllActions['Create intent']"
      [isMatFlatButton]="false"
      [text]=" '+ Create intent'"
      style="position: absolute;right: 3px;top: 18px;z-index: 10;"
      (btnClick)="addNewIntentOrEntity(selectedTabIndex,Primarytemplat)">
    </app-button-wrapper>
  </div>
  <div *ngIf="selectedTabIndex === 1">
    <app-button-wrapper
      class="card--update" *appMyIf="myEAllActions['Create entity']"
      [isMatFlatButton]="false"
      [text]=" '+ Create entity'"
      style="position: absolute;right: 3px;top: 18px;z-index: 10;"
      (btnClick)="addNewIntentOrEntity(selectedTabIndex,Primarytemplat)">
    </app-button-wrapper>
  </div>

  <mat-tab-group (selectedIndexChange)="selectedTabIndex = $event" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Intents" style="min-height: 50vh">
      <app-ml-intents [bot]="bot" *ngIf="intentList && intentList.length > 0"
                      (selectedIntentChanged$)="selectedIntent = $event"
                      [intentData]="intentList"
                      [entitiesList]="entityList"
                      [view]="view"
                      (goToPage$)="loadIntent($event)"
                      (viewChanged$)="viewChanged($event)"></app-ml-intents>
      <div class = "d-flex" *ngIf="!loading">
        <app-splash-screen
          class = "absolute-center"
          *ngIf = "!intentList || (intentList &&  intentList.length <= 0)"
          [imageHRef]="myESplashScreens.no_intent_present"
          [headingText]=""
          [descriptionText]="'No entities added, create new entity to use them within intents'"
        ></app-splash-screen>
      </div>
    </mat-tab>
    <mat-tab label="Entities" class="no-over-flow h-100" style="min-height: 50vh">
      <div *ngIf="entityList && entityList.length > 0">
        <app-ml-entities [bot]="bot" [entitiesData]="entityList" class="h-100"
                         (deleteEntity)="deleteEntityClicked($event)"
                         (editEntity)="editEntityClicked($event,Primarytemplat)"></app-ml-entities>
      </div>
      <div class = "d-flex ">
        <app-splash-screen
          class = "absolute-center"
          *ngIf = "!entityList || (entityList &&  entityList.length <= 0)"
          [imageHRef]="myESplashScreens.no_entity_present"
          [headingText]=""
          [descriptionText]="'No entities added, create new entity to use them within intents'"
        ></app-splash-screen>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="view === 'detail' && !loading" class="fade-in-custom">
  <app-ml-intents-detail
    (selectedIntentChanged$)="selectedIntentChanged($event)"
    (saveOrUpdateIntent$)="saveOrUpdateIntent($event)"
    (deleteIntent$)="deleteIntent($event)"
    (showCreateNewIntentModel$)="addNewIntentOrEntity(1, Primarytemplat)"
    (saveAndTrain$)="saveAndTrainHandler($event)"
    [entityList]="entityList"
    [selectedIntent]="selectedIntent"
    [bot]="bot"
    [view]="'detail'"
    (viewChanged$)="viewChanged($event)"></app-ml-intents-detail>
</div>

<div *ngIf="view === 'entity'" style="flex:1;">
  <app-ml-edit-entity [edittingData]="edittingData" [entity_types]="entity_types"
                      (saveCustomEntity)="saveCustomEntity($event)"
                      (saveAndTrainCustomEntity)="saveAndTrainCustomEntity($event)"
                      (deleteCustomEntity)="deleteEntityClicked($event)"
                      (goBackToTableView)="view = 'table'; selectedTabIndex = 1"
  ></app-ml-edit-entity>
</div>

<ng-template #Primarytemplat>
  <div class="danger-modal">
    <div class="modal-header">
      <h4 class="modal-title mb-1" style="display: flex;justify-content: start;color: #474747;">
        {{modalForm?.value.entity_id ? 'Edit' : 'Create'}} entity</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div style="color: #696969;font-size: 11px;" class="mb-3">Select which type of entity to create
    </div>
    <div class="modal-body pt-0">
      <form class="d-flex flex-column" [formGroup]="modalForm" style="width: 460px;">
        <mat-form-field style="width: 230px">
          <input matInput ngModel placeholder="Entity name" formControlName="entity_name" required maxlength="200">
        </mat-form-field>
        <div class="d-flex" style="align-items: flex-end;">
          <mat-form-field style="width: 120px;margin-right: 20px" >
            <mat-label>Entity type</mat-label>
            <mat-select formControlName="entity_type" ngModel required  [disabled]="modalForm.value.entity_id">
              <mat-option *ngFor="let entity_type of entity_types" [value]="entity_type.name">
                {{toDisplayValue(entity_type.name)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 250px"
                          [hidden]="!(modalForm.value.entity_type == 'regex' || modalForm.value.entity_type == 'custom')">
            <input ngModel matInput placeholder="Value*" formControlName="entity_value">
          </mat-form-field>
        </div>
        <div class="d-flex ">
          <div *ngIf="modalForm.value.entity_id">
              <ng-container
                [ngTemplateOutlet]="saveEntityModalTemplate">
              </ng-container>
          </div>
          <div *ngIf="!modalForm.value.entity_id">
            <ng-container
              [ngTemplateOutlet]="saveEntityModalTemplate">
            </ng-container>
          </div>
          <button mat-button style="border: solid 1px #eaeaea;" class="footer-btn ml-2 mat-theme-button "
                  [disabled]="!modalForm.valid"
                  (click)="dialogRefWrapper.ref.close()">
            Cancel
          </button>
        </div>
      </form>

    </div>
  </div>
</ng-template>
<ng-template #saveEntityModalTemplate>
  <button mat-flat-button type="submit" [disabled]="!modalForm.valid" *appMyIf="myEAllActions['Update entity']"
          (click)="submitEntityForm(modalForm.value);dialogRefWrapper.ref.close()"
          color=primary class="mat-theme-button footer-btn px-2 ml-auto">
    Save
  </button>
</ng-template>
