.chat-feedback-wrapper{
  display: flex;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;

  .chat-feedback{
    display: flex;
    align-items: center;
  }
  mat-icon{
    font-size: 13px;
    //height: auto;
    height: 10px; /*TODO: hack to align mat-icon with text*/
    width: auto;
  }
  span{
    font-size: 11px;
    margin-right: 16px;
    margin-left: 5px;
    &:first-of-type{
      margin-right: 16px;
    }
  }
}
