.theme-section{
  margin-top: 16px;
  .theme-section__header{
    margin-bottom: 0px;
  }
  app-code-editor{
    height: 60vh;
  }
}

* {
  margin: 5px;
}


textarea {
  width: 50%;
  height: 50vh;
  font-size: 9px;
  background-color: black;
  color: white
}