<div class="curation-list-heading ">
    <div class ="header-text" >
            {{totallength}} issues remaining
    </div>
    <div class="header-text ml-auto mr-3">
            {{corpusState}} {{!!corpusState ? "corpus" : ""}}
    </div>
    
    <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border cursor-pointer" 
    mat-button (click)= "openTrainModal()" *ngIf="corpusState == 'Saved'">
      <mat-icon>autorenew</mat-icon>
      Train
    </button>
</div>
<app-curation-issues *ngFor="let curationItem of curationItemList"
                     [curationItemData]="curationItem"
                     [isResolved]=false
                     (ignoreQueryEvent)="ignoreIt($event)"
                     [bot]="bot"
                     (addQueryToArticleEvent)="addQueryToArticle($event)"></app-curation-issues>
<div class ="splash-load-more" *ngIf = "curationItemList && isMorePresent && curationItemList.length == 0">
        <app-splash-screen
                  [imageHRef]="myESplashScreens.Lode_More_Issues"
                  style="width: 300px;"
                  class="d-flex justify-content-center align-items-center"
                  [descriptionText]="'Congratulations, you have cleared current issues, load more to continue'"
          >
          </app-splash-screen>
</div>     
<div class = "load-more" *ngIf = "isMorePresent" (click) = "load10More()">Load 10 more issues&nbsp;&nbsp;<i class ="fa fa-angle-down"></i></div>