@import "~src/sass/main";
.curation-list-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    height: 38px;
    .header-text{
        font-size: 13px;
        color: #4a4a4a;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            border-right: solid 1px #d8d8d8;
            padding-right: 8px;
            margin-right: 8px;
        }
    }
    .train-button{
        margin-right: 0 !important;
    }
    button{
        height: 32px;
    }
}
.load-more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    box-shadow: none;
    color: #474747;
    cursor: pointer;
}
.splash-load-more{
    height:300px;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
// .animate
// {
//     height: 0px;//or anything you need
//     transition: height 1s;
// }
.select-checkbox{
    position: absolute;
    left: -24px;
    top: 14px;
    z-index: 1000000;
}

.curation-and-checkbox{
    position: relative;
    .checkbox-in-curation{
        opacity: 0;
    }
    &:hover{
        .checkbox-in-curation{
            opacity: 1;
        }
    }
}
.not-resolved-footer{
  display: flex;
  align-items: center;
  .footer-btn{
    height: 32px;
  }
}
.utter {
  height: 23px;
  width: 220px;
  overflow-y: auto;
  position: relative;
  margin-bottom: 12px;
  margin-right: 24px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
}
