<div class="row mt-3 bg-white analysis-row p-3 px-4 shadow-theme">
  <div class="col-8">
    <div class="btn-group " dropdown style="width: 100%">
      <div dropdownToggle style="width: 100%">
        <input type="text" id="add" style="width: 100%; position: relative" placeholder="select a bot" [value]="selectedBot && selectedBot.name || ''">
        <i class="fa fa-angle-down center-vertical-absolute"></i>

      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu" style="width: 100%; max-height: 30vh; overflow-y: scroll">
        <li role="menuitem" *ngFor="let bot of botList" (click)="botSelected(bot)"><a
          class="dropdown-item" [ngClass]="{'dropdown-item-active': selectedBot && selectedBot._id===bot._id}">{{bot.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2">

    <div class="btn-group " dropdown style="width: 100%">
      <div dropdownToggle>
        <input type="text" placeholder="Select channel" [value]="selectedChannel.displayName" style="width: 100%; position: relative">
        <i class="fa fa-angle-down center-vertical-absolute"></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu" style="width: 100%; max-height: 30vh; overflow-y: auto">
        <li role="menuitem"><a class="dropdown-item" *ngFor="let channel of channelList"
                               [ngClass]="{'dropdown-item-active': selectedChannel.name===channel.name}"
                               (click)="channelSelected(channel)">{{channel.displayName}}</a></li>
      </ul>
    </div>

  </div>
  <div class="col-2">
    <div class="btn-group " dropdown style="width: 100%">
      <div dropdownToggle>
        <input type="text" placeholder="Select Period" [value]="selectedTime.displayName" style="width: 100%; position: relative">
        <i class="fa fa-angle-down center-vertical-absolute "></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu" style="width: 100%">
        <li role="menuitem">
          <a class="dropdown-item" *ngFor="let timePeriod of timePeriodList"
             [ngClass]="{'dropdown-item-active': selectedTime.name===timePeriod.name}"
             (click)="timePeriodSelected(timePeriod)">{{timePeriod.displayName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 p-0">
    <router-outlet></router-outlet>
  </div>
</div>
