@import '~src/sass/main';


.analysis-row{
  input, input:focus, select{
    //border-radius: 2px;
    @include hide-borders();
    width: 60%;
    margin: 0 auto;
    border: none;
    border:solid 1px #ccc;
    border-radius: 4px;
    height: 34px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 1; /* Firefox */
      @include typography($font-size-normal,$line-height-md,$font-weight-normal,$color-secondary);
      //text-align: center;
      padding-left: 10px;
      padding-bottom: 20px;
      vertical-align: middle;
    }
    padding-left: 10px;
  }

  .btn-group{
    border-radius: 2px;
  }
}

select {
  width: 100% !important;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background:none\9;
    padding: 5px\9;
  }
}
