@import '~src/sass/main';


.analysis-row{
  input, input:focus{
    //border-radius: 2px;
    @include hide-borders();
    width: 60%;
    margin: 0 auto;
    border: none;
    border:solid 1px #ccc;
    border-radius: 4px;
    height: 34px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 1; /* Firefox */
      @include typography($font-size-normal,$line-height-md,$font-weight-normal,$color-secondary);
      //text-align: center;
      padding-left: 10px;
      padding-bottom: 20px;
      vertical-align: middle;
    }
    padding-left: 10px;
    //padding-bottom: 20px;
  }

  .btn-group{
    border-radius: 2px;
  }
}
