<div class="d-flex-column-last-child-flex-grow-1 position-relative">
  <textarea autofocus #f></textarea>
  <i *ngIf="doShowUploadDownloadButton" class="fa fa-download position-absolute text-white cursor-pointer" (click)="downloadCodeText()" style="right: 10px; top: 10px"></i>
  <label *ngIf="doShowUploadDownloadButton" for="uploadInput"><i class="fa fa-upload position-absolute text-white cursor-pointer" style="right: 30px; top: 10px;"></i></label>
  <i *ngIf="doValidationsIcon" class="fa fa-wrench position-absolute text-white cursor-pointer" (click)="validateCodeTest()" style="right: 50px; top: 10px"></i>
  <input hidden type="file" id="uploadInput" accept='text/plain' multiple (change)='openFile(uploadInput);uploadInput.value=null'
    #uploadInput>
</div>
