@import "./../../sass/main";
//.fa{
//  color: $color-secondary;
//}
//
//.full-width-table {
//  width: 100%;
//}
//
//
////::ng-deep .consumers-smart-table {
////  font-size: 12px;
////  color: #666666 !important;
////  //text-align: center;
////  > .table {
////    border-radius: 2px;
////    border: solid 1px #e0e0e0;
////    > thead {
////      > tr:first-child {
////        th {
////          font-family: Helvetica;
////          font-size: 13px;
////          font-weight: bold;
////          color: #56627c !important;
////          //text-align: center;
////        }
////      }
////      tr {
////        th {
////          input {
////            border-radius: 2px;
////            margin-left: 4px;
////          }
////        }
////      }
////    }
////    > tbody {
////      color: #474747;
////      font-size: 13px;
////      font-family: Helvetica;
////      tr {
////        td {
////          padding: 0 15px;
////          text-align: left;
////          font-size: 12px;
////          //color: #666666;
////          .fa-download {
////            color: #9e9e9e;
////            margin-left: 15px;
////            margin-right: 15px;
////          }
////          .ion-ios-unlocked {
////            color: #9e9e9e;
////            margin-left: 15px;
////            margin-right: 15px;
////          }
////        }
////      }
////    }
////  }
////
////}
//
//::ng-deep .ng2-smart-title {
//  a {
//    color: #56627c !important;
//    @include typography($font-size-normal, $line-height-lg, $font-weight-700, $color-text-normal);
//  }
//
//}
//
//$table-font-color: #606c71;
$table-border-color: #e9ebec;
//
////::ng-deep tr {
////  height: 37px;
////  border: 1px solid #e0e0e0;
////  border-radius: 2px;
////  input{
////    border: 1px solid #e0e0e0;
////  }
////  @include typography($font-size-normal, 35px, $font-weight-300, $color-text-grey);;
////}
//
//::ng-deep input {
//  outline: none;
//  //border: 1px solid #ced4da;
//  border-radius: 2px !important;
//}
//
//.page-link:hover {
//  background-color: $color-primary;
//  color: white !important;
//}
//
//:host /deep/ ng2-smart-table {
//  //::placeholder{
//  //  color: transparent;
//  //}
//
//  line-height: 0px;
//  * div {
//    @include typography(12px, $line-height-normal, $font-weight-300, #666666);
//    line-height: 0px;
//    strong {
//      font-weight: 700;
//    };
//    text-align: start;
//    padding-left: 5px;
//  }
//  tr:hover{
//    background-color: #ededed;
//  }
//  tr{
//
//    height: 30px;
//    //border: ;
//    border: 1px solid #e0e0e0;
//    border-radius: 2px;
//    input{
//      border: 1px solid #e0e0e0;
//    }
//    @include typography($font-size-normal, 35px, $font-weight-300, $color-text-grey);;
//    line-height: 0px;
//    th, td{
//      border: none !important;
//    }
//  }
//
//}
//
//
//
//:host {
//  /deep/ {
//
//    table {
//      color: $table-font-color !important;
//
//      tr {
//        td, th ,input {
//          border: 1px solid $table-border-color;
//        }
//        input{
//          //@include hide-borders();
//        }
//      }
//
//    }
//  }
//}

//material table starts
/* Structure */
table {
  width: 98%; /*todo: look whats the problem here; 100% cause overflow-x*/
  border-bottom: 1px solid #e0e0e0;
  margin-left: 10px;
  //padding-top: 10px;
  border-radius: 2px;
  color: #666666;
  background-color: transparent !important;


  ::ng-deep {
    .mat-form-field-infix {
      border-top: 0;
    }
  }

  td {
    font-size: 13px;
    vertical-align: middle !important;
    border-bottom-color: #e0e0e0 !important;
    height: 44px !important;
  }

  th {
    padding-right: 10px;

    min-width: 60px;
    &:first-of-type {
      padding-left: 0 !important;
    }

    ::ng-deep {
      .mat-form-field-infix {
        display: block;
        position: static !important;
      }
    }
  }
}

.mat-form-field {
  font-size: 11px;
  max-width: 70%;

  ::placeholder {
    font-size: 11px;
  }
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}

:host /deep/ {
  tr.mat-footer-row, tr.mat-row {
    height: 30px;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  tbody {
    tr:hover {
      background-color: white;
    }
  }
}

.border1 {
  border: 1px solid red;
}

.input1 {
  border: none;
}

//material table ends
:host /deep/ {
  .mat-form-field-infix {
    //border: none;
    //padding: 0;
  }

  .mat-paginator {
    background: transparent !important;
  }

  //.mat-form-field-flex{
  //  margin-top: 10px;
}

:host /deep/ {
  tr.mat-header-row {
    height: 40px;

    * {
      color: #9e9e9e;
    }
  }

  .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 0px;
    padding: 1px 7px;
  }

  mat-icon {
    //font-size: 110% !important;
  }

  .column-input {
    max-width: 120px;
    width: 120px;
    //border-radius: 2px;
    //margin-top: 10px;
    //margin-bottom: 10px;
    padding-left: 5px;
    //border: 1px solid $table-border-color;
    outline: none;

    &::placeholder {
      font-size: 11px;
    }
  }
}

.textVal {
  width: 130px;
  //overflow: auto;
  word-wrap: break-word;
}

//.textval-wrapper /deep/{
//  .textVal {
//    max-width: 100px;
//    display: inline-block;
//    overflow: hidden;
//    opacity: 1;
//  }
//
//  .textVal-hover{
//    opacity: 0;
//    color: white;
//    background: #0c5593;
//    padding: 10px;
//    max-width: none;
//  }
//
//}
//
//.textval-wrapper:focus /deep/, .textval-wrapper:hover /deep/{
//
//  .textVal:hover {
//    opacity: 0;
//  }
//
//  .textVal-hover{
//    opacity: 1;
//    color: white;
//    background: #0c5593;
//    padding: 10px;
//    max-width: none;
//  }
//}

::-webkit-scrollbar /deep/ {
  /*TODO: this is not working*/
  width: 4px;
}

.fa-caret-up, .fa-caret-down {
  font-size: 7px;
}

.text-bold {
  color: #474747 !important;
}

::ng-deep {
  .hide-matinput-underline {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
    }
    .input-material{
      border-color: transparent !important;
    }
    .fa-search{
      color: transparent !important;
    }
    .mat-datepicker-toggle{
      visibility: hidden !important;
    }
  }
}

.search-theme-input-with-search { /*override*/

  //border-left: none;
  //border-top: none;
  //border-right: none;
  border: none;
  //border-bottom: 1px solid #e0e0e0;

  .fa {
    left: auto;
    right: 5px;
    font-size: 12px;
    top: 12px;
  }

  .input-material {
    text-indent: 0px !important;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent !important;
    &:focus{
      //color: $color-primary;
      border-bottom: 1px solid $color-primary !important;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include typography(13px, $line-height-md, $font-weight-normal, $color-primary);
      }
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 1; /* Firefox */
      @include typography(13px, $line-height-md, $font-weight-normal, $color-secondary);
      padding: 0;
    }
    margin-bottom: 10px;
  }
}