<div class="d-flex justify-content-end align-items-center mb-1">
  <button *ngIf="showSearchInDbButton" class="btn-theme btn-theme-secondary-outline" [disabled]="totalRows>0" (click)="performSearchInDB()">Search in DB</button>
  <div *ngIf="showRefreshButton"><i class="fa fa-refresh px-2 cursor-pointer" style="font-size: 19px" (click)="refreshData$.emit()"></i></div>
</div>
<ng2-smart-table
  class=""
  [settings]="settings"
  [source]="source"
  (custom)="customActionEvents.emit($event)"
  (userRowSelect)="onUserRowSelect($event)">
</ng2-smart-table>

<i>{{x.length}}</i>
<i>{{recordsPerPage}}</i>
<!--_data.length!==totalRows means that custom query has been used to filter rows-->
<ul class="pagination pagination-sm justify-content-center my-2" *ngIf="paginationArr && paginationArr.length>1 && _data.length===totalRows">
  <li class="page-item" [ngClass]="{'text-muted':currentPage<=1}"><a class="page-link" (click)="goToPrevPage()">Previous</a></li>
  <li class="page-item" *ngFor="let i of paginationArr"><a class="page-link" [ngClass]="{'bg-theme-primary':i===currentPage, 'text-white':i===currentPage}" (click)="goToPage(i)">{{i}}</a></li>
  <li class="page-item" [ngClass]="{'text-muted':currentPage>=totalPageCount}"><a class="page-link" (click)="goToNextPage()">Next</a></li>
</ul>

<!--<div *ngIf="totalRows">-->
  <!--<label>Number of rows: {{totalRows}}</label>-->
<!--</div>-->
