<div class="login-section" style="background: white">
  <div
    style="background-image: url('assets/img/login/TriangleL.png'); position: fixed; left: 0;z-index: -1; bottom: 0; width: 25vw; background-position: left; height: 75vh; background-repeat: no-repeat;  background-size: auto 100%;"></div>
  <div class="info-section" style="position: relative">
    <div
      style="background-image: url('assets/img/login/TriangleR.png'); position:absolute; right: 0;z-index: -1; top: 0; width: 25vw; height: 25vw; background-position: top right; background-repeat: no-repeat"></div>
    <div class="info-section-wrapper">
      <header>
        <div class="imi-logo">
          <img src="assets/img/login/imibotlogo.svg" alt="">
        </div>
        <h1 class="hero-heading">
          Automate your business conversations contextually, <strong>harnessing the power of nlp</strong>
        </h1>
      </header>
      <div class="info-section-body">
        <div class="intro-item">
          <div class="item-img-container">
            <img src="assets/img/orchestrate.svg" alt="">
          </div>
          <div class="text">
            <div class="title">Orchestrate</div>
            <div class="description">
              Route the flow based on user’s need by orchestrating multiple bots using a single bot
            </div>
          </div>
        </div>
        <div class="intro-item">
          <div class="item-img-container">
            <img src="assets/img/integrate.svg" alt="">
          </div>
          <div class="text">
            <div class="title">Integrate</div>
            <div class="description">
              Deploy your bot across social, voice and live channels with one-click
            </div>
          </div>
        </div>
        <div class="intro-item">
          <div class="item-img-container">
            <img src="assets/img/facilitate.svg" alt="">
          </div>
          <div class="text">
            <div class="title">Facilitate</div>
            <div class="description">
              Based on where the user is within a flow, trigger actions to execute or handover to agents seamlessly
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login-form-section">
    <section *ngIf="panelActive==='login'" class="login-form right">
      <div class="imi-logo">
        <img src="assets/img/login/imibotlogo.svg" alt="">
      </div>
      <main class="right">
        <div class="text">
          <div class="title">Login</div>
          <div class="description">
            Welcome back, please login to continue
          </div>
        </div>
        <div class="login-box ">
          <form class="form-theme form-theme-with-md-controls" (ngSubmit)="loginSubmitHandler()" #loginForm="ngForm">
            <input data-cy="login-email" autofocus type="email" required email class="form-theme-control" ngModel
                   name="email" aria-describedby="emailHelp"
                   placeholder="Enter Email">
            <input data-cy="login-password" type="password" class="form-theme-control my-3" name="password" ngModel
                   required
                   placeholder="Enter Password">
            <div class="d-flex justify-content-between align-items-center">
              <a class="cursor-pointer" style="color: #4cd2f1" (click)="panelActive='reset-via-email'">Forgot
                password?</a>
            </div>

            <button mat-flat-button type="submit" class="btn-theme mt-3 mb-2"
                    data-cy="login-submit"
                    [disabled]="disabeLoginButton"
                    [ngClass]="{'btn-theme-primary':!disabeLoginButton, 'btn-theme-disabled':disabeLoginButton}">Sign in
            </button>

            <!--TODO: set form info-->
            <div class="user-info">
              <em class="custom-text-danger"
                  [ngClass]="{'visible':errorMessage}">{{errorMessage}}</em>
              <em class="custom-text-primary" *ngIf="infoMessage"
                  [ngClass]="{'visible':infoMessage}">{{infoMessage}}</em>
            </div>
          </form>
        </div>
      </main>
    </section>

    <!-- reset-via-email starts here -->
    <section *ngIf="panelActive===myELoginPanels['reset-via-email']" class="right">
      <div class="login-box">
        <div class="form-theme form-theme-with-md-controls">
          <div class="col-12 string d-flex">
            <header class="title">Forgot password?</header>
          </div>
          <div class="col-12 mb-3 text-theme-normal" style="color: #9e9e9e; line-height: 14px">
            Enter your email address below and we’ll send you a
            link to create a new password.
          </div>
          <div class="col-12">
            <form class="login-form" #emailForPasswordResetForm="ngForm">
              <input type="email" class="form-theme-control" required email ngModel name="email"
                     aria-describedby="emailHelp"
                     placeholder="Enter Email">
              <div style="display: flex; justify-content: space-between; align-items: center">
                <button type="submit" [disabled]="!emailForPasswordResetForm.valid"
                        class="btn-theme btn-theme-primary my-3" (click)="sendEmailForReset()">
                  Request Reset Link
                </button>
                <div class="cursor-pointer" (click)="backToLogin()">Back to Sign in</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section [hidden]="!(panelActive===myELoginPanels.reset || panelActive===myELoginPanels.set)" class="right">


      <div class="login-box ">

        <!--        <div [hidden]="panelActive!==myELoginPanels.set"-->
        <!--             style="display: flex;justify-content: center; align-items: center">-->

        <!--          <img src="assets/img/baseline-how_to_reg-24px.svg"-->
        <!--               style="width: 24px; height: 24px; margin: 0 15px; "-->
        <!--               alt="password verify">-->
        <!--          <div style="color: #474747">Please set your password to verify your account.</div>-->
        <!--        </div>-->

        <div class="login-form-box">
          <header class="title">{{panelActive === myELoginPanels.reset ? 'Reset' : 'Set'}} password</header>
          <div class="col-12 mb-3 text-theme-normal" style="color: #9e9e9e; line-height: 14px">
            Please provide your email to send the password reset link to
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center">
            <form class="login-form w-100" #resetPasswordForm="ngForm">
              <div class="form-group form-theme mb-3">
                <input type="password" required class="form-theme-control" ngModel name="password"
                       aria-describedby="Enter new password"
                       placeholder="Enter new password">
              </div>
              <div class="form-group form-theme">
                <input type="password" required class="form-theme-control" ngModel name="confirm"
                       aria-describedby="Confirm new password"
                       placeholder="Confirm new password">
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center">
                <button type="submit"
                        [disabled]="!resetPasswordForm.valid || resetPasswordForm.value.password !== resetPasswordForm.value.confirm"
                        class="btn-theme btn-theme-primary my-3" (click)="resetPassword()">
                  {{panelActive === myELoginPanels.reset ? 'Reset' : 'Set'}}
                </button>
                <div class="cursor-pointer color-primary" (click)="backToLogin()">Back to Sign in</div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="panelActive==='email-reset-link-notify'" class="right" style="width: 100%">
      <div class="forgot-password-container">
        <div style="display: flex; ">
          <div class="title">Email Sent</div>
          <div class="checkmark border-circle" style="flex-shrink: 0">
            <span class="fa fa-check"></span>
          </div>
        </div>
        <div>
          An email has been sent to your email address, consisiting of the next steps kindly use the link to reset
          password
        </div>
        <button class="btn-theme btn-theme-primary my-3" (click)="panelActive='login'">
          Back to Sign in
        </button>
      </div>
    </section>

    <section *ngIf="panelActive==='password-reset-notify'" class="right">
      <div class="forgot-password-container d-flex flex-column align-items-center">
        <div class="checkmark border-circle">
          <span class="fa fa-check"></span>
        </div>
        <div class="hero-text">Password Updated Successfully</div>
        <div class="text-center mb-2" style="width: 70%">
          Your password has been saved. Please use your new password to sign in
        </div>
        <div class="text-center cursor-pointer color-primary" style="margin-top: 20px" (click)="backToLogin()">Back to
          Sign in
        </div>
      </div>
    </section>

    <section *ngIf="panelActive==='enterprise-list-display'" style="width: 100%" class="enterprise-flex mx-4 right">
      <div class="d-flex mb-2">
        <div style="font-size: 20px">Select enterprise</div>
        <div class="color-primary cursor-pointer ml-auto" (click)="enterpriseLogout()"><span
          class="fa fa-power-off"> </span>
          Log out
        </div>
      </div>
      <div class="d-flex mb-3">
        <div style="font-size: 16px;">You have {{enterpriseList.length}} enterprises, please select one to proceed</div>
      </div>
      <app-enterprise-list
        [enterpriseList]="enterpriseList"
        [searchEnterprise]="searchEnterprise"
        (clickedEnterprise)="clickedEnterprise($event)"
        [currentEnterpriseId]="-1"></app-enterprise-list>
    </section>
  </div>
</div>
