@import '~src/sass/main';

:host {
  display: flex;
  background-color: white;
}

.login-section {
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  .info-section {
    width: 57%;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;

    .info-section-wrapper {
      max-width: 470px;
      height: 70vh;
      //background: rebeccapurple;
      display: flex;
      flex-direction: column;
    }

    .imi-logo {
      height: 56px;

      img {
        height: 100%;
      }
    }

    .hero-heading {
      font-size: 24px;
      margin-top: 24px;
      font-weight: 300;
      color: #343434;
    }

    .info-section-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      max-height: 350px;
      //background: gray;
      //height: 100%;
      .intro-item {

        margin-top: auto;
        margin-bottom: auto;
        //margin-top: 24px;
        &:first-child {
          //margin-top: auto;
        }

        .item-img-container {
          width: 70px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        display: flex;
        height: 63px;
        margin-left: 20px;
        //margin-bottom: 25px;

        .text {
          padding-left: 20px;
        }

      }
    }
  }

  .login-form-section {
    section{
      margin-bottom: 10% !important;
      width: 70%;
    }
    padding-left: 48px;
    padding-right: 48px;
    width: 43%;
    background-image: linear-gradient(217deg, #4352bc, #262b5b);
    display: flex;
    align-items: center;
    color: white;

    .imi-logo {
      display: none;
    }

    section {
      //max-width: 350px;
      //width: 50%;
    }

    ::ng-deep {
      .enterprise-flex {
        width: 100%;
        margin-left: 0 !important;

        div:first-child {
          align-items: center;
        }
      }

      .enterprise-grid {
        color: white;

        .enterprise-grid-item {
          &:hover {
            //color: black;
          }
        }
      }
    }

    .title, .description {
      color: white;
    }

    .text {
      margin-bottom: 40px;
    }

    .title {
      font-size: 28px;
      font-weight: 600;
    }
  }
}

.imi-fixed-logo {
  @extend %fixed-top-left;
}

*:not(.fa) {
  font-family: IBM Plex Sans, serif;
}

button {
  color: white !important; //todo: temporary change
}

/*new design ends*/

.login-grid {

  display: grid;
  height: 100vh;
  background-color: white;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 60% 1fr;
  grid-template-areas: '. .' 'left right' '. .';

  .left {
    grid-area: left;
    @extend %centered-flex;
    border-right: 2px solid #e0e0e0;

    .imi-logo-box {
      text-align: center;
      margin-left: auto;
      margin-right: 3rem;
    }
  }

  .right {
    grid-area: right;
    @extend %centered-flex;
    flex-wrap: wrap;

    .login-box {
      //width: 60%;
      //margin-right: auto;
      //margin-left: 3rem;
      //width: 50%;

      .form-theme-error, .form-theme-info {
        font-size: 13px;
      }

    }
  }

  .color-primary {
    color: $color-primary;
  }

  @media screen and (max-width: 780px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 65%;
    grid-template-areas: 'left' 'right';
    grid-gap: 10px;
    .left {
      margin-left: auto;
      margin-right: auto;
      border: none;

      .imi-logo-box {
        margin-right: 0px;
        margin-top: auto;

        img {
          height: 65px;
          width: auto;
          margin-bottom: 20px;
        }
      }
    }

    .right {
      display: flex;
      align-items: start;
      justify-content: center;
      //margin-bottom: 10% !important;
      .login-box {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .imi-logo-box {
    img {
      height: 70px;
      width: 241px;
      margin-bottom: 20px;
    }

    .tagline {
      @include typography(20px, 22px, $font-weight-300, #56627c);
    }
  }

  .title {
    @extend %text-xl;
    text-align: center;
  }
}

.hero-text {
  @include typography(24px, $line-height-md, $font-weight-300, #00abd3);
  margin-bottom: 8px;
}

.forgot-password-container {
  @include typography($font-size-normal, $line-height-md, $font-weight-300, $color-secondary);

  strong {
    font-weight: 700;
    color: #4a4a4a;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #c9e16a;
    //margin-bottom: 27px;
    margin-left: 8px;

    .fa {
      color: #9dc406;
      font-size: 14px;
    }
  }

}

.disabled-button {
  opacity: 0.5;
  background-color: $color-secondary !important;
}

.container-fluid {
  height: 100vh;
}

.notification-text {
  color: $color-primary;
}


.enterprise-flex {
  grid-area: right;
  // display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.enterprise-pushing-left {
  grid-template-columns: 1fr 1.7fr !important;
}

.search-theme-input-with-search {
  align-self: start;
  position: relative;
  color: #aaa;
  font-size: 16px;

  input {
    width: 100%;
    height: 24px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 2px;
    outline: none;
    text-indent: 32px;
    @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-text-normal);
  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 10px;
    transform: translate(0%, -50%)
  }
}

:host /deep/ .mat-checkbox-inner-container {
  height: remy(17);
  width: remy(17);
}


.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

button[disabled] {
  color: white !important;
}

.user-info {
  height: 20px;
}


@media screen and (max-width: 890px) {
  .info-section {
    display: none !important;
  }

  .login-form-section {
    width: 100% !important;
    justify-content: center;

    section{
      margin-bottom: 10% !important;
      width: 100%!important;
      max-width: 450px;
    }

    .imi-logo {
      display: block !important;
      position: fixed;
      right: 5%;
      top: 5%;
    }
  }

}
