<form  #form="ngForm" class="bot-creation-form ">
  <div class="row">
    <div class="col-5 ">
      <div class="form-group">
        <label for="name">Unique Name</label>
        <input [(ngModel)]="bot.botUniqueName"  name="botUniqueName" type="text" class="form-control" placeholder="Bot Unique Name (non-editable after Bot creation)" id="name" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Bot Name</label>
        <input ngModel="{{bot.name}}" name="name" type="text" class="form-control" placeholder="A display name for the bot" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">Bot Logo Url</label>
        <input ngModel="{{bot.botLogo}}" name="botLogo" type="text" class="form-control" placeholder="URL for the Bot Logo/Brand Image" id="alterEgo">
      </div>
      <div class="form-group">
        <label for="alterEgo">Industry</label>
        <input ngModel="{{bot.industry}}" name="industry" type="text" class="form-control" placeholder="The industry the Bot caters to" id="alterEgo">
      </div>
      <div class="form-group">
        <label for="alterEgo">Heading</label>
        <input ngModel="{{bot.heading}}" name="heading" type="text" class="form-control" placeholder="A heading defining the usecase of the Bot" id="alterEgo">
      </div>

    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="alterEgo">Description</label>
        <input ngModel="{{bot.description}}" name="description" type="text" class="form-control" placeholder="A description for the Bot" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">Bot's First Message</label>
        <input ngModel="{{bot.firstMessage}}" name="firstMessage" type="text" class="form-control" placeholder="First message of the Bot" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">Session Close Time [mins]</label>
        <input ngModel="{{bot.room_persistence_time}}" name="room_persistence_time" type="text" class="form-control" placeholder="Time until Session Closes (in minutes)" id="alterEgo">
      </div>
      <div class="form-group">
        <label for="alterEgo">Count per transactions</label>
        <input type="text" class="form-control" placeholder="Number of transactions to be counted in one session unit" id="alterEgo">
      </div>
      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">External CMS Endpoint</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>
    </div>
  </div>

<!--</form>-->



<h4 class="mt-5">Data management</h4>
<hr>
<!---->
<!--<form class="timePeriod-creation-form data-manage-form">-->
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <label for="name">Data retention period [days]</label>
        <input ngModel="{{bot.data_persistence_period}}" name="data_persistence_period" type="text" class="form-control" placeholder="Time until Data will retain((in days)" id="name" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Consent disclaimer message</label>
        <input ngModel="{{bot.consentMessage}}" name="consentMessage" type="text" class="form-control" placeholder="Consent Message" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">External CMS Endpoint</label>
        <input ngModel="{{bot.cmsurl}}" name="cmsurl" type="text" class="form-control" placeholder="Endpoint URL to fetch consent config" id="alterEgo">
      </div>

    </div>
    <div class="col-5">
      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Allow anonymization?</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">Blanket consent for all consumers</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control d-flex align-items-center justify-content-between pr-5">
          <label class="pr-2">External CMS Endpoint</label>
          <ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>
        </div>
      </div>
    </div>
  </div>

</form>


<!--========= following is template without any variable binding =============-->

<!--<form #form class="timePeriod-creation-form">-->
  <!--<div class="row">-->
    <!--<div class="col-5">-->
      <!--<div class="form-group">-->
        <!--<label for="name">Bot Unique Name</label>-->
        <!--<input type="text" class="form-control" placeholder="Bot Unique Name (non-editable after Bot creation)" id="name" required>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Bot Name</label>-->
        <!--<input type="text" class="form-control" placeholder="A display name for the timePeriod" id="alterEgo">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Bot Logo Url</label>-->
        <!--<input type="text" class="form-control" placeholder="URL for the Bot Logo/Brand Image" id="alterEgo">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Industry</label>-->
        <!--<input type="text" class="form-control" placeholder="The industry the Bot caters to" id="alterEgo">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Heading</label>-->
        <!--<input type="text" class="form-control" placeholder="A heading defining the usecase of the Bot" id="alterEgo">-->
      <!--</div>-->

    <!--</div>-->
    <!--<div class="col-5">-->
      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Description</label>-->
        <!--<input type="text" class="form-control" placeholder="A description for the Bot" id="alterEgo">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Bot's First Message</label>-->
        <!--<input type="text" class="form-control" placeholder="First sessionMessageData of the Bot" id="alterEgo">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Session Close Time [mins]</label>-->
        <!--<input type="text" class="form-control" placeholder="Time until Session Closes (in minutes)" id="alterEgo">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Count per transactions</label>-->
        <!--<input type="text" class="form-control" placeholder="Number of transactions to be counted in one session unit" id="alterEgo">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="form-control d-flex align-items-center justify-content-between pr-5">-->
          <!--<label class="pr-2">External CMS Endpoint</label>-->
          <!--<ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</form>-->



<!--<h4 class="mt-5">Data management</h4>-->
<!--<hr>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<form class="timePeriod-creation-form data-manage-form">-->
  <!--<div class="row">-->
    <!--<div class="col-5">-->
      <!--<div class="form-group">-->
        <!--<label for="name">Data retention period [days]</label>-->
        <!--<input type="text" class="form-control" placeholder="Time until Data will retain((in days)" id="name" required>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Consent disclaimer sessionMessageData</label>-->
        <!--<input type="text" class="form-control" placeholder="Consent Message" id="alterEgo">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="alterEgo">External CMS Endpoint</label>-->
        <!--<input type="text" class="form-control" placeholder="Endpoint URL to fetch consent config" id="alterEgo">-->
      <!--</div>-->

      <!--&lt;!&ndash;<button type="submit" class="btn btn-success">Submit</button>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-5">-->
      <!--<div class="form-group">-->
        <!--<div class="form-control d-flex align-items-center justify-content-between pr-5">-->
          <!--<label class="pr-2">Allow anonymization?</label>-->
          <!--<ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<div class="form-control d-flex align-items-center justify-content-between pr-5">-->
          <!--<label class="pr-2">Blanket consent for all consumers</label>-->
          <!--<ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<div class="form-control d-flex align-items-center justify-content-between pr-5">-->
          <!--<label class="pr-2">External CMS Endpoint</label>-->
          <!--<ui-switch class="pt-2"  style="border:none" size="small"></ui-switch>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</form>-->
