@import "~src/sass/main";
.article-heading{
    border-bottom : solid 1px #e0e0e0;
     align-items: center;
     width: 100%;
     height: 45px;
     .article-heading-label{
        color: #474747;
        font-size: 13px;
        font-weight: bold;
        line-height: 1;
        margin-right: auto
     }
     .sort-dropdown{
        height: 45px;
     }
}
.article-item{
    justify-content: center;
    width: 100%;
    .catagory{
        font-size: 11px;
        color: #9e9e9e;
    }
    .first_question{
        font-size: 13px;
        color: #474747;
        width: 85%;
    }
    .count{
        font-size: 13px;
        color: #474747;
        width: 15%;
        text-align: right;
    }

}
.article-action-side-bar{
    .for-border{
        height: 45px;
        border-bottom : solid 1px #e0e0e0;
    }
    .action-item{
        font-size: 11px;
        color: #474747;
    }
    .filter-categories-heading{
        color: #474747;
        font-size: 13px;
        font-weight: bold;
        line-height: 1;
    }
    .filter-categories-box{
        background-color: #ffffff;
        .search-input{
            height:45px;
        }
        .categories-section{
            font-size: 13px;
            color: #474747;
            border-bottom: solid 1px #e0e0e0;
            height:250px;
        }
        .filter-btn{
        }
        .clear-btn{
            background-color: transparent;
            color: #474747;
            border: solid 1px #e0e0e0;
        }
    }
    
}