<header>
  <div style="padding-bottom: 8px"><strong
          style="color: #474747; font-size: 16px; font-weight: bold;line-height: 1;">Test pipeline bot</strong>
  </div>
  <div class="hide-phone" style="color: #696969;font-size: 11px">
    Run the pipeline bot by providing it inputs which the bot needs to see how it works
  </div>
</header>

<div class = "pipeline-test-body">
<!--  60 - 40-->
  <div class = "test-body">
    <div class = heading>Inputs</div>
    <form #pipelineTestForm="ngForm" class = "test-form">
      <mat-form-field class = "type-select">
        <mat-label>Message type</mat-label>
        <mat-select name="msg_type" value="text">
          <mat-option value="text">
           Text
          </mat-option>
          <mat-option value="url">
            Url
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class ="test-textarea">
      <textarea matInput name="msg" type="text" color="basic" appearance="outline"
                #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="10">
            </textarea>
      </mat-form-field>
    </form>
  </div>
  <div class = "response-body">
    <div class = heading>Responses</div>
    <div class = "code">
      <app-code-editor
              style="height: 55vh"
              [text]="{text: testResponse|json}"
              [readOnly]="true"
              [doShowValidationsIcon]="false"
              [doShowUploadDownloadButton]="true"
      ></app-code-editor>
    </div>
  </div>
</div>
