@mixin center-vertical{
  display: flex;
  align-items: center;
}

@mixin center-horizontal{
  display: flex;
  justify-content: center;
}
@mixin center-vertical-horizontal{
  display: flex;
  align-items: center;
  justify-content: center;
}
@import "./variables";

@mixin hide-borders{
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

@mixin typography($size, $line-height, $weight, $color){
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  font-family: "Helvetica", sans-serif;
}

@mixin margin-padding-0(){
  margin: 0;
  padding: 0;
}
@mixin classic-modal($color){
  background-color: white;
  margin-top:0;
  border-radius: 4px;
  font-family: Helvetica;
  .top-dec{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 10px;
    background-color: $color;
  }
  .modal-header{
    color: #474747;

    .modal-title{
      width: 100%;
      font-size: 20px;
      text-align: center;
      color: #474747;
    }
  }
  .modal-body{
    color: #474747;
    font-size: 12px;
    text-align: center;
    padding-bottom:10px ;

  }
}

@function remy($pxsize) {
  @return ($pxsize/16)+rem;
}
