<div class="d-flex align-items-center">
  <i class="fa fa-circle mr-1" [ngClass]="{'text-theme-dark-chat-bubble':randomNumber===1,'text-theme-secondary-chat-bubble':randomNumber!==1}"></i>
  <i class="fa fa-circle mr-1" [ngClass]="{'text-theme-dark-chat-bubble':randomNumber===2,'text-theme-secondary-chat-bubble':randomNumber!==2}"></i>
  <i class="fa fa-circle mr-1" [ngClass]="{'text-theme-dark-chat-bubble':randomNumber===3,'text-theme-secondary-chat-bubble':randomNumber!==3}"></i>
  <span style="color: #9e9e9e;">Bot is typing</span>
</div>
<!---->
