<header class="row mt-3 pb-3  ">
    <div class="col-12 p-0">
        <div class="d-flex">
            <div class="card-header">
                Profile settings
            </div>
            <button class="btn-theme btn-theme-primary ml-auto " [disabled]="!formGroup.valid"
                    (click)="updateEnterpriseProfile()">Update
            </button>
        </div>
    </div>
</header>
<div *ngIf="(loggeduserenterpriseinfoMap$|async) as loggeduserenterpriseinfo">
    <section class="row basic-row bottom-border-line">
        <div class="col-1 logo-wrapper-col ">
            <div class="logo-wrapper">
<!--                <img [src]="logoUrl.value ||" alt="logo">-->
              <img alt="channel name"
                   [defaultImage]="'assets/img/no image.svg'"
                   [lazyLoad]="logoUrl.value" alt="enterprise logo">
            </div>
        </div>
        <div class="col-11">

            <form [formGroup]="formGroup" class="basic-info-form row">
                <div class="row col-6">
                    <h4 class="form-title col-12">Basic</h4>
                    <div class="col-5">
                        <div class="form-group ">
                            <mat-form-field class="w-100">
                                <input type="text" class="form-control" matInput placeholder="Enterprise name"
                                       formControlName="name" required>
                                <mat-error class="mat-error-small" *ngIf="formGroup.get('name').errors?.error as errorObj">{{errorObj.message}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-5">
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input type="text" #logoUrl class="form-control" matInput placeholder="Logo Url"
                                       formControlName="logo">
                                <mat-error *ngIf="formGroup.get('logo').getError('Image Extension is not correct')">
                                    Image Extension is not correct
                                </mat-error>
                                <mat-error *ngIf="formGroup.get('logo').getError('Must be Https Url')">
                                    Must be Https Url
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row col-6">
                    <h4 class="form-title col-12">Advanced</h4>

                    <div class="col-5 mr-2">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input type="text" class="form-control" required matInput
                                       placeholder="Enterprise Unique Name" formControlName="enterprise_unique_name"
                                       readonly>
                              <mat-error class="mat-error-small" *ngIf="formGroup.get('enterprise_unique_name').errors?.error as errorObj">{{errorObj.message}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input type="text" class="form-control" disabled matInput placeholder="Tier Group"
                                       formControlName="tier_group">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field class="w-100">
                                <input type="text" class="form-control" matInput placeholder="Log Retention Period"
                                       formControlName="log_retention_period">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>


</div>
<header class="row mt-3 pb-3  ">
    <div class="col-12 p-0">
        <div class="card-header">
            Log deletion summary
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="card-header card-header-description">
            Count of logs deleted over the last 7 days.
        </div>
    </div>
</header>
<div class="d-flex log-deletion bottom-border-line">
    <div class="unit ml-2 mr-4" *ngFor="let data of logdeletionsummary">
        <div class="date mb-2">
            {{data.timestamp| date:"d MMM yy"}}
        </div>
        <div class="count">
            {{data.total}}
        </div>
    </div>
</div>
<header class="row mt-3 pb-3  ">
    <div class="col-12 p-0">
        <div class="card-header">
            Service keys
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="card-header card-header-description">
            Service keys associated with this account.
        </div>
    </div>
</header>
<div class="access-tokens">
    <div class="col-12 p-0 pb-2">
        <div class="heading">
            Enterprise access token
        </div>
    </div>
    <div class="col-12 p-0 pb-2 d-flex">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="Active">
            <mat-button-toggle value="Active" (click)="showActiveServiceKeysTable = true">Active</mat-button-toggle>
            <mat-button-toggle value="Expired" (click)="showActiveServiceKeysTable = false">Expired</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="ml-auto color-primary cursor-pointer" *ngIf="showActiveServiceKeysTable"
             (click)="openNewServiceKeyModal()"><span class="fa fa-plus pr-1 "></span> New token
        </div>
    </div>
</div>

<div class="row profile-row"
     *ngIf="serviceKeyExpiredTableModal?.tableData &&serviceKeyExpiredTableModal?.tableData.length>0 && !showActiveServiceKeysTable">
    <div class="col-12 p-0 m-0">
        <app-smart-table [data]="serviceKeyExpiredTableModal?.tableData"
                         (dataValue$)="dataValueClicked($event)"
                         [sortedCol]="'Created on'"
                         [sortDir]="myESortDir.DES"

        >
        </app-smart-table>
    </div>
</div>

<div class="row profile-row" style="color: #666;"
     *ngIf="!(serviceKeyExpiredTableModal?.tableData &&serviceKeyExpiredTableModal?.tableData.length>0) && !showActiveServiceKeysTable">
    No expired service keys available.
</div>

<div class="row profile-row"
     *ngIf="serviceKeyActiveTableModal?.tableData && serviceKeyActiveTableModal?.tableData.length>0 && showActiveServiceKeysTable">
    <div class="col-12 p-0 m-0">
        <app-smart-table [data]="serviceKeyActiveTableModal?.tableData"
                         (customActionEvents)="customActionEventsTriggeredInSessionsTable($event)"
                         (dataValue$)="dataValueClicked($event)"
                         [sortedCol]="'Created on'"
                         [sortDir]="myESortDir.DES"
        >
        </app-smart-table>
    </div>
</div>

<div class="row profile-row" style="color: #666;"
     *ngIf="!(serviceKeyActiveTableModal?.tableData && serviceKeyActiveTableModal?.tableData.length>0) && showActiveServiceKeysTable">
    No active service keys available.
</div>
