<div class="bg-white flex-grow-1">
  <div class="d-flex w-100 pb-2 pl-2 pt-1">
    <div class="d-flex align-items-center">
      <span class="fa fa-list mr-1" style="font-size: 15px; color: #9b9b9b"></span>
      <span>Quick Replies ({{outputItem?.quick_reply[0].quick_replies.length}})</span>
    </div>
  </div>

  <div class="m-1">
    <input style="height: 32px "
           #mainInput
           placeholder="Description"
           type="text" class="description w-100" [(ngModel)]="outputItem.quick_reply[0].text">
  </div>

  <app-code-quick-reply-button-wrapper
    *ngFor="let quick_reply of outputItem?.quick_reply[0].quick_replies; let i = index"
    [quick_reply]="quick_reply"
    (deleteQuickReply$)="deleteQuickReply(i)"
    class="flex-grow-1 p-2 d-inline-block">
  </app-code-quick-reply-button-wrapper>

  <button class="btn-theme btn-theme-secondary-outline m-2" (click)="pushNewQuickReply()">+ Add</button>
</div>
