@import '~src/sass/main';


.create-concept-row{
  //select, input{
  //  height: 26px;
  //}
  .concept {
    @include typography($font-size-xs, $line-height-normal, $font-weight-normal, $color-text-normal);
    width: 160px;
    &::-webkit-input-placeholder {
      text-transform: uppercase;
      color: #AAA;
      //transform: scale(0.45);
      @include typography(9px, $line-height-normal, $font-weight-normal, #AAA);
    }
  }

  //select{
  //  @include typography($font-size-xs, $line-height-normal, $font-weight-normal, $color-text-normal);
  //  outline: none;
  //  border: 1px solid #ced4da;
  //  border-radius: 2px !important;
  //  padding-left: 10px;
  //  padding-right: 10px;
  //  text-align: center;
  //}

  span, label{
    @include typography($font-size-xs, $line-height-normal, $font-weight-normal, $color-text-normal);
    padding-left: 10px;
    padding-right: 10px;
  }

  [type="file"]{
    @include typography($font-size-xs, $line-height-normal, $font-weight-normal, $color-text-normal);
  }

  //input{
  //  @include hide-borders();
  //  border: 1px solid #ced4da;
  //  padding-left: 8px;
  //}

  label{
    display: flex;
    align-items: center;
  }

}

.fa-trash, .fa-upload {
  font-size: 22px;
  color: $color-primary;
  padding-left: 5px;
}


.label-selected{
  background-color: #e0e0e0;//$color-primary;
  //color: white !important;
}
.label-unselected{
  border: $border-normal;
  //color: white;
}

.danger-modal{
  @include classic-modal(#b14250);
}

:host /deep/{
  .mat-slide-toggle-label{
    margin-bottom: 0;
  }
}
