<!--&lt;!&ndash;todo: this is a hardcoded code, change it to more flexible&ndash;&gt;-->
<!--<form class="row form-theme" #form="ngForm">-->
<!--<div class="col-6">-->

<!--<div ngModelGroup="channels">-->
<!--&lt;!&ndash;Facebook starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="facebook">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">Facebook</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.channels && formValue.channels.facebook && formValue.channels.facebook.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.channels?.facebook?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>PageId</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="facebook-token">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Facebook Token</label>-->
<!--<input ngModel type="text"-->
<!--class="form-control" name="id">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Facebook ends&ndash;&gt;-->

<!--&lt;!&ndash;WEB starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="web">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">WEB</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.channels && formValue.channels.web && formValue.channels.web.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.channels?.web?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>Speech Model</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="speech_model">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Enable TTS</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="speech_tts">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Speech Integration URL</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="speech_url">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;WEB ends&ndash;&gt;-->

<!--&lt;!&ndash;skype starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="skype">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">Skype</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.channels && formValue.channels.skype && formValue.channels.skype.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.channels?.skype?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>App id</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="client_id">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>App Secret</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="client_secret">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Stream Name</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="skype-page-name">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;skype ends&ndash;&gt;-->

<!--&lt;!&ndash;alexa starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="alexa">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">Alexa</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.channels && formValue.channels.alexa && formValue.channels.alexa.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.channels?.alexa?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>Skill id</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="skillId">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;alexa ends&ndash;&gt;-->

<!--&lt;!&ndash;Line starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="line">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">Line</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.channels && formValue.channels.line && formValue.channels.line.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue.channels.line.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>App id</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="skillId">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Line ends&ndash;&gt;-->

<!--&lt;!&ndash;Viber starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="viber">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">VIBER</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="-->
<!--formValue.channels &&-->
<!--formValue.channels.viber &&-->
<!--formValue.channels.viber.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.channels?.viber?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>bot-name</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="bot_name">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Bot-auth-token</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="bot_auth_token">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Bot Avatar</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="bot_avatar">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Viber ends&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-6">-->

<!--<div ngModelGroup="fulfillment_provider_details">-->
<!--&lt;!&ndash;IMIConnect starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="imiconnect">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">IMICONNECT</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.fulfillment_provider_details && formValue.fulfillment_provider_details.imiconnect && formValue.fulfillment_provider_details.imiconnect.enabled"-->
<!--size="small" switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.fulfillment_provider_details?.imiconnect?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>App id</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="appId">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>App Secret</label>-->
<!--<input ngModel type="text" class="form-control" name="appSecret">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Stream Name</label>-->
<!--<input ngModel type="text" class="form-control" name="streamName">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Service Key</label>-->
<!--<input ngModel type="text" class="form-control" name="serviceKey">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Send request via Connect</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="send_via_connect">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;IMIConnect ends&ndash;&gt;-->
<!--</div>-->


<!--<div ngModelGroup="ccsp_details">-->

<!--&lt;!&ndash;DEBUG starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="debug">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">DEBUG</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.ccsp_details && formValue.ccsp_details.debug && formValue.ccsp_details.debug.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.ccsp_details?.debug?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>Debug Url</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="speech_model">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;DEBUG ends&ndash;&gt;-->


<!--&lt;!&ndash;IMICHAT starts&ndash;&gt;-->
<!--<div class="ngModelGroup-border" ngModelGroup="imichat">-->
<!--<div class="card mb-2">-->
<!--<div class="card-body d-flex justify-content-between justify-content-center">-->
<!--<div class="org-detail d-flex justify-content-center">-->
<!--<img style="height: 20px" class="pr-2"-->
<!--src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"-->
<!--alt="">-->
<!--<span class="lead-text">IMICHAT</span>-->
<!--</div>-->
<!--<div class="switch">-->
<!--<ui-switch name="enabled"-->
<!--[(ngModel)]="formValue.ccsp_details && formValue.ccsp_details.imichat && formValue.ccsp_details.imichat.enabled"-->
<!--size="small"-->
<!--switchColor="white"-->
<!--style="height: 10px" defaultBgColor="grey"-->
<!--(change)="onChange($event)"-->
<!--[checked]="false"></ui-switch>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="col-11" [hidden]="!(formValue?.ccsp_details?.imichat?.enabled)">-->
<!--<div [hidden]="false" class="form-context">-->
<!--<div class="form-group">-->
<!--<label>Service Key</label>-->
<!--<input ngModel type="text"-->
<!--class="form-control"-->
<!--name="service-key">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Access Token</label>-->
<!--<input ngModel type="text"-->
<!--class="form-control"-->
<!--name="access-token">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Domain</label>-->
<!--<input ngModel type="text" class="form-control"-->
<!--name="domain">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;IMICHAT ends&ndash;&gt;-->
<!--</div>-->

<!--</div>-->
<!--</form>-->


<!--<p>{{formValueFinal|json}}</p>-->


<!--<button (click)="click1()">click</button>-->

<form class="grid-integrations form-theme" style="width: 100%; overflow-y: auto" #form_new="ngForm">

  <div *ngFor="let form_value_key of myObject.keys(formValue)"
       class="grid-integration-groups px-4 mb-3"
       ngModelGroup="{{form_value_key}}">
    <div class="integration-heading">{{form_value_key|integrationNameFormatter|titlecase}}</div>
    <div
      *ngFor="let integration_keys of myObject.keys(formValue[form_value_key])"
      requiredIfOneFilledValidator
      ngModelGroup="{{integration_keys}}"
      class="border px-3">
      <div class="d-flex justify-content-center align-items-center" style="height: 90px">
        <img
             style="height: 16px; width: 16px"
             [src]="getLogo(integration_keys)"
             alt="">
        <div class="heading my-0 mx-2">{{integration_keys.toUpperCase()}}</div>
        <ui-switch size="small" ngModel name="enabled" (change)="onSwitchChange(formValueFinal[form_value_key][integration_keys])"></ui-switch>
      </div>
      <div [hidden]="!formValueFinal[form_value_key][integration_keys]['enabled']" >
        <div *ngFor="let integration_input_keys of formValue[form_value_key][integration_keys]|integrationInputKeysFilter">
          <div class="form-group">
            <label class="required">{{integration_input_keys|integrationNameFormatter|titlecase}}</label>
            <input ngModel type="text"
                   class="form-control"
                   [name]="integration_input_keys">
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
