@import '~src/sass/main';

[requiredifonefilledvalidator].ng-invalid{
  border: 1px solid red !important;
}

.ngModelGroup-border{
  padding: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  margin-bottom: 8px;
    border: 1px solid rgba(128, 128, 128, 0.72);
}

//.form-context1{
//  //label{
//  //  @include typography(12px,$line-height-md,$font-weight-normal,$color-secondary);
//  //  padding-bottom: 0;
//  //  margin-bottom: 0;
//  //}
//  input{
//    //padding: 0;
//    //margin-top: 0;
//    //margin-left:  1px;
//    //@include hide-borders();
//    //border-bottom: $border-normal;
//    //border-radius: 0;
//    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//      opacity: 1; /* Firefox */
//      @include typography($font-size-xs,$line-height-md,$font-weight-normal,$color-secondary);
//      padding: 0;
//    }
//  }
//  .lead-text{
//    //@include typography($font-size-md,$line-height-md,$font-weight-normal,$color-secondary);
//  }
//}


.grid-integrations{
  //display: grid;
  ////grid-template-columns: 24%  24%  24%  24%;
  //grid-template-columns: repeat(auto-fill, minmax(190px, 1fr) );
  //grid-column-gap: 1%;
  //grid-row-gap: 20px;
  //justify-content: center;

  label{
    color: #00abd3;
  }
}

.grid-integration-groups{
  display: grid;
  //grid-template-columns: 24%  24%  24%  24%;
  align-items:start;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr) );
  grid-column-gap: 1%;
  //grid-row-gap: 20px;
  justify-content: center;
}
.integration-heading{
  grid-column: 1/-1;
  font-weight: bold;
  color: #474747;
  font-size: 16px;
}

