<!--<button (click)="click()">click()</button>-->
<!--<form #test="ngForm">-->
  <!--<ui-switch type="checkbox" size="small" ngModel [checked]="false"  name="enabled" ></ui-switch>-->
<!--</form>-->
<form class="grid-integrations form-theme" style="width: 100%; overflow-y: auto" #form_new="ngForm">

  <div *ngFor="let form_value_key of myObject.keys(formValue)"
       class="grid-integration-groups px-4 mb-3"
       ngModelGroup="{{form_value_key}}">
    <div class="integration-heading">{{form_value_key|integrationNameFormatter|titlecase}}</div>
    <div
      *ngFor="let integration_keys of myObject.keys(formValue[form_value_key])"
      requiredIfOneFilledValidator
      ngModelGroup="{{integration_keys}}"
      class="border px-3">
      <div class="d-flex justify-content-center align-items-center" style="height: 90px">
        <img
             style="height: 16px; width: 16px"
             [src]="getLogo(integration_keys)"
             alt="">
        <div class="heading my-0 mx-2">{{integration_keys.toUpperCase()}}</div>
        <!--<p>{{formValueFinal[form_value_key][integration_keys].enabled}}</p>-->
        <!--<p>{{formValue[form_value_key][integration_keys].enabled}}</p>-->
        <ui-switch size="small" [checked]="false" [(ngModel)]="formValueFinal[form_value_key][integration_keys]['enabled']" name="enabled"></ui-switch>
      </div>
      <div [hidden]="!formValueFinal[form_value_key][integration_keys]['enabled']" >
        <div *ngFor="let integration_input_keys of formValue[form_value_key][integration_keys]|integrationInputKeysFilter">
          <div class="form-group">
            <label class="required">{{integration_input_keys|displayNameForKeyIntegration}}</label>
            <input ngModel type="text"
                   class="form-control"
                   [name]="integration_input_keys">
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
