<!--<button (click)="click()">click()</button>-->
<!--<form #test="ngForm">-->
<!--<ui-switch type="checkbox" size="small" ngModel [checked]="false"  name="enabled" ></ui-switch>-->
<!--</form>-->
<form class="grid-integrations form-theme" style="width: 100%; overflow-y: auto" #form_new="ngForm">

  <div *ngFor="let integration_type of integration_types"
       ngModelGroup="{{integration_type}}">
    <!--integration_type: fulfillment_provider_details, channels-->
    <div class="grid-integration-groups" *ngFor="let type of integration_type|typeForIntegrationType">
      <div class="integration-heading my-1">{{type|titlecase}}</div>
      <!--type = Fulfillment Platforms, Text Channels, Voice Channels, Chat Agent plateform, monitoring-->
      <div *ngFor="let integration_item of type|integrationItemForType" class="mb-3">
        <!--key  = facebook, skype, imiconnect etc-->
        <div
          [id]="integration_item.key"
          requiredIfOneFilledValidator
          ngModelGroup="{{integration_item.key}}"
          class="border px-3">
          <div class="d-flex justify-content-center align-items-center" style="height: 90px">
            <img
              style="height: 16px; width: 16px"
              [src]="getLogo(integration_item.key)"
              alt="">
            <div class="heading my-0 mx-2">{{integration_item.unique_name}}</div>
            <!--<ui-switch size="small" [checked]="false"-->
                       <!--[(ngModel)]="formValueFinal[integration_type][key]['enabled']"-->
                       <!--name="enabled"></ui-switch>-->
            <mat-slide-toggle color="primary" [checked]="false" [(ngModel)]="formValueFinal[integration_type][integration_item.key]['enabled']" name="enabled">
            </mat-slide-toggle>
          </div>
          <div [hidden]="!formValueFinal[integration_type][integration_item.key]['enabled']">
            <div
              *ngFor="let integration_input_keys of formValue[integration_type][integration_item.key]|integrationInputKeysFilter">
              <!--<div class="form-group">-->
                <!--<label class="required">{{integration_input_keys|displayNameForKeyIntegration}}</label>-->
                <!--<input ngModel type="text"-->
                       <!--class="form-control"-->
                       <!--[name]="integration_input_keys">-->
              <!--</div>-->
              <mat-form-field style="width: 100%">
                <input matInput ngModel placeholder="{{integration_input_keys|displayNameForKeyIntegration}}" [name]="integration_input_keys">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--<div-->
      <!--*ngFor="let integration_keys of myObject.keys(formValue[integration_type])"-->
      <!--requiredIfOneFilledValidator-->
      <!--ngModelGroup="{{integration_keys}}"-->
      <!--class="border px-3">-->
      <!--<div class="d-flex justify-content-center align-items-center" style="height: 90px">-->
        <!--<img-->
          <!--style="height: 16px; width: 16px"-->
          <!--[src]="getLogo(integration_keys)"-->
          <!--alt="">-->
        <!--<div class="heading my-0 mx-2">{{integration_keys.toUpperCase()}}</div>-->
        <!--&lt;!&ndash;<p>{{formValueFinal[form_value_key][integration_keys].enabled}}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>{{formValue[form_value_key][integration_keys].enabled}}</p>&ndash;&gt;-->
        <!--<ui-switch size="small" [checked]="false"-->
                   <!--[(ngModel)]="formValueFinal[integration_type][integration_keys]['enabled']"-->
                   <!--name="enabled"></ui-switch>-->
      <!--</div>-->
      <!--<div [hidden]="!formValueFinal[integration_type][integration_keys]['enabled']">-->
        <!--<div-->
          <!--*ngFor="let integration_input_keys of formValue[integration_type][integration_keys]|integrationInputKeysFilter">-->
          <!--<div class="form-group">-->
            <!--<label class="required">{{integration_input_keys|displayNameForKeyIntegration}}</label>-->
            <!--<input ngModel type="text"-->
                   <!--class="form-control"-->
                   <!--[name]="integration_input_keys">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</form>
