<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"first-bag"' [dragulaOptions]="options" [dragulaModel]='items1'>
      <div *ngFor="let i of items1">You can move these elements between these two containers</div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">

      <div class='container1' [dragula]='"first-bag"' [dragulaOptions]="options" [dragulaModel]='items2'>
        <div *ngFor="let i of items2">This is the default use case. You only need to specify the containers you want to use</div>
      </div>
    </div>
  </div>
</div>

