<section
  class="chat-room-list-section mb-2">
  <div class="chat-room-list-section__items">
    <ng-container *ngIf="rooms">
      <app-chat-item
        *ngFor="let room of rooms;" [room]="room" [currentUid]="chatsessionstate.currentUId" [bot]="room.bot">
      </app-chat-item>
    </ng-container>
  </div>
  <div class="chat-room-list-section__newRoom">
    <button
      data-cy="chat-room-new"
      class="btn-theme btn-theme-secondary-outline" (click)="startNewRoom()">New Chat</button>
  </div>
</section>

