.chat-room-list-section {
  //overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;

  .chat-room-list-section__items{
    height: 90%;
    overflow-y: scroll;
  }

  .chat-room-list-section__newRoom {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
  }
}