<!--<div class="card text-center">-->
<!--<div class="card-header d-flex align-items-center">-->
<!--<span class="ml-auto mr-auto">Offers</span>-->
<!--<i class="fa fa-external-link pr-2"></i>-->
<!--<i class="fa fa-times"></i>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<app-chat-item></app-chat-item>-->
<!--<app-chat-item></app-chat-item>-->
<!--</div>-->
<!--<div class="card-footer bg-white text-muted d-flex align-items-center justify-content-center">-->
<!--<button class="btn-theme-primary" (click)="navigate('CHAT_BOX')">Start a new chat</button>-->
<!--</div>-->
<!--</div>-->

<div style="overflow-y: scroll;overflow-x: hidden; height: 100%" >
  <app-chat-item *ngFor="let room of (chatsessionstate$|async).rooms" [room]="room"></app-chat-item>
</div>
<!--<app-chat-item></app-chat-item>-->
