<div [ngClass]="aggrigationData && aggrigationData.total_count > 0 ? 'resolved-aggregation': 'resolved-aggregation-zero' "
*ngIf="aggrigationData">
  <div class="total-count">
    <div class="total">
      <img class="total-icon" src="assets/img/curation-resolved-icon.svg" alt="">
      <div class="total-title">Resolved issues till date </div>
      <div class="total-number">{{aggrigationData.total_count}}</div>
    </div>
    <div class="today">
      <div class="today-text">
        Issues resolved today
      </div>
      <div class="today-number">
        {{aggrigationData.today_count}}
      </div>
    </div>
  </div>

  <div class="count py-1 px-3" *ngIf="aggrigationData && aggrigationData.total_count > 0" >
    <img class="count-icon" src="assets/img/curation-article-updated.svg" alt="">
    <div class="count-text">
      Articles updated
    </div>
    <div class="count-number">
      {{(aggrigationData.aggregation_counts.section_updated * 100 / aggrigationData.total_count).toFixed(1) }}%
    </div>
  </div>
  <div class="count py-1 px-3"  *ngIf="aggrigationData && aggrigationData.total_count > 0">
      <img class="count-icon" src="assets/img/curation-article-added.svg" alt="">
    <div class="count-text">
        Articles added
    </div>
    <div class="count-number">
      {{(aggrigationData.aggregation_counts.section_added * 100 / aggrigationData.total_count).toFixed(1) }}%
    </div>
  </div>

  <div class="count py-1 px-3" style="border:none;"  *ngIf="aggrigationData && aggrigationData.total_count > 0">
      <img class="count-icon" src="assets/img/curation-article-added.svg" alt="">
    <div class="count-text">
        Ignored queries
    </div>
    <div class="count-number">
      {{(aggrigationData.aggregation_counts.ignored *100  / aggrigationData.total_count).toFixed(1) }}%
    </div>
  </div>

</div>
