<div class="resolved-aggregation" *ngIf="aggrigationData">
  <div class="total-count">
    <div class="total">
      <img alt="curation resolved icon" class="total-icon" src="assets/img/curation-resolved-icon.svg" alt="">
      <div class="total-title">Resolved issues till date </div>
      <div class="total-number">{{aggrigationData.total_count}}</div>
    </div>
    <div class="today">
      <div class="today-text">
        Issues resolved today
      </div>
      <div class="today-number">
        {{aggrigationData.today_count}}
      </div>
    </div>
  </div>

  <div class="count py-1 px-3" *ngIf="aggrigationData" >
    <img class="count-icon" src="assets/img/curation-article-updated.svg" alt="curation article updated">
    <div class="count-text">
      {{isMlBot? 'Intents ':'Articles '}}updated
    </div>
    <div class="count-number">
      {{isMlBot?
        aggrigationData.total_count > 0 ?
            (aggrigationData.aggregation_counts.intent_updated * 100 / aggrigationData.total_count).toFixed(1) :
            0.0
        :
        aggrigationData.total_count > 0 ?
            (aggrigationData.aggregation_counts.section_updated * 100 / aggrigationData.total_count).toFixed(1) :
            0.0
      }}%

    </div>
  </div>
  <div class="count py-1 px-3"  *ngIf="aggrigationData">
      <img class="count-icon" src="assets/img/curation-article-added.svg" alt="curation article added">
    <div class="count-text">
      {{isMlBot? 'Intents ':'Articles '}}added
    </div>
    <div class="count-number">
      {{isMlBot?
        aggrigationData.total_count > 0 ?
            (aggrigationData.aggregation_counts.intent_added * 100 / aggrigationData.total_count).toFixed(1) :
            0.0
        :
        aggrigationData.total_count > 0 ?
            (aggrigationData.aggregation_counts.section_added * 100 / aggrigationData.total_count).toFixed(1) :
            0.0
      }}%
    </div>
  </div>

  <div class="count py-1 px-3" style="border:none;"  *ngIf="aggrigationData">
      <img class="count-icon" src="assets/img/curation_ignore_que_icon.svg" alt="curation ignore">
    <div class="count-text">
        Ignored queries
    </div>
    <div class="count-number">
      {{aggrigationData.total_count > 0 ? (aggrigationData.aggregation_counts.ignored *100  / aggrigationData.total_count).toFixed(1) : 0.0 }}%
    </div>
  </div>

</div>
