@import "./../../../../../../../../../sass/main";

* {
  font-size: 11px !important;
}

label {
  @include typography(9px, 1.45, $font-weight-normal, $color-secondary);
  padding-bottom: 0;
  margin-bottom: 2px;
}
.logo-image{
  width: 16px;
  height: 16px;
}
input, input:focus {
  padding: 0;
  margin-top: 0;
  margin-left: 1px;
  @include hide-borders();
  border-bottom: solid 1px #e0e0e0;
  border-radius: 0;
  @include typography($font-size-normal, $line-height-normal, $font-weight-normal, $color-text-normal);
  outline: none;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  @include typography($font-size-xs, $line-height-md, $font-weight-normal, $color-secondary);
  padding: 0;
}

.theme-tabbing { /*overriding*/
  margin-right: 4px;
  .nav-link {
    padding: 4px;
  }
}
::ng-deep {
  .articleSearchInArticle {
    .faq-search {
      input {
        border: solid 1px #e0e0e0 !important;
        width: 180px !important;
        color: #474747 !important;
        padding-left: 34px !important;
        background-color: transparent !important;
        margin-right: 0px !important;
      }
      .input-icon{
        color: #4a4a4a !important;
      }
      i {
        color: #858585 !important;
      }
    }

    .searchBox {
      width: 180px !important;
      background-color: #f7f7f7 !important;
      text-align: left !important;
    }
  }
}
