<form #quickReplyForm="ngForm"
      id="quickReplyForm"
      class="p-3 bg-white shadow-theme"
      style="width: 200px"
      (submit)="saveQuickReplyForm(quickReplyForm)">

  <input type="text" [ngModel]="content_type" name="content_type" hidden>
  <!--first tabbing row starts-->
  <ul class="nav nav-tabs theme-tabbing mb-1 bg-white">
    <li class="nav-item" (click)="tabChanged(myEQuickReplyTypes.text)"
        [ngClass]="{'tab-active':content_type===myEQuickReplyTypes.text}">
      <a class="nav-link" [routerLink]="['.']"
         queryParamsHandling="merge"
         replaceUrl="true"
         [queryParams]="{build:'architecture'}">Text</a>
    </li>
    <li class="nav-item" (click)="tabChanged(myEQuickReplyTypes.location)"
        [ngClass]="{'tab-active':content_type===myEQuickReplyTypes.location}">
      <a class="nav-link" [routerLink]="['.']"
         queryParamsHandling="merge"
         replaceUrl="true"
         [queryParams]="{build:'architecture'}">Location</a>
    </li>
    <li class="nav-item" (click)="tabChanged(myEQuickReplyTypes.email)"
        [ngClass]="{'tab-active':content_type===myEQuickReplyTypes.email}">
      <a class="nav-link" [routerLink]="['.']"
         queryParamsHandling="merge"
         replaceUrl="true"
         [queryParams]="{build:'architecture'}">Email</a>
    </li>
    <li class="nav-item" (click)="tabChanged(myEQuickReplyTypes.phone)"
        [ngClass]="{'tab-active':content_type===myEQuickReplyTypes.phone}">
      <a class="nav-link" [routerLink]="['.']"
         queryParamsHandling="merge"
         replaceUrl="true"
         [queryParams]="{build:'architecture'}">Phone</a>
    </li>

  </ul>



  <div>
    <label class="required">Reply Label</label>
    <input type="text" ngModel name="title"
           class="form-control">
  </div>
<!---->
  <!--text specific details start-->
  <div [hidden]="content_type!==myEQuickReplyTypes.text">
    <input type="text" [ngModel]="textType" name="textType" hidden>
    <ul class="nav nav-tabs border-0 theme-tabbing my-1 bg-white">
      <li class="nav-item" (click)="subTabChanged(myEQuickReplySubTabsType.payload)"
          [ngClass]="{'tab-active':textType===myEQuickReplySubTabsType.payload}">
        <a class="nav-link" [routerLink]="['.']"
           queryParamsHandling="merge"
           replaceUrl="true"
           [queryParams]="{build:'architecture'}">Payload</a>
      </li>
      <li class="nav-item" (click)="subTabChanged(myEQuickReplySubTabsType.url)"
          [ngClass]="{'tab-active':textType===myEQuickReplySubTabsType.url}">
        <a class="nav-link" [routerLink]="['.']"
           queryParamsHandling="merge"
           replaceUrl="true"
           [queryParams]="{build:'architecture'}">Url</a>
      </li>

    </ul>

    <div [hidden]="textType !== myEQuickReplySubTabsType.payload">
    <!--<div>-->
      <label class="required">Payload Text</label>
      <input type="text" ngModel name="payload"
             class="form-control">
    </div>

    <div [hidden]="textType !== myEQuickReplySubTabsType.url">
      <label class="required">Url</label>
      <input type="text" ngModel name="url"
             class="form-control">
    </div>

  </div>
  <!--text specific details end-->


  <!--Location details start-->
  <div class="mt-1" [hidden]="content_type!==myEQuickReplyTypes.location">
    <label class="required">Icon (optional)</label>
    <input type="text" ngModel name="icon"
           class="form-control">
  </div>
  <!--Location details end-->


  <div class="d-flex" style="margin-top: 10px">
    <span class="text-primary mr-1 cursor-pointer" (click)="saveQuickReplyForm(quickReplyForm)">Done</span>
    <span class="text-primary cursor-pointer" (click)="hideQuickReplyDropdown$.emit()">Cancel</span>
  </div>

</form>
