<div>
  <app-curation-issues-aggregation-bar [aggrigationData]="issuesAggrigationData"  (filterArticleWithTriggeredRule$)="filterArticleWithTriggeredRule($event)"></app-curation-issues-aggregation-bar>
</div>
<div class="overview-heading">Top {{isMlBot ? ' intents ' : ' articles ' }} with most issues</div>
<div class="d-flex w-100 article flex-column pr-4">

  <div class="article-item-heading py-2 px-4" >
    <div class="heading-first" style="color: #878787;">
      {{isMlBot ?'Intent':'Article'}}
    </div>
    <div class="second" style="color: #878787;">
      Issues logged
    </div>
    <div class="second-half" style="color: #878787;">
      Last issue on
    </div>
    <div class="third" style="color: #878787;">
      Action
    </div>
  </div>
  <div *ngIf="TopArticlesWithIssues && TopArticlesWithIssues.length === 0">
    <app-splash-screen [imageHRef]="myESplashScreens.search"
          class="d-flex justify-content-center align-items-center mt-4" [descriptionText]="">
                  </app-splash-screen>
  </div>
  <div class="article-item py-2 px-4" *ngFor="let section of TopArticlesWithIssues">
    <div class="first" *ngIf="!isMlBot">
      <div class="catagory">{{section.category_name}}</div>
      <div class="first_question" [innerHTML]="section.first_question"></div>
    </div>
    <div class="first" *ngIf="isMlBot">
      <div class="first_question" [innerHTML]="section.intent_name"></div>
    </div>
    <div class="second">
      {{section.count}}
    </div>
    <div class="second-half" style="color: #878787;" >
      {{section.last_issue_time | date:"MMM d"}}&nbsp;'{{section.last_issue_time | date:"yy"}}&nbsp;{{section.last_issue_time | date:"shortTime"}}
    </div>
    <div class="third">
      <div class="d-flex showNoParentHover" (click)="resolveArticleWithTopIssues(section)">
        <mat-icon>build</mat-icon>Resolve
      </div>
    </div>
  </div>
</div>
<app-imi-loader *ngIf="reloading"></app-imi-loader>
