<!--<button (click)="openDialog()">test</button>-->
<app-header class="grid-header"></app-header>

<div class="view-bots-container">
  <mat-tab-group
    [selectedIndex]="activeTab===myEBotType.chatbot?0:1"
    (selectedTabChange)="tabClicked($event.index == 0?myEBotType.chatbot: myEBotType.intelligent)">
    <mat-tab label="Code Based">
      <div class="px-4 mt-2">
        <app-bot-preview-card-list
          [botType]="activeTab"
          [codeBasedBotList]="codeBasedBotList"></app-bot-preview-card-list>
      </div>
    </mat-tab>
    <mat-tab label="Pipeline Based">
      <div class="px-4 mt-2">
        <app-bot-preview-card-list
          [botType]="activeTab"
          [codeBasedBotList]="pipelineBasedBotList"></app-bot-preview-card-list>
      </div>
    </mat-tab>

  </mat-tab-group>

  <!--<button *myIf="myEAllActions['Create Bots']"-->
  <!--mat-flat-button-->
  <!--mat-ripple-->
  <!--color="primary"-->
  <!--class="btn-theme ml-auto"-->
  <!--[popover]="'Click here to create your first bot'"-->
  <!--placement="bottom"-->
  <!--triggers=""-->
  <!--#pop="bs-popover"-->
  <!--style="position: absolute; right: 0; top: 10px; z-index: 1000;"-->
  <!--triggers=""-->
  <!--(click)="openDialog()">-->
  <!--<i class="fa fa-plus pr-1"></i>New Bot-->
  <!--</button>-->

  <button *myIf="myEAllActions['Create Bots']"
          mat-flat-button
          mat-ripple
          color="primary"
          class="btn-theme ml-auto"
          style="position: absolute; right: 0; top: 10px; z-index: 100;"
          (click)="openDialog()">
    <i class="fa fa-plus pr-1"></i>New Bot
  </button>

</div>




<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Choose a bot type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body pt-0">
      <div class="action d-flex cursor-pointer p-2" (click)="navigate(myEBotType.chatbot)" style="height: 40px">
        <div class="d-flex" style="padding-right: 20px">
          <i class="fa fa-angle-left pr-1"></i>
          <i class="fa fa-angle-right"></i>
        </div>
        <div class=" d-flex flex-column align-items-start justify-content-between">
          <div class="new-bot-heading font-weight-bold">Code based bot</div>
          <div class="new-bot-text">Build a new python based bot for deployment</div>
        </div>
      </div>

      <div class="action d-flex mt-2 cursor-pointer p-2" (click)="navigate(myEBotType.intelligent)"
           style="height: 40px">
        <div class="d-flex" style="padding-right: 20px">
          <i class="fa fa-server"></i>
        </div>
        <div class="d-flex flex-column align-items-start justify-content-between">
          <div class="new-bot-heading font-weight-bold">Pipeline based bot</div>
          <div class="new-bot-text">Process user inputs and push to other services</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
