

<div style="margin: 0px 80px">
  <ul class="nav nav-tabs mb-2 d-flex align-items-center my-4">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/core','viewbots', myEBotType.chatbot]" routerLinkActive="tab-active">Code based
        bots</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/core','viewbots', myEBotType.intelligent]" routerLinkActive="tab-active">Pipeline based bots</a>
    </li>

    <!--<div class="d-flex justify-content-end mt-4 ml-auto">-->
    <button class="btn btn-theme-primary ml-auto" (click)="openCreateBotModal(Primarytemplate)"><i class="fa fa-plus pr-1"></i>New Bot</button>
    <!--</div>-->
  </ul>

  <div class="px-4">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Choose a bot type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body pt-0">
      <div class="action d-flex cursor-pointer p-2" (click)="navigate(myEBotType.chatbot)" style="height: 40px">
        <div class="d-flex" style="padding-right: 20px">
          <i class="fa fa-angle-left pr-1"></i>
          <i class="fa fa-angle-right"></i>
        </div>
        <div class=" d-flex flex-column align-items-start justify-content-between">
          <div class="new-bot-heading font-weight-bold">Code based bot</div>
          <div class="new-bot-text">Build a new python based bot for deployment</div>
        </div>
      </div>

      <div class="action d-flex mt-2 cursor-pointer p-2" (click)="navigate(myEBotType.intelligent)" style="height: 40px">
        <div class="d-flex" style="padding-right: 20px">
          <i class="fa fa-server"></i>
        </div>
        <div class="d-flex flex-column align-items-start justify-content-between">
          <div class="new-bot-heading font-weight-bold">Pipeline based bot</div>
          <div class="new-bot-text">Process user inputs and push to other services</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
