<div class="curation-list-heading ">
    <div class="header-text">
        <div *ngIf="liveBotUpdatedAt">
            Live bot updated at {{liveBotUpdatedAt| date:"shortTime"}}
            ,&nbsp;{{liveBotUpdatedAt| date:"MMM d"}}&nbsp;'{{liveBotUpdatedAt| date:"yy"}}
        </div>
        {{totallength}} issues resolved
    </div>
</div>
<app-curation-issues
  [bot]="bot"
  *ngFor="let curationItem of curationItemList" [curationItemData]="curationItem" [isMlBot]="isMlBot"
                     [isResolved]=true></app-curation-issues>
<ng-container *ngIf="isMorePresent">
  <div class="load-more"
       *loadify="{partialPath:'api/v1/faqbotcuration/', method: 'get'}; let statusChanged$=statusChanged$"
       (click)="load10More()">
    <div *ngIf="!(statusChanged$|async).loading" class="d-flex align-items-center">
      Load more issues&nbsp;&nbsp;<span class="fa fa-angle-down"></span>
    </div>
    <div *ngIf="(statusChanged$|async).loading" class="d-flex align-items-center">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
  </div>
</ng-container>
