<div class="curation-list-heading ">
    <div class ="header-text">
        {{totallength}} issues resolved
    </div>
</div>
<app-curation-issues *ngFor="let curationItem of curationItemList" [curationItemData]="curationItem" [isResolved] = true></app-curation-issues>
<div class="load-more" *ngIf="isMorePresent" (click)="load10More()">
        <div *ngIf="!reloadingMore" class = "d-flex align-items-center" >
          Load more issues&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </div>
        <div *ngIf="reloadingMore" class = "d-flex align-items-center">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>