@import "~src/sass/main";
.curation-list-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    .header-text{
        font-size: 13px;
        color: #4a4a4a;
        font-weight: bold;
        height: 32px;
        display: flex;
        align-items: center;
    }
    button{
        margin-right: 0 !important;
    }
}
