.questions-list {
  display: flex;
  flex-direction: column;

  .questions-heading {
    font-size: 13px;
    font-weight: bold;
    color: #474747;
    padding-bottom: .25rem;
  }

  .no-question {
    font-size: 13px;
    font-style: italic;
    color: #4a4a4a;
  }

  .question-list-item {
    // height : 45px;
    width: 95%;

    .onParentHover {
      opacity: 0;
    }

    &:hover {
      .onParentHover {
        opacity: 1;
      }
    }

    mat-icon {
      font-size: 13px;
      color: #9b9b9b;
    }
  }
}

.addQuestionPanel {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: #ffffff;
  border: solid 1px #f4f4f4;
  margin-bottom: 20px;

  textarea {
    background-color: transparent;

  }

  textarea.mat-input-element {
    padding: 0 !important;
  }
}


//.bg-red {
//  background: red;
//}
//
//.bg-red::after {
//  content: 'x';
//  display: none;
//}
//
//.bg-red:hover::after {
//  display: inline;
//}


@import "~src/sass/main";
.heading{
  padding-bottom: 8px;
  align-items: center;
  .heading-title{
    color: #474747;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding-right: 5px;
  }
  .mat-theme-button-border {
    border-radius: 2px !important;
  }
  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding-left: 12px;
    border-radius: 2px;
    mat-icon{
      font-size: 13px;
    }
  }
}
.no-over-flow{
  ::ng-deep{
    .mat-tab-body-wrapper {
      height: 100%; /*TODO: check why its needed....for knowledge base editor*/
    }
  }
}

.questions-heading{
  margin-bottom: 10px;
}
