<form class="grid-avator" [formGroup]="formGroup">
  <div class="d-flex flex-column align-items-center justify-content-center border"
       [readonlyselectedroles]="myEAllActions['Update Bots']">
    <i class="fa fa-plus text-info cursor-pointer"></i>
    <div class="text-info cursor-pointer my-3 hover-under-line" (click)="createPrebuiltAvatarRow(true)">Create</div>
    <div class="text-info cursor-pointer hover-under-line" (click)="createPrebuiltAvatarRow(false)">Generate</div>
  </div>

  <!--<p>{{avatorList|json}}</p>-->

  <fieldset class="avator-item border py-2 px-3 d-flex flex-column"
            [readonlyselectedroles]="myEAllActions['Update Bots']"
            formArrayName="avatars"
            *ngFor="let formGroup of formArray.controls; let i = index">
    <div [formGroupName]="i">
      <i class="fa fa-trash cursor-pointer" (click)="deleteAvator(i)" *myIf="myEAllActions['Update Bots']"></i>
      <img class="logo-md rounded-circle align-self-center"
           [src]="imageUrlInput.value">

      <div class="form-group">
        <label for="alterEgo" class="required">Avatar Name</label>
        <input type="text" class="form-control"
               formControlName="name"
               placeholder="name" id="avator_name">
      </div>
      <div class="form-group">
        <label for="alterEgo" class="required">Image Url</label>
        <input type="text" class="form-control"
               formControlName="imageUrl"
               placeholder="Image Url" id="alterEgo" #imageUrlInput>
      </div>
    </div>
  </fieldset>
</form>

<!---->
