@import '~src/sass/main';

form {
  .form-group {
    height: 46px;
  }
  label {
    @include typography(11px, 1.45, $font-weight-normal, $color-secondary);
    padding-bottom: 0;
    margin-bottom: 4px;
  }
  input {
    padding: 0;
    padding-bottom: 8px;
    margin-top: 0;
    margin-left: 1px;
    @include hide-borders();
    border-bottom: solid 1px #e0e0e0;
    border-radius: 0;
    @include typography($font-size-normal, $line-height-normal, $font-weight-normal, $color-text-normal);

  }

}

.grid-avator{
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-column-gap: 10px;
  // grid-row-gap: 10px;
  grid-auto-rows: 165px;/* 55*3; Dont change this: this is done to keep height of all 4 components same, when tab is switched*/
  overflow: hidden;
}

.avator-item{
  position: relative;
}

.fa-trash{
  position: absolute; top: 10px; right: 10px;color: #9e9e9e
}

//img {
//  height: 70px;
//}
//
//.table td, .table th {
//  vertical-align: middle !important;
//}
//
//th {
//  border: none !important; /*overriding bootstrap style*/
//}
//
//th, td {
//  text-align: center;
//}
//
//.text {
//  @include typography($font-size-sm, $line-height-normal, $font-weight-300, $color-text-grey);
//}
//
//td > input {
//  border: none;
//  border-radius: 5px;
//  border: $border-normal;
//  padding-left: 10px;
//  outline: none;
//  color: $color-text-grey;
//  width: 150px;
//}
//
//.img-url {
//  @include typography($font-size-sm, $line-height-normal, $font-weight-300, $color-text-grey);
//}
