@import "~src/sass/main";

.bot-detail-grid{
  display: grid;
  height: 100vh;
  //border: 1px solid red;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto minmax(60vh, 1fr);
  grid-gap: 8px;
  grid-template-areas:
    'header'
    'config'
    'architecture'
;
  .header{
    grid-area: header;
  }.config{
    grid-area: config;
  }.architecture{
    grid-area: architecture;
  }
}


.row-details {
  .fa {
    font-size: 30px;
    //line-height: 50px;
    font-weight: 400;
    height: 40px;
    color: $color-primary;
  }
}

.label {
  @include typography($font-size-normal, $line-height-normal, $font-weight-400, #56627c);
}

.title {
  @include typography($font-size-md, $line-height-md, $font-weight-700, #56627c);
}

.description {
  @include typography($font-size-xs, $line-height-normal, $font-weight-300, $color-text-normal);
  text-align: center;
}

#channel-selector {
  @include typography($font-size-normal, $line-height-normal, $font-weight-300, $color-text-normal);
}


//
//a{//bootstrap override
//  text-decoration: none !important;
//  font-size: $font-size-sm;
//  color: black;
//  @include typography($font-size-sm,$line-height-normal, $font-weight-300 , $color-text-grey)
//}

//.heading {
//  font-family: Helvetica;
//  font-size: 16px;
//  font-weight: bold;
//  font-style: normal;
//  font-stretch: normal;
//  line-height: 1;
//  letter-spacing: normal;
//  color: #474747;
//}

.architeture-body {
  height: 85%;
  .side-bar {
    width: 12.5%;
    // padding-left: 10px;
    padding-right: 0px;
  }
  .tab {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 6px;
    @include typography(13px, $line-height-normal, $font-weight-300, $color-text-normal);
    cursor: pointer;
    &:hover{
      background-color: #f7f7f7;
    }
  }

}

.scroll-wrapper{
  overflow-y: scroll;
  height: 90%;
}

app-knowledge-base-wrapper,app-code-input,app-integration-option-list, app-bot-testing{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: block;
}
app-integration-option-list{
  //overflow-y: scroll;
  display: flex;
}
