<div class="row shadow-theme my-2 p-3 bg-white d-flex align-items-center">
  <div class="col-3 ">
    <!--TODO: make implementation of this more flexible-->
    <div class="p-1">
      <app-bot-preview-card [bot]="(bot$|async)"></app-bot-preview-card>
    </div>
  </div>
  <div class="col-9 pt-4">
    <!---->
    <div class="row  mb-4 d-flex align-items-center">
      <div class="col-4">
        <h4 class="title">Analysis Overview</h4>
      </div>
      <div class="col-4 d-flex align-items-center">
        <span class="mr-2 text-muted label">Channels</span>
        <div class="btn-group" dropdown>
          <button id="button-disabled-item" dropdownToggle type="button" class="btn-theme-primary-outline dropdown-toggle"
                  aria-controls="dropdown-disabled-item">{{selectedChannelDisplayName||'All Channels'}}<span class="caret"></span>
          </button>
          <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-disabled-item">
            <li role="menuitem"><a class="dropdown-item" (click)="selectedChannelChanged('all', 'All Channels')">All Channels</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedChannelChanged('facebook', 'Facebook')">Facebook</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedChannelChanged('web', 'Webchat')">Webchat</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedChannelChanged('alexa', 'Alexa')">Alexa</a></li>
          </ul>
        </div>
      </div>

      <div class="col-4 d-flex align-items-center">
        <span class="mr-2 text-muted label">Duration</span>
        <div class="btn-group" dropdown>
          <button id="button-disabled-item1" dropdownToggle type="button" class="btn-theme-primary-outline dropdown-toggle"
                  aria-controls="dropdown-disabled-item">
            {{selectedDurationDisplayName||'All Channels'}} <span class="caret"></span>
          </button>
          <ul id="dropdown-disabled-item1" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-disabled-item">
            <li role="menuitem"><a class="dropdown-item" (click)="selectedDurationChanged(7, 'Weekly')">Weekly</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedDurationChanged(30, 'Monthly')">Monthly</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedDurationChanged(15, 'Bi-Monthly')">Bi-Monthly</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="selectedDurationChanged(365, 'Yearly')">Yearly</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row row-details" *ngIf="(overviewInfo$ | async) as overviewInfo; else placeholder">
      <div class="col-2  d-flex flex-column align-items-center justify-content-start">
        <i class="fa fa-area-chart p-0"></i>
        <span class="number">{{overviewInfo.totalSessionsData || '0'}}</span>
        <span class="description">Total Session</span>
      </div>
      <div class="col-2 pb-5 d-flex flex-column align-items-center">
        <i class="fa fa-users"></i>
        <span class="number">{{overviewInfo.totalUsers || '0'}}</span>
        <span class="description">Total Users</span>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <i class="fa fa-envelope"></i>
        <span class="number">{{overviewInfo.totalMessages || '0'}}</span>
        <span class="description">Total Messages</span>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <i class="fa fa-exchange"></i>
        <span class="number">{{overviewInfo.averageMessages || '0'}}</span>
        <span class="description">Average Message Per Session</span>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <i class="fa fa-clock-o"></i>
        <span class="number">{{overviewInfo.totalTime.hours + ':'+ overviewInfo.totalTime.minutes || '0'}}</span>
        <span class="description">Total Time Spent(hh:mm)</span>
      </div>
      <div class="col-2 d-flex flex-column align-items-center">
        <i class="fa fa-hourglass"></i>
        <span class="number">{{(overviewInfo).averageTime.hours + ':'+ overviewInfo.averageTime.minutes || '0'}}</span>
        <span class="description">Time Spent Per Session (hh:mm)</span>
      </div>
    </div>
  </div>
</div>

<div class="row shadow-theme bg-white py-4 my-5">

  <div class="col-12">
    <div class="col-12 d-flex justify-content-between px-4 pb-3">
      <h4>Bot Configuration</h4>
      <button class="btn-theme-primary">Update Changes</button>
    </div>
    <app-build-code-based-bot [bot]="(bot$|async)"></app-build-code-based-bot>
  </div>
</div>

<div class="row shadow-theme bg-white p-3 my-5">
  <div class="col-12 d-flex justify-content-between mb-3">
    <h4>Testing</h4>
    <div class="d-flex align-items-center">
      <i class="fa fa-plus pr-4"></i>
      <i class="fa fa-minus pr-4"></i>
      <button class="btn-theme-primary-outline mr-4">Export to CSV</button>
      <button class="btn-theme-primary pr-4">Begin Test</button>
    </div>
  </div>

  <div class="col-12">
    <!--<app-handsontable></app-handsontable>-->
    <app-bot-testing [id]="(bot$|async).id" ></app-bot-testing>
  </div>
</div>

<div class="row bg-white p-3 my-3 shadow-theme">
  <div class="col-12 d-flex justify-content-between mb-3">
    <h4>CONSUMERS</h4>
    <div class="d-flex align-items-center">
      <i class="fa fa-expand"></i>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button class="btn-theme-primary-outline mr-3" (click)="refreshSession()">Refresh Sessions</button>
    <div class="btn-group " dropdown style="width: 150px">
      <div dropdownToggle>
        <!--<input type="text" placeholder="Select timePeriod" style="width: 100%; position: relative">-->
        <button class="btn-theme-primary-outline" >Row per page<i class="fa fa-angle-down pl-1"></i></button>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu" style="width: 100%">
        <li role="menuitem"><a class="dropdown-item">5</a></li>
        <li role="menuitem"><a class="dropdown-item">10</a></li>
        <li role="menuitem"><a class="dropdown-item">15</a></li>
        <li role="menuitem"><a class="dropdown-item">20</a></li>
        <li role="menuitem"><a class="dropdown-item">25</a></li>
      </ul>
    </div>
    <!---->
  </div>
  <!--<div class="col-12 d-flex justify-content-end">-->
    <!--<button class="btn-theme-primary-outline mr-3">Refresh Sessions</button>-->
    <!--<button class="btn-theme-primary-outline mr-3">Rows on page</button>-->
    <!--&lt;!&ndash;TODO: insert dropdown here&ndash;&gt;-->
    <!--<button class="btn-theme-primary-outline">Rows on page</button>-->
  <!--</div>-->
  <div class="col-12 mt-3">
    <!--<app-consumers [id]="(bot$|async)._id"></app-consumers>-->
    <app-consumers></app-consumers>
  </div>
</div>


<div class="row bg-white p-3 shadow-theme">
  <div class="col-12 d-flex justify-content-between mb-3">
    <h4>SESSIONS</h4>
    <div class="d-flex align-items-center">
      <i class="fa fa-expand"></i>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button class="btn-theme-primary-outline mr-3" (click)="refreshSession()">Refresh Sessions</button>
    <div class="btn-group " dropdown style="width: 150px">
      <div dropdownToggle>
        <!--<input type="text" placeholder="Select timePeriod" style="width: 100%; position: relative">-->
        <button class="btn-theme-primary-outline" >Row per page<i class="fa fa-angle-down pl-1"></i></button>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu" style="width: 100%">
        <li role="menuitem"><a class="dropdown-item">5</a></li>
        <li role="menuitem"><a class="dropdown-item">10</a></li>
        <li role="menuitem"><a class="dropdown-item">15</a></li>
        <li role="menuitem"><a class="dropdown-item">20</a></li>
        <li role="menuitem"><a class="dropdown-item">25</a></li>
      </ul>
    </div>
    <!---->
  </div>
  <div class="col-12 mt-3">
    <app-bot-sessions [id]="(bot$|async)._id"></app-bot-sessions>
  </div>
</div>

<!--============================ngtemplate============================-->
<ng-template #placeholder>
  <div class="row row-details">
    <div class="col-2  d-flex flex-column align-items-center justify-content-start">
      <i class="fa fa-area-chart p-0"></i>
      <span class="number">0</span>
      <span class="description">Total Session</span>
    </div>
    <div class="col-2 pb-5 d-flex flex-column align-items-center">
      <i class="fa fa-users"></i>
      <span class="number">0</span>
      <span class="description">Total Users</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-envelope"></i>
      <span class="number">0</span>
      <span class="description">Total Messages</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-exchange"></i>
      <span class="number">0</span>
      <span class="description">Average Message Per Session</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-clock-o"></i>
      <span class="number">0</span>
      <span class="description">Total Time Spent(hh:mm)</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-hourglass"></i>
      <span class="number">0</span>
      <span class="description">Time Spent Per Session (hh:mm)</span>
    </div>
  </div>



</ng-template>
