
 <mat-tab-group animationDuration="0ms">
<mat-tab label="Issues">
      <section class="curation-issues-wrapper-section">
          <app-curation-filter></app-curation-filter>
          <app-curation-issues-list
                  [bot]=" bot"
          [curationItemList]="curationIssuesList" 
          [isMorePresent]="isMoreCurationIssuesListPresent" 
          (loadMoreNext)="load10MoreCurationIssues()"
          (ignoreCurationIssueById)="ignoreCurationIssueById($event)"></app-curation-issues-list>
        </section>
 </mat-tab>
 <mat-tab label="Resolved">
    <section class="curation-issues-wrapper-section">
        <app-curation-filter></app-curation-filter>
        <app-curation-resolved-list 
        [curationItemList]="curationResolvedAndIgnoredList" 
        [isMorePresent]="isMoreCurationResolvedAndIgnoredListPresent"
        (loadMoreNext)="load10MoreCurationResolvedAndIgnored()"></app-curation-resolved-list>
      </section>
 </mat-tab>
</mat-tab-group>






