
<!--<div class="row">-->
  <!--<div class="col-12">-->
    <!--<h4>CONCEPTS</h4>-->
  <!--</div>-->

  <!--<div class="col-12 d-flex justify-content-end">-->
    <!--<a  class="btn btn-primary" [routerLink]="['/customner','create']">Create Concept</a>-->
  <!--</div>-->

  <!--<div class="col-12">-->
    <!--<app-knowledge-base></app-knowledge-base>-->
  <!--</div>-->

<!--</div>-->

<div class="row mt-3 bg-white">
  <div class="col-12">
    <div class="card">

      <div class="card-header pb-0 bg-white d-flex justify-content-between justify-content-center align-items-center">
        <h4>Concepts</h4>
      </div>
      <!--<app-build-code-based-timePeriod></app-build-code-based-timePeriod>-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-12">
    <app-knowledge-base></app-knowledge-base>
  </div>
</div>

