<div class="row m-0 mt-3 p-3 bg-white">
  <div class="col-12 mt-4">
    <h4 >Concepts</h4>
  </div>
  <div class="col-12" style="min-height: 450px">
    <app-knowledge-base
      class="h-100"
      [custumNerDataForSmartTable]="custumNerDataForSmartTable"
      (updateOrSaveParentNers$)="updateOrSaveCustomNer($event)"
      (pageChanged$)="pageChanged$($event)"
      [totalRecords]="totalRecords"
      [recordsPerPage]="recordsPerPage"
      (deleteNer$)="deleteNer($event)"
      [currentPageNumber]="currentPageNumber"
    ></app-knowledge-base>
  </div>
</div>
