<div class="row" style="margin: 25px 50px ">
  <div class="col-12" style="margin-bottom: 8px" *ngIf="showHeader">
    <h4 style="margin-bottom: 8px;color: #474747; font-size: 16px"> Enterprise Knowledge Base </h4>
    <span style="color: #696969">This can be used to define and manage concepts which will be shared across all bots</span>
  </div>
  <div class="col-12" style="min-height: 450px; padding-left: 25px">
    <app-knowledge-base
      *ngIf="custumNerDataForSmartTable && (!showLoader)"
      class="h-100"
      [custumNerDataForSmartTable]="custumNerDataForSmartTable"
      [currentPageNumber]="currentPageNumber"
      (updateOrSaveParentNers$)="updateOrSaveCustomNer($event)"
      [tableDataMetaDict]="constantsService.SMART_TABLE_ENTERPRISE_NER_TABLE_DATA_META_DICT_TEMPLATE"
      (pageChanged$)="pageChanged$($event)"
      [totalRecords]="totalRecords"
      [recordsPerPage]="recordsPerPage"
      (deleteNer$)="deleteNer($event)"
    >
    </app-knowledge-base>

      <app-imi-loader *ngIf="showLoader"></app-imi-loader>
  </div>
</div>
