  <!--<div class="d-flex justify-content-end align-items-center my-2">-->
    <!--<div><i class="fa fa-refresh pr-2 cursor-pointer" style="font-size: 19px" (click)="reloadData()"></i></div>-->
    <!--&lt;!&ndash; <div *ngIf="!isFullscreen"><i class="fa fa-external-link pr-2 cursor-pointer" style="font-size: 19px" (click)="goFullScreen()"></i></div> &ndash;&gt;-->
  <!--</div>-->

  <app-smart-table *ngIf="consumerTableData && consumerTableData.length>0"
    [ngClass]="{'disable-decrypt-lock-icon':isDeCryptAuditAccessDenied}"
    class="d-flex-column-last-child-flex-grow-1"
    [totalRecords]="totalRecords"
    (pageChanged$)="pageChanged($event)"
    [data]="(consumerTableData)|limitObjectArraysString"
    [showRefreshButton]="true"
    (refreshData$)="reloadData()"
    [settings]="smartTableSettings_Consumers"
    (customActionEvents)="customActionEventsTriggeredInSessionsTable($event,Primarytemplat)"
    [showSearchInDbButton]="true"
    (performSearchInDB$)="performSearchInDbForConsumer($event)">
  </app-smart-table>

  <ng-template #Primarytemplat>
      <div class="primary-modal">
        <div class="top-dec"></div>
        <div class="modal-header">
          <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Reason for decryption</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body pt-0">
         <!-- <div>
           <input type="text" [(ngModel)] = "decryptReason">
           <button class="btn-theme-primary" (click)="decryptSubmit();modalRef.hide()">Submit</button>
         </div> -->
         <form #form="ngForm">
          <div class="text-center my-1">
            <label for="" class="mr-1">Reason</label>
            <input autofocus type="text" required style="border-radius: 0px !important;" [(ngModel)] = "decryptReason" name="decryptReason">
          </div>
          <button [disabled]="!form.valid" class=" btn btn-theme-success-sm" (click)="decryptSubmit();modalRef.hide()">Submit</button>
        </form>
        </div>
      </div>
    </ng-template>


  <app-splash-screen *ngIf="consumerTableData && consumerTableData.length===0"
                     [imageHRef]="myESplashScreens.consumers"
                     class="d-flex justify-content-center align-items-center"
                     style="position: absolute; left: 0; right: 0;bottom: 0; top: 0;"
  ></app-splash-screen>

