<!--<ng-container *ngIf="sessionsSmartTableDataModal.tableData as tableData1">-->
<app-smart-table
  [ngClass]="{'disable-decrypt-lock-icon':isDeCryptAuditAccessDenied}"
  class="d-flex-column-last-child-flex-grow-1 consumer-table"
  [totalRecords]="totalRecords"
  [showRefreshButton]="true"
  [sortedCol]="'Updated At'"
  [sortDir]="myESortDir.DES"
  (pageChanged$)="pageChanged($event)"
  [data]="sessionsSmartTableDataModal.tableData"
  (refreshData$)="loadConsumerData()"
  (customActionEvents)="customActionEventsTriggeredInSessionsTable($event)"
  [showSearchInDbButton]="true"
  (performSearchInDB$)="performSearchInDbForConsumer($event)">
</app-smart-table>
<!--</ng-container>-->

<app-imi-loader *ngIf="showLoader"></app-imi-loader>

<app-splash-screen *ngIf="showSplashScreen"
                   [imageHRef]="myESplashScreens.consumers"
                   headingText="No consumers found"
                   descriptionText="Integrate or deploy your bot to see the captured consumer details"
                   class="d-flex justify-content-center align-items-center"
                   style="position: absolute; left: 0; right: 0;bottom: 0; top: 0; z-index: -1"
></app-splash-screen>

