
@import "~src/sass/main";

.fa{
  color: $color-secondary;
}
.primary-modal{
  @include classic-modal($color-primary);
}
.danger-modal{
    @include classic-modal(#b14250);
  }

::ng-deep{
  table{
    mat-icon{
      line-height: 2 !important;
      font-size: 150%!important;
      color: orange;
    }
  }
}