<!--Template for modal-->
<ng-template #template>
  <div class="modal-header bg-danger">
    <h4 class="modal-title heading pull-left text-white">Really delete: <strong>{{bot.name}}</strong>?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white text-dark">
    <p class="mb-3">Do you confirm the Deletion? This is a permanent and irreversible change</p>
    <button class="btn btn-theme-secondary-outline mr-2" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-theme-danger" (click)="deleteBot()">Delete</button>
  </div>
</ng-template>
<!--============================== Following is unbinded html for css tests ==============================-->
<!---->
<!--<div class="card mb-2">-->
<!--&lt;!&ndash;card starts&ndash;&gt;-->
<!--<div class="card-header">-->
<!--<div class="row">-->

<!--<div class="col-md-2 col-sm-2 col-12">-->
<!--<img class="timePeriod-logo" src="http://www.pngmart.com/files/3/Weather-PNG-HD.png">-->
<!--</div>-->

<!--<div class="col-md-10 col-sm-10 col-12 ">-->
<!--<div class="d-flex m-0 pb-0">-->
<!--<p class="timePeriod-name m-0"><strong class="ng-binding">Weathery</strong></p>-->
<!--<i class="fa fa-trash ml-auto"></i>-->
<!--</div>-->
<!--<p class="timePeriod-title" title="I have done a PHD...">I have done a PHD...</p>-->
<!--<p class="timePeriod-created">Created On : Oct 12, 2017</p>-->
<!--<p class="timePeriod-updated">Last Updated On : Jun 5, 2018</p>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<div class="card-body d-flex pb-0">-->
<!--<button class="btn-theme-primary ml-auto">Preview Bot</button>-->
<!--</div>-->
<!--<div class="card-footer d-flex justify-content-between">-->
<!--<div class="copy"><i class="fa fa-copy"></i>Access Token</div>-->
<!--<div class="copy"><i class="fa fa-copy"></i>Enterprise ID</div>-->

<!--</div>-->
<!--</div>-->


<!--================NEW DESIGN==================-->
<!-- <div class="grid-bot-preview bg-white shadow-theme">
  <div class="top d-flex border-bottom cursor-pointer"
       (click)="router.navigate(['core/botdetail/'+parentRoute+'/'+ bot.id])">
    <div class="mr-2">
      <img class="logo-md rounded-circle" [src]="bot.logo" alt="">
    </div>
    <div class="d-flex flex-column">
      <div class="heading">{{bot.name}}</div>
      <div class="description limit-oneline">{{bot.description}}
      </div>
    </div>
    <i class="fa fa-users ml-auto" [hidden]="bot.child_bots.length===0" style="color: #9b9b9b"></i>
  </div>
  <div class="bot" style="position: relative">
    <div class="positioned-wrapper">
      <button
        (click)="openBot()"
        class="btn btn-theme-primary center-absolute">Preview
      </button>
      <div class="btn-group p-2" dropdown style="position: absolute; right:2%;top: 2%;">
        <i dropdownToggle class="fa fa-ellipsis-v p-1"></i>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item cursor-pointer" (click)="utilityService.copyToClipboard(bot.bot_access_token)" >Copy Access Token</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item cursor-pointer" (click)="utilityService.copyToClipboard(bot.enterprise_id)">Copy Enterprise ID</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item">Make Bot Active</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="openModal(template)">Delete</a>
          </li>
        </ul>
      </div>

    </div>
    -->
<!-- <div class="unique-name mt-2">Bot Unique Name : <strong>{{bot.bot_unique_name}}</strong></div>
    <div class="date-protection mb-3">Advance Data Protection :
      <strong>{{bot.advanced_data_protection?"ON":"OFF"}}</strong></div>
    <div class="d-flex bot-strip align-items-center">
      <div class="pr-1 " [ngClass]="{'border-right':(bot.integrations|integrationImageCount)>0}">
        <div class="active-button px-1 border-right d-flex justify-content-center align-items-center">Active
          ({{bot.active_version_id}})
        </div>
      </div>
      <img *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos|async)|slice:0:5)"
           [src]="'https://imibot.ai'+integrationsMasterListItem?.icon"
           class="logo-image"
           style="width: 16px;height: 16px"
           alt="">

      <span *ngIf="(bot.integrations|integrationImageCount)>4"
            class="more ml-auto">+{{(bot.integrations|integrationImageCount)-4}} More</span>
    </div>
  </div> -->
<!---->
<!-- </div> -->
<!--===============New New Design ==========================-->
<div class="wrapper cursor-pointer" (click)="navigateToBotDetailPage($event)">
  <div class="grid-bot-preview-two bg-white shadow-theme">
    <div class="header-border-bottom"></div><!--just for border-->
    <!--header starts-->
    <div class="grid-bot-preview-version header header-border-bottom  d-flex">
      <!--<div class="header">-->
        <div class="span-wrapper">
          <i class="fa fa-circle"></i>
        </div>
        <div class = "ml-1 " style="align-self: center">
          Active(v{{bot.active_version_id}})
        </div>
        <div class="btn-group click-save-wrapper  ml-auto" dropdown style="align-self: center; font-size: 18px">
          <i dropdownToggle class="fa fa-ellipsis-v click-save-wrapper"></i>
          <ul *dropdownMenu class="dropdown-menu click-save-wrapper" role="menu">
            <li role="menuitem">
              <a class="dropdown-item cursor-pointer click-save-wrapper" (click)="utilityService.copyToClipboard(bot.bot_access_token)" >Copy Access Token</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item cursor-pointer click-save-wrapper" (click)="utilityService.copyToClipboard(bot.enterprise_id)">Copy Enterprise ID</a>
            </li>
            <!-- <li role="menuitem">
              <a class="dropdown-item">Make Bot Active</a>
            </li> -->
            <li role="menuitem">
              <a class="dropdown-item click-save-wrapper" (click)="openModal(template)">Delete</a>
            </li>
          </ul>
        </div>
      <!--</div>-->
    </div>
    <!--header ends-->
    <div class="header-border-bottom"></div><!--just for border-->

    <div class="ml-2 grid-bot-preview-img grid-bot-preview-second-row main-logo-wrapper">
      <img class="logo-md rounded-circle" [src]="bot.logo" alt="">
    </div>
    <div class="grid-bot-preview-name details1 text-theme-secondary">
      <div class="heading">{{bot.name}}</div>
      <div class="description">{{bot.description}}</div>
    </div>
    <div class="grid-bot-preview-details grid-bot-preview-third-row details2 pl-2" style="align-self: center">
      <div class="">Unique Name : {{bot.bot_unique_name}}</div>
      <div class="">Last Updated : {{bot.updated_at|date:'mediumDate'}}</div>
    </div>
    <i class="fa fa-users icon2" *ngIf="bot.child_bots.length>0"></i>

    <div class="grid-bot-preview-forth-row d-flex flex-row-reverse bot-strip align-items-center p-2 footer">
      <!-- <span *ngIf="(bot.integrations|integrationImageCount)>4" class="more ml-auto">+{{(bot.integrations|integrationImageCount)}} More</span> -->

      <img *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos:'no_channel'|async))" [src]="integrationsMasterListItem?.icon"
           class="logo-image no-channel-integrations" style="width: 16px;height: 16px" alt="">
      <img *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos:'only_channel'|async))" [src]="integrationsMasterListItem?.icon"
           class="logo-image " style="width: 16px;height: 16px" alt="">
      <div *ngIf="bot.bot_type == 'chatbot'" (click)="openBot()" class="show-on-parent-hover mr-auto click-save-wrapper cursor-pointer text-sm">Preview</div>
      <button (click)="router.navigate(['core/botdetail/'+parentRoute+'/'+ bot.id])" class="show-on-parent-hover  btn btn-theme-primary px-3 mr-2 "  [ngClass]="{'mr-auto': bot.bot_type !== 'chatbot'}">Edit
      </button>
<!---->
    </div>

  </div>
</div>
<!--===========NO BINDNGS==========================-->
<!--<div class="grid-bot-preview bg-white">-->
<!--<div class="top d-flex border-bottom">-->
<!--<div class="mr-2">-->
<!--<img class="logo-md rounded-circle" [src]="bot.logo" alt="">-->
<!--</div>-->
<!--<div class="d-flex flex-column">-->
<!--<div class="heading">{{bot.name}}</div>-->
<!--<div class="description">This space is for bot description. This-->
<!--space is for bot description-->
<!--</div>-->
<!--</div>-->
<!--<i class="fa fa-users" style="color: #9b9b9b"></i>-->
<!--</div>-->
<!--<div class="bot" style="position: relative">-->
<!--<div class="positioned-wrapper">-->
<!--<button class="btn btn-theme-primary"-->
<!--style="position: absolute; left:50%;top: 50%;transform: translate(-50%, -50%);">Preview-->
<!--</button>-->
<!--<div class="btn-group p-2" dropdown style="position: absolute; right:2%;top: 2%;">-->
<!--<i dropdownToggle class="fa fa-ellipsis-v p-1"></i>-->
<!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
<!--<li role="menuitem">-->
<!--<a class="dropdown-item">Copy Access Token</a>-->
<!--</li>-->
<!--<li role="menuitem">-->
<!--<a class="dropdown-item">Copy Enterprise ID</a>-->
<!--</li>-->
<!--<li role="menuitem">-->
<!--<a class="dropdown-item">Make Bot Active</a>-->
<!--</li>-->
<!--<li role="menuitem">-->
<!--<a class="dropdown-item">Delete</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div class="unique-name mt-2">Bot Unique Name : <strong>Bot_unique_name</strong></div>-->
<!--<div class="date-protection mb-3">Advance Data Protection : <strong>ON</strong></div>-->
<!--<div class="d-flex bot-strip justify-content-between align-items-center">-->
<!--<div class="pr-1 border-right">-->
<!--<div class="active-button px-1 border-right d-flex justify-content-center align-items-center">Active(4.2.1)-->
<!--</div>-->
<!--</div>-->
<!--<img style="width: 28px;height: 28px" src="http://www.pngmart.com/files/3/Weather-PNG-HD.png" alt="">-->
<!--<img style="width: 28px;height: 28px" src="http://www.pngmart.com/files/3/Weather-PNG-HD.png" alt="">-->
<!--<img style="width: 28px;height: 28px" src="http://www.pngmart.com/files/3/Weather-PNG-HD.png" alt="">-->
<!--<img style="width: 28px;height: 28px" src="http://www.pngmart.com/files/3/Weather-PNG-HD.png" alt="">-->
<!--<span class="more">+5 More</span>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--</div>-->
