<section class="card-section">
  <div class="grid-bot-preview-two" [ngClass]="{'grid-pipeline-card':bot.bot_type === 'intelligent'}"
       (click)="navigateToBotDetailPage($event)">
    <button mat-icon-button [matMenuTriggerFor]="appMenu" (menuOpened)="menuOpened = true"
            (menuClosed)="menuOpened = false" class="more-button click-save-wrapper">
      <mat-icon [ngClass]="{'show-on-parent-hover':!menuOpened}" class="click-save-wrapper">more_horiz</mat-icon>
    </button>

    <figure class="grid-bot-preview-img">
      <img [src]="bot.logo" alt="">
    </figure>
    <div class="grid-bot-preview-name details1">
      <h6 class="limit-oneline"
          [matTooltip]="(bot.name && bot.name.length >24)?bot.name : ''"
          style="color: #474747; letter-spacing: 0.3px">{{(bot.name|slice:0:36) + (bot.name.length > 36 ? "..." : "")}}</h6>
      <p class="description limit-oneline"
         matTooltip="Updated on {{bot.updated_at|date:'d MMM, yy'}} by {{bot.updated_by|personName}}"
         style="letter-spacing: 0.1px">
        Updated
        on {{bot.updated_at|date:'d MMM, yy'}}
        by {{bot.updated_by|personName}}
      </p>
    </div>

    <ng-container *ngIf="bot.bot_type == 'chatbot'">
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon class="icon2" *ngIf="bot.is_manager" [title]="bot.child_bots.length + ' children Bots'">
          supervisor_account
        </mat-icon>
      </div>


      <div class="grid-bot-preview-forth-row d-flex bot-strip align-items-center p-2 footer">
        <!-- <span *ngIf="(bot.integrations|integrationImageCount)>4" class="more ml-auto">+{{(bot.integrations|integrationImageCount)}} More</span> -->


        <div *myIf="myEAllActions['Send API']" class="preview-button click-save-wrapper" (click)="previewBot($event)">
          <div
            title="Click to open chat preview window"
            class="click-save-wrapper">Preview
          </div>
        </div>
        <span class="ml-auto"></span>
        <app-integration-channel-list [limit]="7" [bot]="bot"></app-integration-channel-list>


      </div>
    </ng-container>
  </div>

  <div *ngIf="showLoader"
       class="loader-overlay">
    <i class="fa fa-gear fa-spin" style="font-size: 20px"></i>
  </div>
</section>


<!--Template for modal-->
<ng-template #template>
  <div class="danger-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Delete
        bot&nbsp;{{bot.name}}&nbsp;?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body pt-0">
      <form #form="ngForm">
        <div class="text-center my-1">
          <p class="mb-3">This action cannot be undone. Are you sure you wish to delete?</p>

        </div>
        <button class="btn-theme btn-theme-secondary-outline mr-2" (click)="modalRef.hide()">Cancel</button>
        <button class=" btn-theme btn-theme-danger" (click)="deleteBot()">Delete</button>
      </form>
    </div>
  </div>
</ng-template>


<mat-menu class="more-menu" #appMenu="matMenu">
  <button mat-menu-item (click)="utilityService.copyToClipboard(bot.bot_access_token)"><i class="fa fa-copy mr-1"></i>Copy
    Access Token
  </button>
  <button mat-menu-item (click)="utilityService.copyToClipboard(bot.enterprise_id)"><i class="fa fa-copy mr-1"></i>Copy
    Enterprise ID
  </button>
  <button mat-menu-item
          *myIf="[myEAllActions['Get Pipeline Module'],myEAllActions['Get Integrations'],myEAllActions['Get Bot Knowledge base']]"
          (click)="openDeleteModal(template)"><i class="fa fa-trash mr-1"></i>Delete
  </button>
  <button mat-menu-item *ngIf="!bot.store_isPinned" (click)="togglePinBotCard(bot, true)"><i
    class="fa fa-thumb-tack mr-1"></i>Pin
  </button>
  <button mat-menu-item *ngIf="bot.store_isPinned" (click)="togglePinBotCard(bot, false)">Unpin</button>
</mat-menu>
