@import '~src/sass/main';

.danger-modal {
  @include classic-modal(#b14250);
}



.card-section {
  background-color: white;

  mat-icon{
    padding: 0 !important;
    color: $color-secondary !important;
  }
  border-radius: 8px;
  transition: .4s;
  position: relative;
  cursor: pointer;
  .loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
    border-radius: 8px;
    //d-flex justify-content-center align-items-center bg-secondary;
    @extend %centered-flex;
  }

  &:hover {
    //border: solid 2px #e0e0e0;
    //border-radius: 2px;
    .show-on-parent-hover {
      opacity: 1;
    }
  }
}

.show-on-parent-hover {
  display: inline-block;
  opacity: 0;
  transition: .4s;
}


.grid-pipeline-card{
  grid-template-rows: 64px !important;
}

.grid-bot-preview-two {
  display: grid;
  width: 100%;
  background-color: white;
  grid-template-columns: 56px 1fr 36px;
  grid-template-rows: 64px 48px;
  grid-template-areas: 'icon1 details1 icon2' 'footer footer footer';
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  position: relative;

  .more-button {
    position: absolute;
    right: 5%;
    //top: 5%;
    font-size: 25px;
    color: #9e9e9e;
  }

  &:hover {
    .preview-button {
      opacity: 1;
      transition: .6s;
    }
    box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.07);

    .show-on-parent-hover {
      opacity: 1;
    }
  }

  .grid-bot-preview-img {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 48px;
      width: 48px;
      border-radius: 50%;
    }
  }

  .text-theme-secondary {

  }

  .text-sm {
    font-size: 11px;
  }

  .header {
    grid-area: header1;
  }

  .main-logo-wrapper {
    grid-area: icon1;
    padding-top: 10px;
  }

  .icon2 {
    grid-area: icon2;
    font-size: 17px;
    padding-top: 16px;
    color: #474747;
  }

  .details1 {
    grid-area: details1;
    padding-top: 12px;
  }

  .details2 {
    grid-area: details2;
    padding-left: 5px;
  }

  .footer {
    grid-area: footer;
  }

  .fa-ellipsis-v {
    color: $color-secondary;
    //padding-right: 10px;
    padding: 0px;
  }

}

.header-border-bottom {
  border-bottom: solid 2px #e0e0e0;
}

.grid-bot-preview-second-row {
  grid-row: 2 / 3;
}

.grid-bot-preview-version {
  grid-column: 1 / 4;

  .span-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fa-circle {
    color: #34bc6e;
    font-size: 8px;
    align-self: end;
  }
}

.grid-bot-preview-img {
  grid-column: 1 / 2;

}

.grid-bot-preview-details {
  grid-column: 2 / 4;
  font-size: 11px;
  color: #474747;

  div {
    font-size: 11px;
  }
}

.grid-bot-preview-name {
  grid-column: 2 / 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;

  h6 {
    font-weight: bold;
  }

  *:first-child {
    margin-bottom: 5px;
  }
}

.grid-bot-preview-third-row {
  grid-row: 3 / 4;
}

.grid-bot-preview-forth-row {
  grid-row: 4 / 5;
  grid-column: 1 / 5;

  .preview-button {
    padding: 5px 10px;
    border: 1px solid $color-secondary-light;
    color: #474747;
    opacity: 0;
  }

  .logo-image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: -7px;
    margin-left: 0;

    &:hover {
      z-index: 100 !important;
      transition: .6s;
    }
  }
}

// .grid-bot-preview {
//   display: grid;
//   width: 100%;
//   height: 176px;
//   grid-template-columns: 56px 1fr 14px 36px;
//   grid-template-rows: 1fr 1fr;
//   grid-template-areas:
//     'ct ct ct ct'
//     'cb cb cb cb';
// }

// .top {
//   grid-area: ct;
//   padding: 16px 16px 0 16px;

// }

// .bot {
//   grid-area: cb;
//   padding: 0 16px 16px 16px;

// }

// .heading {
//   margin-bottom: 4px;
// }
.description {
  @include typography(11px, 1.09, $font-weight-300, $color-text-normal);
  overflow: hidden;
}

.unique-name, .date-protection, .active-button {
  @include typography(11px, 1.45, $font-weight-300, $color-text-normal);

  strong {
    font-weight: bold;
  }
}

.active-button {
  height: 24px;
  min-width: 70px;
  border-radius: 2px;
  background-color: #509005;
  color: white;
}

.more {
  @include typography(13px, $line-height-normal, $font-weight-300, #00abd3);
}

.positioned-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 244, 244, 0.8);
  opacity: 0;

  &:hover {
    animation-name: bottom-up;
    animation-duration: .5s;
    animation-fill-mode: backwards;
    opacity: 1;
  }
}

@keyframes bottom-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.logo-image {
  margin-right: 2px;
  margin-left: 2px;
}


.dropdown-menu {
  position: absolute;
  left: -140px !important;;
}


.no-channel-integrations:first-child {
  border-left: $border-normal;
  padding-left: 4px;
}

.click-save-wrapper {
  //padding: 6px;
  //font-size: 13px !important;
}


.cutom-md-menu {
  .mat-menu-content {
    padding: 0;

    button {
      height: 40px;
      font-size: 13px;
    }
  }

}

:host {

}

.mat-menu-content {
  padding: 0;

  button {
    height: 40px;
    font-size: 13px;
  }
}


