@import '~src/sass/main';
.wrapper{
  border: solid 2px transparent;
  border-radius:2px;
  &:hover{
    border: solid 2px #e0e0e0;
    border-radius:2px;
  }
}

.grid-bot-preview-two{
  display: grid;
  width: 100%;
  height: 176px;
  grid-template-columns: 16px 56px 1fr 36px 10px;
  grid-template-rows: 28px 64px 1fr 48px;
  //grid-row-gap: 10px;
  font-family: Helvetica;
  grid-template-areas:
  'mlt header1 header1 header1 mrt'
  'ml icon1 details1 icon2 mr'
  'ml details2 details2 details2 mr'
  'ml footer footer footer mr'
;
  border-radius:2px;

  //padding-top: 3px;//dont use padding
  //padding-bottom: 3px;//dont use padding
  //border: solid 2px transparent;
  //  border-radius:2px;
  //&:hover{
  //  border: solid 2px #e0e0e0;
  //  border-radius:2px;
  //}

  .text-theme-secondary{
    .description{
      color: #9e9e9e;
    }
  }
  .text-sm{
    font-size: 11px;
  }

  .header{
    grid-area: header1;
  }
  .main-logo-wrapper{
    grid-area: icon1;
    padding-top: 10px;
  }
  .icon2{
    grid-area: icon2;
    font-size: 17px;
    padding-top: 10px;
    color: $color-secondary!important;
  }
  .details1{
    grid-area: details1;
    padding-top: 12px;
  }
  .details2{
    grid-area: details2;
    padding-left: 5px;
  }
  .footer{
    grid-area: footer;
  }

  .fa-ellipsis-v{
    color: $color-secondary;
    padding-right: 10px;
  }

}

.header-border-bottom{
  border-bottom: solid 2px #e0e0e0;
}

.grid-bot-preview-second-row{
  grid-row: 2 / 3;
}
.grid-bot-preview-version{
  grid-column: 1 / 4;
  //border-bottom: solid 2px #e0e0e0;
  font-family: Helvetica;
  .span-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fa-circle{
    color: #34bc6e;
    font-size: 8px;
    align-self: end;
  }
}
.grid-bot-preview-img{
  grid-column: 1 / 2;

}
.grid-bot-preview-details{
  grid-column: 2 / 4;
  font-size: 11px ;
  color: #474747;
  div{
    font-size: 11px ;
  }
}
.grid-bot-preview-name{
  grid-column: 2 / 3;
  overflow: hidden;
}
.grid-bot-preview-third-row{
  grid-row: 3 / 4;
}
.grid-bot-preview-forth-row{
  grid-row: 4 / 5;
  grid-column: 1 / 5;
  button{
    height: 24px !important;
  }
  div{
    @include typography(13px, $line-height-normal, $font-weight-300, #00abd3);
  }
}

// .grid-bot-preview {
//   display: grid;
//   width: 100%;
//   height: 176px;
//   grid-template-columns: 56px 1fr 14px 36px;
//   grid-template-rows: 1fr 1fr;
//   grid-template-areas:
//     'ct ct ct ct'
//     'cb cb cb cb';
// }

// .top {
//   grid-area: ct;
//   padding: 16px 16px 0 16px;

// }

// .bot {
//   grid-area: cb;
//   padding: 0 16px 16px 16px;

// }

// .heading {
//   margin-bottom: 4px;
// }
.description{
  @include typography(11px, 1.09, $font-weight-300, $color-secondary);
  overflow: hidden;
  height: 23px;
}
 .unique-name, .date-protection,.active-button {
  @include typography(11px, 1.45, $font-weight-300, $color-text-normal);
  strong{
    font-weight: bold;
  }
}

.active-button {
  height: 24px;
  min-width: 70px;
  border-radius: 2px;
  background-color: #509005;
  color: white;
}

.more {
  @include typography(13px, $line-height-normal, $font-weight-300, #00abd3);
}

.positioned-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 244, 244, 0.8);
  opacity: 0;
  &:hover{
    animation-name: bottom-up;
    animation-duration: .5s;
    animation-fill-mode: backwards;
    opacity: 1;
  }
}

@keyframes bottom-up {
  0%   {
    opacity: 0;
  }
  100% {opacity: 1}
}

.logo-image{
  margin-right: 2px;
  margin-left: 2px;
}



.dropdown-menu{
  position:absolute;left: -164px !important;;
}
.limit-oneline{
  max-width: 185px;//override
}
