<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{vol:'userAcquisition'}"
       (click)="tabClicked('userAcquisition')"
       [ngClass]="{'tab-active':activeTab==='userAcquisition'}"><strong>Users</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{vol:'totalSessions'}"
       (click)="tabClicked('totalSessions')"
       [ngClass]="{'tab-active':activeTab==='totalSessions'}"><strong>Sessions</strong></a>
  </li>
  <!-- for now -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"
       [queryParams]="{vol:'totalMessages'}"
       (click)="tabClicked('totalMessages')"
       [ngClass]="{'tab-active':activeTab==='totalMessages'}">
       <strong>Messages</strong></a>
  </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['.']"
         queryParamsHandling="merge"
         replaceUrl="true"
         [queryParams]="{vol:'usagetracking'}"
         (click)="tabClicked('usagetracking')"
         [ngClass]="{'tab-active':activeTab==='usagetracking'}"><strong>Usage</strong></a>
    </li>
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab==='totalSessions'"
          [chartValue]="chartValue"
          [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
          </app-chart>

<app-chart *ngIf="activeTab==='totalMessages'"
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>

<app-chart *ngIf="activeTab==='totalTimeOfRooms'"
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_TEMPLATE_KEY_AND_FLOW_TRIGGERED">
</app-chart>
<app-chart *ngIf="activeTab==='userAcquisition'"
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
          </app-chart>

<app-imi-loader *ngIf="activeTab==='usagetracking'  && !chartValue"></app-imi-loader>
<app-chart *ngIf="activeTab==='usagetracking'  && chartValue && chartValue['series'].length > 0"
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
<div *ngIf="activeTab ==='usagetracking' && chartValue && !chartValue['series'].length > 0" class = "splash-for-usage">
  <div class = "bubble">
    <div class="img-wrapper">
      <img src="assets/img/analytics/noDataInAnalytics.svg" class="img-logo">
    </div>
    <div>No data available</div>
  </div>
</div>
