<h2 class="heading" style="margin-bottom: 8px">
  Entities to recognise
</h2>


<table>
  <tr style="background-color: #eeeeee">
    <th style="width: 5%"></th>
    <th style="width: 20%">Entity name</th>
    <th style="width: 20%">Required</th>
    <th style="width: 20%">Retried</th>
    <th style="width: 20%">Template Key</th>
  </tr>
  <tbody>
    <tr>
      <td></td>
      <td>Entity name</td>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>Retried</td>
      <td>Template Key</td>
    </tr>
  </tbody>

</table>
