table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}


tr{
  border-bottom: 1px solid #e0e0e0;
}

th{
  min-width: 60px;
  width: 25px;
  height: 14px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

td, th{
  vertical-align: baseline !important;
  padding: 8px 8px;
}

tr:first-child {
  //border: 1px solid #dddddd;
  //background-color: #f7f7f7;
  text-align: left;
  //padding: 8px;
  font-weight: normal !important;
}

tr:nth-child(even) {
  //background-color: #dddddd;
}


.fa-circle-o{
  font-size: 9px;
}


tbody{
  tr{
    td:nth-child(1){
      padding-left: 10px;
      border-right: 3px solid #e9caa2;
    }
  }
}

::ng-deep{
  .entity-list{
    max-height: 300px;
  }
}
