@import '~src/sass/main';

.h4{
  @include typography($font-size-md, $line-height-normal, $font-weight-700, #474747);
}
.light-text{
  color: #9e9e9e;
}
.primary-modal{
   @include classic-modal(#00abd3);
 }
.primary-modal{
  .modal-body{
    .fa{
      font-size:48px;
      color: #00abd3;
      padding: 10px 0px;
    }
  }
}

.danger-modal{
  @include classic-modal(#b14250);
}
