<!---->
<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
   <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{eng:'usagetracking'}"
       (click)="tabClicked('usagetracking')"
       [ngClass]="{'tab-active':activeTab==='usagetracking'}"><strong>Usage</strong></a>
  </li>
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab==='usagetracking'" 
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
