
<div class="curation-issues-wrapper">
  <mat-card class="example-card" style="padding-left: 0px; padding-right: 0px;   border-radius: 2px; border: solid 1px #d8d8d8; background-color: #ffffff;">

    
    <mat-card-actions style = "margin: 0; padding: 0;">
        <!-- <div class="header">
          <span class="itemleft"  style="flex-flow: row nowrap">
            <div class="header-left">
              <span><mat-card-subtitle>Room ID:12234</mat-card-subtitle></span>
              <span><p>Logged at 9:04PM, 13 Apr 19</p></span>
            </div>
          </span>
          <span class="itemright">
            <div class="header-right" style="width: 16px;
            height: 15px;
            object-fit: contain;">
              <mat-icon style="color: #d94254;">thumb_down</mat-icon>
          </div>
          </span>
        </div> -->


        <div class="parent" style="padding-left: 15px; padding-right: 15px; padding-top: 0px; padding-bottom: 0px; border-bottom: 1px solid  #d8d8d8;">
            <span class="itemleft">
                <button mat-button disabled id="more" style="  height: 17px; color: #4a4a4a; font-family: IBMPlexSans; font-size: 13px;">
            
                    Room ID: 12234</button>
                  
                  <button mat-button disabled id="more" style="  height: 17px;color: #4a4a4a; font-family: IBMPlexSans; font-size: 13px;">
                      Logged at 9:04PM, 13 Apr 19</button>
            </span>
  
            <span class="itemright" >
                <button mat-icon-button class="thumbdown" style="  width: 16px;height: 15px;"><mat-icon style="color: #d94254;">thumb_down</mat-icon></button>
                    
            </span>
        </div>
    </mat-card-actions>

    <mat-card-content style="margin: 0;"> 
        <div class='row'>
          <div class='column'>
            <div class='column-1'>
              <p style="font-size: 11px">User said</p>
              <p style="font-size: 13px">“How can I book a flight to japan?”</p>
              
            </div>
          </div>
          <div class="divider"></div>
          <div class='column'>
            <div class='column-2'>
                <p style="font-size: 11px">Bot understood it as</p>
                <p style="font-size: 13px">“Are there cabs available in japan?”</p>
            </div>
          </div>
        </div>

    </mat-card-content>

    <mat-card-actions style = "margin: 0; padding: 0px 0px 15px 0px;">
      <div class="parent" style="
      height: 32px;padding-left: 15px; padding-right: 15px;border-top: 1px solid  #d8d8d8;">
          <span class="itemleft">
            <button mat-button  style=" width: 190px; height: 32px;border-radius: 2px; border: solid 1px #41c9e9; font-family: IBMPlexSans; font-size: 13px; color: #00abd3;  ">
                  <mat-icon style="color: #00abd3;transform:rotate(130deg);width: 13.3px; height: 4.7px;">insert_link</mat-icon>
                  Link to existing article</button>
                
                <button mat-button style=" width: 156px; height: 32px; border-radius: 2px;border: solid 1px #d8d8d8; font-family: IBMPlexSans; font-size: 13px;color: #4a4a4a;">
                  + Add to a new article</button>
          </span>

          <span class="itemright">
              <button mat-button style=" width: 148px; height: 32px; border-radius: 2px;border: solid 1px #d8d8d8; font-family: IBMPlexSans; font-size: 13px;color: #4a4a4a;">
                  <mat-icon style="color: #4a4a4a;">remove_circle_outline</mat-icon>
                  
                  Ignore query</button>
          </span>
      </div>
    </mat-card-actions>
  </mat-card>
</div>