.build-bot-section {
  display: flex;

  .banner {
    background-color: #193a57;
    color: #060606;
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      color: white;
    }

    .banner__content {
      width: 70%;
      height: 70%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .banner__content--header {
        position: absolute;
        top: -50px;
        color: white;

        h5 {
          font-size: 20px;
        }
      }
    }

    .banner__flow {
      display: flex;
      align-items: center;
    }

    .banner__flow-item {
      display: flex;
      align-items: center;
      margin-top: 14px
    }
  }
}

.card, .card-header {
  border: none;
}


ul {
  margin: 16px 0;
  font-size: 11px;

  li {
    padding-left: 20px;
    margin-left: 20px;
    width: 50%;
  }
}

.header-less-tabs /deep/ {
  .mat-tab-header {
    display: none;
  }
}


::ng-deep {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #527a9e;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 50%;
    width: 50%;
  }


}

.build-bot-form-wrapper {
  width: 64%;
  display: flex;
  color: #060606;
  justify-content: center;
  align-items: center;
  position: relative;

  .build-bot-form-wrapper__content {
    width: 85%;
    height: 85%;
    position: relative;

    header {
      h5 {
        font-size: 16px;
        margin-bottom: 8px
      }

      p {
        margin-bottom: 16px
      }
    }
  }
}

.go-back-button {
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  text-decoration: none;

  i {
    margin: 0;
    color: #474747
  }
}

.next-button {
  position: absolute;
  top: 90%;
  right: 0;
}

.vertical-line {
  width: 4px;
  height: 18px;
  background-color: white;
  //margin-bottom: 14px;
  margin-left: 18px;
  border-radius: 2px;
  margin-top: 20px;
}