<div class="d-flex" style="height: 100vh">
    <div style="background-color: #193a57; color: #060606; width: 36%; display: flex; justify-content: center; align-items: center">
        <div style="width: 70%; height: 70%; position: relative; display: flex;flex-direction: column;justify-content: center;">
            <div style="position: absolute; top: -50px;">
                <p style="color: white; font-size: 20px">Create Bot</p>
                <div style="color: white;">{{bot_type === myEBotType.chatbot?'Code based':bot_type === myEBotType.faqbot?'Search based':'Pipeline based'}}</div>
            </div>

      <ng-container *ngIf="bot_type === myEBotType.chatbot">
        <div style="display: flex; align-items: center;">
          <div class="circle"
               [ngStyle]="{'background-color': activeTab===0?'#00abd3':(activeTab>0?'#34bc6e':'#527a9e')}">
            <img src="assets/img/id-card-1.svg" alt="">
          </div>
          <div style="color: white">Profile</div>
        </div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div style="display: flex; align-items: center; margin-top: 14px">
          <div class="circle"
               [ngStyle]="{'background-color': activeTab===1?'#00abd3':(activeTab>1?'#34bc6e':'#527a9e')}">
            <img src="assets/img/gear-1.svg" alt="">
          </div>
          <div style="color: white">Management</div>
        </div>

        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>

        <div style="display: flex; align-items: center;margin-top: 14px">
          <div class="circle"
               [ngStyle]="{'background-color': activeTab===2?'#00abd3':(activeTab>2?'#34bc6e':'#527a9e')}">
            <img style="width: 50%" src="assets/img/locked.svg" alt="">
          </div>
          <div style="color: white">Security and privacy</div>
        </div>
      </ng-container>
    </div>
    <div style="width: 64%; display: flex;color: #060606; justify-content: center; align-items: center; position: relative">
        <div  style="width: 85%; height: 85%; position: relative" (keyup.enter)="enterKeyHandler()">
            <div style="font-size: 16px;margin-bottom: 8px">{{heading}}</div>
            <div style="margin-bottom: 16px">{{description}}</div>
            <mat-tab-group class="header-less-tabs"
                           [selectedIndex]="activeTab"
                           (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Tab 1">
                    <app-basic-info-form [formGroup]="basicInfoForm" *ngIf="bot_type != myEBotType.faqbot"></app-basic-info-form>
                    <app-faq-bot-basic-info-form [formGroup]="faqbotBuildForm" *ngIf="bot_type === myEBotType.faqbot"></app-faq-bot-basic-info-form>
                </mat-tab>
                <mat-tab label="Tab 2" *ngIf="bot_type === myEBotType.chatbot">
                    <app-data-manage-form [formGroup]="dataManagementForm"></app-data-manage-form>
                </mat-tab>
                <mat-tab label="Tab 3" *ngIf="bot_type === myEBotType.chatbot">
                    <app-security [formGroup]="securityForm"></app-security>
                </mat-tab>
            </mat-tab-group>

      <ng-container *ngIf="bot_type === myEBotType.intelligent">
        <img src="assets/img/planning-1.svg" style="width: 210px; align-self: center" alt="">
      </ng-container>
    </div>
  </div>
  <div
    style="width: 64%; display: flex;color: #060606; justify-content: center; align-items: center; position: relative">
    <!--<div  style="width: 85%; height: 85%; position: relative" (keyup.enter)="enterKeyHandler()">-->
    <div style="width: 85%; height: 85%; position: relative">
      <div style="font-size: 16px;margin-bottom: 8px">{{heading}}</div>
      <div style="margin-bottom: 16px">{{description}}</div>
      <mat-tab-group class="header-less-tabs"
                     [selectedIndex]="activeTab"
                     (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Tab 1">
          <app-basic-info-form [formGroup]="basicInfoForm"></app-basic-info-form>
        </mat-tab>
        <mat-tab label="Tab 2" *ngIf="bot_type === myEBotType.chatbot">
          <app-data-manage-form [formGroup]="dataManagementForm"></app-data-manage-form>
        </mat-tab>
        <mat-tab label="Tab 3" *ngIf="bot_type === myEBotType.chatbot">
          <app-security [formGroup]="securityForm"></app-security>
        </mat-tab>
      </mat-tab-group>

      <div (click)="goBack()"
           style="margin: 0;width: 32px;height: 32px;position: absolute;top: 0;right: 0;border-radius: 50%;background: #e5e5e5;display: flex;justify-content: center;align-items: center;color: #4a4a4a; text-decoration: none">
        <i class="fa fa-times" style="margin: 0; color: #474747"></i>
      </div>
      <button *ngIf="activeTab>0" mat-button style="position: absolute;top: 90%;left: 0"
              (click)="activeTab = activeTab>0?activeTab-1:activeTab">
        <mat-icon>arrow_left</mat-icon>
        Back
      </button>


      <button mat-raised-button [disabled]="stageValidObj[activeTab] === false || loading" color="primary"
              style="position: absolute;top: 90%;right: 0" (click)="nextStep(activeTab+1)" type="button">
        {{activeTab < myObject.keys(stageValidObj).length - 1 ? 'Continue' : 'Done'}}
        <mat-icon *ngIf="!loading">arrow_right</mat-icon>
        <mat-spinner *ngIf="loading" style="margin-left: 5px" [diameter]="15"></mat-spinner>
      </button>

    </div>
  </div>
</div>
</div>