<section class="build-bot-section" style="height: 100vh">
    <div class="banner">
        <div class="banner__content">
            <header class="banner__content--header">
                <h5>Create Bot</h5>
                <div>{{bot_type === myEBotType.chatbot ? 'Code based' :
                    bot_type === myEBotType.faqbot ? 'Search based' :
                        bot_type === myEBotType.intelligent ? 'Pipeline based' : 'Router based'}}</div>
            </header>

            <ng-container *ngIf="bot_type === myEBotType.chatbot || bot_type === myEBotType.router">
                <div class="banner__flow">
                    <div class="circle"
                         [ngStyle]="{'background-color': activeTab===0?'#00abd3':(activeTab>0?'#34bc6e':'#527a9e')}">
                        <img src="assets/img/id-card-1.svg" alt="profile">
                    </div>
                    <div>Profile</div>
                </div>
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
                <div class="banner__flow-item">
                    <div class="circle"
                         [ngStyle]="{'background-color': activeTab===1?'#00abd3':(activeTab>1?'#34bc6e':'#527a9e')}">
                        <img src="assets/img/gear-1.svg" alt="management">
                    </div>
                    <div>Management</div>
                </div>

                <div class="vertical-line"></div>
                <div class="vertical-line"></div>
                <div class="vertical-line"></div>

                <div class="banner__flow-item">
                    <div class="circle"
                         [ngStyle]="{'background-color': activeTab===2?'#00abd3':(activeTab>2?'#34bc6e':'#527a9e')}">
                        <img style="width: 50%" src="assets/img/locked.svg" alt="security">
                    </div>
                    <div>Security and privacy</div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="build-bot-form-wrapper">
        <div class="build-bot-form-wrapper__content">
            <header>
                <h5>{{heading}}</h5>
                <p>{{description}}</p>
            </header>
            <mat-tab-group class="header-less-tabs"
                           [selectedIndex]="activeTab"
                           (selectedIndexChange)="selectedIndexChange($event)">
                <mat-tab label="Tab 1">
                    <app-basic-info-form [formGroup]="basicInfoForm"
                                         *ngIf="bot_type != myEBotType.faqbot"></app-basic-info-form>
                    <app-faq-bot-basic-info-form [formGroup]="faqbotBuildForm"
                                                 *ngIf="bot_type === myEBotType.faqbot"></app-faq-bot-basic-info-form>
                </mat-tab>
                <mat-tab label="Tab 2" *ngIf="bot_type === myEBotType.chatbot || bot_type === myEBotType.router">
                    <app-data-manage-form [formGroup]="dataManagementForm" [isBuildBot]="true"></app-data-manage-form>
                </mat-tab>
                <mat-tab label="Tab 3" *ngIf="bot_type === myEBotType.chatbot || bot_type === myEBotType.router">
                    <app-security [formGroup]="securityForm"></app-security>
                </mat-tab>
            </mat-tab-group>

            <div (click)="goBack()" class="go-back-button">
                <span class="fa fa-times"></span>
            </div>
            <button *ngIf="activeTab>0" mat-button style="position: absolute;top: 90%;left: 0"
                    (click)="activeTab = activeTab>0?activeTab-1:activeTab">
                <mat-icon>arrow_left</mat-icon>
                Back
            </button>


            <button class="next-button" mat-raised-button [disabled]="stageValidObj[activeTab] === false || loading"
                    color="primary"
                    (click)="nextStep(activeTab+1)" type="button">
                {{activeTab < myObject.keys(stageValidObj).length - 1 ? 'Continue' : 'Done'}}
                <mat-icon *ngIf="!loading">arrow_right</mat-icon>
                <mat-spinner *ngIf="loading" style="margin-left: 5px" [diameter]="15"></mat-spinner>
            </button>

        </div>
    </div>

</section>
