.card, .card-header{
  border: none;
}


ul{
  margin: 16px 0;
  font-size: 11px;
  li{
    padding-left: 20px;
    margin-left: 20px;
    width: 50%;
  }
}

.header-less-tabs /deep/{
  .mat-tab-header{
    display: none;
  }
}