@import '~src/sass/main';


.profile-row{
  label{
    @include typography($font-size-normal, $line-height-normal, $font-weight-700, $color-text-normal);
    width: 180px;
  }

  .value{
    @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-text-muted);
  }

  .non-editable{
    @include typography($font-size-normal, $line-height-normal, $font-weight-400, #ddd);
  }

  input.value{
    @include hide-borders();
  }
}
.perm-list{
  padding: 6px;
  margin-left: 200px;
  background-color: #e0e0e0;
  font-size: 14px;
  .badge-secondary{
    margin: 3px;
    padding: 4px;
  }
}


.password-row{
.label{
  @include typography($font-size-xs, $line-height-normal, $font-weight-300, $color-text-border-e0);
}
  input{
    @include hide-borders();
    border-bottom:$border-normal ;
  }
}
