<div *ngIf="(loggeduser$|async) as loggedUser" class="row my-3 pb-3 bg-white profile-row">
  <div class="profile-header col-12 p-0 pb-2 d-flex justify-content-between align-items-center">
    <h4 class=" m-0 profile-heading-text">Profile Information</h4>
    <button class="btn btn-theme-primary ml-auto mr-1" (click)="openChangePasswordModal(Primarytemplate)">Change
      Password
    </button>
    <button class="btn-theme-primary" (click)="updateProfile()">Update</button>
  </div>

  <form class="row" #form="ngForm">
    <div class="col-12">
      <h5 class="px-4">Basic</h5>
    </div>
    <div class="col-3">
      <label for="" class="pl-5 ml-5">First Name:</label>
    </div>
    <div class="col-9">
      <input class="edit-input value" type="text" [ngModel]="loggedUser.user.first_name" required name="first_name">
    </div>
    <div class="col-3">
      <label for="" class="pl-5 ml-5">Last Name:</label>
    </div>
    <div class="col-9">
      <input class="edit-input value" type="text" [ngModel]="loggedUser.user.last_name" required name="last_name">
    </div>
    <div class="col-3">
      <label for="" class="pl-5 ml-5">Email:</label>
    </div>
    <div class="col-9">
      <span class="value non-editable">{{loggedUser.user.email}}</span>
    </div>
  </form>
  <!---->
  <section class="row my-2">
    <div class="col-12">
      <h5 class="px-4">Advanced</h5>
    </div>
    <div class="col-3">
      <label for="" class="pl-5 ml-5 pr-4">Role:</label>
    </div>
    <div class="col-9">
      <span class="value non-editable ">{{loggedUser.user.role.name}}</span>
    </div>
    <div class="col-3 d-flex " style="overflow-x: hidden">
      <label for="" class="pl-5 ml-5 pr-4 pt-1">Action Permission:</label>
    </div>
    <div class="col-9">
      <div>
        <span
          class="text-info"><strong>{{loggedUser?.user?.role?.permissions?.actions?.length===0?'All':loggedUser?.user?.role?.permissions?.actions?.length}}</strong> Action permissions</span>
        <div class="permissions-box p-2 ">
        <span class="badge badge-secondary mr-1 mb-2"
              *ngFor="let perm of (loggedUser.user.role.permissions.actions|profilePermissionIdToName|async)">{{perm}}
      </span>
        </div>
      </div>
    </div>
  </section>

</div>

<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2"> Change Password</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body">
      <form *ngIf="showPasswordChangeForm" class="row" #password_form="ngForm">

        <div class="col-md-12">
          <label for="">Old Password</label>
          <input type="password" [(ngModel)]="old_password" name="old_password">
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12">
          <label for="">New Password</label>
          <input type="password" [(ngModel)]="new_password" name="new_password">
        </div>
        <div class="col-md-12">
          <label for="">Confirm Password</label>
          <input type="password" [(ngModel)]="new_password_confirm" name="new_password_confirm">
        </div>
        <div class="col-md-12 p-0 m-0" style="height: 25px">
          <p class="text-danger text-secondary m-0">{{passwordErrorStr?passwordErrorStr:''}}</p>
        </div>
        <div class="col-md-12">
          <button class="btn btn-theme-primary-outline mr-1" (click)="modalRef.hide()">Cancel</button>
          <button class="btn btn-theme-primary" (click)="changePassword()">Modify</button>
        </div>

      </form>
      <div class="row" *ngIf="!showPasswordChangeForm">
        <div class="col-md-12">
          <i class="fa fa-check-circle"></i>
        </div>
        <!--<div class="col-md-12 light-text"></div>-->
        <div class="col-md-12"><strong>Password Changed Successfully</strong></div>
        <!--<div class="col-md-12">9:00 AM</div>-->
      </div>
    </div>
  </div>
</ng-template>
