<div *ngIf="(loggeduser$|async) as loggedUser" class="row my-3 pb-3 bg-white profile-row">
  <div class="profile-header col-12 p-0 pb-2 d-flex justify-content-between align-items-center">
    <h4 class=" m-0 profile-heading-text">Profile Information</h4>
    <button class="btn btn-theme-primary ml-auto mr-1" (click)="openChangePasswordModal(Primarytemplate)">Change Password</button>
    <button class="btn-theme-primary" (click)="updateProfile()">Update</button>
  </div>

  <form class="col-12" #form="ngForm">
    <div class="col-12">
      <h5 class="px-4">Basic</h5>
    </div>
    <div class="col-12">
      <label for="" class="pl-5 ml-5">First Name:</label>
      <input class="edit-input value" type="text" [ngModel]="loggedUser.user.first_name" required name="first_name">
    </div>
    <div class="col-12">
      <label for="" class="pl-5 ml-5">Last Name:</label>
      <input class="edit-input value" type="text" [ngModel]="loggedUser.user.last_name" required name="last_name">
    </div>
    <div class="col-12">
      <label for="" class="pl-5 ml-5">Email:</label>
      <span class="value non-editable">{{loggedUser.user.email}}</span>
    </div>
  </form>
  <!---->
  <section class="col-12 my-2">
    <div class="col-12">
      <h5 class="px-4">Advanced</h5>
    </div>
    <div class="col-12">
      <label for="" class="pl-5 ml-5 pr-4">Role:</label>
      <span class="value non-editable ">{{loggedUser.user.role.name}}</span>
    </div>
    <div class="col-12 d-flex " style="overflow-x: hidden">
      <label for="" class="pl-5 ml-5 pr-4 pt-1">Bot Permission:</label>
      <div class="" style="flex-grow: 1">
        <span
          class="text-info"><strong>{{loggedUser.user.role.permissions.actions.length}}</strong> bot permissions</span>
        <div class="permissions-box p-2 ">
        <span class="badge badge-secondary mr-1 mb-2"
              *ngFor="let perm of (loggedUser.user.role.permissions.actions|profilePermissionIdToName|async)">{{perm}}
      </span>
        </div>
      </div>
    </div>
    <!---->
    <!--<div class="col-12 d-flex mt-2" style="overflow-x: hidden">-->
    <!--<label for="" class="pl-5 ml-5 pr-4 pt-1">Action Permissions:</label>-->
    <!--<div class="" style="flex-grow: 1">-->
    <!--<span class="text-info"><strong>{{loggedUser.user.role.permissions.actions.length}}</strong> action permissions </span>-->
    <!--<div class="permissions-box p-2 " >-->
    <!--<span class="badge badge-secondary mr-1"-->
    <!--*ngFor="let perm of loggedUser.user.role.permissions.actions">{{perm}}-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </section>

  <!--<section class="col-12">-->
    <!--<div class="col-12">-->
      <!--<h5 class="px-4">Password</h5>-->
    <!--</div>-->
    <!--<div class="col-12 mb-1">-->
      <!--<label for="" class="pl-5 ml-5 pr-4">-->
        <!--<button class="btn btn-theme-primary" (click)="openChangePasswordModal(Primarytemplate)">Change Password-->
        <!--</button>-->
      <!--</label>-->
    <!--</div>-->
  <!--</section>-->

</div>

<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2"> Change Password</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body">
      <form *ngIf="showPasswordChangeForm" class="row" #password_form="ngForm">

        <div class="col-md-12">
          <label for="">Old Password</label>
          <input type="password" [(ngModel)]="old_password" name="old_password">
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12">
          <label for="">New Password</label>
          <input type="password" [(ngModel)]="new_password" name="new_password">
        </div>
        <div class="col-md-12">
          <label for="">Confirm Password</label>
          <input type="password" [(ngModel)]="new_password_confirm" name="new_password_confirm">
        </div>
        <div class="col-md-12 p-0 m-0" style="height: 25px">
          <p class="text-danger text-secondary m-0">{{passwordErrorStr?passwordErrorStr:''}}</p>
        </div>
        <div class="col-md-12">
          <button class="btn btn-theme-primary-outline mr-1" (click)="modalRef.hide()">Cancel</button>
          <button class="btn btn-theme-primary" (click)="changePassword()">Modify</button>
        </div>
        <!--<div class="col-md-12">-->
        <!--You have subscribed to <strong>messages</strong> report for-->
        <!--<strong>Weathery</strong> bot in a <strong>csv</strong> format,which is scheduled <strong>weekly</strong> at-->
        <!--<strong>9:00 AM </strong>via <strong>email</strong>-->
        <!--</div>-->

      </form>
      <div class="row" *ngIf="!showPasswordChangeForm">
        <div class="col-md-12">
          <i class="fa fa-check-circle"></i>
        </div>
        <!--<div class="col-md-12 light-text"></div>-->
        <div class="col-md-12"><strong>Password Changed Successfully</strong></div>
        <!--<div class="col-md-12">9:00 AM</div>-->
      </div>
    </div>
  </div>
</ng-template>
<!--<form class="row" #password_form="ngForm">-->

<!--<div class="col-md-12">-->
<!--<label for="">Old Password</label>-->
<!--<input type="text" ngModel name="old_password">-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<hr>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<label for="">New Password</label>-->
<!--<input type="text" ngModel name="new_password">-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<label for="">Confirm Password</label>-->
<!--<input type="text" ngModel name="new_password_confirm">-->
<!--</div>-->
<!--<div class="col-md-12 mt-2">-->
<!--<button class="btn btn-theme-primary-outline mr-1">Cancel</button>-->
<!--<button class="btn btn-theme-primary" (click)="changePassword()">Modify</button>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--You have subscribed to <strong>messages</strong> report for-->
<!--<strong>Weathery</strong> bot in a <strong>csv</strong> format,which is scheduled <strong>weekly</strong> at-->
<!--<strong>9:00 AM </strong>via <strong>email</strong>-->
<!--</div>-->

<!--</form>-->


<!--============ following is html template without any vaiable wiring ============-->

<!--<div class="row my-3 pb-3 bg-white profile-row">-->
<!--<div class="col-12">-->
<!--<div class="card">-->

<!--<div-->
<!--class="card-header pt-4 mb-4 pb-0 bg-white d-flex justify-content-between justify-content-center align-items-center">-->
<!--<h4>Profile Information</h4>-->
<!--<div>-->
<!--<button class="btn-theme-primary ">Update</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<section class="col-12">-->
<!--<div class="col-12">-->
<!--<h5 class="px-4">Basic</h5>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<label for="" class="pl-5 ml-5">First Name:</label>-->
<!--<span class="value">Sandeep</span>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<label for="" class="pl-5 ml-5">Last Name:</label>-->
<!--<span class="value">Gupta</span>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<label for="" class="pl-5 ml-5">Email Name:</label>-->
<!--<span class="value">Sandeepkgupta007@gmail.com</span>-->
<!--</div>-->
<!--</section>-->

<!--<section class="col-12">-->
<!--<div class="col-12">-->
<!--<h5 class="px-4">Advanced</h5>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<label for="" class="pl-5 ml-5 pr-4">Role:</label>-->
<!--<span class="value">Admin</span>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<label for="" class="pl-5 ml-5 pr-4">Permission:</label>-->
<!--<span class="text-info">38 permissions given</span>-->
<!--<div class="perm-list d-flex flex-wrap">-->
<!--<span class="badge badge-secondary"-->
<!--*ngFor="let i of [1,2,3,2,34,4,5,6,6,2,7,8,8,1,2,3,2,34,4,5,6,6,2,7,8,8,1,2,3,2,34,4,5,6,6,2,7,8,8]">overview_summary</span>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!--</div>-->

<!--<section class="row bg-white password-row p-5">-->

<!--<div class="col-12 mb-3">-->
<!--<header><h4>Current Password</h4></header>-->
<!--</div>-->
<!--<div class="col-3 mb-3">-->
<!--<div class="label">Current Password</div>-->
<!--<input class="m-0 p-0" type="password">-->
<!--</div>-->
<!--<div class="col-9 mb-3">-->
<!--<div class="label">Confirm Current Password</div>-->
<!--<input class="m-0 p-0" type="password">-->
<!--</div>-->
<!--<div class="col-3 mb-3">-->
<!--<div class="label">New Password</div>-->
<!--<input class="m-0 p-0" type="password">-->
<!--</div>-->
<!--<div class="col-9 mb-3">-->
<!--<div class="label">Confirm New Password</div>-->
<!--<input class="m-0 p-0" type="password">-->
<!--</div>-->
<!--</section>-->
