<!--chat box started-->
<div *ngIf="!isFullScreenPreview && currentBot">
  <div class="chat-grid text-center" *ngIf="(windowOpen && (loggeduser$|async).user)">
    <div class="chat-grid__header">
              <span [matTooltip]="'Go to room list'" (click)="navigate(myEChatFrame.CHAT_LIST)"
                    [hidden]="frameEnabled===myEChatFrame.CHAT_LIST">
                <i data-cy="chat-back" class="fa fa-angle-left"></i>
              </span>

      <!--TODO: when clicked open the bot-->
      <!--<a [matTooltip]="'Open '+ chatWindowTitle" [routerLink]="['/core/botdetail/chatbot/', currentBot.id]">-->
      <!--<img [src]="currentBot.logo" class="chat-logo" alt="Bot logo">-->
      <!--{{(chatWindowTitle| slice:0: 22) + (chatWindowTitle.length > 22 ? "..." : "")}}</a>-->
      <a>
        <img
          [defaultImage]="'assets/img/no image.svg'"
          [lazyLoad]="currentBot.logo"
          class="chat-logo" alt="Bot logo">
        {{(chatWindowTitle| slice:0: 22) + (chatWindowTitle.length > 22 ? "..." : "")}}</a>
      <a class="ml-auto hover-parent"
         data-cy="chat-full-screen"
         [routerLink]="'/preview-dev'"
         [queryParams]="{bot_unique_name:currentBot.bot_unique_name,enterprise_unique_name:enterprise_unique_name}"
         [matTooltip]="'Open in new Tab'"
         target="_blank">
        <button mat-icon-button
                [class.active]="showOverlay">
          <mat-icon>tab</mat-icon>
        </button>
      </a>

      <!--consumer dropdown starts-->
      <button mat-icon-button (click)="showOverlay = true"
              [class.active]="showOverlay" class="origin"
							#overlayOrigin="cdkOverlayOrigin"
              data-cy="custom-room-form-trigger"
              [matTooltip]="frameEnabled === myEChatFrame.CHAT_LIST? 'New custom chat': 'Consumer data'"
              cdkOverlayOrigin>
        <mat-icon>{{frameEnabled === myEChatFrame.CHAT_LIST ? 'person_add' : 'perm_contact_calendar'}}</mat-icon>
      </button>
      <ng-container
        [ngTemplateOutlet]="validationTemplate"
        [ngTemplateOutletContext]="{
          overlayOrigin: overlayOrigin,
          customConsumerDetails:frameEnabled === myEChatFrame.CHAT_BOX? currentRoom?.consumerDetails:{},
          createNewRoom: frameEnabled === myEChatFrame.CHAT_LIST,
          showOverlay: showOverlay,
          isEditMode:frameEnabled === myEChatFrame.CHAT_BOX
        }">
      </ng-container>

      <button mat-icon-button
              data-cy="chat-minimize"
              (click)="closeChatWindow()"
              [matTooltip]="'Minimize'"
              [class.active]="showOverlay" class="origin">
        <mat-icon>minimize</mat-icon>
      </button>

    </div>
    <div class="body p-0 border-left border-right"
         [ngClass]="{'make-body-occupy-footer':frameEnabled!==myEChatFrame.CHAT_BOX}">
      <app-bot-welcome
        [currentBot]="currentBot"
        (startnewchat$)="startNewChat($event)" [bot_id]="welcomeScreenBotId"
        *ngIf="frameEnabled === myEChatFrame.WELCOME_BOX"></app-bot-welcome>
      <app-chat-list class="mt-4"
                     [currentBot]="currentBot"
                     *ngIf="frameEnabled===myEChatFrame.CHAT_LIST"
                     (createCustomRoom$)="createCustomRoom()"
                     (createNewRoom$)="startNewChat($event)"
      ></app-chat-list>
      <app-chat-window *ngIf="frameEnabled===myEChatFrame.CHAT_BOX && this.messageData"
                       [allow_feedback]="currentBot.allow_feedback"
                       [selectedAvatar]="selectedAvatar"
                       [room]="currentRoom"
                       [bot]="currentBot"
                       [showBotIsThinking]="showBotIsThinking"
                       (sendMessageByHuman$)="sendMessageByHuman($event)"
                       (chatMessageFeedback$)="sendFeedback($event)"
                       [messageDataArray]="messageData">
      </app-chat-window>
    </div>
  </div>

</div>
<!--chat box ends-->

<!--tool tip starts-->
<ng-container *ngIf="!isFullScreenPreview">
  <div class="preview-tooltip" data-cy="preview-tooltip" (click)="toggleChatWindow()"
       *ngIf="(!windowOpen && currentBot)">
    <img
      [defaultImage]="'assets/img/no image.svg'"
      [lazyLoad]="currentBot.logo" alt="">
  </div>
</ng-container>
<!--tool tip ends-->

<!--===============FULL SCREEN BELOW===================-->
<!--anon-view-->
<div *ngIf="isFullScreenPreview" class="grid-chat-preview-full-screen" [ngClass]="{'anon-view': !is_logged_in}">
  <div class="header1 px-3 d-flex align-items-center">
    <img class="logo-md mr-2 rounded-circle"
         data-cy="chat-logo-enterprise"
         [defaultImage]="'assets/img/no image.svg'"
         [lazyLoad]="enterprise_logo"
         style="border-radius: 50%;">
    <div class="d-flex flex-column text-white">
      <div>{{user_first_name}}</div>
      <div class="font-11">{{user_email}}</div>
    </div>

    <button mat-icon-button (click)="showOverlay = true"
            style="margin-left: auto"
            [class.active]="showOverlay"
            class="origin"
						#overlayOriginFullScreen1="cdkOverlayOrigin"
            data-cy="custom-room-form-trigger"
            [matTooltip]="'New custom chat'"
            cdkOverlayOrigin>
      <mat-icon>person_add</mat-icon>
    </button>
    <ng-container
      [ngTemplateOutlet]="validationTemplate"
      [ngTemplateOutletContext]="{
          overlayOrigin: overlayOriginFullScreen1,
          customConsumerDetails:{},
          createNewRoom: true,
          showOverlay: showOverlay,
          isEditMode: false
        }">
    </ng-container>

  </div>
  <div class="header2 px-3 d-flex align-items-center">
    <img *ngIf="currentBot" class="logo-md mr-2 rounded-circle"
         data-cy="chat-logo-bot"
         [defaultImage]="'assets/img/no image.svg'"
         [lazyLoad]="currentBot.logo||'https://image.flaticon.com/icons/svg/17/17004.svg'">
    <div *ngIf="currentBot" class="d-flex flex-column text-white">
      <div class="">{{currentBot.name}}</div>
      <div class="description hide-mobile">{{currentBot.description}}</div>
    </div>
    <div class="ml-auto"></div>
    <ng-container *ngIf="!is_logged_in">
      <button (click)="startNewChatForAnonUser()"
              class="mat-theme-button mat-theme-button-border" mat-button>
        <mat-icon>refresh</mat-icon>
        <span class="hide-mobile">Restart</span>
      </button>
      <button (click)="showChatImage = !showChatImage"
              class="mat-theme-button mat-theme-button-border" mat-button>
        <mat-icon>error</mat-icon>
        <span class="hide-mobile">Know more</span>
      </button>
      <div
        *ngIf="showChatImage"
        (click)="showChatImage = false"
        class="chat-img-overlay">
        <i class="fa fa-times close-chat-img-overlay"></i>
        <div class="chat-know-more-overlay" (click)="$event.stopPropagation()">

          <header class="chat-know-more-overlay-header">
            <div class="description-top" style="text-align: center">This bot was built using</div>
            <div><img src="assets/img/IMI_logo.png" alt=""></div>
            <strong class="description-bottom">The enterprise bot building platform to automate conversations</strong>
          </header>

          <div class="chat-know-more-overlay-item" *ngFor="let item of knowMorePanelItems">
            <img [src]="item.imgUrl" alt="">
            <div>
              {{item.title}}
            </div>
          </div>

          <a href="https://imimobile.com/products/ai-automation" target="_blank"><button mat-flat-button color="primary"> Know more</button></a>

        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="is_logged_in">
      <div *ngIf="currentRoom && currentRoom.lastTemplateKey"
           class="d-flex mr-3 flex-column align-items-end text-white">
        <div>Last template:</div>
        <div class="font-11" data-cy="chat-room-lasttemplaykey">{{currentRoom.lastTemplateKey}}</div>
      </div>

      <button mat-icon-button (click)="showOverlay_edit_fullscreen = true"
              [class.active]="showOverlay" class="origin"
							#overlayOrigin="cdkOverlayOrigin"
              data-cy="custom-room-form-trigger"
              [matTooltip]="'Consumer data'"
              cdkOverlayOrigin>
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>

      <ng-container
        [ngTemplateOutlet]="validationTemplate"
        [ngTemplateOutletContext]="{
          overlayOrigin: overlayOrigin,
          customConsumerDetails:currentRoom.consumerDetails,
          createNewRoom: false,
          showOverlay: showOverlay_edit_fullscreen,
          isEditMode: true
        }">
      </ng-container>
    </ng-container>

  </div>

  <div class="chat-rooms" style="overflow: hidden">
    <app-chat-list class="mt-4"
                   [currentBot]="currentBot"
                   (createCustomRoom$)="createCustomRoom()"
                   (createNewRoom$)="startNewChat($event)"
    ></app-chat-list>
  </div>
  <div class="chat">
    <app-chat-window *ngIf="frameEnabled===myEChatFrame.CHAT_BOX && this.messageData"
                     [allow_feedback]="currentBot.allow_feedback"
                     [selectedAvatar]="selectedAvatar"
                     [room]="currentRoom"
                     [bot]="currentBot"
                     [showBotIsThinking]="showBotIsThinking"
                     (sendMessageByHuman$)="sendMessageByHuman($event)"
                     (chatMessageFeedback$)="sendFeedback($event)"
                     [messageDataArray]="messageData">
    </app-chat-window>
  </div>
</div>


<ng-template #validationTemplate
             let-overlayOrigin="overlayOrigin"
             let-customConsumerDetails="customConsumerDetails"
             let-showOverlay="showOverlay"
             let-isEditMode="isEditMode"
             let-createNewRoom="createNewRoom">
  <app-overlay
    [overlayOrigin]="overlayOrigin"
    [showOverlay]="showOverlay"
    (backdropClick$)="hideOverlay()"
    [overlayClass]="'bg-transparent'">
    <div class="dialog-container">
      <app-chat-consumer-form
        *ngIf="showOverlay"
        [customConsumerDetails]="customConsumerDetails"
        [title]="isEditMode?'Edit consumer': 'Create room with consumer'"
        [buttonText]="isEditMode?'Save': 'Create'"
        (hideOverlay$)="hideOverlay()"
        [readonly]="!createNewRoom"
        (saveConsumerDetails$)="consumerFormSubmitHandler($event, createNewRoom)"></app-chat-consumer-form>
    </div>
  </app-overlay>
</ng-template>