<!--<h1>hello</h1>-->
<!--<h1>{{windowOpen}}</h1>-->
<!--<h1>{{!!((loggeduser$|async).user)}}</h1>-->
<!--<h1>{{frameEnabled}}</h1>-->
<!--<h1>hello</h1>-->
<div *ngIf="!isFullScreenPreview">
  <div class="chat-grid text-center" *ngIf="(windowOpen && (loggeduser$|async).user)">
    <div class="header d-flex align-items-center px-3 position-relative">
      <i class="fa fa-arrow-left cursor-pointer" (click)="navigate(myEChatFrame.CHAT_LIST)"
         [hidden]="frameEnabled===myEChatFrame.CHAT_LIST"></i>
      <span class="center-absolute">{{chatWindowTitle}}</span>
      <a class="ml-auto" routerLink="/core/preview" target="_blank"><i class="fa fa-external-link"></i></a>

      <div class="btn-group p-2" #dropdown="bs-dropdown" [autoClose]="false" dropdown (clickOutside)="dropdown.hide()">
        <div dropdownToggle class="user cursor-pointer" ><i class="fa fa-user"></i></div>

        <form *dropdownMenu class="dropdown-menu dropdown-menu-left p-3" role="menu" #form="ngForm" (ngSubmit)="saveConsumerDetails(form.value)"
              style="width: 240px">
          <p class="heading mb-2">Edit Customer</p>
          <div class="form-group">
            <label>UserName</label>
            <input type="text" required email class="form-control" [ngModel]="customConsumerDetails?.username" name="username" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" required email class="form-control" [ngModel]="customConsumerDetails?.phone" name="phone" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" required email class="form-control" [ngModel]="customConsumerDetails?.email" name="email" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label>Facebook ID</label>
            <input type="text" required email class="form-control" [ngModel]="customConsumerDetails?.facebook_id" name="facebook_id" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label>UID</label>
            <input type="text" required email class="form-control" [ngModel]="customConsumerDetails?.uid"  name="uid" aria-describedby="emailHelp" >
          </div>
          <button type="submit" class="btn-block btn-theme-primary my-3" (click)="dropdown.hide()" >Save Changes</button>
        </form>
      </div>

      <i class="fa fa-minus cursor-pointer" (click)="closeChatWindow()"></i>
    </div>
    <div class="body p-0 border-left border-right" [ngClass]="{'make-body-occupy-footer':frameEnabled!==myEChatFrame.CHAT_BOX}">
      <app-bot-welcome (startnewchat$)="startNewChat($event)" [bot_id]="welcomeScreenBotId" *ngIf="frameEnabled === myEChatFrame.WELCOME_BOX"></app-bot-welcome>
      <app-chat-list class="mt-4" *ngIf="frameEnabled===myEChatFrame.CHAT_LIST" (createCustomRoom$)="createCustomRoom()"></app-chat-list>
      <app-chat-window *ngIf="frameEnabled===myEChatFrame.CHAT_BOX && this.messageData"
                       [selectedAvatar]="selectedAvatar"
                       [room]="currentRoom"
                       (sendMessageByHuman$)="sendMessageByHuman($event)"
                       [messageDataArray]="messageData"></app-chat-window>
    </div>

    <!--&lt;!&ndash;text input starts&ndash;&gt;-->
    <!--<div class="footer px-3 d-flex align-items-center justify-content-between text-muted"-->
         <!--*ngIf="frameEnabled===myEChatFrame.CHAT_BOX">-->
      <!--<input class="px-2" placeholder="say something..." type="text" [(ngModel)]="messageByHuman" (keyup.enter)="sendMessageByHuman(messageByHuman)">-->
      <!--<span class="icon"><i class="fa fa-send cursor-pointer" (click)="sendMessageByHuman(messageByHuman)"></i></span>-->
    <!--</div>-->
    <!--&lt;!&ndash;text input ends&ndash;&gt;-->
  </div>

</div>

<div class="d-flex justify-content-end cursor-pointer" (click)="toggleChatWindow()"
     *ngIf="!windowOpen && !isFullScreenPreview && (loggeduser$|async).user && current_uid">
  <div class="speech-bubble float-on-hover-animation">
    <div class="stick-wrapper">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
    </div>
  </div>
</div>

<!--===============FULL SCREEN BELOW===================-->
<div *ngIf="isFullScreenPreview" class="grid-chat-preview-full-screen">
  <div class="header1 bg-theme-primary px-3 d-flex align-items-center">
    <img class="logo-md mr-2 border-radius" src="{{logoSrc}}" alt="" style="border-radius: 50%;">
    <div class="d-flex flex-column text-white">
      <div>{{loggeduser.user.first_name}}</div>
      <div class="font-11">{{loggeduser.user.email}}</div>
    </div>
  </div>
  <div class="header2 px-3 bg-theme-primary d-flex align-items-center">
    <!--<img class="logo-md" src="https://image.flaticon.com/icons/svg/17/17004.svg" alt="">-->
    <img class="logo-md mr-2" [src]="selectedAvatar.imageUrl||'https://image.flaticon.com/icons/svg/17/17004.svg'">
    <div class="d-flex flex-column text-white">
      <div>{{currentBot.name}}</div>
      <div class="font-11">{{currentBot.description}}</div>
    </div>
    <!---->
    <!--<div class="room-details ml-auto">-->
      <div [style.visibility]="currentRoom.id?'visible':'hidden'" class="d-flex flex-column align-items-end ml-auto mr-4 text-white">
        <div>Room ID:</div>
        <div class="font-11">{{currentRoom.id}}</div>
      </div>
      <div *ngIf="currentRoom.lastTemplateKey" class="d-flex mr-3 flex-column align-items-end text-white">
        <div>Last template triggered:</div>
        <div class="font-11">{{currentRoom.lastTemplateKey}}</div>
      </div>
    <div *ngIf="currentRoom.uid" class="d-flex  flex-column align-items-end text-white">
        <div>Room uid:</div>
        <div class="font-11">{{currentRoom.uid}}</div>
      </div>
  </div>
  <div class="chat-rooms">
    <app-chat-list class="mt-4" (createCustomRoom$)="createCustomRoom()"></app-chat-list>
  </div>
  <div class="chat">
    <app-chat-window *ngIf="frameEnabled===myEChatFrame.CHAT_BOX && this.messageData"
                     [selectedAvatar]="selectedAvatar"
                     [room]="currentRoom"
                     (sendMessageByHuman$)="sendMessageByHuman($event)"
                     [messageDataArray]="messageData">
    </app-chat-window>
  </div>
  <!--<div class="inputBox">-->

    <!--&lt;!&ndash;text input starts&ndash;&gt;-->
    <!--<div class="footer px-2 d-flex align-items-center text-muted"-->
         <!--[hidden]="frameEnabled!==myEChatFrame.CHAT_BOX">-->
      <!--<input class="mr-2" placeholder="say something..." type="text" [(ngModel)]="messageByHuman" (keyup.enter)="sendMessageByHuman(messageByHuman)">-->
      <!--<span class="icon"><i class="fa fa-send cursor-pointer" (click)="sendMessageByHuman(messageByHuman)"></i></span>-->
    <!--</div>-->
    <!--&lt;!&ndash;text input ends&ndash;&gt;-->
  <!--</div>-->
</div>


<!---->
