@import "~src/sass/main.scss";

/*NEW CSS BELOW*/

.chat-grid {

  height: 475px;
  width: 376px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 'h' 'b';

  .chat-grid__header{
    grid-area: h;
    display:flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
    background-color: #407ab1; //$color-primary-v2;
    flex-shrink: 0;
    color: white;

    .fa-angle-left{
      font-size: 20px; margin-right: 10px;
      cursor: pointer;
    }

    a{
      text-decoration: none;
      color: white;
    }
    .user {
      height: 32px;
      //width: 32px;
      border-radius: 50%;
      background-color: $color-primary-v2;
      //margin-right: 5px;
      // background-color: #0291b2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fa-times {
      font-size: 20px;
    }

    .fa {
      color: white;
    }

    mat-icon:hover {
      transform: scale(1.2);
    }
  }

  .body {
    grid-area: b;
    background-color: white;
    overflow-y: hidden;
  }

}

.dropdown-menu-left {
  /*TODO: Find a better way to do this*/
  left: -200px !important;
}

form {
  border-radius: 2px;

  label {
    @include typography(11px, $line-height-normal, $font-weight-300, $color-secondary);
    margin: 0;
  }

  .form-control {
    @include hide-borders();
    border-bottom: $border-normal;
    border-radius: 0;
    @include typography(11px, $line-height-normal, $font-weight-300, $color-secondary);
  }

}

/*FULL SCRENN BELOW*/
.grid-chat-preview-full-screen {
  //padding: 10px;
  height: 100vh;
  overflow-y: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'h1 h2' 'room chat';

  .chat-rooms {
    grid-area: room;
    max-width: 33vw !important
  }

  .header1 {
    grid-area: h1;
  }

  .header2 {
    grid-area: h2;
  }

  .chat {
    grid-area: chat;
    overflow-y: hidden;
  }
}


.make-body-occupy-footer {
  padding-bottom: 20px;
  overflow-y: hidden;
  grid-row: 2/-1 !important;
  //border-bottom: 9px solid $color-primary-v2;
}

.font-11 {
  font-size: 11px;
  line-height: 5px;
  margin-top: 4px;
}

.hover-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  cursor: pointer;
}

.selected {
  background-color: darken($color-primary-v2, 3%);
}


.dialog-container {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);;
}

mat-icon {
  color: white;
  font-size: 125%;
}


.chat-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $color-primary-v2;
  margin-right: 5px
}

.preview-tooltip {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  height: 45px;
  width: 60px;
  @extend %float-on-hover-animation;
  img{
    @extend .chat-logo;
  }
}