@import "~src/sass/main.scss";
.card{
  //height: 500px;
  //width: 320px;
}
.card-header{
  background-color: $color-primary;
  flex-shrink:0;
  color: white;
}

.card-body{
  overflow-y: hidden;
}

.card-footer{
  height: 45px;
  border-top: 1px solid $color-primary;
  position: relative;
  input{
    height: 80%;
    width: 100%;
    @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-secondary);
    @include hide-borders();
  }
  .icon{
    color: $color-primary;
  }
}


/*NEW CSS BELOW*/

.chat-grid{

  height: 475px;
  width: 376px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 56px;
  grid-template-areas:
  'h'
  'b'
  'f';

  .header{
    grid-area: h;
    background-color: $color-primary;
    flex-shrink:0;
    color: white;
    .user{
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: #0291b2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fa-times{
      font-size: 20px;
    }
    .fa{
      color: white;
    }
  }
  .body{
    grid-area: b;
    background-color: white;
    overflow-y: hidden;
  }
  .footer{
    grid-area: f;
    height: 45px;
    border-top: 1px solid $color-primary;
    position: relative;
    input{
      height: 80%;
      width: 100%;
      @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-secondary);
      @include hide-borders();
    }
    .icon{
      color: $color-primary;
    }
  }


}
.dropdown-menu-left{
  /*TODO: Find a better way to do this*/
  left:-200px !important;
}

form{
  border-radius: 2px;
  label{
    @include typography(11px, $line-height-normal, $font-weight-300, $color-secondary);
    margin: 0;
  }
  .form-control{
    @include hide-borders();
    border-bottom: $border-normal;
    border-radius: 0;
    @include typography(11px, $line-height-normal, $font-weight-300, $color-secondary);
  }

}

/*FULL SCRENN BELOW*/
.grid-chat-preview-full-screen{
  //padding: 10px;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    'h1 h2'
    'room chat'
    'room  inputbox';

  .chat-rooms{
    grid-area: room;
  }
  .header1{
    grid-area: h1;
  }
  .header2{
    grid-area: h2;
  }
  .chat{
    grid-area: chat;
    max-height: 90vh;
    overflow-y: hidden;
  }
  .footer{
    grid-area: inputbox;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.3 );;
    input{
      height: 70%;
      width: 95%;
      @include typography(15px, $line-height-normal, $font-weight-400, $color-secondary);
      @include hide-borders();
      border-radius: 4px;
      padding: 0 10px;
    }
    .icon{
      font-size: 25px;
      color: $color-primary;
    }
  }

}


