<div class="modal-header px-20">
  <h4 class="modal-title mb-1" style="display: flex;justify-content: start;">{{dataCopy.title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  
    <div class="px-20">
      <p class="mb-3">{{dataCopy.message||'This action cannot be undone. Are you sure you wish to delete?'}}</p>
    </div>
    <form class = "input-form px-20" #inputForm="ngForm" [hidden]="!dataCopy.inputDescription">
      <mat-form-field class="example-full-width">
        <input matInput [placeholder]="dataCopy.inputDescription" ngModel name="inputData" required>
      </mat-form-field>
    </form>
    <hr class = "line py-1">
    <div class="d-flex px-20">
      <button class="btn-theme btn-theme-secondary-outline ml-auto mr-2" (click)="dialogRef.close()">Cancel</button>
      <button class=" btn-theme " 
      *ngIf="!dataCopy.inputDescription"
      [ngClass]="{ 'btn-theme-danger': dataCopy.isActionButtonDanger ,  'btn-theme-primary': !dataCopy.isActionButtonDanger}" 
      (click)="dialogRef.close(true);"
       >{{dataCopy.actionButtonText||'Continue'}}</button>
       
       <button class=" btn-theme " 
       *ngIf="dataCopy.inputDescription"
      [disabled]="inputForm && !inputForm.valid"
      [ngClass]="{ 'btn-theme-danger': dataCopy.isActionButtonDanger ,  'btn-theme-primary': !dataCopy.isActionButtonDanger}" 
      (click)="dialogRef.close(inputForm.value.inputData);"
       >{{dataCopy.actionButtonText||'Continue'}}</button>
    </div>
</div>


