@import "~src/sass/main";
// @import "~src/sass/components/_buttons.scss";
:host{
  display: block;
  padding: 20px;
}

.danger-modal{
  @include classic-modal(#b14250);
  padding: 20px
}


input {
  margin: 4px;
  height: 25px;
  border-radius: 2px;
  width: 95%;
  border: solid 1px #e0e0e0;
  padding-left: 8px;
}
