@import "~src/sass/main";
// @import "~src/sass/components/_buttons.scss";
:host{
  display: block;
  padding: 0 !important;
  border-radius: 4px;
  min-width: 450px;
  max-width: 700px
}

// .danger-modal{
//   @include classic-modal(#b14250);
//   padding: 20px
// }


// input {
//   margin: 4px;
//   height: 25px;
//   border-radius: 2px;
//   width: 95%;
//   border: solid 1px #e0e0e0;
//   padding-left: 8px;
// }

.modal-header .close{
  padding: 0;
  margin: 0;
}

.modal-header{
  padding-bottom: 4px;
}
.modal-body{
  padding-top: 4px;
}
// .px-20{
//   padding-left: 30px;
//   padding-right: 20px;
// }
.px-15{
  padding-left: 15px;
  padding-right: 15px;
}