<!--TODO: this button is automatically stealing focus-->
<div class="modal-header">
  <h4 class="modal-title" style="display: flex;justify-content: start;">{{dataCopy.title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="pb-2" *ngIf="dataCopy.message">
    <p class="mb-1" [innerHTML]="dataCopy.message"></p>
  </div>
  <form class="input-form pb-2" id="modalInputForm" *ngIf="dataCopy.inputDescription">
    <mat-form-field class="example-full-width">
      <input autofocus matInput required [placeholder]="dataCopy.inputDescription" [(ngModel)]="inputData"
             name="inputData">
    </mat-form-field>
  </form>

  <form [formGroup]="formGroup" class="input-form pb-2" id="modalInputForm" *ngIf="formGroup">
    <mat-form-field class="example-full-width">
      <input autofocus matInput required [placeholder]="dataCopy.inputDescription" formControlName="inputData">
    </mat-form-field>
  </form>

  <div class="d-flex pt-2">
    <i class="custom-error"
       *ngIf="showError">{{formGroup?.get('inputData')?.errors && formGroup?.get('inputData')?.errors['error']}}</i>
    <button class="btn-theme btn-theme-secondary-outline ml-auto mr-2 px-15"
            (click)="closeDialog(false)">{{dataCopy.closeButtonText || 'Cancel'}}</button>

    <button class=" btn-theme px-15"
            data-cy="modal-confirm-submit"
            type="submit"
            form="modalInputForm"
            [ngClass]="{ 'btn-theme-danger': dataCopy.isActionButtonDanger ,  'btn-theme-primary': !dataCopy.isActionButtonDanger}"
            (click)="attemptToClose()"
    >{{dataCopy.actionButtonText || 'Continue'}}
    </button>
  </div>
</div>


