<div class="code-gentemplate">
  <div class="p-1 pl-2 tem-heading">
    <i class="fa fa-code heading-icon" ></i> Code Input
  </div>
  <app-code-editor style="height:80%;" [text]="{text: intentCode|json}"></app-code-editor>
  <div class="p-1 icon-footer">
    <span>
      <img class="logo-image mx-1" src="https://s3-eu-west-1.amazonaws.com/imibot-dev/integrations/facebook.png">
      <img class="logo-image mx-1" src="https://s3-eu-west-1.amazonaws.com/imibot-dev/integrations/skype.png">
    </span>
  </div>
</div>