<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.topgenerationtemplates}"
       (click)="tabClicked(myEAnalysis2TypesEnum.topgenerationtemplates)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.topgenerationtemplates}"><strong>SESSION ANALYSIS
    </strong></a>
  </li>
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.topgenerationtemplates"
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
