@import "~src/sass/main.scss";

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; margin:5px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
  background-color: $color-primary;
  border: none;
  //outline: none;
}
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.card-img-top{
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
.limit-three-lines{
  //border:1px solid red;
  box-sizing:content-box;
  overflow: hidden;
  height: 60px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
