<div class="container">
  <!--SOURCE: https://bootsnipp.com/snippets/zDQkr-->
  <div class="row">
    <div #MultiCarousel class="MultiCarousel" data-items="2,2,2,2" data-slide="1" id="MultiCarousel" data-interval="1000">
      <!--TODO: ngclass below is a hack; improve it-->
      <div #MultiCarouselInner class="MultiCarousel-inner" [ngClass]="{'float-right':isParentSessionsModal && (totalItemsInCarasol<carasolItemShownInOneScreen)}">
        <!--carasol item starts-->
        <div #caraosalItem class="item p-1" style="border-radius: 2px" *ngFor="let mediaItem of _messageData.media">
          <div class="card m-0 shadow-theme ">
            <div [ngStyle]="{'background-image': 'url('+ mediaItem.url+')'}"
                 class="card-img-top"
                 style="height: 150px;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-2 limit-three-lines cursor-pointer" [innerHTML]='mediaItem.title|| "No_Title"'>
              </li>
<!--              <li (click)="sendMessageToBotServer(mediaItem)"-->
<!--                  [innerHTML]='mediaItem.buttons && mediaItem.buttons[0].title || "No_Title"'-->
<!--                  class="list-group-item p-2 cursor-pointer">-->
<!--              </li>-->

              <li
                *ngFor="let button of mediaItem.buttons"
                (click)="sendMessageToBotServer(button.payload)"
                  [innerHTML]='mediaItem.buttons && button.title || "No_Title"'
                  class="list-group-item p-2 cursor-pointer">
              </li>
            </ul>
          </div>
        </div>
        <!--carasol item starts-->

      </div>
      <button *ngIf="totalItemsInCarasol>carasolItemShownInOneScreen" class="btn-info leftLst"
              #leftLst>
        <span class="fa p-1 fa-angle-left"></span></button>
      <button *ngIf="totalItemsInCarasol>carasolItemShownInOneScreen"
              class="btn-info rightLst"
              #rightLst><span
        class="fa p-1 fa-angle-right"></span></button>
    </div>
  </div>
</div>

