<div class="container">
  <!--SOURCE: https://bootsnipp.com/snippets/zDQkr-->
  <div class="row">
    <!--<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">-->
    <div class="MultiCarousel" data-items="2,2,2,2" data-slide="1" id="MultiCarousel" data-interval="1000">
      <div class="MultiCarousel-inner">
        <!--carasol item starts-->
        <div class="item p-1" style="border-radius: 2px" *ngFor="let mediaItem of _messageData.media">
          <div class="card m-0 shadow-theme ">
            <!--<div class="card-header bg-white p-1" style="color: #474747">Featured</div>-->
            <div [ngStyle]="{'background-image': 'url('+ mediaItem.url+')'}"
                 class="card-img-top"
                 style="height: 150px;">
              <!--<img class="img-fluid"-->
              <!--[src]="mediaItem.url"-->
              <!--alt="Card image cap">-->
            </div>
            <!--<div class="card-body"></div>-->
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-2 limit-three-lines">{{mediaItem.title|| "No_Title"}}</li>
              <li (click)="sendMessageToBotServer(mediaItem)" class="list-group-item p-2 cursor-pointer">
                {{mediaItem.buttons && mediaItem.buttons[0].title || "No_Title"}}
              </li>
            </ul>
          </div>
        </div>
        <!--carasol item starts-->

      </div>
      <button *ngIf="totalItemsInCarasol>carasolItemShownInOneScreen" class="btn btn-info leftLst" #leftLst><i
        class="fa p-1 fa-angle-left"></i></button>
      <button *ngIf="totalItemsInCarasol>carasolItemShownInOneScreen" class="btn btn-info rightLst" #rightLst><i
        class="fa p-1 fa-angle-right"></i></button>
    </div>
  </div>
</div>

