button {
  padding: 0 16px !important;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  margin-right: 8px;
}

.loading-overlay {
  opacity: .6;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: unset;
  width: unset;
}

.finally{
  opacity: .8;
}

::ng-deep{
  .red-tooltip{
    background-color: red;
  }
}