@import '~src/sass/main';

.no-channel-integrations:first-child {
  border-left: $border-normal;
  padding-left: 4px;
}

.logo-image {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: -7px;
  margin-left: 0;

  &:hover {
    z-index: 100 !important;
    transition: .6s;
  }
}