@import "./../../../../../../sass/main";



::ng-deep{
  .mat-tab-body-wrapper{
    flex-grow: 1;
  }
}

.bot-creation-form {
  .form-group {
    //margin-bottom: 0px;
  }
  label {
    @include typography(11px, 1.45, $font-weight-normal, $color-secondary);
    padding-bottom: 0;
    margin-bottom: 4px;
  }
  //input {
  //  padding: 0;
  //  padding-bottom: 8px;
  //  margin-top: 0;
  //  margin-left: 1px;
  //  @include hide-borders();
  //  border-bottom: solid 1px #e0e0e0;
  //  border-radius: 0;
  //  @include typography($font-size-normal, $line-height-normal, $font-weight-normal, $color-text-normal);
  //
  //}
}

//::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//  opacity: 1; /* Firefox */
//  @include typography($font-size-xs, $line-height-md, $font-weight-normal, $color-secondary);
//  padding: 0;
//}

ui-switch {
  padding-right: 100px;
}

.permissions-box {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  // height: 45px;
  overflow-y: scroll;
  width: 100%;
  border-radius: 2px;
  align-content: start;
}


//.switch-wrapper{
//  margin-bottom: 1.25rem;
//}



:host /deep/ mat-form-field, .form-control{
  //height: 55px;/*Dont change this: this is done to keep height of all 4 components same, when tab is switched*/
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

:host /deep/ {
  .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 0px;
    padding: 1px 7px;
    font-size: 11px;
  }
}

app-bot-config-input{
  margin-bottom: 8px !important;
  display: block;
}
