@import "./../../../../../../sass/main";

.bot-creation-form-grid{
  display: grid;
  padding-left: 15px;
  grid-template-columns: 1fr 1fr;
  .logo-input{
    grid-row: 1/4;
    grid-column: 2;
    display: flex;
    align-items: start;
    .logo-input-wrapper{
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  .column-2{
    grid-column: 1/3;
  }

  &>*{
    width: 80% !important;
  }
  .spacer{
    grid-column: 1/3;
    padding-top: 45px;
  }
  @media screen and (max-width: 780px) {
    justify-content: center;
    grid-template-columns:1fr;
    .spacer{
      display: none;
    }
    .logo-input{
      grid-row: 2/3;
      grid-column: 1;
      display: flex;
      margin-bottom: 10px;
    }
    &>*{
      width: 90% !important;
    }
  }

}


::ng-deep{
  .mat-tab-body-wrapper{
    flex-grow: 1;
  }
}

.bot-creation-form {
  label {
    @include typography(11px, 1.45, $font-weight-normal, $color-secondary);
    padding-bottom: 0;
    margin-bottom: 4px;
  }
}


ui-switch {
  padding-right: 100px;
}

.permissions-box {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  // height: 45px;
  overflow-y: scroll;
  width: 100%;
  border-radius: 2px;
  align-content: start;
}


//.switch-wrapper{
//  margin-bottom: 1.25rem;
//}



:host /deep/ mat-form-field, .form-control{
  //height: 55px;/*Dont change this: this is done to keep height of all 4 components same, when tab is switched*/
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

:host /deep/ {
  .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 0px;
    padding: 1px 7px;
    font-size: 11px;
  }
}

app-bot-config-input{
  margin-bottom: 8px !important;
  display: block;
}
