<form  #form="ngForm" class="bot-creation-form ">
  <div class="row">
    <div class="col-5 ">
      <div class="form-group">
        <label for="alterEgo">Bot Name</label>
        <input ngModel="{{bot.name}}" name="name" type="text" class="form-control" placeholder="A display name for the bot" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">Description</label>
        <input ngModel="{{bot.description}}" name="description" type="text" class="form-control" placeholder="A description for the Bot" id="alterEgo">
      </div>

      <div class="form-group">
        <label for="alterEgo">Bot Logo Url</label>
        <input ngModel="{{bot.logo}}" name="logo" type="text" class="form-control" placeholder="URL for the Bot Logo/Brand Image" id="alterEgo">
      </div>

    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="name">Unique Name</label>
        <input [(ngModel)]="bot.bot_unique_name"  name="bot_unique_name" type="text" class="form-control" placeholder="Bot Unique Name (non-editable after Bot creation)" id="name" required>
      </div>


      <div class="form-group">
        <label for="alterEgo">Session Close Time [mins]</label>
        <input ngModel="{{bot.room_persistence_time}}" name="room_persistence_time" type="text" class="form-control" placeholder="Time until Session Closes (in minutes)" id="alterEgo">
      </div>
      <div class="form-group">
        <label for="alterEgo">Is Manager Bot</label>
        <input ngModel="{{bot.room_persistence_time}}" name="room_persistence_time" type="text" class="form-control" placeholder="Time until Session Closes (in minutes)" id="alterEgo">
      </div>
    </div>
  </div>


</form>


