<!--<i>{{form.value|json}}</i>-->
<form [formGroup]="form" class="d-flex flex-row align-items-center categorie-modal-input-item">
  <mat-form-field style="width:160px">
    <input matInput formControlName="name" [readonly]='!editMode' *ngIf = "typeIsEdit">
<!--    <mat-hint align ="end" class = "ml-auto" *ngIf = "typeIsEdit && editMode" style="font-size: 9px;">{{categorieClone.name.length}} / 40</mat-hint>-->
    <input matInput formControlName="name" *ngIf = "!typeIsEdit">
<!--    <mat-hint align ="end" class = "ml-auto" *ngIf = "!typeIsEdit" style="font-size: 9px;">{{newCategorieName.length}} / 40</mat-hint>-->
    <mat-error class="mat-error-small" *ngIf="form.get('name').errors?.error as errorObj">{{errorObj.message}}</mat-error>
  </mat-form-field>
  <div class="input-icon parentHover cursor-pointer"
  *ngIf = "typeIsEdit && !editMode && !(categorieClone.category_id === 'unassigned' || categorieClone.category_id === 'default_articles' )" (click) = "editMode = true">
    <mat-icon class="color-primary" >edit</mat-icon> Edit
  </div>
  <div class="input-icon parentHover cursor-pointer"
  *ngIf = "typeIsEdit && !editMode && !(categorieClone.category_id === 'unassigned' || categorieClone.category_id === 'default_articles' )" (click) = "categoryDeleteClicked()">
    <mat-icon class="color-danger">delete</mat-icon> Delete
  </div>
  <div class="input-icon cursor-pointer" *ngIf = "editMode" [ngClass] = "{'opp':  (typeIsEdit && isNameSame()) || !form.valid}"
       (click) = "categoryUpdateClicked()">
    <mat-icon class="color-primary">done</mat-icon> Save
  </div>
  <div class="input-icon cursor-pointer" *ngIf = "editMode" (click) = "cancelClicked(true)">
    <mat-icon>close</mat-icon> Cancel
  </div>
</form>

<!--<div class="mat-error-small"-->
<!--     style="margin-top: -15px;"-->
<!--     *ngIf="typeIsEdit && (categorieClone?.name|validationPipe:{start_with_alphanumeric: true, required: true})?.error as errorObj">-->
<!--  {{errorObj.message}}-->
<!--</div>-->

<!--<div class="mat-error-small"-->
<!--     style="margin-top: -15px;"-->
<!--     *ngIf="!typeIsEdit && (newCategorieName|validationPipe:{start_with_alphanumeric: true, required: true})?.error as errorObj">-->
<!--  {{errorObj.message}}-->
<!--</div>-->
