<div class="d-flex flex-row align-items-center categorie-modal-input-item">
  <mat-form-field>
    <input matInput [(ngModel)]="categorieClone.name" [readonly]='!editMode'>
  </mat-form-field>
  <div class="input-icon parentHover" *ngIf = "!editMode" (click) = "editMode = true">
    <mat-icon class="color-primary" >edit</mat-icon> Edit
  </div>
  <div class="input-icon parentHover" *ngIf = "!editMode" >
    <mat-icon class="color-danger">delete</mat-icon> Delete
  </div>
  <div class="input-icon" *ngIf = "editMode" [ngClass] = "{'opp':isNameChanged()}" (click) = "categoryUpdateClicked()">
    <mat-icon class="color-primary">done</mat-icon> Save
  </div>
  <div class="input-icon" *ngIf = "editMode" (click) = "editMode = false">
    <mat-icon>close</mat-icon> Cancel
  </div>
</div>
