<!--TODO: this button is automatically stealing focus-->
<div class="modal-header" style="padding-top: 3px !important;
    padding-bottom: 0;
    border: none;">
  <div>
    <h4 class="modal-title"
        style="display: flex;justify-content: start; font-size: 13px!important;">{{dataCopy.title}}</h4>
    <p style="font-size: 11px">{{dataCopy.description}}</p>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="pb-2" *ngIf="dataCopy.message">
    <p class="mb-1" [innerHTML]="dataCopy.message"></p>
  </div>

  <ng-container [ngTemplateOutlet]="templateRef"></ng-container>

  <div class="d-flex pt-2">
    <button class="btn-theme btn-theme-secondary-outline ml-auto mr-2 px-15"
            (click)="closeDialog(false)">{{dataCopy.closeButtonText || 'Cancel'}}</button>

    <button class=" btn-theme px-15"
            style="position: relative"
            data-cy="modal-confirm-submit"
            type="submit"
            *loadify="{partialPath:'api/v1'}; let statusChanged$=statusChanged$"
            [ngClass]="{
              'btn-theme-danger': dataCopy.isActionButtonDanger ,
              'btn-theme-primary': !dataCopy.isActionButtonDanger,
              'spinner': (statusChanged$|async).loading
              }"
            (click)="attemptToClose()"
    >
      {{dataCopy.actionButtonText || 'Continue'}}
    </button>
  </div>
</div>


