//.outer{
//  .inner{
//    display: none;
//  }
//  &:hover{
//    .inner{
//      display: block;
//      position: absolute;
//      top: 100%;
//      left: 0;
//      z-index: 10000;
//    }
//  }
//}


#outer {
  overflow:hidden;
  padding-left:250px;
  border: 1px solid green;
  background-color:limegreen;
  height: 175px;
}

#bottom {
  display:none
}
#outer:hover #bottom {
  display:block;
  position:absolute;
  left:50%; top: 50%;
  border: 1px solid blue;
  background-color:white;
}


.z-1000{
  z-index: 1000;
}
