<form
  [formGroup]="form"
  (ngSubmit)="validateAndSubmit(form)"
  style="width: 200px">
  <p class="mb-3">{{readonly ? 'Consumer details' : title}}</p>
  <fieldset [disabled]="readonly">
    <legend style="display: none;">consumer details1</legend>
    <mat-form-field>
      <input matInput placeholder="Name1" type="text"
             formControlName="name" aria-describedby="emailHelp">
      <mat-error class="mat-error-small" *ngIf="form.get('name').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" type="text"
             formControlName="phone"
             type="number"
             aria-describedby="emailHelp">
      <mat-error class="mat-error-small" *ngIf="form.get('phone').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="text"
             formControlName="email" aria-describedby="emailHelp">
      <mat-error class="mat-error-small" *ngIf="form.get('email').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Facebook ID" type="text"
             formControlName="facebook_id" aria-describedby="emailHelp">
      <mat-error class="mat-error-small" *ngIf="form.get('facebook_id').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
    <!--todo: disabled is not working on mat-form-field-->
    <fieldset>
      <legend style="display: none;">consumer uid</legend>
      <mat-form-field>
        <input matInput placeholder="UID" type="text"
               disabled
               data-cy="edit-consumer-uid"
               formControlName="uid"
               aria-describedby="emailHelp">
        <mat-error class="mat-error-small" *ngIf="form.get('uid').errors?.error as errorObj">{{errorObj.message}}</mat-error>
      </mat-form-field>
    </fieldset>
  </fieldset>
  <div *ngIf="!readonly">
    <button
      data-cy="edit-consumer-submit"
      color="primary"
      style="margin-right: 10px; border: none !important;"
      type="submit" class="mat-theme-button" mat-flat-button>
      {{buttonText}}
    </button>
    <button
      data-cy="edit-consumer-cancel"
      (click)="hideOverlay$.emit()"
      type="button" class="mat-theme-button mat-theme-button-border" mat-button>
      Cancel
    </button>
  </div>
  <p *ngIf="errorMessage" class="text-danger mt-2 text-center font-11">{{errorMessage}}</p>
</form>

<button *ngIf="readonly"
        data-cy="edit-consumer-edit"
        (click)="readonly = false"
        type="button" class="mat-theme-button mat-theme-button-border" mat-button>
  Edit
</button>


