.partial-match{
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px;
  overflow-y: auto;
  .first-message{
    margin-top: auto;
    .first-message-text{
      border-radius: 3px;
      background-color: #193a57;
      color: #fff;
      width: fit-content;
      margin-left: auto;
      justify-content: center;
      align-items: center;
      padding: 8px;
      margin-top: auto;
      display: flex;
    }
  }
  .second-message{
    max-width: 80%;
    width: fit-content;
    justify-content: center;
    align-items: start;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #eaeaea;
    .second-button{
      border-radius: 2px;
      background-color: #eaeaea;
      border: solid 1px #bfbdbd;
      padding: 5px;
      margin-top: 6px;
      cursor:pointer;
    }
  }
  .time{
    color: #d8d8d8;
    font-size: 11px;
    margin-bottom: 12px;
    border-radius: 3px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
  }

}
