<div class ="d-flex w-100 h-100 partial-match" >
    <div class="first-message">
      <div class="first-message-text">
        What are the timings?
      </div>
      <div class="ml-auto time">
        10:05 AM
      </div>
    </div>
    <div class = "second-message" >
      {{textContent}}
      <div class = "second-button" >
        What are the store timings?
      </div>
      <div class = "second-button">
        What are the timings for returning purchased goods?
      </div>
    </div>
    <div class="time" style="margin-bottom: 0px;">
      10:05 AM
    </div>
  </div>
