<div class ="d-flex w-100 h-100 " style="flex-direction: column; background-color: #ffffff;padding: 16px;">
    <div>
      <div style="
      border-radius: 3px;
    background-color: #193a57;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding: 8px;
    display: flex;">
        What are the timings?
      </div>
      <div style="
      color: #d8d8d8;
    font-size: 11px;
    margin-bottom: 12px;
    border-radius: 3px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;" class="ml-auto">
        10:05 AM
      </div>
    </div>
    <div style="
    max-width: 80%;
    width: fit-content;
    justify-content: center;
    align-items: start;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #eaeaea;">
      Sorry, I was unable to understand your query accurately. Could you select which article you were referring to?
      <div style="
  border-radius: 2px;
  background-color: #eaeaea;border: solid 1px #bfbdbd;padding: 8px;margin-top: 6px;">
        What are the store timings?
      </div>
      <div style="
  border-radius: 2px;
  background-color: #eaeaea;border: solid 1px #bfbdbd;padding: 8px;margin-top: 6px;">
        What are the timings for returning purchased goods?
      </div>
    </div>
    <div style="
    color: #d8d8d8;
    font-size: 11px;
    margin-bottom: 12px;
    border-radius: 3px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;">
      10:05 AM
    </div>
  </div>
