<app-smart-table class="intents-table fade-in-custom"
                 *ngIf="view === 'table' && mlIntentsSmartTableObj?.tableData"
                 [currentPage]="currentPage"
                 [totalRecords]="totalIntentsLength"
                 (rowClicked$)="intentClickedHandler($event)"
                 [data]="mlIntentsSmartTableObj?.tableData"
                 [sortedCol]="'Last update'"
                 [sortDir]="ESortDir.DES"
                 (performSearchInDB$)="goToPage($event)">
</app-smart-table>


