<app-smart-table
  *ngIf="view === 'table'"
  [data]="sessionsSmartTableDataModal.tableData"
  (rowClicked$)="intentClickedHandler($event)"
></app-smart-table>


<div id="test11" class="button is-primary" (click)="show(tpl)">test1</div>

<ng-template #tpl let-close="close">
  And here's some amazing content. It's very engaging. Right?
  <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <a class="button is-danger is-small" (click)="close({id: 2})">Close</a>
  </div>
</ng-template>

<div *ngIf="view === 'detail'" style="display: flex">
  <div #questionListContainer class="questions-list px-2" style="width: 50%;">
    <form #questionForm="ngForm" class="addQuestionPanel px-4 py-2">
      <mat-form-field [attr.dir]="this.bot?.language === 'ar' ? 'rtl' : 'ltr'">
      <textarea matInput type="text" placeholder="Add new question" ngModel name="questionText"
                data-cy="add-question-ti-tentemplate"
                (keydown.enter)="addNewQuestion(questionForm.value.questionText);questionForm.reset()"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">
              </textarea>
      </mat-form-field>
      <button class="mat-theme-button cursor-pointer mr-2" type="submit" mat-button
              [disabled]="!questionForm.value.questionText"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; width: max-content;"
              (click)="addNewQuestion(questionForm.value.questionText);questionForm.reset()">
        + Add utterance
      </button>
    </form>
    <div class="questions-heading">Questions</div>
    <div *ngIf="selectedIntent.utterances.length === 0" class="no-question">
      No utterances added yet, add now to train the intent
    </div>

    <div style="flex:1;overflow-y: auto">
      <div class="bg-red">hello</div>
      <div contenteditable="true"
           (mouseup)="textSelected($event)"
           *ngFor="let question of selectedIntent.utterances; let index = index;"
      >
        {{selectedIntent.utterances[index].utterance}}
      </div>
      <!--      <mat-form-field class="question-list-item"-->
      <!--                      *ngFor="let question of selectedIntent.utterances; let index = index;"-->
      <!--                      [attr.dir]="bot.language === 'ar' ? 'rtl' : 'ltr'">-->

      <!--      <textarea matInput required name=a{{index}} type="text"-->
      <!--                [(ngModel)]="selectedIntent.utterances[index].utterance"-->
      <!--                #autosize="cdkTextareaAutosize"-->
      <!--                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">-->
      <!--            </textarea>-->
      <!--        <mat-icon matSuffix class="onParentHover cursor-pointer" (click)="deleteQustionWithId(index)">close-->
      <!--        </mat-icon>-->
      <!--      </mat-form-field>-->
    </div>

  </div>

  <div style="width: 50%">
    <app-ml-intent-utterance style="display: block; margin-bottom: 12px"></app-ml-intent-utterance>
    <app-ml-intent-response></app-ml-intent-response>
  </div>
</div>
