.questions-list {
  display: flex;
  flex-direction: column;

  .questions-heading {
    font-size: 13px;
    font-weight: bold;
    color: #474747;
    padding-bottom: .25rem;
  }

  .no-question {
    font-size: 13px;
    font-style: italic;
    color: #4a4a4a;
  }

  .question-list-item {
    // height : 45px;
    width: 95%;

    .onParentHover {
      opacity: 0;
    }

    &:hover {
      .onParentHover {
        opacity: 1;
      }
    }

    mat-icon {
      font-size: 13px;
      color: #9b9b9b;
    }
  }
}

.addQuestionPanel {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: #ffffff;
  margin-top: 24px;
  margin-bottom: 20px;

  textarea {
    background-color: transparent;

  }

  textarea.mat-input-element {
    padding: 0 !important;
  }
}


//.bg-red {
//  background: red;
//}
//
//.bg-red::after {
//  content: 'x';
//  display: none;
//}
//
//.bg-red:hover::after {
//  display: inline;
//}

::ng-deep{
  tr{
    .textVal{
      //width: 90% !important;
      //max-width: 300px;
      word-break: break-all !important;
      width: auto !important;
      max-width: 300px;
    }
  }
}
