<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.userLoyalty}"
       (click)="tabClicked(myEAnalysis2TypesEnum.userLoyalty)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.userLoyalty}"><strong>USER LOYALTY
    </strong></a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.roomDuration}"
       (click)="tabClicked(myEAnalysis2TypesEnum.roomDuration)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.roomDuration}"><strong>SESSION DURATION
    </strong></a>
  </li>
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.userLoyalty"
           [data]="[]"
           [chartValue]="highchartData"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_USER_LOYALTY">
</app-chart>
<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.roomDuration"
           [data]="[]"
           [chartValue]="highchartData"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_USER_LOYALTY">
</app-chart>
