.heading-title{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-bottom: 8px
}
::ng-deep{
    .history-table{
        .textVal{
            width: 100% !important;
        }
        table [name=icon-color] {
            color: #d8d8d8;
            }
        .color-green{
            color: #34bc6e;
        }
    }
}
