<!--todo: this is a hardcoded code, change it to more flexible-->
<form class="row" #form="ngForm">
  <div class="col-6">

    <!--IMIConnect starts-->
    <div ngModelGroup="imiconnect">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">IMICONNECT</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.imiconnect.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.imiconnect && formValue.imiconnect.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>App id</label>
              <input [ngModel]="formValue.imiconnect.appId" type="text" class="form-control" name="appId">
            </div>
            <div class="form-group">
              <label>App Secret</label>
              <input [ngModel]="formValue.imiconnect.appSecret" type="text" class="form-control" name="appSecret">
            </div>
            <div class="form-group">
              <label>Stream Name</label>
              <input [ngModel]="formValue.imiconnect.streamName" type="text" class="form-control" name="streamName">
            </div>
            <div class="form-group">
              <label>Service Key</label>
              <input [ngModel]="formValue.imiconnect.serviceKey" type="text" class="form-control" name="serviceKey">
            </div>
            <div class="form-group">
              <label>Send request via Connect</label>
              <input [ngModel]="formValue.imiconnect.send_via_connect" type="text" class="form-control"
                     name="send_via_connect">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--IMIConnect ends-->

    <!--Facebook starts-->
    <div ngModelGroup="facebook">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">Facebook</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.facebook.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.facebook && formValue.facebook.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>PageId</label>
              <input [ngModel]="formValue.facebook.id" type="text" class="form-control" name="facebook-token">
            </div>
            <div class="form-group">
              <label>Facebook Token</label>
              <input [ngModel]="formValue.facebook['facebook-token']" type="text" class="form-control" name="id">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Facebook ends-->


    <!--skype starts-->
    <div ngModelGroup="skype">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">Skype</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.skype.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.skype && formValue.skype.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>App id</label>
              <input [ngModel]="formValue.skype.client_id" type="text" class="form-control" name="client_id">
            </div>
            <div class="form-group">
              <label>App Secret</label>
              <input [ngModel]="formValue.skype.client_secret" type="text" class="form-control" name="client_secret">
            </div>
            <div class="form-group">
              <label>Stream Name</label>
              <input [ngModel]="formValue.skype['skype-page-name']" type="text" class="form-control"
                     name="skype-page-name">
            </div>
          </div>
        </div>
      </div>
    </div><!--skype ends-->

    <!--alexa starts-->
    <div ngModelGroup="alexa">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">Alexa</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.alexa.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.alexa && formValue.alexa.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>Skill id</label>
              <input [ngModel]="formValue.alexa.skillId" type="text" class="form-control" name="skillId">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--alexa ends-->

    <!--Line starts-->
    <div ngModelGroup="line">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">Line</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.line.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.line && formValue.line.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>App id</label>
              <input [ngModel]="formValue.line.skillId" type="text" class="form-control" name="skillId">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Line ends-->

  </div>


  <div class="col-6">
    <!--Viber starts-->
    <div ngModelGroup="viber">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">VIBER</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.viber.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.viber && formValue.viber.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>bot-name</label>
              <input [ngModel]="formValue.viber.bot_name" type="text" class="form-control" name="bot_name">
            </div>
            <div class="form-group">
              <label>Bot-auth-token</label>
              <input [ngModel]="formValue.viber.bot_auth_token" type="text" class="form-control" name="bot_auth_token">
            </div>
            <div class="form-group">
              <label>Bot Avatar</label>
              <input [ngModel]="formValue.viber.bot_avatar" type="text" class="form-control" name="bot_avatar">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Viber ends-->

    <!--DEBUG starts-->
    <div ngModelGroup="debug">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">DEBUG</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.debug.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.debug && formValue.debug.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>Debug Url</label>
              <input [ngModel]="formValue.debug.speech_model" type="text" class="form-control" name="speech_model">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--DEBUG ends-->


    <!--IMICHAT starts-->
    <div ngModelGroup="imichat">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">IMICHAT</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.imichat.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.imichat && formValue.imichat.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>Service Key</label>
              <input [ngModel]="formValue.imichat['service-key']" type="text" class="form-control" name="service-key">
            </div>
            <div class="form-group">
              <label>Access Token</label>
              <input [ngModel]="formValue.imichat['access-token']" type="text" class="form-control" name="access-token">
            </div>
            <div class="form-group">
              <label>Domain</label>
              <input [ngModel]="formValue.imichat.domain" type="text" class="form-control" name="domain">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--IMICHAT ends-->

    <!--WEB starts-->
    <div ngModelGroup="web">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between justify-content-center">
          <div class="org-detail d-flex justify-content-center">
            <img style="height: 20px" class="pr-2"
                 src="https://dev.imibot.ai/assets/img/app/integrations/imiconnect.png"
                 alt="">
            <span class="lead-text">WEB</span>
          </div>
          <div class="switch">
            <ui-switch name="enabled" [(ngModel)]="formValue.web.enabled" size="small" switchColor="white"
                       style="height: 10px" defaultBgColor="grey"
                       (change)="onChange($event)"
                       [checked]="false"></ui-switch>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-11" [hidden]="!(formValue && formValue.web && formValue.web.enabled)">
          <div [hidden]="false" class="form-context">
            <div class="form-group">
              <label>Speech Model</label>
              <input [ngModel]="formValue.web.speech_model" type="text" class="form-control" name="speech_model">
            </div>
            <div class="form-group">
              <label>Enable TTS</label>
              <input [ngModel]="formValue.web.speech_tts" type="text" class="form-control" name="speech_tts">
            </div>
            <div class="form-group">
              <label>Speech Integration URL</label>
              <input [ngModel]="formValue.web.speech_url" type="text" class="form-control" name="speech_url">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--WEB ends-->
  </div>
</form>
