<div class="container-grid">
  <div class="row row-version my-2 m-0" style="position: relative" (clickOutside)="showVersionList = false">
    <div class="col-6 p-0" [ngClass]="{'bg-theme-secondary':!selectedVersion}">
      <div *ngIf="selectedVersion"
           class="d-flex align-items-center flex-bot-versioning-toaster border-theme-secondary">
        <div class="version-active-label"
             [ngClass]="{'bg-label-active':selectedVersion?.id === activeVersion?.id,'bg-label-inactive':selectedVersion?.id !== activeVersion?.id}">
          <div>{{selectedVersion.id === (activeVersion && activeVersion.id)?'Active':'Inactive'}}</div>
        </div>
        <!--<button *ngIf="selectedVersion?.id === activeVersion?.id" class="btn btn-theme-primary mr-1"-->
        <!--style="flex-basis: 56px">Active-->
        <!--</button>-->
        <!--<button-->
        <!--*ngIf="selectedVersion?.id !== activeVersion?.id" class="btn btn-theme-dark mr-1"-->
        <!--style="flex-basis: 56px">Inactive-->
        <!--</button>-->
        <div class="count mx-1 flex-shrink-0 flex-grow-0">{{selectedVersion.version}}</div>
        <div class="forked mr-1 pl-1"
             [style.visibility]="selectedVersion.forked_from>0 ? 'visible' : 'hidden'">Forked from version
          {{selectedVersion.forked_from}}
        </div>
        <div class="update d-flex flex-column mr-1 justify-content-center">
          <div>Last update</div>
          <div class="d-flex justify-content-left pt-1">
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['df_template'], 'dark-green':activeTab==='df_template'}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['df_rules'], 'dark-green':activeTab==='df_rules'}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['generation_rules'], 'dark-green':activeTab==='generation_rules'}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['generation_templates'], 'dark-green':activeTab==='generation_templates'}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['workflows'], 'dark-green':activeTab==='workflows'}"></i>
          </div>
          <!--<form class="d-flex">-->
          <!--<input type="radio" name="optradio" checked>-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--</form>-->
        </div>
        <div class="insert mr-1"
             [popover]="selectedVersion && selectedVersion.comment"
             placement="bottom"
             triggers="mouseenter:mouseleave">{{selectedVersion.comment.length>70?(((selectedVersion.comment)|slice:0:100) +"..."):selectedVersion?.comment}}
          <!--<div class="insert mr-1">{{(selectedVersion.comment)|slice:0:100}}-->
        </div>
        <!---->
        <i (click)="showVersionList= !showVersionList"
           *ngIf="bot.store_bot_versions.length > 1"
           class="fa py-2 px-3 bg-theme-primary text-white ml-auto cursor-pointer"
           [ngClass]="{'fa-angle-up':showVersionList, 'fa-angle-down':!showVersionList}"
           style="height: 100%"></i>
      </div>
    </div>
    <div class="col-6">
      <button [disabled]="!selectedVersion"
              class="btn btn-theme-primary-outline mr-1"
              (click)="saveSelectedVersion()">
        {{(!bot.store_bot_versions || !bot.store_bot_versions.length || bot.store_bot_versions.length>0)?"Save":"Create"}}
        Version
      </button>
      <button class="btn btn-theme-primary-outline"
              [disabled]="!bot.store_bot_versions || bot.store_bot_versions.length===0"
              (click)="openForkNewVersionModal(Primarytemplate)">
        Fork new version
      </button>
    </div>
    <div class="row row-flex-bot-versioning-toaster border-theme-secondary  border-top-0 mx-0"
         *ngIf="showVersionList" style="max-height: 50vh; overflow-y: scroll">
      <div class="col-12 py-1 px-0 cursor-pointer hover-change-background border-bottom-theme-secondary"
           *ngFor="let version of bot.store_bot_versions | filterActiveBot:selectedVersion.id">
        <div class="d-flex align-items-center flex-bot-versioning-toaster"
             (click)="changeSelectedVersion(version); showVersionList = false; tabClicked('df_template');">
          <!--<div class="active-label-text">{{(version.id === (activeVersion && activeVersion.id))?'Active':'Inactive'}}</div>-->
          <div class="version-active-label">
            <div>{{version.id === (activeVersion && activeVersion.id)?'Active':'Inactive'}}</div>
          </div>
          <!--<div class="active-label-text">{{version.id +""+activeVersion.id }}</div>-->
          <div class="count mr-1">{{version.version}}</div>
          <div class="forked mr-1 pl-1" [style.visibility]="version.forked_from>0 ? 'visible' : 'hidden'">Forked from version
            {{version.forked_from}}
          </div>
          <div class="update d-flex flex-column mr-1 justify-content-center">
            <div class="mr-1">Last update</div>
            <div class = "justify-content-left pt-1">
              <i class="fa fa-circle"
                 [ngClass]="{'dark-green':version.updated_fields['df_template']}"></i>
              <i class="fa fa-circle"
                 [ngClass]="{'dark-green':version.updated_fields['df_rules']}"></i>
              <i class="fa fa-circle"
                 [ngClass]="{'dark-green':version.updated_fields['generation_rules']}"></i>
              <i class="fa fa-circle"
                 [ngClass]="{'dark-green':version.updated_fields['generation_templates']}"></i>
              <i class="fa fa-circle"
                 [ngClass]="{'dark-green':version.updated_fields['workflows']}"></i>

            </div>
            <!--<form>-->
            <!--<input type="radio" [checked]="false">-->
            <!--<input type="radio">-->
            <!--<input type="radio">-->
            <!--<input type="radio">-->
            <!--<input type="radio">-->
            <!--</form>-->
          </div>
          <div class="insert mr-1" >{{version.comment.length>70?(((version.comment)|slice:0:100) +"..."):version?.comment}}
          </div>
          <i class=" py-2 px-3 "></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-tabs">
    <div class="col-12">
      <div class="card ">


        <!--tabs start-->
        <div class="card-body p-0 mr-2">
          <ul class="nav nav-tabs theme-tabbing">
            <li class="nav-item" [ngClass]="{'tab-active': activeTab==='df_template'}">
              <a class="nav-link text-theme-normal"
                 (click)="tabClicked('df_template')">DF Template</a>
            </li>
            <li class="nav-item" [ngClass]="{'tab-active': activeTab==='df_rules'}">
              <a class="nav-link text-theme-normal" (click)="tabClicked('df_rules')">DF
                Rules</a>
            </li>
            <li class="nav-item text-theme-normal" [ngClass]="{'tab-active': activeTab==='generation_rules'}">
              <a class="nav-link"
                 (click)="tabClicked('generation_rules')">Generation Rules</a>
            </li>
            <li class="nav-item text-theme-normal" [ngClass]="{'tab-active': activeTab==='generation_templates'}">
              <a class="nav-link"
                 (click)="tabClicked('generation_templates')">Generation Template</a>
            </li>
            <li class="nav-item text-theme-normal" [ngClass]="{'tab-active': activeTab==='workflow'}">
              <a class="nav-link"
                 (click)="tabClicked('workflow')">Workflows</a>
            </li>
          </ul>

          <!--tabs end-->

          <!--code editor starts-->
          <!--todo: make this row independent-->
          <!--<div class="row pl-3 genTempGrid pt-2" *ngIf="activeTab === 'generationTemplates'">-->
            <!--<div class="genTempGridItem intent-header">-->
              <!--<div class="text-bold">Intent Header</div>-->
              <!--<input type="text" placeholder="Search Intent">-->

              <!--&lt;!&ndash; these div's will come from *ngFor &ndash;&gt;-->
              <!--<div class="p-1" *ngFor="let x of intentList">{{x.name}}</div>-->
            <!--</div>-->
            <!--<div class="genTempGridItem">-->
              <!--<div class="col-12 pt-2 d-flex justify-content-end">-->
                <!--<label for="uploadInput" class="btn btn-theme-primary-outline">Upload File-->
                  <!--<input type="file"-->
                         <!--hidden-->
                         <!--id="uploadInput"-->
                         <!--accept='text/plain' multiple-->
                         <!--(change)='openFile(uploadInput);uploadInput.value=null'-->
                         <!--#uploadInput>-->
                <!--</label>-->
              <!--</div>-->
              <!--&lt;!&ndash;&ndash;&gt;-->
              <!--<div class="col-12 ">-->
                <!--<app-code-editor [text]="editorCode" (textChangedEvent)="saveText($event)"></app-code-editor>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="genTempGridItem bot-templates">-->
              <!--<ul>-->
                <!--<li class="bot-template-heading">-->
                  <!--<div class="text-bold">Bot Response Template</div>-->
                  <!--<div class="text-lite">Drag & Drop elements to add to response</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
                <!--<li>-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--Textie-->
                <!--</li>-->
              <!--</ul>-->
              <!--&lt;!&ndash; <div class="template-heading">-->
                <!--<div>Bot Response Templates</div>-->
              <!--</div>-->
              <!--<div class="bot-templates">-->
                <!--<i class="fa fa-users" style="font-size: 12px"></i>-->
                <!--dasdasd das das da sda-->
              <!--</div>-->
              <!--<div class="bot-templates"></div>-->
              <!--<div class="bot-templates"></div>-->
              <!--<div class="bot-templates"></div>-->
              <!--<div class="bot-templates"></div>-->
              <!--<div class="bot-templates"></div>-->
              <!--<div class="bot-templates"></div> &ndash;&gt;-->

            <!--</div>-->
          <!--</div>-->

        </div>
      </div>
    </div>
  </div>

  <div class="code-editor-row position-relative">
    <!--code starts ends-->
    <!--todo: make this row independent-->
    <!--<div class="row pl-3" *ngIf="activeTab !== 'generationTemplates'">-->
      <!--<div class="col-12 pt-2 d-flex justify-content-end">-->
        <!--<label for="uploadInput" class="btn btn-theme-primary-outline">Upload File-->
          <!--<input type="file" hidden id="uploadInput" accept='text/plain' multiple (change)='openFile(uploadInput)'-->
                 <!--#uploadInput>-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="col-12 " style="position: relative">-->
        <app-code-editor [text]="editorCodeObj" (textChangedEvent)="saveText($event)"></app-code-editor>
        <!--<div class="app-code-editor " style="position: absolute; top: 0; bottom: 0">hello</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--code editor ends-->
  </div>


</div>

<!--fork new version modal starts-->
<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header" style="display: block!important;">
        <button type="button" class="close pull-right p-2" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
      <h4 class="modal-title mb-2"> Fork to a new version</h4>
        <p>By default it will be saved and not be made active. You need to update changes to make it active.</p>
      
    </div>

    <div class="modal-body">
      <form class="row" #fork_new_version_form="ngForm">

        <div class="col-md-3 d-flex justify-content-end">
          <label for="">Fork from</label>
        </div>
        <!---->
        <div class="col-md-9 px-0 d-flex justify-content-start">
          <!--<input type="password" [(ngModel)]="forked_From" name="old_password">-->
          <select class="concept1" [(ngModel)]="forked_version_number" required type="number" name="version_id" #select>
            <option type="button" *ngFor="let version of bot.store_bot_versions">
              <button>{{version.version}}</button>
            </option>
          </select>
        </div>
        <div class="col-md-3 my-2">
          <label for="">Comments on the new version</label>
        </div>
        <div class="col-md-9 px-0 d-flex justify-content-start my-2">
          <textarea type="text" style="width: 100%" [(ngModel)]="forked_comments" name="comment"></textarea>
        </div>
        <div class="col-md-12">
          <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
          <button class="btn btn-theme-primary-outline mr-1" (click)="modalRef.hide()">Cancel</button>
          <button class="btn btn-theme-primary" (click)="forkNewVersion()">Create</button>
        </div>

      </form>
    </div>
  </div>
</ng-template>
<!--fork new version modal end-->
