<p>  {{me}}</p>
<div class="container-grid">
  <div class="row row-version my-2 m-0" style="position: relative" (clickOutside)="showVersionList = false">
    <div class="col-6 p-0" [ngClass]="{'bg-theme-secondary':!selectedVersion}">
      <div *ngIf="selectedVersion" class="d-flex align-items-center flex-bot-versioning-toaster border-theme-secondary">
        <div class="version-active-label" *ngIf="selectedVersion"
             [ngClass]="{'bg-label-active':selectedVersion?.id === activeVersion?.id,'bg-label-inactive':selectedVersion?.id !== activeVersion?.id}">
          <div>{{selectedVersion.id === (activeVersion && activeVersion.id)?'Active':'Inactive'}}</div>
        </div>
        <!--<button *ngIf="selectedVersion?.id === activeVersion?.id" class="btn btn-theme-primary mr-1"-->
        <!--style="flex-basis: 56px">Active-->
        <!--</button>-->
        <!--<button-->
        <!--*ngIf="selectedVersion?.id !== activeVersion?.id" class="btn btn-theme-dark mr-1"-->
        <!--style="flex-basis: 56px">Inactive-->
        <!--</button>-->
        <div class="count mx-1 flex-shrink-0 flex-grow-0">{{selectedVersion.version}}</div>
        <div class="forked mr-1 pl-1" *ngIf="selectedVersion.forked_from !== 0">Forked from version
          {{selectedVersion.forked_from}}
        </div>
        <div class="forked mr-1 pl-1" *ngIf="selectedVersion.forked_from === 0">Default created version
        </div>
        <div class="update d-flex flex-column mr-1 justify-content-center">
          <div>Last update</div>
          <div class="d-flex justify-content-left pt-1" *ngIf="selectedVersion">
            <!-- <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.updated_fields['df_template'], 'dark-green':activeTab==='df_template'}"></i> -->
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.changed_fields['df_template'], 'dark-green':selectedVersion.updated_fields['df_template']}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.changed_fields['df_rules'], 'dark-green':selectedVersion.updated_fields['df_rules']}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.changed_fields['generation_rules'], 'dark-green':selectedVersion.updated_fields['generation_rules']}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.changed_fields['generation_templates'], 'dark-green':selectedVersion.updated_fields['generation_templates']}"></i>
            <i class="fa fa-circle"
               [ngClass]="{'text-danger':selectedVersion.changed_fields['workflow'], 'dark-green':selectedVersion.updated_fields['workflow']}"></i>
          </div>
          <!--<form class="d-flex">-->
          <!--<input type="radio" name="optradio" checked>-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--<input type="radio" name="optradio">-->
          <!--</form>-->
        </div>
        <div class="insert mr-1" [popover]="selectedVersion && selectedVersion.comment" placement="bottom"
             triggers="mouseenter:mouseleave">
          {{selectedVersion.comment.length>70?(((selectedVersion.comment)|slice:0:100)
          +"..."):selectedVersion?.comment}}
          <!--<div class="insert mr-1">{{(selectedVersion.comment)|slice:0:100}}-->
        </div>
        <!---->
        <i (click)="showVersionList= !showVersionList" *ngIf="bot.store_bot_versions.length > 1"
           class="fa py-2 px-3 bg-theme-primary text-white ml-auto cursor-pointer"
           [ngClass]="{'fa-angle-up':showVersionList, 'fa-angle-down':!showVersionList}" style="height: 100%"></i>
      </div>
    </div>
    <div class="col-6">
      <button [disabled]="!selectedVersion" class="btn btn-theme-primary-outline mr-1"
              *myIf="myEAllActions['Update Bot Versioning']"
              (click)="saveSelectedVersion()">
        {{(!bot.store_bot_versions || !bot.store_bot_versions.length ||
        bot.store_bot_versions.length>0)?"Save":"Create"}}
        version
      </button>
      <div *ngIf="selectedVersion" class="d-inline-block">
        <button class="btn btn-theme-primary-outline"
                [disabled]="!bot.store_bot_versions || bot.store_bot_versions.length===0"
                *myIf="myEAllActions['Create Bot Versioning']" (click)="openForkNewVersionModal(Primarytemplate)">
          Fork new version
        </button>
      </div>
    </div>
    <div class="row row-flex-bot-versioning-toaster border-theme-secondary  border-top-0 mx-0" *ngIf="showVersionList"
         style="max-height: 50vh; overflow-y: scroll">
      <div class="col-12 py-1 px-0 cursor-pointer hover-change-background border-bottom-theme-secondary"
           *ngFor="let version of bot.store_bot_versions | filterActiveBot:selectedVersion.id">
        <div class="d-flex align-items-center flex-bot-versioning-toaster"
             (click)="changeSelectedVersion(version); showVersionList = false; tabClicked('df_template');">
          <!--<div class="active-label-text">{{(version.id === (activeVersion && activeVersion.id))?'Active':'Inactive'}}</div>-->
          <!--<p>{{activeVersion|json}}</p>-->
          <div class="version-active-label">
            <div>{{version.id === (activeVersion && activeVersion.id)?'Active':'Inactive'}}</div>
          </div>
          <!--<div class="active-label-text">{{version.id +""+activeVersion.id }}</div>-->
          <div class="count mr-1">{{version.version}}</div>
          <div class="forked mr-1 pl-1" *ngIf="version.forked_from !== 0">Forked from version
            {{version.forked_from}}
          </div>
          <div class="forked mr-1 pl-1" *ngIf="version.forked_from === 0">Default created version
          </div>
          <!-- <div class="forked mr-1 pl-1" [style.visibility]="version.forked_from>0 ? 'visible' : 'hidden'">Forked from version
            {{version.forked_from}}
          </div> -->
          <div class="update d-flex flex-column mr-1 justify-content-center" *ngIf="version">
            <div class="mr-1">Last update</div>
            <div class="justify-content-left pt-1">
              <i class="fa fa-circle" [ngClass]="{'dark-green':version.updated_fields['df_template']}"></i>
              <i class="fa fa-circle" [ngClass]="{'dark-green':version.updated_fields['df_rules']}"></i>
              <i class="fa fa-circle" [ngClass]="{'dark-green':version.updated_fields['generation_rules']}"></i>
              <i class="fa fa-circle" [ngClass]="{'dark-green':version.updated_fields['generation_templates']}"></i>
              <i class="fa fa-circle" [ngClass]="{'dark-green':version.updated_fields['workflow']}"></i>
            </div>

          </div>
          <div class="insert mr-1">{{version.comment.length>70?(((version.comment)|slice:0:100)
            +"..."):version?.comment}}
          </div>
          <i class=" py-2 px-3 "></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-tabs">
    <div class="col-12">
      <div class="card ">


        <!--tabs start-->
        <div class="card-body p-0 mr-4">
          <ul class="nav nav-tabs theme-tabbing">
            <li class="nav-item" [ngClass]="{'tab-active': activeTab===myEBotVersionTabs.df_template}">
              <a class="nav-link text-theme-normal" (click)="tabClicked(myEBotVersionTabs.df_template)">DF Template</a>
            </li>
            <li class="nav-item" [ngClass]="{'tab-active': activeTab===myEBotVersionTabs.df_rules}">
              <a class="nav-link text-theme-normal" (click)="tabClicked(myEBotVersionTabs.df_rules)">DF
                Rules</a>
            </li>
            <li class="nav-item text-theme-normal"
                [ngClass]="{'tab-active': activeTab===myEBotVersionTabs.generation_rules}">
              <a class="nav-link" (click)="tabClicked(myEBotVersionTabs.generation_rules)">Generation Rules</a>
            </li>
            <li class="nav-item text-theme-normal"
                [ngClass]="{'tab-active': activeTab===myEBotVersionTabs.generation_templates}">
              <a class="nav-link" (click)="tabClicked(myEBotVersionTabs.generation_templates)">Generation Template</a>
            </li>
            <li class="nav-item text-theme-normal" [ngClass]="{'tab-active': activeTab===myEBotVersionTabs.workflow}">
              <a class="nav-link" (click)="tabClicked(myEBotVersionTabs.workflow)">Workflows</a>
            </li>
            <li>
              <button [hidden]="activeTab!==myEBotVersionTabs.generation_templates"
                      (click)="showGenTempUi = !showGenTempUi; convertUiDictToGenTemplateCode()">button123
              </button>
            <li class="ml-auto gen-templet-toggle">
              <!-- <button [hidden]="activeTab!==myEBotVersionTabs.generation_templates" (click)="showGenTempUi = !showGenTempUi">button</button> -->
              <ui-switch
                (change)="convertUiDictToGenTemplateCode()"
                name="toggle_gen_templet"
                         [(ngModel)]="showGenTempUi" class="d-flex align-items-center mx-1 "
                     style="border:none;padding: 0;" size="small" title="Toggle UI view"></ui-switch>
            </li>
          </ul>

          <!--tabs end-->

          <!--code editor starts-->
          <!--todo: make this row independent-->


        </div>
      </div>
    </div>
  </div>

  <div class="code-editor-row code-editor-row-max position-relative">

    <app-code-editor [hidden]="activeTab!==myEBotVersionTabs.df_template"
                     [text]="editorCodeObj[myEBotVersionTabs.df_template]"
                     (textChangedEvent)="saveText($event)"></app-code-editor>

    <app-code-editor [hidden]="activeTab!==myEBotVersionTabs.df_rules"
                     [text]="editorCodeObj[myEBotVersionTabs.df_rules]"
                     (textChangedEvent)="saveText($event)"></app-code-editor>

    <app-code-editor [hidden]="activeTab!==myEBotVersionTabs.generation_rules"
                     [text]="editorCodeObj[myEBotVersionTabs.generation_rules]"
                     (textChangedEvent)="saveText($event)"></app-code-editor>

    <!--generation template UI starts-->
    <div class="row pl-3 genTempGrid pt-2"
         [hidden]="activeTab!==myEBotVersionTabs.generation_templates || !showGenTempUi">
      <div class="genTempGridItem intent-header ml-1">
        <div class="d-flex" style="align-items:center;">
          <div class="text-bold">Intent Header</div>
          <div class="ml-auto text-primary pr-2 new-intent-btn cursor-pointer"
               (click)="openNewIntentModal(IntentModal)">
            <i class="fa fa-plus pr-1 my-auto"></i>Add New
          </div>
        </div>
        <input type="text" placeholder="Search Intent">
        <!--<p>{{intents|json}}</p>-->
        <div class="pl-2 p-1 m-1 col-10 tab-theme" *ngFor="let tempKey of myObject.keys(intents)"
             [ngClass]="{'font-weight-bold':selectedIntentTab === tempKey}"
             (click)="selectedIntentTab = tempKey">{{tempKey}}
        </div>
      </div>
      <div class="genTempGridItemGrid">
        <div class="response-test px-2">
          Response Flow
        </div>
        <div class="form-group m-0 channel-drop">
          <label for="" class="px-2">Channel</label>
          <select [ngModel]="selectedChannelOfGenTemplate" required name="platform">
            <option type="button" [value]="">All</option>
            <option *ngFor="let channel of channelList" type="button" [value]="channel">{{channel}}</option>
            <!-- <option type="button" [value]="facebook">Facebook</option>
            <option type="button" [value]="imichat">Imichat</option>
            <option type="button" [value]="channel">Channel</option>
            <option type="button" [value]="wed">Channel</option> -->
          </select>
        </div>
        <div class="intentItems">
<!-- TODO: merge it tomorrow -->
<!-- <<<<<<< HEAD -->
          <!-- <div class="py-1 px-0" *ngFor="let intentItem of intents[selectedIntentTab]"> -->
            <!-- <app-text-gentemplate *ngIf="intentItem.text" [variants]=intentItem.text></app-text-gentemplate> -->
            <!-- <app-code-gentemplate [intentCode]="intentItem" *ngIf="!intentItem.text" -->
                                  <!-- [hidden]="activeTab!==myEBotVersionTabs.generation_templates"></app-code-gentemplate> -->
<!-- ======= -->
          <div class="py-1 px-0" *ngFor="let intentItem of intents[selectedIntentTab]; let i = index">
            <app-text-gentemplate *ngIf="intentItem.text" [variants]=intentItem.text [myIndex]=i (deleteTemplate)="deleteGentemplate($event)"
              (moveTempUp)="moveUpGentempate($event)" (moveTempDown)="moveDownGentempate($event)"></app-text-gentemplate>
            <app-code-gentemplate [intentCode]="intentItem" *ngIf="!intentItem.text" [myIndex]=i (deleteTemplate)="deleteGentemplate($event)"
              [hidden]="activeTab!==myEBotVersionTabs.generation_templates" (moveTempUp)="moveUpGentempate($event)"
              (moveTempDown)="moveDownGentempate($event)"></app-code-gentemplate>
<!-- >>>>>>> 11714e2f3e007c6ae17b59c74a20eeb3b21fe2fd -->
          </div>
        </div>
      </div>
      <div class="genTempGridItem bot-templates">
        <ul>
          <li class="bot-template-heading">
            <div class="text-bold">Bot Response Template</div>
            <div class="text-lite">Drag & Drop elements to add to response</div>
          </li>
          <li class="bot-template cursor-pointer" (click)="addTextUnit();">
            <i class="fa fa-align-left"></i>Text
          </li>
          <li class="bot-template cursor-pointer">
            <i class=" fa fa-image"></i>Image corousel
          </li>
          <li class="bot-template cursor-pointer">
            <i class="fa fa-users"></i>Text Corousel
          </li>
          <li class="bot-template cursor-pointer">
            <i class="fa fa-users"></i>Quick Reply
          </li>
          <li class="bot-template cursor-pointer" (click)="addCodeUnit();">
            <i class="fa fa-code"></i>Code Input
          </li>
        </ul>
      </div>
    </div>
    <!--generation template UI ends-->

    <!--<app-code-editor [hidden]="activeTab!==myEBotVersionTabs.generation_templates || showGenTempUi" [text]="{'text' : intents | json}"-->
      <!--(textChangedEvent)="saveText($event)"></app-code-editor>-->

    <!--<app-code-editor [hidden]="activeTab!==myEBotVersionTabs.generation_templates || showGenTempUi"-->
                     <!--[text]="{'text' : intents | json}"-->
                     <!--(textChangedEvent)="saveText($event)"></app-code-editor>-->
    <app-code-editor [hidden]="activeTab!==myEBotVersionTabs.generation_templates || showGenTempUi"
                     [text]="editorCodeObj[myEBotVersionTabs.generation_templates]"
                     (textChangedEvent)="saveText($event)"></app-code-editor>

    <app-code-editor [hidden]="activeTab!==myEBotVersionTabs.workflow "
                     [text]="editorCodeObj[myEBotVersionTabs.workflow]"
                     (textChangedEvent)="saveText($event)"></app-code-editor>
  </div>


</div>

<!--fork new version modal starts-->
<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header" style="display: block!important;">
      <div class="d-flex">
        <h4 class="modal-title mb-2"> Fork to a new version</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>By default it will be saved and not be made active. You need to update changes to make it active.</p>

      <!--<button type="button" class="close pull-right p-2" aria-label="Close" (click)="modalRef.hide()">-->
      <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
      <!--<h4 class="modal-title mb-2"> Fork to a new version</h4>-->
      <!--<p>It will not be made active by default but saved. You need to update changes to make it active</p>-->

    </div>

    <div class="modal-body">
      <form class="row" #fork_new_version_form="ngForm">

        <div class="col-md-3 d-flex justify-content-end">
          <label for="">Fork from</label>
        </div>
        <!---->
        <div class="col-md-9 px-0 d-flex justify-content-start">
          <!--<input type="password" [(ngModel)]="forked_From" name="old_password">-->
          <select class="concept1" [(ngModel)]="forked_version_number" required type="number" name="version_id" #select>
            <option type="button" *ngFor="let version of bot.store_bot_versions">
              <button>{{version.version}}</button>
            </option>
          </select>
        </div>
        <div class="col-md-3 my-2">
          <label for="">Comments on the new version</label>
        </div>
        <div class="col-md-9 px-0 d-flex justify-content-start my-2">
          <textarea type="text" style="width: 100%" [(ngModel)]="forked_comments" name="comment"></textarea>
        </div>
        <div class="col-md-12">
          <p *ngIf="errorMessage" class="text-danger">{{errorMessage}}</p>
          <button class="btn btn-theme-primary-outline mr-1" (click)="modalRef.hide()">Cancel</button>
          <!--<button class="btn btn-theme-primary" (click)="forkNewVersion()">-->
          <!--{{(selectedVersion.changed_fields['df_template'] || selectedVersion.changed_fields['df_rules']  ||-->
          <!--selectedVersion.changed_fields['generation_rules'] || selectedVersion.changed_fields['generation_templates'] ||-->
          <!--selectedVersion.changed_fields['workflow'])?"Save as new version":"Create new version"}}-->
          <!--</button>-->

          <button class="btn btn-theme-primary" (click)="forkNewVersion()">
            Fork
          </button>
        </div>

      </form>
    </div>
  </div>
</ng-template>

<ng-template #IntentModal>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title" style="display: flex;justify-content: start;">Add a new template</h4>
      <button aria-label="Close"
              class="close pull-right" type="button" (click)="modalRef.hide()"><span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex align-items-center justify-content-center my-2">
        <label class="mb-0 mr-1">Name the template</label>
        <input class="input-material" type="text" [(ngModel)]="newIntentName"></div>
      <button class="btn btn-theme-success-sm close" (click)="newIntent();modalRef.hide()">Submit</button>
    </div>
  </div>
</ng-template>
<!--fork new version modal end-->
