
<app-handsontable
  *ngIf="testCaseData && !showSplashScreen && !showLoader"
  (change)="onTableChange($event)"
  [testData]="testCaseData"
  [columns]="handontable_column"
  [colHeaders]="handontable_colHeaders"
  [expectedCSVHeaders]="expectedCSVHeaders"
  (rowChanged$)="onTableChange()"
  (csvUploaded$)="testCaseData = $event"
  (afterTabledataChange$)="afterTabledataChange($event)">
  <div class="d-flex-column-custom justify-content-end my-1" *ngIf="!showSplashScreen && !showLoader">
    <div class="d-flex align-items-center justify-content-end">
      <div *appMyIf="myEAllActions['Update Bot Testcases']" class="d-inline-block">
        <!--TODO: removing *ngIf condition for now. Reason changes arent detected when cell data is deleted using del key-->
        <button class="btn-theme btn-theme-primary mr-2" (click)="updateTC()" *ngIf="isData && !cancelTestFlag">Update Test</button>
      </div>
      <div *appMyIf="myEAllActions['Create Bot Testcases']" class="d-inline-block">
        <button class="btn-theme btn-theme-primary mr-2" (click)="createTC()" *ngIf="!isData">Create Test
        </button>
      </div>
      <button class="btn-theme btn-theme-danger mr-2" (click)="beginTest(Primarytemplat)" *ngIf="cancelTestFlag">Cancel Test
      </button>
      <button class="btn-theme btn-theme-primary mr-2" (click)="beginTest(Primarytemplat)" *ngIf="!cancelTestFlag">Begin Test
      </button>
      <button class="mat-theme-button mat-button mr-2 d-flex align-items-center"  style="border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 2px;" (click)="refreshTest()" *ngIf="cancelTestFlag">
        <mat-icon class="mat-icon material-icons">refresh</mat-icon> Refresh
      </button>
    </div>
  </div>

</app-handsontable>

<app-splash-screen *ngIf="showSplashScreen"
                   [imageHRef]="myESplashScreens.testing"
                   class="d-flex justify-content-center align-items-center"
                   (buttonClicked)="showSplashScreen=false"
                   [buttonText]="'Create Test'"
                   [headingText]="'One click testing'"
                   [descriptionText]="'Create cases to test the bot. The user message to test the bot for and the  expected bot response template name are the properties needed to create new test case'"
                   style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; min-height: 300px;"
></app-splash-screen>

<app-imi-loader *ngIf="showLoader "></app-imi-loader>


<ng-template #Primarytemplat>
  <div class="danger-modal">
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Test is already running</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body pt-0">
      <div>
        <p>Do you want to stop the Testing process?</p>
        <button class="btn-theme btn-theme-danger" (click)="stopTest();dialogRefWrapper.ref.close()">Stop Test</button>
      </div>

    </div>
  </div>
</ng-template>
