<div class="d-flex justify-content-end mb-3">
  <div class="d-flex align-items-center">
    <i class="fa fa-plus pr-4"></i>
    <i class="fa fa-minus pr-4"></i>
    <button class="btn-theme-primary-outline mr-2" (click)="exportToCSV()">Export to CSV</button>
    <button class="btn-theme-primary mr-2" (click)="updateTC()" *ngIf = "isData">Update test Case</button>
    <button class="btn-theme-primary mr-2" (click)="createTC()" *ngIf = "!isData">Create test Case</button>
    <button class="btn-theme-primary" (click)="beginTest()">Begin Test</button>
  </div>
</div>

<div [hidden]="!testCaseData">
  <app-handsontable [testData]="testCaseData"
                    [columns]="handontable_column"
                    [colHeaders]="handontable_colHeaders"
                    >
  </app-handsontable>

  <!--<app-handsontable [columns]="handontable_column" [colHeaders]="handontable_colHeaders"></app-handsontable>-->
</div>
<!--<app-handsontable [columns]="handontable_column" [colHeaders]="handontable_colHeaders"></app-handsontable>-->
