@import '~src/sass/main';

.danger-modal{
    @include classic-modal(#b14250);
  }

.app-handsontable{
  display: block;
  overflow-y: auto;
}


:host{
  min-height: 300px;
  ::ng-deep{
    app-handsontable{
      z-index: 0;
    }
  }
}
