<div class="bg-white shadow-theme">
  <div class="row p-3 pt-4 d-flex justify-content-between">
    <div class="col-12 d-flex justify-content-between">
      <h4>Summery</h4>
      <i class="fa fa-refresh cursor-pointer" (click)="ngOnInit()"></i>
    </div>
  </div>

  <div class="row details" *ngIf="(result$|async) as result">

    <div class="col-2  d-flex flex-column align-items-center">
      <i class="fa fa-area-chart"></i>
      <span class="number">{{result.totalSessions}}</span>
      <span class="description">Total Session</span>
    </div>
    <div class="col-2 pb-5 d-flex flex-column align-items-center">
      <i class="fa fa-users"></i>
      <span class="number">{{result.totalUsers}}</span>
      <span class="description">Total Users</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-envelope"></i>
      <span class="number">{{result.totalMessages}}</span>
      <span class="description">Total Message Proceeded</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-exchange"></i>
      <span class="number">{{result.averageMessages}}</span>
      <span class="description">Average Message/Session</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-clock-o"></i>
      <span class="number">{{result.totalTime.hours + ":" + result.totalTime.minutes }}</span>
      <span class="description">Total Time Spent</span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <i class="fa fa-hourglass"></i>
      <span class="number">{{result.averageTime.hours + ":" + result.averageTime.minutes }}</span>
      <span class="description">Time spent per session</span>
    </div>
  </div>
</div>
