<div class = "overview-wrapper-loder" *ngIf="!(data$|async) && !errorInHeader">
  <app-imi-loader ></app-imi-loader>
</div>

<div class = "overview-wrapper" *ngIf="(data$|async) as data">
  <div class = "section-heading heading">
    Sessions
  </div>
  <div class="section-data">
    <div class = "big-box">
      <div class = "text">
        <div class="name">
          Total sessions
        </div>
        <div class="number">
          {{data.totalSessions['total']}}
        </div>
      </div>
      <div class = "chart">
        <app-chart  [chartValue]="chartValue" [shoudResize] = true [exportEnable] = false>
        </app-chart>
      </div>
    </div>
    <div class = "small-boxes">
      <div class = "small-box">
      <div class = "text">
        <div class="name">
          Bot handled
        </div>
        <div class="number">
          {{data.totalSessions['bot handled']}}
        </div>
      </div>
        <div class = "icon">
          <img class="" src="assets/img/analytics/bot-icon.svg" alt="">
        </div>
      </div>
      <div class = "small-box">
        <div class = "text">
          <div class="name">
            Handed over
          </div>
          <div class="number">
            {{data.totalSessions['agent handled']}}
          </div>
        </div>
        <div class = "icon">
          <mat-icon>headset_mic</mat-icon>
        </div>
      </div>
    </div>
    <div class = "big-box">
      <div class = "text">
        <div class="name">
          Total Messages
        </div>
        <div class="number">
          {{data.totalMessages['agent'] + data.totalMessages['bot'] + data.totalMessages['human'] }}
        </div>
      </div>
      <div class = "chart">
        <app-chart  [chartValue]="chartValue" [shoudResize] = true [exportEnable] = false>
        </app-chart>
      </div>
    </div>
    <div class = "small-boxes">
      <div class = "small-box">
        <div class = "text">
          <div class="name">
            Bot messages
          </div>
          <div class="number">
            {{data.totalMessages['bot']}}
          </div>
        </div>
        <div class = "icon">
          <img class="" src="assets/img/analytics/bot-icon.svg" alt="">
        </div>
      </div>
      <div class = "small-box">
        <div class = "text">
          <div class="name">
            Human messages
          </div>
          <div class="number">
            {{data.totalMessages['human']}}
          </div>
        </div>
        <div class = "icon">
          <img class="" src="assets/img/analytics/baseline-person.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class = "engagement-heading heading">
    Engagement
  </div>
  <div class = "engagement-data">
    <div class = "small-box">
      <div class = "text">
        <div class="name">
          Lifetime users
        </div>
        <div class="number">
          {{data.totalUsers}}
        </div>
      </div>
      <div class = "icon">
        <img class="" src="assets/img/analytics/baseline-2-people.svg" alt="">
      </div>
    </div>
    <div class = "long-box">
      <div class = "text">
        <div class="name">
          Average session time
        </div>
        <div class="number">
          {{ data.averageTime['days']*24*60 + data.averageTime['hours']*60 + data.averageTime['minutes']}} <div style="font-size: 13px">mins</div>
        </div>
      </div>
      <div class = "icon">
        <img class="" src="assets/img/analytics/baseline-timer.svg" alt="">
      </div>
    </div>
    <div class = "long-box">
      <div class = "text">
        <div class="name">
          Average messages per session
        </div>
        <div class="number">
          {{data.averageMessages}}
        </div>
      </div>
      <div class = "icon">
        <img class="" src="assets/img/analytics/baseline-message.svg" alt="">
      </div>
    </div>
    <div class = "small-box">
      <div class = "text">
        <div class="name">
          Total session time
        </div>
        <div class="number">
          {{ data.totalTime['days']*24*60 + data.totalTime['hours']*60 + data.totalTime['minutes']}} <div style="font-size: 13px">mins</div>
        </div>
      </div>
      <div class = "icon">
        <img class="" src="assets/img/analytics/outline-watch.svg" alt="">
      </div>
    </div>
  </div>
</div>
