<div class="container-fluid">
  <div class="row">
    <div class="col-12 header d-flex align-items-center">
      <div class="heading">
        Summery
      </div>
      <span class="pl-1 text-muted"> (Compared over previous range)</span>
    </div>
  </div>
  <div class="row display-data-row">
    <!--q1 starts-->
    <div class="col-6 border-right border-bottom pb-5">
      <div class="heading mb-12">Total Session</div>
      <div class="font-20 mb-32">245k</div>
      <div class="d-flex justify-content-between font-20 mb-2">
        <div>40%</div>
        <div>20%</div>
        <div>20%</div>
      </div>
      <div class="d-flex justify-content-between">
        <div>Completed by bot</div>
        <div>Agent Handover</div>
        <div>User Abandoned</div>
      </div>
    </div>

    <!--q2 starts-->
    <div class="col-6 border-bottom">
      <div class="heading mb-12">Total Users</div>
      <div class="font-26 mb-32">127k</div>
      <div class="d-flex justify-content-between mb-2">
        <div class="d-flex flex-column align-items-center">
          <div class="font-20 mb-2">40%</div>
          <div>New</div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="font-20 mb-2">60%</div>
          <div>Returning</div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="font-20 mb-2">345k</div>
          <div>Message exchanges</div>
        </div>
      </div>
    </div>
    <!--q3 starts-->
    <div class="col-6 border-right q3">
      <div class="row m-0 ">
        <div class="col-6 p-0 heading mb-12">Avg time spent on bot</div>
        <div class="col-6 p-0 heading mb-12">
          <div>Avg session per user</div>
        </div>
      </div>
      <div class="row m-0 mb-32">
        <div class="col-6 p-0 font-26">420</div>
        <div class="col-6 p-0 font-26">
          <div>2.4</div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 p-0 heading mb-12">Total time spent</div>
        <div class="col-12 p-0 font-26">156</div>
      </div>
    </div>

    <!--q4 starts-->
    <div class="col-6 q4">

      <div class="row m-0">
        <div class="col-6 p-0 heading mb-12">Top flows triggered</div>
        <div class="col-6 p-0 heading mb-12">
            <div>Top template keys triggered</div>
        </div>
        <div class="row m-0">
          <div class="col-5 p-0 d-flex justify-content-between">
            <span>Do_you_deliver</span>
            <span class="font-20">2%</span>
          </div>
          <div class="col-1"></div>
          <div class="col-6 p-0 d-flex justify-content-between">
            <span>Do_you_deliver</span>
            <span class="font-20">2%</span>
          </div>
          <div class="col-5 p-0 d-flex justify-content-between">
            <span>Do_you_deliver</span>
            <span class="font-20">2%</span>
          </div>
          <div class="col-1"></div>
          <div class="col-6 p-0 d-flex justify-content-between">
            <span>Do_you_deliver</span>
            <span class="font-20">2%</span>
          </div>
        </div>

      </div>
    </div>
  </div>
