@import '~src/sass/main';

//img{
//  height: 200px;
//  width:200px;
//  padding: 10px 10px ;
//}
//
//.card-title{
//  @include typography($font-size-xl, $line-height-normal, $font-weight-normal, $color-text-normal)
//}
//
//.card-body{
//  @include typography($font-size-normal, 18px, $font-weight-normal, $color-text-grey);
//}
//
//.card-header, .card-body{
//  border-bottom: $border-normal;
//
//}
//
//.card-body{
//  border-top: $border-normal;
//
//}
//

//
.grid-documentation {
  margin-top: 20px;
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;

  .grid-card {
    display: grid;
    grid-template-rows: 1.5fr 4fr 2fr 1fr;
    background-color: white;
    .header{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.fa{
  padding-right: 10px;
}
