<div class="vertical-centered-box">
<!--  <div class="content" >-->
<!--    <div class="loader-circle"></div>-->
<!--    <div class="loader-line-mask">-->
<!--      <div class="loader-line"></div>-->
<!--    </div>-->
<!--    <img alt="imi loader"  src="https://staging.imibot.ai/static/favicon.ico">-->
<!--  </div>-->

  <div class="loader center-absolute" *ngIf="!customTemplate">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke="#00abd3" stroke-width="1"></circle>
    </svg>
    <img src="https://imibot.ai/static/assets/img/connect-copy@2x.png" class="loaderimg"  alt = "connect image">
  </div>
  <ng-content *ngIf="customTemplate"></ng-content>
</div>
