<!--<button (click)="click1()">click</button>-->
<form ngNativeValidate
      [ngClass]="{'':errorMessage}"
      class=" d-flex align-items-center analysis2-header-row position-relative" #form="ngForm">


  <div class="heading ml-4">Filter Data</div>

  <div class="form-group m-0 mr-4 ml-auto">
    <!--<label for="">Bot</label>-->
    <!--<select ngModel required name="botId">-->
    <!--<option *ngFor="let bot of codebasedBotList; let i = index;" [selected]="i===0" type="button" [value]="bot.roomId">{{bot.name}}</option>-->
    <!--</select>-->

    <!--<i>{{bot_id}}</i>-->
    <!--<i (click)="log()">log</i>-->
    <mat-form-field>
      <mat-select placeholder="Select bot" [(ngModel)]="bot_id" name="botId">
        <mat-option *ngFor="let bot of codebasedBotList; let i = index;" [value]="bot.id">
          {{bot.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="form-group m-0 mr-4 ">
    <!--<label for="">Channel</label>-->
    <!--<select  [ngModel] required name="platform">-->
    <!--<option *ngFor="let channel of channelList"  type="button" [value]="channel.name">{{channel.displayName}}</option>-->
    <!--</select>-->

    <mat-form-field>
      <mat-select placeholder="Channel" ngModel name="platform" [value]="channelList[0]">
        <mat-option *ngFor="let channel of channelList" [value]="channel.name">
          {{channel.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="m-0 mr-4">
    <!--<label for="">Time Range</label>-->
    <!--<input type="text"-->
    <!--placeholder="Start Date"-->
    <!--style="width: 100px;"-->
    <!--name="startdate"-->
    <!--[(ngModel)]="startdate"-->
    <!--required-->
    <!--readonly-->
    <!--bsDatepicker-->
    <!--[bsConfig]="datePickerConfig">-->

    <mat-form-field>
      <input matInput
             required
             readonly
             placeholder="Choose a date range"
             name="date_range"
             [max]="maxDate"
             [ngModel]="date"
             [satDatepicker]="picker">
      <sat-datepicker #picker
                      [rangeMode]="true"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
<!---->
  </div>
  <!--<div class="form-group m-0 mr-4">-->
  <!--<input type="text"-->
  <!--style="width: 100px;"-->
  <!--placeholder="End Date"-->
  <!--name="enddate"-->
  <!--[(ngModel)]="enddate"-->
  <!--bsDatepicker-->
  <!--readonly-->
  <!--[maxDate]="maxDate"-->
  <!--[bsConfig]="datePickerConfig">-->
  <!--</div>-->

  <div class="form-group m-0 mr-4">
    <!--<label for="">Granularity</label>-->
    <!--<select  [ngModel]="granularityList[0]" required name="granularity">-->
    <!--<option *ngFor="let granularity of granularityList"  type="button" [value]="granularity">{{granularity}}</option>-->
    <!--</select>-->

    <mat-form-field>
      <mat-select [ngModel]="granularity" placeholder="Granularity" required name="granularity"
                  [value]="granularityList[0]">
        <mat-option *ngFor="let granularity of granularityList" [value]="granularity.value">
          {{granularity.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="text-right" style="position: absolute; left: 0;right: 0; bottom: 0">
    <i *ngIf="errorMessage" class="text-danger mr-4" style="font-size: 11px">{{errorMessage}}</i>
  </div>

</form>


