<!--<button mat-raised-button color="black">hello</button>-->
<!--<progressbar-->
<!--*ngIf="showProgressbar"-->
<!--[value]="progressVal"-->
<!--[animate]="true"-->
<!--style="position: fixed; right: 0px; top: 0px;z-index:300000000"></progressbar>-->

<!--<p>{{progressVal}}</p>-->
<mat-progress-bar
  [hidden]="!showProgressbar"
[value]="progressVal"
mode="determinate"
  style="position: fixed; right: 0px; top: 0px;z-index:300000000"
></mat-progress-bar>
<!--<button (click)="test()">test</button>-->
<router-outlet></router-outlet>
<app-backend-dev></app-backend-dev>

