<!--<router-outlet>-->
<!--</router-outlet>-->

<!--<div class="vertical-centered-box" *ngIf="loading" style="z-index: 1000000000000;">-->
<!--  <div class="content">-->
<!--    <div class="loader-circle"></div>-->
<!--    <div class="loader-line-mask">-->
<!--      <div class="loader-line"></div>-->
<!--    </div>-->
<!--    <img alt="Favicon" src="https://staging.imibot.ai/static/favicon.ico">-->
<!--  </div>-->
<!--</div>-->


<a class="button is-primary" (click)="show(tpl, origin)" #origin>Popover</a>

<ng-template #tpl let-close="close">
  And here's some amazing content. It's very engaging. Right?
  <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <a class="button is-danger is-small" (click)="close({id: 2})">Close</a>
  </div>
</ng-template>
