<router-outlet></router-outlet>
<div *ngIf="!isFullScreenPreview" style="position: fixed; right: 0px; bottom: 5px;z-index:100">
  <app-chat-wrapper></app-chat-wrapper>
</div>





<!--<textarea id="code" name="code">-->
    <!--&lt;!&ndash; Where a CodeMirror instance should be rendered &ndash;&gt;-->
<!--</textarea>-->



<!--<app-session-detail-model></app-session-detail-model>-->


<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-4">-->
<!--<app-session-tabs-details> </app-session-tabs-details>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<app-reportItem$-details></app-reportItem$-details>-->


