<!--<div class="d-flex row-body bg-white border mt-4">-->

  <!--<div class="side-bar  border-right">-->
    <!--<div class="side-bar-content">-->
      <!--<a [routerLink]="['/core','analytics2']" routerLinkActive="font-weight-bold" class="heading  my-3">Analytics</a>-->
      <!--<a [routerLink]="['/core','analytics2','overview']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Overview</a>-->
      <!--<a [routerLink]="['/core','analytics2','volume']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Volume</a>-->
      <!--<a [routerLink]="['/core','analytics2','performance']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Performance</a>-->
      <!--<a [routerLink]="['/core','analytics2','engagement']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Engagement</a>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="flex-grow-1">-->
    <!--<router-outlet style="flex-grow: 1"></router-outlet>-->
  <!--</div>-->
  <!--&lt;!&ndash;<app-analysis2-overview></app-analysis2-overview>&ndash;&gt;-->

<!--</div>-->
