@import "~src/sass/main.scss";

.row-body{
    height: 85%;
  .side-bar{
    flex-basis: 13%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .side-bar-content{
      display: flex;
      flex-direction: column;
    }
  }
  .heading {
    @include typography(16px, $line-height-normal, $font-weight-700, $color-text-normal);
  }

  .tab{
    @include typography(13px, $line-height-normal, $font-weight-300, $color-text-normal);

  }
}
