<div class="primary-modal1">
  <div class="modal-header1">
    <h4 class="modal-title mb-2">Choose a bot type</h4>
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body1 pt-0">
    <div class="action d-flex cursor-pointer p-2" (click)="dialogRef.close(myEBotType.chatbot)">
      <div class="d-flex" style="padding-right: 20px">
        <span class="fa fa-angle-left pr-1"></span>
        <span class="fa fa-angle-right"></span>
      </div>
      <div class=" d-flex flex-column align-items-start justify-content-between">
        <div class="new-bot-heading font-weight-bold">Code based bot</div>
        <div class="new-bot-text">Build a new python based bot for deployment</div>
      </div>
    </div>

    <div class="action d-flex mt-2 cursor-pointer p-2" (click)="dialogRef.close(myEBotType.intelligent)">
      <div class="d-flex" style="padding-right: 20px">
        <span class="fa fa-server"></span>
      </div>
      <div class="d-flex flex-column align-items-start justify-content-between">
        <div class="new-bot-heading font-weight-bold">Pipeline based bot</div>
        <div class="new-bot-text">Process user inputs and push to other services</div>
      </div>
    </div>

    <div class="action d-flex mt-2 cursor-pointer p-2" (click)="dialogRef.close(myEBotType.faqbot)">
      <div class="d-flex" style="padding-right: 20px">
        <span class="fa fa-book"></span>
      </div>
      <div class="d-flex flex-column align-items-start justify-content-between">
        <div class="new-bot-heading font-weight-bold">Search based bot</div>
        <div class="new-bot-text">Build a new search based bot for deployment</div>
      </div>
    </div>
  </div>
</div>
