<div #scrollMe class="d-flex flex-column mb-1 chat-window-section">
  <app-chat-message
    *ngFor="let messageData of _messageDataArray; let isLast = last"
    [allow_feedback]="_allow_feedback"
    data-cy="chat-message"
    [isFullScreenPreview]="isFullScreenPreview"
    [isLastMessage]="isLast"
    (chatMessageFeedback$)="feedback(messageData, $event)"
    (sendMessageToBotServer$)="sendMessageByHuman($event)"
    class="mx-2"
    style="margin-bottom: 16px; flex-shrink: 0"
    [bot]="room.bot"
    [messageData]="messageData">
  </app-chat-message>
  <div *ngIf="!_messageDataArray" class="w-100 h-100 d-flex align-items-center justify-content-center">
    <p class="text-muted">Click 'New Chat' to start a conversation</p>
  </div>
  <div [hidden]="!showBotIsThinking" class="mt-auto">
    <app-chat-message
            [bot]="room.bot"
            [isFullScreenPreview]="isFullScreenPreview"
      (sendMessageToBotServer$)="sendMessageByHuman($event)"
      class="mx-2"
      *ngFor="let messageData of botIsThinkingMessageDataArray"
      [messageData]="messageData">
    </app-chat-message>
  </div>
</div>

<!--text input starts-->
<div *ngIf="_messageDataArray" class="footer" [ngClass]="{'footer-anon-view ':isAnonView}">
  <input class="chat-input px-2 flex-grow-1"
         cdkTrapFocus
         data-cy="chat-input"
         placeholder="Write here and press enter to send" autofocus [(ngModel)]="messageByHuman" type="text"
         (keyup.enter)="sendMessageByHuman(messageByHuman)" style="color:	#696969">
  <span class="icon"><span class="fa fa-send cursor-pointer" (click)="sendMessageByHuman(messageByHuman)"></span></span>
</div>
<!--text input ends-->
