@import "~src/sass/main.scss";

.footer {
  grid-area: f;
  position: relative;
  padding: 3px 10px;

  input {
    height: 80%;
    width: 90%;
    background-color: #f7f7f7;
    @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-secondary);
    border-radius: 4px;
    @include hide-borders();

    &::placeholder {
      color: #bebebe !important;
    }

  }

  .icon {
    color: $color-primary;
    font-size: 25px;
  }
}

app-chat-message {
  display: block;
}

