@import "~src/sass/main.scss";
:host{
  position: relative;
  display: block;
  height: 100%;
}
.analytics-grid{
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  grid-template-areas:
    "sid ana"
;
  .side-bar{
    position: fixed;
    grid-area: sid;
  }
  .grid-analysis2{
    grid-area: ana;
  }
}
.grid-analysis2{
  padding: 26px 26px 26px 26px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 1fr;
  grid-template-areas:
  "d"
  "h"
  "b"
;
  .overview-heading{
    grid-area: d;
  }
  .header{
    grid-area: h;
  }
  .body{
    grid-area: b;
  }
  .hide-heading{
    display: none;
  }
  .show-hidden-heading{
    display: block;
  }
}


.row-body{
  height: 100%;

  .heading {
    @include typography(16px, $line-height-normal, $font-weight-700, $color-text-normal);
  }
}
.side-bar{
  display: flex;
  width: 60px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 22px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  .side-bar-content{
    display: flex;
    flex-direction: column;
    .mat-list-item-sidebar {
      margin-bottom: 16px;
      text-decoration: none;
      filter: brightness(40%);
    }

    .filter-black {
      filter: brightness(100%) !important;
    }
    .sidebar-nav-list-item{
      width: 100%;
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center !important;
      font-size: 11px;
      line-height: 15px;
      padding: 0;
      img {
        margin-bottom: 6px;
        padding: 0;
        width: 27px;
        height: 27px;
      }

    }
  }




}

.overview-heading{
  .heading{
    font-size: 16px;
    font-weight: bold;
    color: #474747;
  }
  .heading-discription{
    font-size: 11px;
    color: #8f8f8f;
  }

}

