.grid-analysis2{
  padding: 26px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 540px;
  grid-template-areas:
  "h"
  "b"
;
  .header{
    grid-area: h;
  }
  .body{
    grid-area: b;
  }
}

