<div class="grid-analysis2" *ngIf="(allCodeBasedBotList$|async) && (allCodeBasedBotList$|async).length>0; else splashscreen">
  <app-analysis2-header [allbotList]="(allCodeBasedBotList$|async)" class="header"></app-analysis2-header>
  <div class="body">
    <div class="d-flex row-body bg-white border mt-4">

      <div class="side-bar  border-right">
        <div class="side-bar-content">
          <a routerLinkActive="font-weight-bold" class="heading  my-3">Analytics</a>
          <a [routerLink]="['/core','analytics2','volume']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Volume</a>
          <a [routerLink]="['/core','analytics2','performance']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Performance</a>
          <a [routerLink]="['/core','analytics2','engagement']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Engagement</a>
          <a [routerLink]="['/core','analytics2','usage']" routerLinkActive="font-weight-bold" class="tab-theme mb-3">Usage</a>
        </div>
      </div>

      <div class="flex-grow-1">
        <router-outlet style="flex-grow: 1"></router-outlet>
      </div>
    </div>

  </div>
</div>
<ng-template
        #splashscreen>
<app-splash-screen
        style="position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;"
        [imageHRef]="'group-2.svg'"
        [headingText]="'No bots available in your account'"
        [descriptionText]="'Create a new bot or ask your administrator to add bots'"
></app-splash-screen>
</ng-template>
