<div class = "analytics-grid">
  <div class="side-bar  border-right">
    <div class="side-bar-content">
      <a [routerLink]="['/core','analytics2','overview']" routerLinkActive="filter-black" class="mat-list-item-sidebar" >
        <div class="sidebar-nav-list-item">
          <img class="" src="assets/img/analytics/pie-chart.svg" alt="">
          <span style="color: #00ABD3">Overview</span>
        </div>
      </a>
      <a [routerLink]="['/core','analytics2','volume']" routerLinkActive="filter-black" class="mat-list-item-sidebar" >
        <div class="sidebar-nav-list-item">
          <img class="" src="assets/img/analytics/stopwatch.svg" alt="">
          <span style="color: #00ABD3">Activity</span>
        </div>
      </a>
      <a [routerLink]="['/core','analytics2','engagement']" routerLinkActive="filter-black" class="mat-list-item-sidebar" >
        <div class="sidebar-nav-list-item">
          <img class="" src="assets/img/analytics/filter-2.svg" alt="">

          <span style="color: #00ABD3">Retention</span>
        </div>
      </a>
      <a [routerLink]="['/core','analytics2','performance']" routerLinkActive="filter-black" class="mat-list-item-sidebar" >
        <div class="sidebar-nav-list-item">
          <img class="" src="assets/img/analytics/like-3.svg" alt="">
          <span style="color: #00ABD3">Behavior</span>
        </div>
      </a>
      <a [routerLink]="['/core','analytics2','usage']" routerLinkActive="filter-black" class="mat-list-item-sidebar" *ngIf="false">
        <div class="sidebar-nav-list-item">
          <img class="" src="assets/img/sidebar/light-bulb.svg" alt="">
          <span style="color: #00ABD3">Usage</span>
        </div>
      </a>
    </div>
  </div>

  <div class="grid-analysis2" *ngIf="(allCodeBasedBotList$|async) && (allCodeBasedBotList$|async).length>0; else splashscreen">
    <div class = "overview-heading">
      <div class = "heading">Overview</div>
      <div class = "heading-discription">See how the bot is performing overall and take a decision to where to dig deep into</div>
    </div>
    <app-analysis2-header [allbotList]="(allCodeBasedBotList$|async)" class="header"></app-analysis2-header>
    <div class="body">
      <div class="d-flex row-body">
        <div class="flex-grow-1">
          <router-outlet style="flex-grow: 1"></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template
        #splashscreen>
<app-splash-screen
        style="position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;"
        [imageHRef]="'group-2.svg'"
        [headingText]="'No bots available in your account'"
        [descriptionText]="'Create a new bot or ask your administrator to add bots'"
></app-splash-screen>
</ng-template>
