@import "~src/sass/main.scss";
:host{
  position: relative;
  display: block;
  height: 100%;
}
.grid-analysis2{
  padding: 26px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 600px;
  grid-template-areas:
  "h"
  "b"
;
  .header{
    grid-area: h;
  }
  .body{
    grid-area: b;
  }
}


.row-body{
  height: 85%;
  .side-bar{
    flex-basis: 13%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .side-bar-content{
      display: flex;
      flex-direction: column;
    }
  }
  .heading {
    @include typography(16px, $line-height-normal, $font-weight-700, $color-text-normal);
  }
}

