@import "./../../../sass/main";


%header-highlighted-nav-item{
  background-color: #26415b !important;
  color: white;

  span {
    color: white;
  }
  a {
    color: white;
  }
}


header {
  //margin-bottom: 16px;
  display: flex;
  align-items: center;
  background-color: $color-primary-v2;
  height: 56px;
  font-size: 13px;
  color: white;
  position: relative;

  .header_icon-row { /*this row will only appear in Mobile devices*/
    position: absolute;
    top: 100%;
    background: lighten($color-primary-v2, .3%);
    width: 100%;
    height: 75%;
    z-index: 1000;
    @include flexbox-centered();

    & > * {
      color: white;
      font-size: 18px;
      margin-right: 10px;
    }

    & > *:last-child {
      margin-right: 0px;
    }

    a {
      display: flex;
      padding: 10px;
    }
  }

  .box-logo { /*imi logo*/
    padding: 16px;
    @include flexbox-centered();
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .header__nav { /*navigation icons on left side*/
    padding: 16px;
    height: 100%;
    @include flexbox-centered();
    color: #ffffff;
    text-decoration: none;
    margin-left: 4px;
    &:hover{
      @extend %header-highlighted-nav-item;
      span{
        font-weight: 300;
      }
    }

    img {
      margin-right: 8px;
    }

    @media screen and (max-width: 780px) {
      .header__nav--title {
        display: none;
      }
    }
  }

  .header__right { /*entire content on right side starting from the name of Enterprise*/
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;

    .box-details-personal {
      display: flex;
      flex-direction: column;
    }

    .box {
      height: 100%;
      text-decoration: none;
      @extend %centered-flex;

      .box_initials {
        @extend %centered-flex;
        background-color: #00abd3;
        color: white;
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }

    & > .box:first-child {
      align-items: flex-end;
      margin-right: 10px;
    }

    & > .box:last-child {
      border-left: 1px solid #1d4366;
      margin-left: 10px;
      padding-left: 10px;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .hamburger { /*Only for smell devices*/
    display: none;
    color: white;
    margin-left: auto;
    font-size: 18px;
    padding: 10px;
  }

  @media screen and (max-width: 480px) {
    .header__nav, .header__right {
      display: none;
    }

    .hamburger {
      display: inline-block;
    }
  }

}


.highlight-nav-item {
  @extend %header-highlighted-nav-item;
  span{
    font-weight: bold !important;
  }
}


.header-dropdown-item {
  line-height: 30px;
  height: auto;
  text-decoration: none!important;
  font-size: 11px;

  &:first-child {/*first child is user's name*/
    cursor: default !important;

    background-color: white !important;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    padding-top: 4px;
    color: #474747;
    padding-bottom: 10px;
  }
}

.fa {
  color: white;
  margin: 0;
}


::ng-deep{
  button{
    //padding-top: 2px !important;
    //font-size: 13px !important;
  }

  .mat-menu-panel{
    width: 170px !important;
    border-radius: 2px !important;
  }

  .cutom-md-menu {
    //

    .mat-menu-content {
      //padding: 0;

      //button {
      //  height: 40px;
      //  font-size: 13px;
      //  line-height: 13px;
      //}
    }
  }
}

