<header>

  <div class="box-logo" style="position: relative">
    <a routerLink="/" style="">
      <img class="box-logo__image" src="assets/img/connect-copy@2x.png" alt="website logo">
    </a>
  </div>

  <a class="header__nav" [routerLink]="'/core/viewbots/'" routerLinkActive="highlight-nav-item">
    <img class="box-logo__image" src="assets/img/dashboard-icon.svg" alt="website logo">
    <span class="header__nav--title">Dashboard</span>
  </a>
  <a *myIf="[myEAllActions['Get Enterprise Knowledge base']]" class="header__nav" [routerLink]="'/core/customner/'" routerLinkActive="highlight-nav-item">
    <img class="box-logo__image" src="assets/img/knowledge-icon.svg" alt="website logo">
    <span class="header__nav--title">Knowledge</span>
  </a>

  <a *myIf="[myEAllActions['Analytics']]" class="header__nav" [routerLink]="['/core','analytics2','volume']"
     routerLinkActive="highlight-text-on-route-match">
    <img class="box-logo__image" src="assets/img/anaytics.svg" alt="website logo">
    <span class="header__nav--title">Analytics</span>
  </a>
  <a *myIf="[myEAllActions['Get Reports']]" class="header__nav" [routerLink]="'/core/reports'" routerLinkActive="highlight-nav-item">
    <img class="box-logo__image" src="assets/img/reports.svg" alt="website logo">
    <span class="header__nav--title">Reports</span>
  </a>

  <!--left ends-->


  <!--Right start-->
  <div class="header__right">
    <div class="box box-details-personal">
      <span class="box-details-personal__name">{{(loggeduser$|async).user.enterprise.name}}</span>
      <span class="box-details-personal__designation">{{(loggeduser$|async).user.role.name}}</span>
    </div>
    <img [src]="logoSrc" alt="Enterprise logo">
    <div class="box">
      <div class="box_initials">{{userData?.first_name[0] + userData?.last_name[0]}}</div>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="click-save-wrapper">
        <i class="fa fa-chevron-down"></i>
      </button>
      <mat-menu class="cutom-md-menu" #appMenu="matMenu">

        <a mat-menu-item disabled class="header-dropdown-item">
          {{userData.first_name + " " + userData.last_name}}
        </a>

        <mat-divider *myIf="myEAllActions['Get Enterprise']"></mat-divider>
        <a mat-menu-item class="header-dropdown-item" [routerLink]="['profile']"
           routerLinkActive="highlight-nav-item">Profile</a>
        <a mat-menu-item class="header-dropdown-item cursor-pointer" (click)="logout()">Sign out</a>
        <a mat-menu-item class="header-dropdown-item" (click)=changeEnterprise(changeEnterpriseModal)
           *ngIf="enterpriseList && enterpriseList.length > 1">Switch enterprise</a>
        <!--<mat-divider *myIf="myEAllActions['Get Enterprise']"></mat-divider>-->
        <a mat-menu-item class="header-dropdown-item" *myIf="myEAllActions['Get Enterprise']"
           [routerLink]="['enterpriseprofile']"
           routerLinkActive="highlight-nav-item">Enterprise Profile</a>
      </mat-menu>
    </div>
  </div>

  <i class="fa hamburger" [ngClass]="{'fa-bars':!showIconRow, 'fa-times': showIconRow}"
     (click)="showIconRow = !showIconRow"></i>

  <div class="header_icon-row" *ngIf="showIconRow">

    <a [routerLink]="'/core/viewbots/'" routerLinkActive="highlight-nav-item">
      <img class="box-logo__image" src="assets/img/dashboard-icon.svg" alt="View Bot logo">
    </a>
    <a [routerLink]="'/core/customner/'" routerLinkActive="highlight-nav-item">
      <img class="box-logo__image" src="assets/img/knowledge-icon.svg" alt="Knowledge logo">
    </a>
    <a [routerLink]="['/core','analytics2','volume']"
       routerLinkActive="highlight-text-on-route-match">
      <img class="box-logo__image" src="assets/img/anaytics.svg" alt="Analytics logo">
    </a>
    <a [routerLink]="'/core/reports'" routerLinkActive="highlight-nav-item">
      <img class="box-logo__image" src="assets/img/reports.svg" alt="Reports logo">
    </a>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="click-save-wrapper">
      <i class="fa fa-chevron-down m-0" style="color: white"></i>
    </button>
  </div>

</header>

<ng-template #changeEnterpriseModal>
  <div class="primary-modal" style="width: 650px;">
    <div class="modal-header" style="border: none;">
      <h4 class="modal-title" style="display: flex;justify-content: start;">Switch enterprise</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="d-flex mb-3" style="align-items: center;">
      <div style="font-size: 13px;" class="pl-3">Select an enterprise to view corresponding bots</div>
      <div class="search-theme-input-with-search ml-auto">
        <span class="fa fa-search" style="top: 13px;left: 15px;"></span>
        <input class="border" placeholder="Enterprise" [(ngModel)]="searchEnterprise" type="search"
               style="height: 24px;">
      </div>
    </div>
    <div class="modal-body pt-0" style="height:400px;">
      <app-enterprise-list [enterpriseList]="enterpriseList" [searchEnterprise]="searchEnterprise"
                           (clickedEnterprise)="enterEnterprise($event);dialogRefWrapper.ref.close()"
                           [currentEnterpriseId]="(loggeduser$|async).user.enterprise.id"></app-enterprise-list>
    </div>
  </div>
</ng-template>
