@import '~src/sass/main';

.header-container {
  height: 56px;
  //@include center-vertical();
  padding: 10px 0px;
  background-color: white;

  position: fixed;
  z-index: 115;
  left: 0;
  right: 0;

  .header-container__left{
    //padding-bottom: 15px;
    //padding-top: 9px;
    //padding-right: 28px;
  }

  .header-nav{
    @include typography(13px, $line-height-normal, $font-weight-300, $color-secondary);
    text-decoration: none;
    .fa{
      font-size: 15px;
      color: inherit!important;
    }
    &:hover{
      color: $color-primary !important;
    }
  }

  .box-logo {
    width: 180px;
    border-right: solid 1px #e0e0e0;;
    @include center-horizontal;
    .box-logo__image {
      height: 32px !important;
    }
  }

  .box-search {
    width: 40%;
    .box-search__input {
      border: none;
      width: 100%;
    }

    .box-search__input:focus {
      @include hide-borders(); //to hide border when focused
    }

  }

  .box-details-personal {
    @include typography($font-size-md, $line-height-normal, $font-weight-300, $color-text-normal);
    border-right: $border-normal;
    .box-details-personal__designation {
      color: #9e9e9e;
    }
  }

  .box-details__logo, .box-details__orgname {
    padding-right: 10px;
  }
}

.fa {
  font-size: 14px;
  margin-right: 8px;
  color: $color-text-normal;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-text-muted;
  opacity: 1; /* Firefox */
}

.header-nav {
  margin-right: 22px;
  color: #474747 !important;
  .fa{
    color: #9e9e9e !important;
  }
}
.btn-group {
  >ul>li{
    :hover{
      color: $color-primary !important;
      }
  }

}


.highlight-text-on-route-match{
  //:not(.fa){
    color: $color-primary !important;
  //}
}

.nav-dropdown-menu{
  li{
    padding: 3px 10px;

  }
}

.primary-modal{
  @include classic-modal($color-primary);
}

.dropdown-item{
  line-height: 30px;
  height: auto;
}
