<div class="container-fluid header-container shadow-theme">

  <div class="box box-logo" style="position: absolute; top: 0; bottom: 0; z-index: 40;">
    <a routerLink="/" style="padding-top: 9px;">
      <img class="box-logo__image" src="https://imibot.ai/assets/img/IMI_logo.png" alt=""></a>
  </div>

  <div class="row">
    <div class="col-8 col-md-9 header-container__left d-flex align-items-end">
      <!--TODO: THIS IMAGE IS INVISIBLE; REMOVE IT ALTOGETHER-->
      <div class="box box-logo invisible">
        <a routerLink="/"><img class="box-logo__image" src="https://imibot.ai/assets/img/IMI_logo.png" alt=""></a>
      </div>

      <div class="box box-tools">
        <a class="header-nav" [routerLink]="'/core/viewbots/'+myEBotType.chatbot"
           routerLinkActive="highlight-text-on-route-match">
          <i class="fa fa-home"></i>
          <span class="d-none d-lg-inline">Bot Dashboard</span>
        </a>
        <a class="header-nav" routerLink="customner" routerLinkActive="highlight-text-on-route-match"
           *myIf="myEAllActions['Get Enterprise Knowledge base']">
          <i class="fa fa-graduation-cap"></i>
          <span class="d-none d-lg-inline">Knowledge Base</span>
        </a>
        <a class="header-nav" routerLink="analytics2" routerLinkActive="highlight-text-on-route-match"
           *myIf="myEAllActions['Analytics']">
          <i dropdownToggle class="fa fa-bar-chart"></i>
          <span class="d-none d-lg-inline">Analytics</span>
        </a>
        <a *myIf="myEAllActions['Get Reports']" routerLinkActive="highlight-text-on-route-match" class="header-nav"
           routerLink="reports">
          <i class="fa fa-list"></i>
          <span class="d-none d-lg-inline">Reports</span>
        </a>

      </div>
      <a class="header-nav" (click)="toggleDocumentFullScreen();"
         [title]="isDocumentFullScreenModeOn?'Go to fullscreen mode':'Exit fullscreen mode'">
        <i class="fa" [ngClass]="{'fa-television':!isDocumentFullScreenModeOn, 'fa-compress':isDocumentFullScreenModeOn}"></i>
      </a>
    </div>

    <div class="col-4 px-0 col-md-3 d-flex align-items-center">
      <div class="d-flex header-container__right align-items-center ml-auto ">
        <div class="box box-details-personal d-flex flex-column">
          <span class="box-details-personal__name  pr-0 limit-oneline">{{(loggeduser$|async).user.first_name +" "+ (loggeduser$|async).user.last_name}}</span>
          <span class="box-details-personal__designation text-theme-muted pt-1 text-right">{{(loggeduser$|async).user.role.name}}</span>
        </div>

        <div class="box d-flex ">
    <span class="box-details__logo">
      <img class="img-fluid rounded-circle" style="width: 32px"
           [src]="logoSrc" alt="">
    </span>
          <div class="btn-group" dropdown>
            <span dropdownToggle class="box-details__dropdown d-flex align-items-center"><i
              class="fa fa-chevron-down"></i></span>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
              <li role="menuitem"><a class="dropdown-item" [routerLink]="['profile']"
                                     routerLinkActive="highlight-text-on-route-match">Profile</a></li>
              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="logout()">Signout</a></li>
              <li class="divider dropdown-divider" *myIf="myEAllActions['Get Enterprise']"></li>
              <li role="menuitem"><a class="dropdown-item" *myIf="myEAllActions['Get Enterprise']"
                                     [routerLink]="['enterpriseprofile']"
                                     routerLinkActive="highlight-text-on-route-match">Enterprise Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
