<i>{{shot}}</i>
<app-knowledge-base *ngIf="custumNerDataForSmartTable && !showLoader"
  (updateOrSaveParentNers$)="updateOrSaveCustomNer($event)"
  (pageChanged$)="pageChangedTrigger($event)"
  (refreshTable$)="pageChangedTrigger(currentPageNumber)"
  [custumNerDataForSmartTable]="custumNerDataForSmartTable"
  [currentPageNumber]="currentPageNumber"
  [tableDataMetaDict]="constantsService.SMART_TABLE_BOT_KNOWLEDGE_BASE_NER_TABLE_DATA_META_DICT_TEMPLATE"
  [totalRecords]="totalRecords"
  (deleteNer$)="deleteNer($event)"
  >
  <span>Edit the existing concepts or create a new concept</span>
</app-knowledge-base>

<app-imi-loader *ngIf="showLoader"></app-imi-loader>
