<header>
  <div class="d-flex flex-row heading align-items-center">
    <div class="heading-title">
      <span class="fa fa-angle-left cursor-pointer p-1 go-back-button"
            data-cy="goBackFromArticle" (click)="goBackToTableViewClicked()"></span>
      Edit entity
    </div>
    <div class="mr-auto">
    </div>
    <div>
      <button class="mat-theme-button cursor-pointer mr-2" mat-button *appMyIf="myEAllActions['Update entity']"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px;" (click)="saveEntity()" [disabled] = "!editEntityForm.valid">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
    <div >
      <button class="mat-theme-button cursor-pointer mr-2" mat-button
              data-cy="article-delete-button" *appMyIf="myEAllActions['Remove entity']"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; " (click)="deleteEntity()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>
  <div style="color: #696969;font-size: 11px;" class = "mb-3">Edit existing custom entity which can be a list
    or a regular expression (regex), for a list type add synonyms for each value if necessary
  </div>
</header>
<form [formGroup]="editEntityForm">
  <div class = "d-flex flex-row">
    <mat-form-field class = "mr-4">
      <input matInput placeholder="Entity name*" formControlName="name">
      <mat-error class="mat-error-small" *ngIf="editEntityForm.get('name').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
<!--    <mat-form-field style="width: 120px;margin-right: 20px">-->
<!--      <mat-label>Entity type</mat-label>-->
<!--      <mat-select formControlName="type" required>-->
<!--        <mat-option *ngFor="let entity_type of entity_types" [value]="entity_type.name">-->
<!--          {{entity_type.name}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
  </div>

  <div class="heading p-0 pt-2">Add new value</div>
  <ng-form #NewEntityForm = "ngForm" class="d-flex flex-column mb-2">
    <div class = "d-flex" style="align-items: flex-end;">
      <mat-form-field class="mr-4" >
        <input matInput ngModel name = "value" placeholder="Add value*" >
      </mat-form-field>
      <mat-form-field class="example-chip-list" style="flex:1">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let singleSynonyms of NewEntityObjSynonyms;let newSingleSynonymsIndex = index;"
                    [selectable]="selectable" [removable]="removable"
                    (removed) = "deleteNewSynonym(newSingleSynonymsIndex)">
            {{singleSynonyms}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addNewSynonym($event)"
                 placeholder="Add synonyms"
          >
        </mat-chip-list>
      </mat-form-field>
    </div>
    <button class="mat-theme-button cursor-pointer mr-2" type = "submit" mat-button
            [disabled]="!NewEntityForm.value.value"
            style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; width: max-content;"
            (click)="addNewEntity(NewEntityForm.value);NewEntityForm.reset();"
    >
      + Add value
    </button>
  </ng-form>
  <div  formGroupName="data">
    <div class="heading mt-4">All values</div>
    <div class = "d-flex flex-column" formArrayName="values">
      <div *ngFor="let singleEntity of editEntityForm.get('data').get('values')?.controls; let singleEntityIndex = index;">
          <div [formGroupName]="singleEntityIndex" class="d-flex flex-row single-entity"  style="align-items: flex-end;">
            <mat-form-field class="mr-4" >
              <input matInput  formControlName="value" required placeholder="Add value">
              <mat-error class="mat-error-small"
                         *ngIf="this.editEntityForm.get('data').get('values').at(singleEntityIndex).get('value').errors?.error as errorObj">{{errorObj.message}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-chip-list" style="flex:1">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let singleSynonyms of singleEntity.get('synonyms').controls; let singleSynonymsIndex = index;" [selectable]="selectable"
                          [removable]="removable" (removed)="deleteSynonym(singleSynonymsIndex,singleEntity.get('synonyms'))">
                  {{singleSynonyms.value}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addSynonym($event,singleEntity.get('synonyms'))"
                       placeholder="Add synonyms"
                       >
                <mat-icon matSuffix class="onParentHover cursor-pointer"
                          style="font-size: 16px;color: #9e9e9e;" *ngIf="editEntityForm.get('data').get('values').value.length > 1"
                          (click)="removeSynonymsById(singleEntityIndex,editEntityForm)">close
                </mat-icon>
              </mat-chip-list>
            </mat-form-field>
      </div>
    </div>
  </div>
  </div>
</form>
