
<app-smart-table class="entities-table" *appMyIf="myEAllActions['Get entities']"
                 [currentPage]="currentPage"
                 [totalRecords]="totalEntitiesLength"
                 [data]="mlEntitesSmartTableObj?.tableData"
                 (performSearchInDB$)="goToPage($event)"
                 (rowClicked$)="clickedOnTableRow($event)"
                 (customActionEvents)="customActionEventsTriggeredInSessionsTable($event)"
                 [sortedCol]="'Last Update'"
                 [sortDir]="myESortDir.DES"
                  >
</app-smart-table>
<!--(click)="tableClickHandler($event)"-->
<!--*ngIf="ArticleHistorySmartTableObj && ArticleHistorySmartTableObj.tableData"-->
