@import "./../../../../../../../../../sass/main";

.primary-modal1 {
  .modal-header1 {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #474747;
  }
  .modal-body1 {
    .fa {
      font-size: 26px;
      color: #474747;
      //padding: 10px 0px;
    }

    .action {
      //height: 60px;
      border-radius: 2px;
      &:hover {
        background-color: #dcdcdc;
      }
    }

    .new-bot-heading {
      @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-text-normal);
    }

    .new-bot-text {
      @include typography($font-size-xs, $line-height-normal, $font-weight-300, $color-text-normal);
    }
  }
}

input {
  width: 300px;
  border-radius: 2px;
  border: none;
  border: 1px solid $color-secondary;
  height: 28px;
  padding-left: 4px;
  outline: none
}
