<form [formGroup]="form">
  <div>
    <label style="font-size: 11px; color: #ababab">Entity type</label>
  </div>
<!--  <mat-radio-group formControlName="type" aria-label="Select an option" style="    display: flex;-->
<!--    width: 100%;-->
<!--    justify-content: space-around;">-->
<!--    <mat-radio-button value="system">System</mat-radio-button>-->
<!--    <mat-radio-button value="custom">Custom</mat-radio-button>-->
<!--  </mat-radio-group>-->

  <mat-form-field class="mt-2 mb-1">
    <mat-label>Select Entity</mat-label>
    <mat-select formControlName="entity_id" style="margin-bottom: -6px !important;">
      <mat-option
        *ngFor="let e of entityList"
        [value]="e.entity_id">
        {{e.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: flex; justify-content: space-between;">
    <button
      [disabled]="!form.valid"
      (click)="entityMarkerHandler()"
      style="text-decoration: none; color: #00abd3; font-size: 13px; cursor: pointer; background: transparent; border: none">
      <!--      <i style="margin-right: 5px" class="fa fa-plus"></i>-->
      + Save
    </button>
    <a
      *ngIf="this.marker"
      (click)="removeMarkerHandler()"
      style="text-decoration: none; color: #bf3c3c; font-size: 13px; cursor: pointer">
      <i style="margin-right: 5px" class="fa fa-times"></i>Remove
    </a>
  </div>


  <div *ngIf="this.isNew">
    <hr style="margin: 10px 0">
    <a
      style="text-decoration: none; color: #00abd3; font-size: 13px; cursor: pointer" (click)="showCreateNewIntentModel$.emit()">+ New entity</a>
  </div>

</form>
