<table>
  <tr>
    <th>Name</th>
    <th>Paid?</th>
    <th>Pros</th>
    <th>Cons</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let item of tableData.pipeline_modules">
    <td>{{item.library}}</td>
    <td>{{item.is_paid}}</td>
    <td>{{item.pros}}</td>
    <td>{{item.cons}}</td>
    <td (click)="settingsClicked$.emit(item)" class="cursor-pointer">
      <!--<i>{{item|json}}</i>-->
      <i *ngIf="item && item.input_params && myObject.keys(item.input_params).length>0"
         class="fa fa-cog">
      </i>
    </td>
    <td *ngIf="!item.is_added; else added" (click)="item && item.input_params && myObject.keys(item.input_params).length>0 ?openInputParamModalBeforeAdd$.emit(item): add$.emit(item)" class="cursor-pointer">Add</td>
    <ng-template #added>
      <td>Added</td>
    </ng-template>
  </tr>
</table>
