<div class="d-flex show-on-hover-wrapper flex-wrap" *ngIf="outputItem?.include|hasChannel:selectedChannel">
  <div class="controls d-flex flex-column justify-content-between align-items-start"
       [ngClass]="{'always-show':selected, 'show-on-hover-item':!selected}"
       style="flex-basis: 18px;">

    <label class="container-chekbox text-dark p-0" *ngIf="!removeSelect">
      <input type="checkbox" class="" [(ngModel)]="selected" (ngModelChange)="onSelected($event)">
      <span class="checkmark"></span>
    </label>
    <label class="container-chekbox text-dark p-0" *ngIf="removeSelect">
    </label>

    <div class="d-flex flex-column">
      <span class="fa fa-chevron-up m-1 cursor-pointer heading-icon" *ngIf="myIndex != 0"
            (click)="moveUp(myIndex);"></span>
      <span class="fa fa-chevron-down m-1 cursor-pointer heading-icon"
            *ngIf="myIndex != (totalResponseTemplateComponentCount-1)" (click)="moveDown(myIndex);"></span>
    </div>
    <span class="fa fa-trash ml-auto m-1 cursor-pointer heading-icon" (click)="delete(myIndex);"></span>
  </div>

  <div class="d-flex flex-column bg-white" style="width: 90% ">
    <!--TODO: do we need variants?-->
    <app-text-gentemplate
      *ngIf="outputItem.text"
      class="flex-grow-1"
      [bot]="bot"
      [outputItem]="outputItem"
      [variants]="outputItem.text"></app-text-gentemplate>
    <!--    <app-gentemplate-image-->
    <!--      *ngIf="outputItem?.media && outputItem?.media[0].image_url != null"-->
    <!--      class="flex-grow-1"-->
    <!--      [bot]="bot"-->
    <!--      [outputItem]="outputItem"-->
    <!--    ></app-gentemplate-image>-->
    <!--    <app-gentemplate-audio-->
    <!--      *ngIf="outputItem?.media && outputItem?.media[0].audio_url != null"-->
    <!--      class="flex-grow-1"-->
    <!--      [bot]="bot"-->
    <!--      [outputItem]="outputItem"-->
    <!--    ></app-gentemplate-audio>-->
    <app-gentemplate-video
      *ngIf="outputItem|mediaDetecion as type"
      [type]="type"
      class="flex-grow-1"
      [bot]="bot"
      [outputItem]="outputItem"
    ></app-gentemplate-video>
    <app-gentemplate-video
      *ngIf="outputItem?.function_code!== undefined"
      [type]="'code'"
      class="flex-grow-1"
      [bot]="bot"
      [outputItem]="outputItem"
    ></app-gentemplate-video>
    <!--    <app-gentemplate-file-->
    <!--      *ngIf="outputItem?.media && outputItem?.media[0].file_url != null"-->
    <!--      class="flex-grow-1"-->
    <!--      [bot]="bot"-->
    <!--      [outputItem]="outputItem"-->
    <!--    ></app-gentemplate-file>-->
    <app-code-gentemplate *ngIf="outputItem.code  && ((outputItem|dataType)!=='string')"
                          #gentemplateItem class="gentemplateItem flex-grow-1"
                          [_outputItem]="outputItemClone|| outputItem"
                          [myIndex]="myIndex"
                          [channelNameList]="channelNameList"
    ></app-code-gentemplate>
    <!--    <i (click)="log()">{{bot|| 'no bot'}}</i>-->
    <app-code-input-caraosal *ngIf="outputItem.generic_template  && ((outputItem|dataType)!=='string')"
                             #gentemplateItem
                             class="d-flex w-100 gentemplateItem"
                             [outputItem]="outputItem"
                             [myIndex]="myIndex"
                             [channelNameList]="channelNameList"
                             [bot]="bot"
                             [inArticleResponse]="inArticleResponse"
    ></app-code-input-caraosal>
    <app-code-quick-reply-wrapper *ngIf="outputItem.quick_reply"
                                  #gentemplateItem class="gentemplateItem"
                                  [outputItem]="outputItem"
                                  [myIndex]="myIndex"
                                  [channelNameList]="channelNameList"
                                  [bot]="bot"
                                  [inArticleResponse]="inArticleResponse"
    ></app-code-quick-reply-wrapper>
    <div class="pb-1 pl-1">
      <img alt="integration logo" *ngFor="let channel of channelNameList" class="logo-image mx-1 cursor-pointer"
           (click)="removeThisChannel(channel,$event)" [src]="(channel|logosByIntegrationName)?.icon"
           [ngStyle]="{'opacity': imgOpacity(channel) ? 1 : 0.2 }">
    </div>
  </div>
</div>
