<!--<a class="vscode-opener" [title]="myNameDebug()" [href]="logDebug()|safeUrl">x</a>-->

<div class="d-flex show-on-hover-wrapper flex-wrap">
  <div class="controls d-flex flex-column justify-content-between align-items-start"
       [ngClass]="{'always-show':selected, 'show-on-hover-item':!selected}"
       style="flex-basis: 18px;">

    <label class="container-chekbox text-dark p-0">
      <input type="checkbox" class="" [(ngModel)]="selected" (ngModelChange)="onSelected($event)">
      <span class="checkmark"></span>
    </label>

    <div class="d-flex flex-column">
      <i class="fa fa-chevron-up m-1 cursor-pointer heading-icon" *ngIf="myIndex != 0" (click)="moveUp(myIndex);"></i>
      <i class="fa fa-chevron-down m-1 cursor-pointer heading-icon"
         *ngIf="myIndex != (totalResponseTemplateComponentCount-1)" (click)="moveDown(myIndex);"></i>
    </div>
    <i class="fa fa-trash ml-auto m-1 cursor-pointer heading-icon" (click)="delete(myIndex);"></i>

  </div>

  <div class="d-flex flex-column bg-white" style="width: 90% ">
    <!--TODO: do we need variants?-->
    <app-text-gentemplate
      *ngIf="outputItem.text"
      class="flex-grow-1"
      [outputItem]="outputItem"
      [variants]="outputItem.text"></app-text-gentemplate>
    <app-code-gentemplate *ngIf="outputItem.code  && ((outputItem|dataType)!=='string')"
                          #gentemplateItem class="gentemplateItem flex-grow-1"
                          [_outputItem]="outputItem"
                          [myIndex]=i
                          [channelNameList]="channelNameList"
    ></app-code-gentemplate>


    <app-code-input-caraosal *ngIf="outputItem.generic_template  && ((outputItem|dataType)!=='string')"
                             #gentemplateItem
                             class="d-flex w-100 gentemplateItem"
                             [outputItem]="outputItem"
                             [myIndex]=i
                             [channelNameList]="channelNameList"
    ></app-code-input-caraosal>
    <app-code-quick-reply-wrapper *ngIf="outputItem.quick_reply"
                                  #gentemplateItem class="gentemplateItem"
                                  [outputItem]="outputItem"
                                  [myIndex]=i
                                  [channelNameList]="channelNameList"
    ></app-code-quick-reply-wrapper>
    <div class="pb-1 pl-1">
      <img *ngFor="let channel of channelNameList" class="logo-image mx-1 cursor-pointer"
           (click)="removeThisChannel(channel)" [src]="(channel|logosByIntegrationName)?.icon"
           [ngStyle]="{'opacity': imgOpacity(channel) ? 1 : 0.2 }">
    </div>
  </div>

</div>
