<!--<div class="card text-center" >-->
  <!--<div class="card-header d-flex align-items-center">-->
    <!--<i class="fa fa-arrow-left"></i>-->
    <!--<span class="ml-auto mr-auto">Offers</span>-->
    <!--<i class="fa fa-external-link pr-2"></i>-->
    <!--<i class="fa fa-times"></i>-->
  <!--</div>-->
  <!--<div class="card-body">-->
    <!--<h4 class="welcome-heading">I can you help tell weather of any city</h4>-->
    <!--<p class="welcome-title">I have done a PHD in weather science from University of Bottington</p>-->
  <!--</div>-->
  <!--<div class="card-footer bg-white text-muted d-flex align-items-center justify-content-center">-->
    <!--<button class="btn-theme-primary" (click)="navigate('CHAT_BOX')">Start a new chat</button>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;&ndash;&gt;-->

<div class="d-flex justify-content-center flex-wrap align-content-center" style="height: 100%">
<!---->
  <h4 class="welcome-heading">I can you help tell weather of any city</h4>
  <p class="welcome-title">I have done a PHD in weather science from University of Bottington</p>

</div>
