<form [formGroup]="formGroup">
  <div class="d-flex flex-column">
    <fieldset class="d-flex flex-column pb-4">
      <mat-form-field class="w-50">
        <input matInput displayName="Score below which fallback is shown"
          placeholder="Score below which fallback is shown" formControlName="threshold_min_score" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input matInput displayName="Difference in score for partial match" formControlName="threshold_diff_score"
          placeholder="Difference in score for partial match" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input matInput displayName="No. of results to store for each message" formControlName="n_results"
          placeholder="No. of results to store for each message" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input matInput displayName="Max low confidence score" formControlName="low_confidence_score"
          placeholder="Max low confidence score" required>
      </mat-form-field>
    </fieldset>
    <fieldset class="pb-4">
      <div class="form-control d-flex flex-column">
        <label class="py-1">Allow agent handover <app-info-icon
            [text]="'Transfer the message to an agent when bot fails'"></app-info-icon></label>
        <mat-slide-toggle formControlName="allow_agent_handover" color="primary">
        </mat-slide-toggle>
      </div>
    </fieldset>
  </div>
</form>
