<form [formGroup]="formGroup">
  <fieldset class="pb-4 pl-3" formGroupName="bot_metadata">
    <div style="width: 100%" class="py-2">Inference</div>
    <div class="interface-form-grid">
      <mat-form-field>
        <input matInput type="number" displayName="Score below which fallback is shown" data-cy="faq-habdover-first-input"
               placeholder="Score below which fallback is shown" formControlName="threshold_min_score" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" displayName="Difference in score for partial match"
               formControlName="threshold_diff_score" placeholder="Difference in score for partial match" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" displayName="No. of results to store for each message" formControlName="n_results"
               placeholder="No. of results to store for each message" >
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput type="number" displayName="Max low confidence score" formControlName="low_confidence_score"
               placeholder="Max low confidence score" >
      </mat-form-field> -->
    </div>
  </fieldset>

    <!--<button (click)="agentHandover = !agentHandover">{{agentHandover}}</button>-->
  <fieldset class="pb-4">
    <div style="width: 100%" class="pl-3">Agent Handover</div>
    <div class="form-control d-flex flex-column pl-3 " style="border: none;">
      <label class="py-1 handover-toggle">Allow agent handover
        <app-info-icon
          [text]="'Transfer the message to an agent when bot fails'"></app-info-icon>
      </label>
      <span>
        <!--<i>{{!!formGroup.disabled}}</i>-->
        <!--<i>{{disableAgentToggleBAD}}</i>-->
        <span (click)="openAgentHandover()" class ="disabled-slide-button" [ngClass]="{'pointer-events-none':disableAgentToggleBAD}" >
          <mat-slide-toggle [checked]="!!agentHandover"
                            [disabled]="disableAgentToggleBAD"
                            style="opacity:1;cursor: pointer !important;" color="primary">
          </mat-slide-toggle>
        </span>
      </span>
    </div>
  </fieldset>
  <fieldset class="pb-4" formGroupName="agent_handover_setting">
    <div class="interface-form-grid">

      <div formGroupName="fallback_count">
        <div class="form-control d-flex flex-column" style="border: none;">
          <label class="py-1 handover-toggle">Enable handover on fallback
            <app-info-icon
              [text]="'Fallback messages in a room can trigger handover'"></app-info-icon>
          </label>
          <mat-slide-toggle formControlName="enabled" color="primary" [disabled]="!agentHandover"
          (change)="disableAgentHandoverChildren('fallback_count',formGroup.value.agent_handover_setting.fallback_count.enabled)">
          </mat-slide-toggle>
        </div>
        <mat-form-field class="pl-3">
          <input matInput type="number" displayName="Score below which fallback is shown" 
                 placeholder="No. of fallback messages before handover" formControlName="value"
                 >
        </mat-form-field>
      </div>

      <div formGroupName="partial_match_count">
        <div class="form-control d-flex flex-column" style="border: none;">
          <label class="py-1 handover-toggle">Enable handover on partial match
            <app-info-icon
              [text]="'Partially matched messages in a room can trigger handover'"></app-info-icon>
          </label>
          <mat-slide-toggle formControlName="enabled" color="primary" [disabled]="!agentHandover"
          (change)="disableAgentHandoverChildren('partial_match_count',formGroup.value.agent_handover_setting.partial_match_count.enabled)"
          >
          </mat-slide-toggle>
        </div>
        <mat-form-field class="pl-3">
          <input matInput type="number" displayName="Score below which fallback is shown" 
                 placeholder="No. of partial matched messages before handover" formControlName="value">
        </mat-form-field>
      </div>

      <div formGroupName="consecutive_count">
        <div class="form-control d-flex flex-column" style="border: none;">
          <label class="py-1 handover-toggle mb-1">Enable handover for consecutive messages
            <app-info-icon
              [text]="'Consecutive same bot messages in a room can trigger handover'"></app-info-icon>
          </label>
          <mat-slide-toggle formControlName="enabled" color="primary" [disabled]="!agentHandover"
          (change)="disableAgentHandoverChildren('consecutive_count',formGroup.value.agent_handover_setting.consecutive_count.enabled)">
          </mat-slide-toggle>
        </div>
        <mat-form-field class="pl-3">
          <input matInput type="number" displayName="Score below which fallback is shown" 
                 placeholder="No. of consecutive messages before handover" formControlName="value"
                 >
        </mat-form-field>
      </div>
    </div>

  </fieldset>

</form>
