<div class="grid-bot-preview" style="min-height: 70vh; position: relative" *ngIf="codeBasedBotList; else loaderTemplate">
  <ng-container *ngIf="codeBasedBotList.length>0">
    <app-bot-preview-card *ngFor="let bot of codeBasedBotList|sortBots" [bot]=bot></app-bot-preview-card>
  </ng-container>

  <app-splash-screen *ngIf="codeBasedBotList.length===0"
                     [imageHRef]="myESplashScreens.imageForCodeBots"
                     [headingText]="'There are no code bots in your account'"
                     [descriptionText]="'Please contact your enterprise administrator to add bots to your account'"
                     class="d-flex justify-content-center align-items-center"
                     style="position: absolute; left: 0; right: 0;bottom: 0; top: 0;"
  ></app-splash-screen>

</div>

<ng-template #loaderTemplate>
  <app-imi-loader></app-imi-loader>
</ng-template>
<!---->
