@import "~src/sass/mixins";
@import "~src/sass/variables";

img {
  height: 70px;
}

.table td, .table th {
  vertical-align: middle !important;
}

th {
  border: none !important; /*overriding bootstrap style*/
}

th, td {
  text-align: center;
}

.text {
  @include typography($font-size-sm, $line-height-normal, $font-weight-300, $color-text-grey);
}

td > input {
  border: none;
  border-radius: 5px;
  border: $border-normal;
  padding-left: 10px;
  outline: none;
  color: $color-text-grey;
  width: 150px;
}

.img-url {
  @include typography($font-size-sm, $line-height-normal, $font-weight-300, $color-text-grey);
}
