<form class="grid-avator" #form="ngForm">
  <div class="d-flex flex-column align-items-center justify-content-center border">
    <i class="fa fa-plus text-info cursor-pointer"></i>
    <div class="text-info cursor-pointer my-3" (click)="createPrebuiltAvatarRow(true)">Create</div>
    <div class="text-info cursor-pointer" (click)="createPrebuiltAvatarRow(false)">Generate</div>
  </div>

  <!--<p>{{avatorList|json}}</p>-->

  <div class="avator-item border py-2 px-3 d-flex flex-column"
       *ngFor="let avatorItem of avatorList; let i = index">
    <i class="fa fa-trash cursor-pointer" (click)="deleteAvator()"></i>
    <img class="logo-md rounded-circle align-self-center"
         [src]="avatorItem.avator.imageUrl || 'http://www.pngmart.com/files/3/Weather-PNG-HD.png'">
    <div class="form-group">
      <label for="alterEgo" class="required">Avatar Name</label>
      <input type="text" class="form-control"
             [(ngModel)]="avatorItem.avator.name"
             (ngModelChange) = "saveChangesInStore()"
             [name]="'name'+i"
             required
             placeholder="name" id="avator_name">
    </div>
    <div class="form-group">
      <label for="alterEgo" class="required">Image Url</label>
      <input type="text" class="form-control"
             [name]="'url'+i"
             [(ngModel)]="avatorItem.avator.imageUrl"
             (ngModelChange) = "saveChangesInStore()"
             required
             placeholder="Image Url" id="alterEgo">
    </div>
  </div>
</form>


<!--<div class="row py-4">-->
<!--<div class="col-12">-->
<!--<button class="btn btn-theme-success mr-2" (click)="addNewAvatorRow()">Add</button>-->
<!--<button class="btn btn-theme-success" (click)="createPrebuiltAvatarRow()">Generate</button>-->
<!--</div>-->
<!--</div>-->
<!--<table class="table">-->
<!--<thead class="">-->
<!--<tr>-->
<!--<th scope="col">#</th>-->
<!--<th scope="col">Name</th>-->
<!--<th scope="col">Image</th>-->
<!--<th scope="col">Image Url</th>-->
<!--<th scope="col">Actions</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let avatorItem of avatorList; let i = index">-->
<!--<td>{{i+1}}</td>-->
<!--<td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.name"></td>-->
<!--<td *ngIf="!avatorItem.editMode" class="text">{{avatorItem.avator.name}}</td>-->
<!--<td><img src="https://robohash.org/SmartDroid.png" alt=""></td>-->
<!--<td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.imageUrl"></td>-->

<!--<td *ngIf="!avatorItem.editMode" class="img-url">{{avatorItem.avator.imageUrl}}</td>-->

<!--<td>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;TODO: follwoing button text misalign without btn class, check why&ndash;&gt;-->
<!--<button *ngIf="!avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="editRow(i)">Edit</button>-->
<!--<button *ngIf="avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="saveAvatorRow(i)">Save</button>-->
<!--<button class="btn btn-theme-danger-sm" (click)="deleteAvatorRow(i)">Delete</button>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

