<div class="row py-4">
  <div class="col-12">
    <button class="btn btn-theme-success mr-2" (click)="addNewAvatorRow()">Add</button>
    <button class="btn btn-theme-success" (click)="createPrebuiltAvatarRow()">Generate</button>
  </div>
</div>
<table class="table">
  <thead class="">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Image</th>
    <th scope="col">Image Url</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let avatorItem of avatorList; let i = index">
    <td>{{i+1}}</td>
    <td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.name"></td>
    <td *ngIf="!avatorItem.editMode" class="text">{{avatorItem.avator.name}}</td>
    <td><img src="https://robohash.org/SmartDroid.png" alt=""></td>
    <td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.imageUrl"></td>

    <td *ngIf="!avatorItem.editMode" class="img-url">{{avatorItem.avator.imageUrl}}</td>

    <td>
      <!---->
      <!--TODO: follwoing button text misalign without btn class, check why-->
      <button *ngIf="!avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="editRow(i)">Edit</button>
      <button *ngIf="avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="saveAvatorRow(i)">Save</button>
      <button class="btn btn-theme-danger-sm" (click)="deleteAvatorRow(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


<!--==================Following is template without variable wiring for tests==============================-->

<!--<div class="row py-4">-->
  <!--<div class="col-12">-->
    <!--<button class="btn btn-theme-success mr-2" (click)="addNewAvatorRow()">Add</button>-->
    <!--<button class="btn btn-theme-success" (click)="createPrebuiltAvatarRow()">Generate</button>-->
  <!--</div>-->
<!--</div>-->
<!--<table class="table">-->
  <!--<thead class="">-->
  <!--<tr>-->
    <!--<th scope="col">#</th>-->
    <!--<th scope="col">Name</th>-->
    <!--<th scope="col">Image</th>-->
    <!--<th scope="col">Image Url</th>-->
    <!--<th scope="col">Actions</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let avatorItem of avatorList; let i = index">-->
    <!--<td>{{i+1}}</td>-->
    <!--<td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.name"></td>-->
    <!--<td *ngIf="!avatorItem.editMode" class="text">{{avatorItem.avator.name}}</td>-->
    <!--<td><img src="https://robohash.org/SmartDroid.png" alt=""></td>-->
    <!--<td *ngIf="avatorItem.editMode"><input type="text" [(ngModel)]="avatorItem.avator.imageUrl"></td>-->

    <!--<td *ngIf="!avatorItem.editMode" class="img-url">{{avatorItem.avator.imageUrl}}</td>-->

    <!--<td>-->
      <!--&lt;!&ndash;&ndash;&gt;-->
      <!--&lt;!&ndash;TODO: follwoing button text misalign without btn class, check why&ndash;&gt;-->
      <!--<button *ngIf="!avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="editRow(i)">Edit</button>-->
      <!--<button *ngIf="avatorItem.editMode" class="btn btn-theme-success-sm mr-2" (click)="saveAvatorRow(i)">Save</button>-->
      <!--<button class="btn btn-theme-danger-sm" (click)="deleteAvatorRow(i)">Delete</button>-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

