<div class="row mb-1 mt-1" [ngClass]="{'bg-theme-primary':currentRoomId === room.id}">
  <div class="p-2 col-2">
    <img [src]="room?.selectedAvatar?.imageUrl"
         class="rounded-circle"
         style="width: 32px;height: 32px" alt="">
  </div>
  <div class="col-10 p-1 text-left message-wrapper" >
    <div class="message p-2 cursor-pointer" (click)="openChatRoom()">
      <div class="d-flex justify-content-between ">
        <div class="message-text ">{{room.selectedAvatar.name}}</div>
        <div class="time">{{room.messageList[room.messageList.length-1].time}}</div>
      </div>
      <div class="message-text limit-oneline">{{room.messageList[room.messageList.length-1].text}}</div>
    </div>
  </div>
</div>
<!---->
