<div class="row mb-1 mt-1 position-relative" [ngClass]="{'bg-theme-primary':currentRoomId === room.id}">
  <div class="p-2 col-2" style="text-align: center">
    <img [src]="room?.selectedAvatar?.imageUrl"
         class="rounded-circle"
         style="width: 36px;height: 36px" alt="">
  </div>
  <div class="col-10 p-1 text-left message-wrapper" >
    <div class="message p-2 cursor-pointer" (click)="openChatRoom()">
      <div class="d-flex justify-content-between ">
        <div class="message-text ">{{room.id}}</div>
        <div class="time">{{room.messageList[room.messageList.length-1].time|msToHhmm}}</div>
        <!--<div class="time">{{room.created_at}}</div>-->
      </div>
      <div class="message-text limit-oneline">{{room.messageList[room.messageList.length-1].text}}</div>
      <i style="position: absolute; bottom: 5px; right: 5px" class="fa fa-user" *ngIf="room.isCustomRoom"></i>
    </div>
  </div>
</div>
<!---->
