@import "~src/sass/main.scss";

.row{
  margin: 0;
}
.message-wrapper{
  background-color: #f7f7f7;
}
.message{
  @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-text-normal);
  border-radius: 1px;
  .message-text{
    font-size:11px;
  }
  .time{
    @include typography(9px, $line-height-normal, $font-weight-400, $color-text-normal);
  }
}

form {
  .form-group{
    margin-bottom: 8px;
  }
  border-radius: 2px;
  label {
    @include typography(11px, $line-height-normal, $font-weight-300, $color-secondary);
    margin: 0;
  }
  .form-control {
    @include hide-borders();
    border-radius: 0;
    padding: 0 !important;
    @include typography(13px, $line-height-normal, $font-weight-300,#474747);
  }



}
.dropdown-menu{/*override*/
  left: auto !important;
  right: 0 !important;
  top: 90%!important;
}
