<section class="d-flex h-100">

  <div style="height:90%;overflow-y: scroll; flex: 2; padding-right: 10px; position: relative">
    <!--<div style="height: 32px"></div>-->
    <div style="height: 32px; position: sticky; left: 24px; right: 10px; top: 0;z-index: 1000; background-color: white"
         class="mb-1 p-1 border-bottom d-flex p-0 justify-content-between align-items-end">
      <strong>Modules ({{masterModuleCount}})</strong>
      <div class="d-inline-flex align-items-center ml-auto mr-1 cursor-pointer" (click)="allMatExpansionExpanded = !allMatExpansionExpanded">
        <span class="mr-1" style="color: #9e9e9e">{{allMatExpansionExpanded?'Collapse': 'Expand'}} All</span>
        <i style="color: #9e9e9e; align-items: baseline;" class="fa" [ngClass]="{'fa-chevron-down':!allMatExpansionExpanded, 'fa-chevron-up':allMatExpansionExpanded}"></i>
      </div>
      <!--<div class="search-theme-input-with-search">-->
      <!--<span class="fa fa-search"></span>-->
      <!--<input type="search" style="height: 24px" placeholder="Filter Modules" [(ngModel)]="searchKeyword" class="border">-->
      <!--</div>-->
      <mat-form-field floatLabel="never" style="margin-bottom: -16px">
        <input matInput type="text" placeholder="Libraries and Modules" [(ngModel)]="searchKeyword">
        <button mat-button matPrefix mat-icon-button aria-label="Clear">
          <mat-icon color="primary">search</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <!--<mat-accordion>-->
      <mat-expansion-panel *ngFor="let pipelineItem of pipelineModulesV2List|pipelineFilter:searchKeyword"
                           [expanded]="allMatExpansionExpanded"
                           class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{pipelineItem.display_values}} ({{pipelineItem.pipeline_modules.length}})
          </mat-panel-title>
          <mat-panel-description class="limit-oneline" [matTooltip]="pipelineItem.description">
            {{pipelineItem.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-simple-table
          [tableData]="pipelineItem"
          (settingsClicked$)="openInputParamModal(Primarytemplat,$event)"
          (openInputParamModalBeforeAdd$)="openInputParamModal(Primarytemplat,$event, true)"
          (add$)="addPipelineItemToPipeline($event)"
        ></app-simple-table>

      </mat-expansion-panel>

    <!--</mat-accordion>-->
  </div>
  <div class="pipeline-wrapper d-flex flex-column" style="height: 90%;overflow-y: auto; flex: 1">
    <h4
      class="heading p-2 m-1"
      style="background-color: #f7f7f7; position: sticky; top: 0; left: 0; right: 0">
      Bot Intelligence Pipeline ({{pipeLine && pipeLine.length}})
    </h4>
    <div class="flex-grow-1">
      <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
      <!--<div class="example-box" *ngFor="let aiModule of pipeLine;let targetIndexNew = index" cdkDrag>{{aiModule.unique_name}}</div>-->
      <!--</div>-->
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let aiModule of pipeLine;let targetIndexNew = index"
             cdkDrag
             class="mr-3 module-box" [ngClass]="{'border-custom-top':targetIndexNew ===0}">
          <i class="fa fa-arrows-alt"></i>
          <div class="d-flex flex-column">
            <span class="module">{{aiModule.module|titlecase }}</span>
            <span class="library">{{aiModule.library|titlecase}}</span>
          </div>
          <span class="ml-auto"></span>
          <i *ngIf="aiModule && aiModule.input_params && myObject.keys(aiModule.input_params).length>0"
             (click)="openInputParamModal(Primarytemplat,aiModule);"
              class="fa fa-cog">
          </i>
          <i class="fa fa-trash" (click)="removePipelineItemFromPipeline(targetIndexNew)"></i>

          <!--<div>-->
          <!--<i *ngIf=" aiModule && aiModule.input_params && myObject.keys(aiModule.input_params).length>0"-->
          <!--(click)="openInputParamModal(Primarytemplat,aiModule);"-->
          <!--class="fa fa-cog pl-1" aria-hidden="true"></i>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #Primarytemplat>
  <div class="primary-modal">
    <div class="modal-header">
      <h4 class="modal-title" style="display: flex;justify-content: start;">{{selectedPipeline.unique_name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body pt-0">
      <form ngNativeValidate class=" align-items-center" #Pipelineform="ngForm">

        <div *ngFor="let Key of myObject.keys(selectedPipeline.display_values)"
             class="d-flex align-items-center justify-content-center my-2">

          <div class="form-group m-0 d-flex w-100 align-items-center justify-content-center"
               *ngIf="selectedPipeline.display_values[Key].type == 'dropdown'">
            <label class="mb-0  w-50 "
                   style="text-align: left;">{{selectedPipeline.display_values[Key].display_value}}</label>
            <select class="w-50" style="color: #474747;"
                    [ngModel]="selectedPipeline.input_params[Key] || selectedPipeline.display_values[Key].default"
                    name="{{Key}}">
              <option *ngFor="let dropi of selectedPipeline.display_values[Key].content"
                      type="button" [value]="dropi">{{dropi}}
              </option>
            </select>
          </div>
          <div class="form-group m-0 d-flex w-100 align-items-center justify-content-center"
               *ngIf="selectedPipeline.display_values[Key].type == 'text'">
            <label class="mb-0 w-50"
                   style="text-align: left;">{{selectedPipeline.display_values[Key].display_value}}</label>
            <input type="text" class="input-material flex-grow-1 w-50" style="color: #474747;"
                   [ngModel]="selectedPipeline.input_params[Key]"
                   name="{{Key}}">
          </div>

        </div>
        <button class="btn-theme btn-theme-success-sm"
                (click)="submitPipeline(Pipelineform); dialogRefWrapper.ref.close(true)">Submit
        </button>
      </form>


    </div>
  </div>
</ng-template>
