@import "./../../../../../../sass/main";


:host {
  width: 100%;
  position: relative;
}

.pipeline-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .pipeline-section-body {
    height: calc(100% - 38px);
    //
    flex: 2;
    padding-right: 38px;
    position: relative;
    border-right: 1px solid #e0e0e0;

    .pipeline-section-body__header {
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      padding: 0;
      height: 38px;
      position: sticky;
      left: 24px;
      right: 10px;
      top: 0;
      z-index: 1000;
    }

    .pipeline-section-body__modules {
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 30px;

      app-accordian {
        width: 100%;
        display: block;

        app-simple-table {
          width: 100%
        }
      }
    }
  }
}


#search-aim {
  //width: 260px;
  //height: 30px;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 1px solid #4db1a7;
    background: #fff;
  }
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.heading {
  font-size: $font-size-md;
}

.pipeline-wrapper {
  display: flex;
  flex-direction: column;
  height: 95%;
  flex: 1;
  padding-left: 16px;

  h4 {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
}

.aim-list {
  overflow: auto;
}

.pipeline {
  height: 100%;
}

ul {
  list-style-type: none;
}

.bg-grey {
  background-color: #dddddd;
}

.border-custom-top {
  border-top: 1px solid #e0e0e0 !important;
}

.module-box {
  //height: 48px;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;

  .library {
    font-size: 11px;
    color: #9e9e9e;
  }

  .module {
    font-size: 13px;
  }

  &:hover {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    .library {
      color: #474747;
    }

    .show-on-parent-hover {
      display: inline-block;
      opacity: 1;
    }

    .fa-cog {
      color: #9e9e9e;
    }
  }

  .fa {
    padding-left: 15px;
    padding-right: 15px;
    color: $color-secondary;
  }

  .fa-cog {
    margin-left: auto;
    color: #e0e0e0;
  }
}

input::placeholder {
  opacity: .5;
}

/*========*/


label {
  //padding-bottom: 0;
  //margin-bottom: 5px;
  display: block;
  //font-family: IBM Plex Sans;
  font-size: 11px;
  //font-weight: normal;
  //font-style: normal;
  //font-stretch: normal;
  //line-height: normal;
  //letter-spacing: normal;
  color: #9e9e9e;
  margin-right: 4px;
}

.input-modal {
  padding: 0 2px;
  margin-top: 0;
  margin-left: 1px;
  @include hide-borders();
  border: $border-normal;

  border-radius: 4px;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    @include typography($font-size-xs, $line-height-md, $font-weight-normal, $color-secondary);
    padding: 0;

  }
}


/deep/ mat-expansion-panel {
  .mat-expansion-panel-header {
    //height:32px !important;
    font-size: 13px;
    padding-left: 10px;
  }

  .mat-expansion-panel-body {
    padding-left: 10px;
  }
}


.show-on-parent-hover {
  opacity: 0;
}


.primary-modal {
  @include classic-modal(#00abd3);
  .modal-body {
    text-align: start;
  }

  .btn-theme-primary-outline {
    border: solid 1px #e0e0e0;
    color: #474747 !important;
  }

  .modal-header {
    .modal-title {
      font-size: 16px;
    }
  }
}
