<!--<button (click)="click()">click</button>-->
<form [formGroup]="formGroup" class="bot-creation-form ">
  <div class="row m-0">

    <fieldset class="col-5" [appReadonlySelectedRoles]="myEAllActions['Update Bots']">

      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="heading" type="text" class=""
                 placeholder="Heading">
        </mat-form-field>
      </div>

      <div class="">
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput formControlName="transactions_per_pricing_unit" type="number" class=""-->
                 <!--placeholder="Transactions Per Billing Unit"-->
          <!--&gt;-->
        <!--</mat-form-field>-->
      </div>
      <!--<div class="">-->
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput formControlName="error_message" type="text" class=""-->
                 <!--placeholder="Default Platform Error Message ">-->
        <!--</mat-form-field>-->
      <!--</div>-->

    </fieldset>
    <fieldset class="col-5" [appReadonlySelectedRoles]="myEAllActions['Update Bots']">

      <!--<div class="form-group">-->
      <!--<label for="alterEgo">Industry</label>-->
      <!--<input matInput formControlName="industry" type="text" class=""-->
      <!--placeholder="The industry the Bot caters to">-->
      <!--</div>-->


      <!--<div class="">-->
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput formControlName="first_message" type="text" class=""-->
                 <!--placeholder="Bot's First Message">-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="switch-wrapper">-->
        <!--<div class="form-control d-flex flex-column">-->
          <!--<label class="pr-2">Room Close Callback</label>-->

          <!--<app-ui-switch-->
            <!--formControlName="room_close_callback"-->
            <!--[disabled]="permissionService.isTabAccessDenied(myEAllActions['Update Bots'])"-->
          <!--&gt;</app-ui-switch>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="switch-wrapper">-->
        <!--<div class="form-control d-flex flex-column">-->
          <!--<label class="pr-2">Allow Feedback</label>-->

          <!--<app-ui-switch-->
            <!--formControlName="allow_feedback"-->
            <!--[disabled]="permissionService.isTabAccessDenied(myEAllActions['Update Bots'])"-->
          <!--&gt;</app-ui-switch>-->
<!--&lt;!&ndash;&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

    </fieldset>
  </div>

</form>

<!---->