<!--<button (click)="click()">click</button>-->
<form [formGroup]="formGroup" class="bot-creation-form ">
  <div class="row m-0">

    <fieldset class="col-5" [readonlyselectedroles]="myEAllActions['Update Bots']">

      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="heading" type="text" class=""
                 placeholder="Heading">
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="transactions_per_pricing_unit" type="number" class=""
                 placeholder="Transactions Per Billing Unit"
          >
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="error_message" type="text" class=""
                 placeholder="Default Platform Error Message ">
        </mat-form-field>
      </div>

    </fieldset>
    <fieldset class="col-5" [readonlyselectedroles]="myEAllActions['Update Bots']">

      <!--<div class="form-group">-->
      <!--<label for="alterEgo">Industry</label>-->
      <!--<input matInput formControlName="industry" type="text" class=""-->
      <!--placeholder="The industry the Bot caters to">-->
      <!--</div>-->


      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="first_message" type="text" class=""
                 placeholder="Bot's First Message">
        </mat-form-field>
      </div>

    </fieldset>
  </div>

</form>

