<form [formGroup]="formGroup" class="bot-creation-form ">
  <div class="row m-0">

    <fieldset class="col-5" [appReadonlySelectedRoles]="myEAllActions['Update Bots']">

      <div class="">
        <mat-form-field class="w-100">
          <input matInput formControlName="heading" type="text" class=""
                 placeholder="Heading">
        </mat-form-field>
      </div>

      <div class="">
      </div>


    </fieldset>
    <fieldset class="col-5" [appReadonlySelectedRoles]="myEAllActions['Update Bots']">



    </fieldset>
  </div>

</form>

<!---->
