::ng-deep{
  .reload-info-snackbar{
    background-color: white;
    color: #474747;
    max-width: 100vh!important;
  }
}

.reload-snackbar-comp{
  display: flex;
  align-items: center;
  max-width: 100vh!important;
  .info{
    margin-right: 10px;
  }
}
