
<div class="container" *ngIf="windowOpen && (loggeduser$|async).user">
  <div class="row">
    <div class="col-4">

      <div class="card text-center">
        <div class="card-header d-flex align-items-center">
          <i class="fa fa-arrow-left cursor-pointer" (click)="navigate(myEChatFrame.CHAT_LIST)" [hidden]="frameEnabled!==myEChatFrame.CHAT_BOX"></i>
          <span class="ml-auto mr-auto">{{chatWindowTitle}}</span>
          <i class="fa fa-external-link pr-2 cursor-pointer"></i>
          <i class="fa fa-times cursor-pointer" (click)="closeChatWindow()"></i>
        </div>
        <div class="card-body p-0 border-left border-right">
          <app-bot-welcome *ngIf="frameEnabled=== myEChatFrame.WELCOME_BOX"></app-bot-welcome>
          <app-chat-list *ngIf="frameEnabled===myEChatFrame.CHAT_LIST"></app-chat-list>
            <app-chat-window *ngIf="frameEnabled===myEChatFrame.CHAT_BOX && this.messageData"
                             [selectedAvatar]="selectedAvatar"
                             [messageDataArray]="messageData"></app-chat-window>
        </div>

        <!--text input starts-->
        <div class="card-footer bg-white text-muted" [hidden]="frameEnabled!==myEChatFrame.CHAT_BOX">
          <div class="row d-flex">
            <div class="col-10 p-0 pl-2">
              <input type="text" [(ngModel)]="messageByHuman" (keyup.enter)="sendMessageByHuman(messageByHuman)">
            </div>
            <div class="col-1">
              <span class="icon"><i class="fa fa-send cursor-pointer" (click)="sendMessageByHuman(messageByHuman)"></i></span>
            </div>
          </div>
        </div>
        <!--text input ends-->

        <!--new chat button starts-->
        <div class="card-footer bg-white text-muted d-flex align-items-center justify-content-center" *ngIf="frameEnabled!==myEChatFrame.CHAT_BOX">
          <button class="btn-theme-primary cursor-pointer" (click)="startNewChat('hi', myEChatFrame.CHAT_BOX)">Start a new chat</button>
        </div>
        <!--new chat button starts-->

      </div>

    </div>
  </div>
</div>
