@import '~src/sass/main';

.user-modal-heading{
    font-family: Helvetica;
    font-size: 13px;
    color: #474747;
    font-weight: bold;
  }
  
  
  ::ng-deep{
    .textVal {
      width:auto  !important; 
    }
    .color-primary{
      color:$color-primary;
    }
    .color-danger{
      color:$color-danger;
    }
  }
  
  .card-header{
      padding: .5rem 1.25rem;
      background-color: transparent;
      @include typography($font-size-md, $line-height-normal, $font-weight-normal, $color-text-normal);
  
  }
  .card-header-description{
    @include typography($font-size-xs, $line-height-normal, $font-weight-normal, $color-text-normal);
  }
  .card{
    background-color: #f0f3f4;
  }
  .profile-row{
    padding: .5rem 1.25rem;
  }