.grid-bot-preview {
  display: grid;
  //grid-template-columns: 24%  24%  24%  24%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  justify-content: center;
  align-content: start;
}

:host {
  /*this is to keep loader in center*/
  position: relative;
  min-height: 65vh;
  display: block;
}


