<div class="grid-bot-preview" style="min-height: 70vh; position: relative" *ngIf="botList; else loaderTemplate">
  <ng-container *ngIf="botList.length>0">
    <app-bot-preview-card [parentRoute]="botType" *ngFor="let bot of botList|sortBots" [bot]=bot></app-bot-preview-card>
  </ng-container>

  <app-splash-screen *ngIf="botList.length===0"
                     [imageHRef]="
                     botType===myEBotType.mlbot?myESplashScreens.no_ml_bot_present:
                     botType===myEBotType.chatbot?myESplashScreens.imageForCodeBots:
                     botType===myEBotType.intelligent?myESplashScreens.pipeline_bots_empty:
                     botType===myEBotType.faqbot?myESplashScreens.QandA_bots_empty:myESplashScreens.router_bot_empty"
                     [headingText]="'There are no '+
                       (
                       botType===myEBotType.mlbot? 'task ':
                       botType===myEBotType.chatbot? 'smart ':
                       botType===myEBotType.faqbot? 'Q&A ':
                       botType===myEBotType.intelligent? 'pipeline ':'router')
                       +' bots in your account'"
                     [descriptionText]="isCreateBotAccessDenied?
                     'Please contact your enterprise administrator to add bots to your account':''"
                     class="d-flex justify-content-center align-items-center"
                     style="position: absolute; left: 0; right: 0;bottom: 0; top: 0;"
  ></app-splash-screen>

</div>

<ng-template #loaderTemplate>
  <app-imi-loader></app-imi-loader>
</ng-template>
<!---->
