.grid-bot-preview{
  display: grid;
  //grid-template-columns: 24%  24%  24%  24%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: start;
}
