<div class="text-gentemplate flex-grow-1">
  <div class="p-1 pl-2 tem-heading d-flex align-items-center">
    <mat-icon style="font-size: 20px;display: flex;align-items: center;color: #696969;">short_text</mat-icon>
    Text response
  </div>
  <div *ngFor="let variant of variantsIter; let i = index" class="p-2">
    <div class="d-flex">
      <div class="name">Variant {{i + 1}}</div>
      <span *ngIf="i!==0" class="fa fa-trash ml-auto" (click)="deleteVariant(i)"></span>
    </div>
    <textarea
      data-cy='gentemp-input'
      #textarea
      [(ngModel)]="_variants[i]"
      [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'"
      class="classic-textarea"
      placeholder='Write your text here ...' rows="3">
      </textarea>
    <div class="text-danger" *ngIf="textarea.value.length===0">
      <em style="font-size: 11px">This field cannot be left empty</em>
    </div>
  </div>
  <div class="text-danger pl-2" *ngIf="userErrorMessage">
    <em style="font-size: 11px">{{userErrorMessage}}</em>
  </div>

  <div class="text-theme-primary cursor-pointer pl-2 d-flex align-items-center" (click)="addVariant()">
    <span class="fa fa-plus pr-1 my-auto"></span>New variant
  </div>
</div>
