@import "./../../../../../../../../../sass/main";
.logo-image{
    width: 16px;
    height: 16px;
}
.tem-heading{
    font-size: 11px;
    color: #474747;
    line-height: 1.45;
    background-color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.heading-icon{
    color: #9b9b9b;
    font-size: 13px;
}
.fa-code{
    color: #9b9b9b;
    font-weight: bold;
    font-size: 13px;
}
.icon-footer{
    background-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.code-gentemplate{
    height:300px;
}