<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.channelWiseSessions}"
       (click)="tabClicked(myEAnalysis2TypesEnum.channelWiseSessions)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.channelWiseSessions}"><strong>SESSION ACROSS CHANNELS
    </strong></a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.channelWiseAverageSessionTime}"
       (click)="tabClicked(myEAnalysis2TypesEnum.channelWiseAverageSessionTime)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.channelWiseAverageSessionTime}"><strong>SESSION TIME</strong></a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{activeTab:myEAnalysis2TypesEnum.channelWiseFlowsPerSession}"
       (click)="tabClicked(myEAnalysis2TypesEnum.channelWiseFlowsPerSession)"
       [ngClass]="{'tab-active':activeTab===myEAnalysis2TypesEnum.channelWiseFlowsPerSession}"><strong>FLOWS</strong></a>
  </li>
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.channelWiseSessions"
           [data]="highchartData"
           [chartValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_ENGAGEMENT"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.channelWiseAverageSessionTime"
           [data]="highchartData"
           [chartValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_ENGAGEMENT"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
<app-chart *ngIf="activeTab===myEAnalysis2TypesEnum.channelWiseFlowsPerSession"
           [data]="highchartData"
           [chartValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_ENGAGEMENT"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
