<div class="d-flex w-100 article flex-column pr-4">
  <div class="d-flex article-heading pl-4">
      <div class="article-heading-label">All articles</div>
      <mat-form-field class="sort-dropdown">
          <mat-select placeholder="Sort by" [(ngModel)]="sort_articals_by">
              <mat-option [value]="'updated_at'">
                  Last Update
              </mat-option>
              <mat-option [value]="'category_id'">
                  Category Name
              </mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div class = "d-flex article-filter-item-show pl-4" >
      <div *ngFor = "let filter_categorie_id of filter_categorie_id_list">
          {{filter_categorie_id | categoryIdToName : corpus.category_mapping}}
          <i class="fa fa-times-circle cursor-pointer pl-1" (click) = "removeFilterItemById(filter_categorie_id)"></i>
      </div>
  </div>
  <div class="d-flex article-item flex-column py-2 px-4"
      *ngFor="let section of corpus.sections | filterArticals : filter_categorie_id_list | sortArticals : sort_articals_by : corpus.category_mapping | slice:currentPage*10:currentPage*10+10 , let i = index"
      (click) = "listItemClicked(section)">
      <div class="catagory">
        <div>
            {{section.category_id | categoryIdToName : corpus.category_mapping }}
        </div>
        <div class ="showNoParentHover ml-auto">
            Last updated on {{section.updated_at | date:"MMM d"}}&nbsp;'{{section.updated_at | date:"yy"}}&nbsp;{{section.updated_at | date:"shortTime"}}
        </div>  
        </div>
      <div class="d-flex flex-row">
          <div class="first_question mr-auto">{{section.questions[0]}}</div>
          <div class="count">{{section.questions.length}} variations</div>
      </div>
  </div>
  <!-- <button (click)="currentPage = currentPage+1" ></button> -->
  {{currentPage}}
  
  <mat-paginator *ngIf="corpus.sections && corpus.sections.length >10" 
    [length]="(corpus.sections | filterArticals : filter_categorie_id_list).length"
    [pageSize]="10"
    [pageSizeOptions]="[10]"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageIndex]="currentPage"
    (page)="goToPage($event)"
    style="background-color: transparent;"
    >
</mat-paginator>
</div>