<div class="d-flex" *ngIf="showBackendRootUrlButton">
  <button class="btn btn-theme-primary ml-auto mr-1"
          (click)="openChangePasswordModal(Primarytemplate)">Change Backend root url (git test)</button>
</div>

<ng-template #Primarytemplate>
  <div class="primary-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2"> Change Backend Root</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body">
      <form class="row" #password_form="ngForm">

        <div class="col-md-12">
          <label for="" class="mr-1">Url</label>
          <input type="text" [(ngModel)]="backend_root_url" name="x">
        </div>

        <div class="col-md-12">
         <button class="btn btn-theme-primary" (click)="changeUrl()">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
