@import '~src/sass/main';


.primary-modal{
  @include classic-modal(#00abd3);
}
.primary-modal{
  .modal-body{
    .fa{
      font-size:48px;
      color: #00abd3;
      padding: 10px 0px;
    }
  }
}
