<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.text)"
     data-cy="gentemp-sidebar-text">
  <mat-icon style="font-size: 20px;display: flex;align-items: center;color: #696969;justify-content: center;">
    short_text
  </mat-icon>
  Text
</div>
<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.carousel)"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    view_carousel
  </mat-icon>
  Carousel
</div>

<!--new additions-->
<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.image)"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    image
  </mat-icon>
  Image
</div>
<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.audio)"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    audiotrack
  </mat-icon>
  Audio
</div>
<div class="bot-template custom-disabled"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    attach_file
  </mat-icon>
  File
</div>
<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.video)"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    videocam
  </mat-icon>
  Video
</div>

<div class="bot-template cursor-pointer"
     [ngClass]="{'custom-disabled': templateKey === 'Welcome message'}"
     (click)="genTemplateTypeClicked(ETemplateResponseType.code)"
     data-cy="gentemp-sidebar-carousel">
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;justify-content: center;">
    code
  </mat-icon>
  Code
</div>

<div class="bot-template cursor-pointer" (click)="genTemplateTypeClicked(ETemplateResponseType.quick_reply)"
     data-cy="gentemp-sidebar-quick-reply">
  <mat-icon style="font-size: 16px;display: flex;align-items: center;color: #696969;justify-content: center;">ballot
  </mat-icon>
  Quick Replies
</div>

<!---->
