<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('text')" >
  <mat-icon style="font-size: 20px;display: flex;align-items: center;color: #696969;">short_text</mat-icon>Text
</div>
<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('carousel')" >
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;">view_carousel</mat-icon>Carousel
</div>

<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('quick_reply')" >
  <mat-icon style="font-size: 16px;display: flex;align-items: center;color: #696969;">ballot</mat-icon>Quick Reply
</div>

