<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('text')" >
  <mat-icon style="font-size: 20px;display: flex;align-items: center;color: #696969;">short_text</mat-icon>Text
</div>
<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('carousel')" >
  <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;">view_carousel</mat-icon>Carousel
</div>
<!--        <li class="pl-2 bot-template cursor-pointer" style="opacity: .3; pointer-events: none">-->
<!--          <span class="fa fa-users"></span>Text Carousel-->
<!--        </li>-->
<div class="bot-template cursor-pointer" (click) = "genTemplateTypeClicked('quick_reply')" >
  <mat-icon style="font-size: 16px;display: flex;align-items: center;color: #696969;">ballot</mat-icon>Quick Reply
</div>

