.template-view{
  overflow-y: auto;
  height: 55vh;
  padding: 8px;
  border-bottom: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;
}
.template-sidebar{
  width: 72px;
  border: solid 1px #e0e0e0;
  overflow-y: auto;height: 55vh;
}
