@import "~src/sass/main";
.article-action-side-bar{
    .for-border{
        height: 45px;
        border-bottom : solid 1px #e0e0e0;
    }
    .action-item{
        display: flex;
        align-items: center;
        font-size: 11px;
        color: #474747;
        mat-icon{
            font-size: 15px;
            height: auto;
            width: auto;
            padding-right: 3px; 
        }
    }
    .filter-categories-heading{
        color: #474747;
        font-size: 13px;
        font-weight: bold;
        line-height: 1;
    }
    .filter-categories-box{
        background-color: #ffffff;
        border-radius: 2px;
        .search-input{
            height:45px;
        }
        .categories-section{
            font-size: 13px;
            color: #474747;
            border-bottom: solid 1px #e0e0e0;
            height:250px;
            overflow-y: auto;
        }
        .filter-btn{
        }
        .clear-btn{
            background-color: transparent;
            color: #474747;
            border: solid 1px #e0e0e0;
        }
    }
    
}

::ng-deep{
    .checkbox-filter{
        span{
            white-space: normal;
            word-break: break-all;
        }
    }
    .mat-checkbox-inner-container{
        vertical-align: top !important;
        margin-top: 8px !important; 
    }
}