<!--chat bubbles for text message started-->
<div class="row mt-1 style-children-scrollbar-x"
     [ngClass]="{'reverse-flex-row':messageData?.sourceType==='human'}"
     *ngIf="messageData.messageMediatype === myEBotMessageMediaType.text && messageData.sourceType!=='session_expired'">
  <div class="p-0 text-center" style="width: 40px">
    <img class="rounded-circle"
         [src]="messageData?.sourceType==='bot'?selectedAvatar?.imageUrl:'https://image.flaticon.com/icons/svg/17/17004.svg'"
         style="width: 32px;height: 32px" alt="">
  </div>
  <div class="col-10 text-left p-0" [ngClass]="{'reverse-flex-row':messageData?.sourceType==='human'}">
    <div class="message p-2"
         [ngClass]="{'bg-message-bot':messageData?.sourceType==='bot','bg-message-human':messageData?.sourceType==='human'}"
         style="display: inline-block; overflow-x: auto">
      <span class="message-text" [innerHtml]="messageData?.text"></span>
      <div class="time text-right">{{(messageData?.time|msToHhmm)||'no time info'}}</div>
    </div>
  </div>
</div>
<!--chat bubbles for text message ends-->

<div class="row mt-1 style-children-scrollbar-x" *ngIf="messageData.messageMediatype !== myEBotMessageMediaType.text && messageData.sourceType!=='session_expired'">
  <div class="p-0 text-center" style="width: 40px">
    <img class="rounded-circle"
         [src]="messageData?.sourceType==='bot'?selectedAvatar?.imageUrl:'https://image.flaticon.com/icons/svg/17/17004.svg'"
         style="width: 32px;height: 32px" alt="">
  </div>
  <div class="col-10 text-left p-0 "
       style="overflow-x: auto"
       *ngIf="messageData.messageMediatype===myEBotMessageMediaType.image">
    <app-card-carousel
      [isFullScreenPreview]="isFullScreenPreview"
      [messageData]="messageData"
      (sendMessageToBotServer$)="sendMessageToBotServer$.emit($event)"
    ></app-card-carousel>
  </div>
  <div class="col-10 text-left px-0"
       *ngIf="messageData.messageMediatype===myEBotMessageMediaType.quickReply">
    <!--<div class="d-inline-block">-->
      <app-quick-reply
        style="overflow-x: auto; width: 100%"
        [isFullScreenPreview]="isFullScreenPreview"
        [messageData]="messageData"
        (sendMessageToBotServer$)="sendMessageToBotServer$.emit($event)"
      ></app-quick-reply>
    <!--</div>-->
  </div>
  <div class="col-10 text-left p-0 d-flex"
       *ngIf="messageData.messageMediatype===myEBotMessageMediaType.bot_thinking">
    <div class="bg-message-bot d-flex align-items-center px-2">
      <app-bot-thinking-bubble [selectedAvatar]="selectedAvatar" class="d-block"></app-bot-thinking-bubble>
    </div>
  </div>
</div>

<div class="row d-flex align-items-center session-expire-info-row" *ngIf="messageData.sourceType==='session_expired'">
  <hr>
  <i class="px-2">New session started</i>
  <hr>
</div>


<!--TODO: hide if the first-->
<app-chat-feedback
  *ngIf="messageData.sourceType === 'bot' && messageData.bot_message_id"
  (chatMessageFeedback$)="feedback($event)"
  [feedback]="messageData.feedback"
></app-chat-feedback>
