<!--chat bubbles for text message started-->
<div class="row mt-1 style-children-scrollbar-x"
     data-cy="chat-messageMediatype_text"
     [ngClass]="{'reverse-flex-row':messageData?.sourceType==='human'}"
     *ngIf="messageData.messageMediatype === myEBotMessageMediaType.text && messageData.sourceType!=='session_expired'">
  <div class="col-10 text-left p-0 flex-wrap" [ngClass]="{'reverse-flex-row':messageData?.sourceType==='human'}">
    <div class="message p-2"
         [ngClass]="{'bg-message-bot':messageData?.sourceType==='bot','bg-message-human':messageData?.sourceType==='human'}"
         style="display: inline-block; overflow-x: visible; position: relative">
            <span class="message-text" *ngIf="messageData?.sourceType==='human'"
                  [innerHtml]="messageData?.text|linkify:'text-white'"></span>
      <span class="message-text" *ngIf="messageData?.sourceType==='bot'"
            [innerHtml]="messageData?.text|linkify:'text-dark'"></span>
      <div style="position: absolute; bottom: -17px;left: 0px; color: #9e9e9e !important; min-width: 60px"
           [ngClass]="{'text-left': messageData?.sourceType==='bot', 'text-right': messageData?.sourceType==='human'}"
           [ngStyle]="{'left': messageData?.sourceType==='bot'? '0' : 'auto',
                  'right': messageData?.sourceType==='human'? '0' : 'auto' }"
           class="time">{{(messageData?.time|date:'h:mm a') || 'no time info'}}</div>
    </div>
    <!--TODO: enable link preview in future-->
  </div>
  <!--chat bubbles for text message ends-->
</div>
<div class="row mt-1 style-children-scrollbar-x"
     style="position: relative"
     *ngIf="messageData.messageMediatype !== myEBotMessageMediaType.text && messageData.sourceType!=='session_expired'">
  <app-play-media [direction]="'left'" [message]="messageData"></app-play-media>

  <div class="col-12 text-left p-0 "
       style="overflow-x: auto"
       *ngIf="messageData.messageMediatype===myEBotMessageMediaType.image">
    <app-card-carousel
      [isFullScreenPreview]="isFullScreenPreview"
      [messageData]="messageData"
      (sendMessageToBotServer$)="sendMessageToBotServer$.emit($event)"
    ></app-card-carousel>
  </div>
  <div class="col-12 text-left px-0"
       *ngIf="messageData.messageMediatype===myEBotMessageMediaType.quickReply">
    <!--<div class="d-inline-block">-->
    <app-quick-reply
      style="overflow-x: auto; width: 100%"
      [isFullScreenPreview]="isFullScreenPreview"
      [messageData]="messageData"
      (sendMessageToBotServer$)="sendMessageToBotServer$.emit($event)"
    ></app-quick-reply>
    <!--</div>-->
  </div>
  <span [hidden]="messageData.messageMediatype!==myEBotMessageMediaType.bot_thinking">
    <div class="col-12 text-left p-0 d-flex"
         data-cy="chat-bot-thinking">
    <div class="p-0 text-center" style="width: 40px">
      <img class="rounded-circle"
           [defaultImage]="'assets/img/no image.svg'"
           [lazyLoad]="messageData?.sourceType==='bot'?bot.logo:'https://image.flaticon.com/icons/svg/17/17004.svg'"
           style="width: 32px;height: 32px; border-radius: 50%" alt="">
    </div>
    <div class="bg-message-bot d-flex align-items-center px-2">
      <app-bot-thinking-bubble [bot]="bot" class="d-block"></app-bot-thinking-bubble>
    </div>
  </div>
  </span>

  <div
    *ngIf="messageData.messageMediatype!==myEBotMessageMediaType.bot_thinking"
    data-cy="chat-bot_thinking"
    style="position: absolute; bottom: -17px;left: 0px;min-width: 32px; color: #9e9e9e !important;"
    [ngStyle]="{'left': messageData?.sourceType==='bot'? '0' : 'auto',
                  'right': messageData?.sourceType==='human'? '0' : 'auto' }"
    class="time text-right">{{(messageData?.time|date:'h:mm a') || 'no time info'}}</div>
</div>




<div class="row d-flex align-items-center session-expire-info-row"
     data-cy="chat-session_expired"
     *ngIf="messageData.sourceType==='session_expired'">
  <hr>
  <i class="px-2">New session started</i>
  <hr>
</div>


<!--TODO: hide if the first-->
<app-chat-feedback
  *ngIf="_allow_feedback && messageData.sourceType === 'bot' && messageData.bot_message_id && (isLastMessage || messageData.feedback === myEChatFeedback.NEGATIVE || messageData.feedback === myEChatFeedback.POSITIVE)"
  data-cy="app-chat-feedback"
  style="display: flex; align-items: flex-end"
  (chatMessageFeedback$)="feedback($event)"
  [feedback]="messageData.feedback"
></app-chat-feedback>

