<!---->
<!--Tabbing starts-->
<ul class="nav nav-tabs my-2 theme-tabbing">
   <li class="nav-item ml-3">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{eng:'sessionsperuser'}"
       (click)="tabClicked('sessionsperuser')"
       [ngClass]="{'tab-active':activeTab==='sessionsperuser'}"><strong>Sessions per user</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['.']"
       queryParamsHandling="merge"
       replaceUrl="true"
       [queryParams]="{eng:'messagespersession'}"
       (click)="tabClicked('messagespersession')"
       [ngClass]="{'tab-active':activeTab==='messagespersession'}"><strong>Messages per session</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"
       [queryParams]="{eng:'timepersession'}"
       (click)="tabClicked('timepersession')"
       [ngClass]="{'tab-active':activeTab==='timepersession'}"><strong>Time per session</strong></a>
  </li>
  
</ul>
<!--Tabbing ends-->


<app-chart *ngIf="activeTab==='sessionsperuser'" 
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>

<app-chart *ngIf="activeTab==='messagespersession'" 
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>

<app-chart *ngIf="activeTab==='timepersession'" 
           [chartValue]="chartValue"
           [highChartThemeValue]="constantsService.HIGHCHART_THEMEVALUE_ANALYTICS_PERFORMANCE_SESSION_WISE">
</app-chart>
