<mat-tab-group>
  <mat-tab label="Overview">
    <div class="px-4 mt-2">
        <app-enterprise-overview></app-enterprise-overview>
        </div> 
  </mat-tab>
  <mat-tab label="Users">
    <div class="px-4 mt-2">
        <app-enterprise-users></app-enterprise-users>
    </div>
  </mat-tab>
  <mat-tab label="Roles"  >
    <div class="px-4 mt-2">
      <app-enterprise-roles
      *ngIf="!currentRoleState || currentRoleState == myEnterpriseRoleTabName.roles " 
      (selectedRole)="roleSelected($event)"
      (enterRole) = "isNewRole = false; currentRoleState = myEnterpriseRoleTabName.modifyRole"
      (enterNewRole) = "isNewRole = true; currentRoleState = myEnterpriseRoleTabName.newRole "
      ></app-enterprise-roles>

      <app-roles *ngIf="currentRoleState == myEnterpriseRoleTabName.modifyRole || currentRoleState == myEnterpriseRoleTabName.newRole" 
      [selectedRole] = "currentRoleId"
      (backToRoles) = "currentRoleState =  myEnterpriseRoleTabName.roles"
      [isNewRole] = "isNewRole"
      ></app-roles>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
    </a>
    </nav> -->
    