@import '~src/sass/main';

.basic-row {
  .logo-wrapper {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px dotted $color-text-border-e0;
    @include center-vertical-horizontal();
    img {
      width: 90%;
    }
  }
}

.basic-info-form {
  label {
    @include typography(11px, $line-height-md, $font-weight-normal, $color-secondary);
    padding-bottom: 0;
    margin-bottom: 0;
  }
  input {
    padding: 2px;
    margin-top: 0;
    margin-left: 1px;
    @include hide-borders();
    border-bottom: $border-normal;
    border-radius: 0;
  }
}

form input{
  @include typography($font-size-normal, $line-height-normal, $font-weight-normal, $color-secondary);

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  @include typography($font-size-xs, $line-height-md, $font-weight-normal, $color-secondary);
  padding: 0;

}

.form-title{
  @include typography($font-size-sm, $line-height-md, $font-weight-700, $color-text-normal);
}

.form-group{
  padding-bottom: 5px;
}

th,td{
  @include typography($font-size-normal, $line-height-normal, $font-weight-400, $color-text-grey);
}

.font-11{
  font-size: 11px;
}

.card-header{
  background-color: #f0f3f4;
  padding-right: 0;
  padding-left: 0;  
  padding-top: 0; 
}
.card{
  background-color: #f0f3f4;
}

.modelBotNames{
  display: grid;
  grid-template-columns: repeat(4,150px);
  justify-content: center;
  align-items: center;
  label{
    text-align: left;
    input{
      width:13px;
      height: 13px;
    }
  }
}

.user-modal-heading{
  font-family: Helvetica;
  font-size: 13px;
  color: #474747;
  font-weight: bold;
}

.rolePannelGrid{
  font-family: Helvetica;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-content: start;
  align-items: center;
  grid-gap: 20px;
  .rolePannelGridItem{
    background-color: #ffffff;
    height:120px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    .headding{
  font-size: 13px;
  color: #474747;
  font-weight: bold;
    }
    .d-flex{
    flex-direction: row;
    .fa-cog{
      color: $color-primary;
    }
    .fa-trash{
      color: $color-danger;
      
    }
    }
  }
}
::ng-deep{
  .textVal {
    width:auto  !important; 
  }
  .color-primary{
    color:$color-primary;
  }
  .color-danger{
    color:$color-danger;
  }
}
