<input type="text" hidden #activeDropdownButtonIndex [value]=-1>

<form #carausalForm="ngForm" class="row mx-0 px-1 w-100 bg-white template-output-scroll-container">
  <div class="d-flex w-100">
    <div class="d-flex align-items-center">
      <mat-icon style="font-size: 16px ;display: flex;align-items: center;color: #696969;">view_carousel</mat-icon>
      <span>Carousel</span>
      <span *ngIf="outputItem?.generic_template[0]?.elements?.length > 0">({{controlsClickedCount+1}} of {{outputItem?.generic_template[0]?.elements?.length}})</span>
    </div>
  </div>

  <div #MultiCarousel class="MultiCarousel  w-100 ml-1" data-items="2,2,2,2" data-slide="1" id="MultiCarousel"
       data-interval="1000">
    <!--TODO: ngclass below is a hack; improve it-->
    <div #MultiCarouselInner class="MultiCarousel-inner  flex-grow-1 d-flex" style="min-width: 100%"
         [ngClass]="{'float-right':isParentSessionsModal && (totalItemsInCarasol<carasolItemShownInOneScreen)}">
      <!--carasol item starts-->
      <div class="item flex-shrink-0 p-1" #caraosalItem
           *ngFor="let carousalItem of outputItem?.generic_template[0]?.elements; let carouselIndex = index"
           style="border-radius: 2px">
        <div [style.visibility]="controlsClickedCount===carouselIndex ? 'visible' : 'hidden'"
             class="w-100 controls show-on-hover-item d-flex justify-content-between align-items-start hide-it"
             style="flex-basis: 18px;">


          <span class="fa fa-copy carasol-item-control cursor-pointer" (click)="duplicateCarasolItem(carouselIndex);"></span>
          <div class="d-flex ">
            <span *ngIf="carouselIndex>=1" class="fa fa-chevron-left m-1 cursor-pointer heading-icon carasol-item-control"
               (click)="swapCarasolItems(carouselIndex,carouselIndex-1)"></span>
            <span *ngIf="carouselIndex< outputItem?.generic_template[0]?.elements.length-1"
               class="fa fa-chevron-right m-1 cursor-pointer heading-icon carasol-item-control"
               (click)="swapCarasolItems(carouselIndex,carouselIndex+1)"></span>
          </div>
          <span class="fa fa-trash m-1 cursor-pointer heading-icon carasol-item-control"
             (click)="deleteCarasolItem(carouselIndex);"></span>

        </div>
        <div class="card m-0 shadow-theme position-relative">
          <ng-container *ngIf="carouselIndex === controlsClickedCount+1">
            <div class="item-before cursor-pointer bg-overlay-grey d-flex align-items-center justify-content-center "
                 #rightLst (click)="slideCarousel(myECarasoulMoveDirection.right)"
                 style="position: absolute; top: 0;bottom: 0;right: 0; left: 0; z-index: 100">
              <span class="fa fa-arrow-right" style="position: absolute; top: 50%; left: 12.5%; z-index: 110"></span>
            </div>
          </ng-container>
          <!--carasol content starts-->
          <div [ngStyle]="{'background-image': 'url('+ carousalItem.image_url +')'}" class="card-img-top">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item limit-three-lines cursor-pointer mt-2">
              <input #mainInput type="text" class="border" autofocus placeholder="title"
                     [name]="'title'+ carouselIndex"
                     [(ngModel)]="carousalItem.title"
                     style="width: 100%">
            </li>
            <li class="list-group-item limit-three-lines flex-column align-items-start cursor-pointer">
              <input appUrlValidator type="text" name="image_url" placeholder="image URL" [(ngModel)]="carousalItem.image_url" style="width: 100%">
              <div class="d-flex justify-content-between w-100">
                <em class="faded-text text-danger" *ngIf="!(carousalItem?.image_url|checkImageValidity)">Invalid
                  image</em>
              </div>
            </li>
            <li class="list-group-item limit-three-lines cursor-pointer flex-column align-items-start">
              <textarea maxlength="80" style="height: 48px; width: 100%"
                        placeholder="Subtitle"
                        [name]="'subtitle'+ carouselIndex"
                        [(ngModel)]="carousalItem.subtitle"></textarea>
              <span class="faded-text">{{carousalItem?.subtitle?.length || 0}}/80</span>
            </li>
            <li class="list-group-item limit-three-lines cursor-pointer">
              <input type="text" name="url" [(ngModel)]="carousalItem.url"
                     placeholder="URL" style="width: 100%">
            </li>
          </ul>
          <ul class="list-group list-group-flush p-0 px-1  align-items-center">
            <li *ngFor="let button of carousalItem.button; let buttonIndex = index;"
                (clickOutside)="activeDropdownButtonIndex.value = -1"
                class="list-group-item limit-three-lines w-100 px-0 py-0 border"
                style="margin-top: 6px; overflow: visible">
              <!--TODO: come back here after angular 7 and uncomment below line-->
              <form #btnConfigForm="ngForm" class="btn-group w-100" (click)="$event.stopPropagation()">
                <!--caraosal button starts-->
                <div style="position: relative" class="text-center w-100 py-1"
                     (click)="changeActiveButtonIndex(activeDropdownButtonIndex,buttonIndex)">
                  <span>{{button.title}}</span>
                  <ul *ngIf="buttonIndex === Number(activeDropdownButtonIndex.value)"
                      style="position: absolute; top: 0; list-style-type: none;"
                      class="p-2 bg-white dialog-container"
                      id="button-configure-dropdown" role="menu">
                    <li>
                      <div class="faded-text text-dark text-bold text-center">Configure button options</div>
                    </li>
                    <li role="menuitem">
                      <mat-form-field>
                        <input matInput type="text" name="title" #titleEl required [ngModel]="button.title" placeholder="Title">
                      </mat-form-field>
                    </li>
                    <li role="menuitem">
                      <div style="font-size: 11px;text-align: left;color: #858585;" *ngIf = "inArticleResponse && bot">Payload*</div>
                        <app-faq-search-box class = "articleSearchInArticle" [bot]="bot" [inCuration]="true" *ngIf = "inArticleResponse && bot"
                                            (clickedOnArticle)="btnConfigForm.form.patchValue({payload:$event.searchedAricleString})"> </app-faq-search-box>
                      <div *ngIf = "inArticleResponse && bot" class="required mt-1" style="font-size: 11px;text-align: left;color: #858585;">Linked to article</div>
                      <div class="mb-1"
                           *ngIf = "inArticleResponse && bot && outputItem &&  outputItem?.generic_template[0]?.elements[buttonIndex]?.button[buttonIndex]?.payload" style="text-align: left;">
                        {{ outputItem.generic_template[0].elements[buttonIndex].button[buttonIndex].payload}}
                      </div>
                      <mat-form-field  [hidden]="inArticleResponse">
                        <input matInput type="text" name="payload" [ngModel]="button.payload" placeholder="Payload">
                      </mat-form-field>
                    </li>
                    <li role="menuitem">
                      <mat-form-field>
                        <input matInput type="text" name="type" [ngModel]="button.type" placeholder="Type">
                      </mat-form-field>
                    </li>
                    <li class="d-flex" style="font-size: 11px">
                      <span [ngClass]="{'cursor-not-allowed':!btnConfigForm.valid}" class="mr-1">
                      <span (click)="saveButtonConfig(btnConfigForm, carouselIndex, buttonIndex, activeDropdownButtonIndex)"
                            [ngClass]="{'cursor-pointer-event-none':!btnConfigForm.valid,'cursor-pointer':btnConfigForm.valid, 'text-primary':btnConfigForm.valid, 'text-muted': !btnConfigForm.valid}">
                        Done
                      </span>
                    </span>
                      <span class="text-primary cursor-pointer"
                            (click)="activeDropdownButtonIndex.value = -1;$event.stopPropagation();">Cancel</span>
                      <span class="text-danger cursor-pointer ml-auto"
                            (click)="deleteCaraousalButton(carouselIndex, buttonIndex)">Delete</span>
                    </li>
                  </ul>
                </div>
                <!--caraosal button ends-->
              </form>
            </li>

            <li *ngIf="this.outputItem.generic_template[0].elements[carouselIndex].button.length<=2"
                class="list-group-item limit-three-lines w-100 px-0 py-1 border cursor-pointer"
                style="margin-top: 6px;">
              <div class="text-center w-100" (click)="addNewButtonToCarasol(carouselIndex)">+ Add New</div>
            </li>


          </ul>
          <!--carasol content ends-->

          <ng-container *ngIf="carouselIndex === controlsClickedCount-1">
            <div class="item-after cursor-pointer bg-overlay-grey d-flex align-items-center justify-content-center "
                 #leftLst (click)="slideCarousel(myECarasoulMoveDirection.left)"
                 style="position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 100">
              <span class="fa fa-arrow-left" style="position: absolute; top: 50%; right: 12.5%; z-index: 110"></span>
            </div>
          </ng-container>

        </div>
      </div>
      <!--carasol item ends-->

      <div #addNewCarasolPlaceholder title="Add new carousel item"
           [style.width]="(itemWidth/3)+'px'"
           appDebounceClick (debounceClick)="pushNewCarasolItem()"
           class="p-1 flex-shrink-0 d-flex align-items-center justify-content-center bg-overlay-grey cursor-pointer">
        <span class="fa fa-plus" style="font-size: 20px; color: #9e9e9e"></span>
      </div>

    </div>
  </div>


</form>
