.grid-container{
  //display: grid;
  position: relative;
  //grid-template-columns: repeat(12, 1fr);
  //grid-template-rows: 56px minmax(80vh, 1fr);//1fr
  //grid-template-rows: 56px 90vh;
  //display: flex;

  .header-container{
    width: 100%;
    height: 56px;
    app-header{
      position: fixed;
      top: 0;
      width: 100%;
      height: 56px;
      //display: block;
      z-index: 1000;
    }
  }

  .grid-body{
    height: calc(100vh - 56px);
    overflow: auto;
    //padding-bottom: 16px;
  }
}


//.grid-body{
//  grid-row: 2 / 3;
//  grid-column: 1/-1;
//}
