<!--<app-modal-confirm></app-modal-confirm>-->

<mat-progress-bar
  [hidden]="!showProgressbar"
  [value]="progressVal"
  mode="determinate"
  style="position: fixed; right: 0; top: 0;z-index:300000000"
></mat-progress-bar>



<div class="grid-container">
  <div class="header-container" *ngIf="!isBotDetail && !isBuildBot">
    <app-header class="grid-header"></app-header>
  </div>
  <div class="grid-body" [ngStyle]="{'height': (!isBotDetail && !isBuildBot)? 'calc(100vh - 56px)': '100vh'}">
    <router-outlet></router-outlet>
    <app-footer style="margin-top: 16px; display: block"></app-footer>
  </div>
</div>
<!--<div class="mt-2" *ngIf="!isBotDetail && !isBuildBot">-->
  <!--<app-footer></app-footer>-->
<!--</div>-->

<!--<div style="position: fixed; right: 0px; bottom: 0px;z-index:102">-->
  <!--&lt;!&ndash;<router-outlet name="preview"></router-outlet>&ndash;&gt;-->
  <!--<router-outlet name="aux"></router-outlet>-->

<!--</div>-->

<div *ngIf="!isFullScreenPreview" style="position: fixed; right: 0px; bottom: 0px;z-index:102000000">
  <app-chat-wrapper></app-chat-wrapper>
</div>


<!--<div style="position: fixed; left: 40px; bottom: 40px; cursor: pointer; z-index: 10000000000000">-->
  <!--<a routerLink="/postman"><i class="fa fa-external-link"></i></a>-->
<!--</div>-->