.grid-container{
  display: grid;
  grid-template-columns: 3% repeat(12, 1fr) 3%;
  grid-template-rows: 56px 1fr;
  //grid-template-rows: 56px 90vh;
}

.grid-header{
  grid-column: 1 / -1;
}
.grid-body{
  grid-row: 2 / 3;
  grid-column: 2/-2;
}
