<div class="card bg-white p-3">

  <!--<div class="card-header bg-white">-->
    <!--<h4>Bot Config</h4>-->
  <!--</div>-->

  <div class="card-body pt-0 mt-0">
    <ul class="nav nav-tabs mb-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['.']"
           queryParamsHandling="merge"
           replaceUrl="true"
           [queryParams]="{config:'basic'}"
           (click)="tabClicked('basic')"
           [ngClass]="{'tab-active':activeTab==='basic'}">Basic Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"
           [queryParams]="{config:'data'}"
           (click)="tabClicked('data')"
           [ngClass]="{'tab-active':activeTab==='data'}">Data Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"
           [queryParams]="{config:'add-info'}"
           (click)="tabClicked('add-info')"
           [ngClass]="{'tab-active':activeTab==='add-info'}">Additional Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"
           [queryParams]="{config:'avators'}"
           (click)="tabClicked('avators')"
           [ngClass]="{'tab-active':activeTab==='avators'}">Avatars</a>
      </li>
    </ul>

    <!--tabs end-->
    <!--forms start-->
    <!--todo: make this row independent-->
    <div class="row pl-3">
      <div class="col-12" *ngIf="activeTab === 'basic'">
        <app-basic-info-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-basic-info-form>
      </div>
      <div class="col-12" *ngIf="activeTab === 'data'">
        <app-data-manage-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-data-manage-form>
      </div>
      <div class="col-12" *ngIf="activeTab === 'add-info'">
        <app-additional-info-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-additional-info-form>
      </div>
      <div class="col-12" *ngIf="activeTab === 'avators'">
        <app-avator-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-avator-form>
      </div>
    </div>
    <!--forms end-->

  </div>


</div>
