<div class="card" style="border-radius: 0">
    <!--<button mat-flat-button class="btn-theme text-white" (click)="updateBotHandler()"-->
    <!--*myIf="myEAllActions['Update Bots']">Update Bot-->
    <!--</button>-->
    <button class="mat-theme-button cursor-pointer" mat-button
            (click)="updateBotHandler()"
            style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; position: absolute; right: 0; margin-right: 10px; z-index: 20">
        <mat-icon>refresh</mat-icon>
        Update Bot
    </button>
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = $event" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <span [ngStyle]="{'color': !basicInfoForm.valid? 'red':'#474747'}">Profile</span>
                <mat-icon style="color: red;font-size: 100%;" *ngIf="!basicInfoForm.valid" class="example-tab-icon">highlight_off</mat-icon>
            </ng-template>
            <app-basic-info-form [formGroup]="basicInfoForm"></app-basic-info-form>
        </mat-tab>
        <mat-tab *ngIf="!(bot_type===myEBotType.intelligent)">
            <ng-template mat-tab-label>
                <span [ngStyle]="{'color': !dataManagementForm.valid?'red':'#474747'}">Management</span>
                <mat-icon style="color: red;font-size: 100%;" *ngIf="!dataManagementForm.valid" class="example-tab-icon">highlight_off</mat-icon>
            </ng-template>
            <app-data-manage-form [formGroup]="dataManagementForm"></app-data-manage-form>
        </mat-tab>
        <mat-tab *ngIf="!(bot_type===myEBotType.intelligent)">
            <ng-template mat-tab-label>
                <span [ngStyle]="{'color': !securityForm.valid?'red':'#474747'}">Security</span>
                <mat-icon style="color: red;font-size: 100%;" *ngIf="!securityForm.valid" class="example-tab-icon">highlight_off</mat-icon>
            </ng-template>
            <app-security [formGroup]="securityForm"></app-security>
        </mat-tab>
        <mat-tab *ngIf="!(bot_type===myEBotType.intelligent)">
            <ng-template mat-tab-label>
                <span [ngStyle]="{'color': !integrationForm.valid?'red':'#474747'}">Integrations</span>
                <mat-icon style="color: red;font-size: 100%;" *ngIf="!integrationForm.valid" class="example-tab-icon">highlight_off</mat-icon>
            </ng-template>
            <!--TODO: convert integration forms to reactive forms in future-->
            <app-integration-option-list
                    (form$)="integrationFormInit($event)"
                    [bot]="bot"></app-integration-option-list>
        </mat-tab>
        <!--<mat-tab label="Avatars" *ngIf="!(bot_type===myEBotType.intelligent)">-->
            <!--<app-avator-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-avator-form>-->
        <!--</mat-tab>-->
    </mat-tab-group>

    <!--<div class="card-body p-0 mt-0">-->
    <!--<ul class="nav nav-tabs mb-2">-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" [routerLink]="['.']"-->
    <!--queryParamsHandling="merge"-->
    <!--replaceUrl="true"-->
    <!--[queryParams]="{config:'basic'}"-->
    <!--(click)="tabClicked('basic')"-->
    <!--[ngClass]="{'tab-active':activeTab==='basic'}">Basic Info</a>-->
    <!--</li>-->
    <!--<li class="nav-item" *ngIf="!(bot_type===myEBotType.intelligent)">-->
    <!--<a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"-->
    <!--[queryParams]="{config:'add-info'}"-->
    <!--(click)="tabClicked('add-info')"-->
    <!--[ngClass]="{'tab-active':activeTab==='add-info'}">Additional Info</a>-->
    <!--</li>-->
    <!--<li class="nav-item" *ngIf="!(bot_type===myEBotType.intelligent)">-->
    <!--<a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"-->
    <!--[queryParams]="{config:'data'}"-->
    <!--(click)="tabClicked('data')"-->
    <!--[ngClass]="{'tab-active':activeTab==='data'}">Data Management</a>-->
    <!--</li>-->
    <!--<li class="nav-item" *ngIf="!(bot_type===myEBotType.intelligent)">-->
    <!--<a class="nav-link" [routerLink]="['.']" queryParamsHandling="merge" replaceUrl="true"-->
    <!--[queryParams]="{config:'avators'}"-->
    <!--(click)="tabClicked('avators')"-->
    <!--[ngClass]="{'tab-active':activeTab==='avators'}">Avatars</a>-->
    <!--</li>-->
    <!--</ul>-->

    <!--&lt;!&ndash;tabs end&ndash;&gt;-->
    <!--&lt;!&ndash;forms start&ndash;&gt;-->
    <!--&lt;!&ndash;todo: make this row independent&ndash;&gt;-->
    <!--<div class="row pl-3">-->
    <!--<div class="col-12" *ngIf="activeTab === 'basic'">-->


    <!--<app-basic-info-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-basic-info-form>-->
    <!--</div>-->
    <!--<div class="col-12" *ngIf="activeTab === 'data'">-->
    <!--<app-data-manage-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-data-manage-form>-->
    <!--</div>-->
    <!--<div class="col-12" *ngIf="activeTab === 'add-info'">-->
    <!--<app-additional-info-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-additional-info-form>-->
    <!--</div>-->
    <!--<div class="col-12" *ngIf="activeTab === 'avators'">-->
    <!--<app-avator-form (datachanged$)="datachanged$.emit($event)" [bot]="bot"></app-avator-form>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;forms end&ndash;&gt;-->

    <!--</div>-->


</div>
