@import "~src/sass/main.scss";;
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a{//bootstrap override
  text-decoration: none !important;
  font-size: $font-size-sm;
  color: black;
  @include typography($font-size-sm,$line-height-normal, $font-weight-300 , $color-text-grey)
}
.card, .card-header{
  border: none;
}

//.customClass{
//  background-color: black;
//}
.nav-link{
  border: none;
  border-bottom:1px solid transparent ;
  &:hover, &:hover{
    border: none;
  }
}






:host /deep/ {
  mat-tab-header{
    margin-bottom: 10px;
  }
  .mat-tab-label{
    height: 30px;
  }

  .mat-tab-body-content{
    height:unset!important;
  }
}

