@import "~src/sass/variables";
@import "~src/sass/mixins";
@import '~src/sass/main';

.danger-modal {
  @include classic-modal(#b14250);
}

.row-bot-detail-header {
  height: 56px;
  background-color: $color-primary-v2;
  *:not(.fa):not(mat-color){
    color: white;
  }

  .row-bot-detail-header__back {
    height: 28px;
    flex-basis: 28px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      font-size: 22px;
      padding-right: 3px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    flex-shrink: 0;

  }

  .row-bot-detail-header__bot-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;

  }

  .row-bot-detail-header__bot-details{
    display: flex;
    flex-direction: column;
  }

  //.fa-refresh {

  .fa-undo {
    color: $color-primary !important;
  }





  .active-button {
    height: 24px;
    border-radius: 2px;
    background-color: #509005;
    @include typography(11px, 1.45, $font-weight-300, $color-text-normal);
    color: white;
  }

  .fa:not(.fa-circle ) {
    color: #9b9b9b;
  }

  .dark-green {
    color: #8cd82f;
  }
  .dark-orange {
    color: #f48a42;
  }

  .more {
    @include typography(13px, $line-height-normal, $font-weight-300, #00abd3);
  }

  .headerDivider {
    border-left: 1px solid #9e9e9e;
    height: 85%;
  }
}

.logo-image {
  margin-right: 2px;
  margin-left: 2px;
}

.dropdown-menu {
  left: -100px !important;

  > li {
    > .dropdown-item {
      font-size: 13px;
    }
  }
}

.preview-box {
  * {
    color: $color-primary !important;
  }

  .action {
    font-size: 13px;
  }

  cursor: pointer;
}

.no-channel-integrations:first-child {
  border-left: $border-normal;
  padding-left: 4px;
  width: 20px !important;
}

.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}

@-webkit-keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-angle-left{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.4);
  height: 30px;
  width: 30px;
  margin: 0;
  &:hover{
    background-color: rgba(255, 255, 255, 0.4);
    //color: black;
  }
//
}

.faq-search{
  i{
    position: absolute;
    font-size: 17px;
    padding-top: 8px;
    padding-left: 10px;
    color: rgba(247, 247, 247, 0.33) !important;

  }
  input{
    height: 32px;
    border-radius: 2px;
    border: none;
    margin-right: 11px;
    background-color: #203c55;
    width: 300px;
    color: rgba(255, 255, 255, 0.33) !important;
    padding-left: 34px;

  }
  input:focus{
    outline: none;
  }

  }




  .mat-menu-item .mat-icon {
    margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
    height: 14px;
    width: 14px;
    font-size: 14px;
}


button.mat-menu-item{
  display: flex;
  align-items: center;
}

.fa-share{
  color: rgba(0, 0, 0, 0.54);
}