<!--<p>{{bot|json}}</p>-->

<div class="row-bot-detail-header d-flex align-items-center my-3">
  <img style="width: 32px;height: 32px" class="rounded-circle" [src]="bot.logo" alt="">
  <div class="name">
    <div class="heading">{{bot.name}}</div>
  </div>
  <i class="fa fa-users" *ngIf="bot.child_bots.length>0" style="font-size: 20px"></i>
  <div class="text-theme-normal">
    Created by : <strong>{{bot.created_by}}</strong> on <strong> {{bot.created_at|date}}</strong>
  </div>
  <div class="text-theme-normal">
    Last Updated By :<strong>{{bot.updated_by}}</strong> on <strong>{{bot.updated_at|date}}</strong>
  </div>
  <div class="active-button px-1 border-right d-flex justify-content-center align-items-center">
    Active({{bot.active_version_id}})
  </div>
  <div class="ml-auto"></div>
  <!--<img *ngFor="let keys of myObject.keys(bot.integrations)" style="width: 28px;height: 28px"-->
       <!--src="http://www.pngmart.com/files/3/Weather-PNG-HD.png" alt="">-->

  <img *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos|async))"
       [src]="'https://imibot.ai'+integrationsMasterListItem?.icon"
       class="logo-image"
       style="width: 18px;height: 18px"
       alt="">
  <span
    *ngIf="myObject.keys(bot.integrations).length>4"
    class="more">
    +{{myObject.keys(bot.integrations).length-4}} More
  </span>
  <div class="headerDivider mx-2"></div>
  <i class="fa fa-refresh px-2 cursor-pointer" (click)="refreshBotDetails$.emit()"></i>
  <button class="btn btn-theme-primary" (click)="updateBot()">Update Bot</button>
  <div class="btn-group p-2" dropdown placement="top left" >
    <i dropdownToggle class="fa fa-ellipsis-v p-1"></i>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item cursor-pointer" (click)="utilityService.copyToClipboard(bot.bot_access_token)" >Copy Access Token</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item cursor-pointer" (click)="utilityService.copyToClipboard(bot.enterprise_id)">Copy Enterprise ID</a>
      </li>
      <!--<li role="menuitem">-->
        <!--<a class="dropdown-item">Make Bot Active</a>-->
      <!--</li>-->
      <li role="menuitem">
        <a class="dropdown-item cursor-pointer" (click)="openModal(template)">Delete</a>
      </li>
    </ul>
  </div>

</div>

<ng-template #template>
  <div class="modal-header bg-danger">
    <h4 class="modal-title heading pull-left text-white">Really delete: <strong>{{bot.name}}</strong>?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white text-dark">
    <p class="mb-3">Do you confirm the Deletion? This is a permanent and irreversible change</p>
    <button class="btn btn-theme-secondary-outline mr-2" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-theme-danger" (click)="deleteBot()">Delete</button>
  </div>
</ng-template>
