
<div class="row-bot-detail-header d-flex align-items-center">
  <div class="row-bot-detail-header__back"
     style="text-decoration: none; padding: 0px 8px 0px 16px"
     (click)="goBackToDashboard()">
    <i class="fa fa-angle-left" title="Go to Dashboard"></i>
</div>
  <img class="row-bot-detail-header__bot-logo" style="margin:0 8px" [src]="bot.logo" alt="B">
  <div class="row-bot-detail-header__bot-details">
    <div style="display: flex">
      {{(bot.name| slice:0: 50) + (bot.name.length>50?"...":"")}}
      <i class="fa fa-circle dark-green" style="margin-left: 2px; font-size: 6px"></i>
    </div>
    <div style="font-size: 11px">
      <span>Update on </span>  {{bot.updated_at|date: 'd MMM, yy'}} on {{bot.updated_by}}
    </div>
  </div>
  <!--<i class="fa fa-users" *ngIf="bot && bot.is_manager" style="font-size: 16px"></i>-->
  <!--<div class="d-flex align-items-center">-->
    <!--<i class="fa fa-circle dark-green"></i>-->
    <!--<div>Active(v{{bot.active_version.Versions}})</div>-->
  <!--</div>-->
  <!--<div class="text-theme-normal mr-3 d-none d-md-block">-->
    <!--<span class="text-muted">Created by :</span>{{bot.created_by}} <span class="text-muted">on</span>{{bot.created_at|date}}-->
  <!--</div>-->
  <!--<div class="text-theme-normal d-none d-lg-block">-->
    <!--<span class="text-muted">Last Updated By :</span>{{bot.updated_by}} <span class="text-muted">on</span>{{bot.updated_at|date}}-->
  <!--</div>-->
  <div class="ml-auto"></div>
  <app-integration-channel-list
          *ngIf="bot.bot_type === myEBotType.chatbot"
          [bot]="bot" style="margin-right: 10px"></app-integration-channel-list>

  <!--<span *myIf="myEAllActions['Get Integrations']">-->
    <!--<img *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos:'only_channel'|async))"-->
         <!--[src]="integrationsMasterListItem?.icon"-->
         <!--class="logo-image " style="width: 16px;height: 16px" alt="">-->
    <!--<img roomId="roomId" *ngFor="let integrationsMasterListItem of ((bot.integrations|integrationLogos:'no_channel'|async))"-->
         <!--[src]="integrationsMasterListItem?.icon" class="logo-image " style="width: 16px;height: 16px" alt="">-->
  <!--</span>-->
  <!--<span *ngIf="myObject.keys(bot.integrations).length>4" class="more">-->
    <!--+{{myObject.keys(bot.integrations).length-4}} More-->
  <!--</span>-->
  <!--<div class="headerDivider mx-2"></div>-->
  <div *myIf="myEAllActions['Send API']">
    <!--<div class="d-flex preview-box align-items-center" (click)="openBot()" *ngIf="bot.bot_type === 'chatbot'">-->
      <!--<i class="fa fa-comment-o cursor-pointer" style="font-size: 15px"></i>-->
      <!--<span class="action">Preview</span>-->
    <!--</div>-->
    <ng-container *myIf="[myEAllActions['Analytics']]">
      <button *ngIf="bot.bot_type === myEBotType.chatbot" (click)="openAnalyticsForBot()"
              class="mat-theme-button mat-theme-button-border" mat-button>
        <mat-icon>trending_up</mat-icon>
        Analytics
      </button>
    </ng-container>
    <button class="mat-theme-button mat-theme-button-border"
            (click)="openBot()" *ngIf="bot.bot_type === 'chatbot'"
            mat-button>
        <mat-icon>chat_bubble_outline</mat-icon>
      Preview
    </button>
  </div>

  <!--<div *myIf="myEAllActions['Update Bots']" class="d-flex preview-box align-items-center"-->
       <!--(click)="refreshBotDetails()">-->
    <!--<i class="fa fa-refresh cursor-pointer" style="font-size: 15px" [ngClass]="{'fa-spin':showSpinIcon}"></i>-->
    <!--<span class="action">Cancel</span>-->
  <!--</div>-->

  <!--<button mat-flat-button color="primary" class="btn-theme text-white" (click)="openActiveBotChangedModal(activeVersionChangedTemplate)"-->
          <!--*myIf="myEAllActions['Update Bots']">Update Bot-->
  <!--</button>-->
  <button mat-icon-button [matMenuTriggerFor]="appMenu" class="click-save-wrapper">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu class="cutom-md-menu" #appMenu="matMenu">
    <button mat-menu-item (click)="utilityService.copyToClipboard(bot.bot_access_token)"><i class="fa fa-copy mr-1"></i>Copy Access Token</button>
    <button mat-menu-item (click)="utilityService.copyToClipboard(bot.enterprise_id)"><i class="fa fa-copy mr-1"></i>Copy Enterprise ID</button>
    <button mat-menu-item
            *myIf="[myEAllActions['Delete Bots']]"
            (click)="openDeleteModal()"><i class="fa fa-trash mr-1"></i>Delete</button>
  </mat-menu>
</div>


<ng-template #template>
  <div class="danger-modal center-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Delete bot&nbsp;{{ bot.name}}&nbsp;
        ?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body pt-0">
      <form #form="ngForm">
        <div class="text-center my-1">
          <p class="mb-3">This action cannot be undone. Are you sure you wish to delete?</p>

        </div>
        <button class="btn-theme btn-theme-secondary-outline mr-2" (click)="dialogRefWrapper.ref.close()">Cancel</button>
        <button class=" btn-theme btn-theme-danger" (click)="deleteBot()">Delete</button>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #activeVersionChangedTemplate>
  <div class="danger-modal">
    <div class="top-dec"></div>
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;">Active version changed</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body pt-0">
      <form #form="ngForm">
        <div class="text-center my-1">
          <p class="mb-3">If you update the bot your currently selected version will be the new Active version.</p>

        </div>
        <button class="btn-theme btn-theme-secondary-outline mr-2" (click)="dialogRefWrapper.ref.close()">Cancel</button>
        <button class=" btn-theme btn-theme-danger" (click)="updateBot()">Update</button>
      </form>
    </div>
  </div>
</ng-template>

