@import "~src/sass/variables";
@import "~src/sass/mixins";

.row-bot-detail-header {
  height: 40px;
  *:not(.fa) {
    @include typography(11px, 1.45, $font-weight-400, black);
    strong {
      font-weight: bold;
      color: #474747 !important;
    }
  }
  * {
    margin-right: 5px;;
  }
  .name {
    div {
      color: #474747;
      font-weight: bold;
    }
  }
  strong {
    color: #4a4a4a !important;
  }
  .active-button {
    height: 24px;
    border-radius: 2px;
    background-color: #509005;
    @include typography(11px, 1.45, $font-weight-300, $color-text-normal);
    color: white;
  }

  .fa:not(.fa-circle) {
    color: #9b9b9b;
  }
  .dark-green {
    color: #8cd82f;
  }
  .more {
    @include typography(13px, $line-height-normal, $font-weight-300, #00abd3);
  }

  .headerDivider {
    border-left: 1px solid #9e9e9e;;
    height: 85%;
  }
}

.logo-image {
  margin-right: 2px;
  margin-left: 2px;
}

.dropdown-menu {
  left: -100px !important;
}

.preview-box {
  * {
    color: $color-primary !important;
  }
  .action {
    font-size: 13px;
  }
  cursor: pointer;
}
