@import '~src/sass/main';

input{
  @include hide-borders();
  border: 1px solid #ced4da;
  padding-left: 8px;
}

::ng-deep td,th {
  max-width: 100px;
  text-align: left;
  &>div{
    text-align: left;
  }
}

