<!--<hot-table [data]="testData"-->
           <!--[colHeaders]="colHeaders"-->
           <!--[columns]="columns"-->
           <!--(afterInit)="alert1($event)"-->
           <!--[options]="options"></hot-table>-->

<!--<hot-table-->
  <!--[colHeaders]="true"-->
  <!--[rowHeaders]="true"-->
  <!--[data]="dataset"></hot-table>-->

<!--<button (click)="click()">export</button>-->
<input hidden type="text" class="mb-2" #handsontable_search_field placeholder="search table">

<div #handsontable></div>
