<header class="handsontable-header">
  <!--<label for="uploadInput" class="handsontable-header__upload"-->
         <!--[title]="'upload csv '+ (expectedCSVHeaders?('as: ' + expectedCSVHeaders):'')">-->
    <!--<i class="fa fa-upload"></i>-->
    <!--<input type="file"-->
           <!--hidden-->
           <!--id="uploadInput"-->
           <!--(change)='openFile(uploadInput);uploadInput.value=null'-->
           <!--accept='text/csv'-->
           <!--#uploadInput>-->
  <!--</label>-->
  <!--<i class="fa fa-download" (click)="exportToCsv()"></i>-->
  <input type="text" class="" #handsontable_search_field placeholder="search table">
  <div class="handsontable-header__ng-content">
    <ng-content></ng-content>
  </div>
</header>

<div id="testing" style="overflow: hidden" [ngStyle]="{'height': height, 'width':width}" class="flex-grow-1" #handsontable></div>

