<header class="handsontable-header">
  <span class="hide-phone">
    <label for="uploadInput1" class="handsontable-header__upload"
           [title]="'upload csv '+ (expectedCSVHeaders?('as: ' + expectedCSVHeaders):'')">
    <span class="fa fa-upload"></span>
    <input type="file"
           hidden
           id="uploadInput1"
           (change)='openFile(uploadInput);uploadInput.value=null'
           accept='text/csv'
           #uploadInput>
  </label>
  <span class="fa fa-download" (click)="exportToCsv()"></span>
  <mat-form-field class="ml-1">
    <input matInput #handsontable_search_field placeholder="search table" type="text">
    <mat-icon matSuffix style="font-size:11px;color: #9e9e9e;">search</mat-icon>
  </mat-form-field>
  </span>
  <div class="handsontable-header__ng-content">
    <ng-content></ng-content>
  </div>
</header>

<div id="testing" style="overflow: hidden" [ngStyle]="{'height': height, 'width':width}" class="flex-grow-1" #handsontable></div>

