<form [formGroup]="form">
  <h2 class="heading">
    Response
  </h2>
  <div style="padding: 10px; background-color: white; border: solid 1px #eaeaea; margin-top: 8px">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Final template key*" formControlName="template_key">
      <mat-error class="mat-error-small" *ngIf="form.get('template_key').errors?.error as errorObj">{{errorObj.message}}</mat-error>
    </mat-form-field>
    <div style="display: flex; align-items: center">
      <span style="margin-right: 10px">Reset slots after completion</span>
      <div>
        <mat-slide-toggle color="primary" formControlName="reset_state"></mat-slide-toggle>
      </div>
    </div>
  </div>
</form>
