<header>
  <div class="d-flex flex-row heading align-items-center pb-3">
    <div class="heading-title">
      <span class="fa fa-angle-left cursor-pointer p-1" (click)="showOpenCloseWithoutSavingModal()"
            data-cy="goBackFromArticle"></span>
      {{!articleData.section_id ? 'Create a new article' :
      (
        articleData.section_id == "first_message" ? "Welcome message" :
          articleData.section_id == "fallback" ? "Fallback message" :
            articleData.section_id == "partial_match" ? "Partial match message" :
              utteranceForm.value.questions[0]?.text.substr(0, 80) + (utteranceForm.value.questions[0]?.text?.length > 80 ? " . . ." : "")
      )
      }}
    </div>
    <div class="mr-auto">
    </div>

    <div *appMyIf="myEAllActions['Update Corpus']">
      <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border cursor-pointer mr-2"
              mat-button
              *ngIf="!(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' ||  articleData.section_id == 'partial_match')"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; "
              (click)="updateAndTrainModal(unsignedCategoriesTemplate)">
        <mat-icon>autorenew</mat-icon>
        Save and train
      </button>
    </div>
    <div *appMyIf="myEAllActions['Update Corpus']">
      <button class="mat-theme-button cursor-pointer mr-2" mat-button
              (click)="updateArticleClickedModal(unsignedCategoriesTemplate)"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px;">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
    <div *appMyIf="myEAllActions['delete Corpus']">
      <button class="mat-theme-button cursor-pointer mr-2" mat-button (click)="deleteArticleClicked()"
              data-cy="article-delete-button"
              *ngIf="!!articleData.section_id && !(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' || articleData.section_id == 'partial_match')"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; ">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>

    <button class="mat-theme-button cursor-pointer mr-2" mat-button (click)="showOpenCloseWithoutSavingModal()"
            *ngIf="!articleData.section_id || (articleData.section_id == 'first_message' || articleData.section_id == 'fallback')"
            style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; ">
      <mat-icon>close</mat-icon>
      Cancel and close
    </button>
  </div>

</header>

<div class="category-edit px-2 pb-2">
  <div class="category-lable px-2 ">Category</div>
  <span *ngIf="!isThisPermissionGiven(myEAllActions['Section Category Change'])">
    <div class="px-2">
      {{articleData.category_id | categoryIdToName : category_mapping}}
    </div>
  </span>
  <span *appMyIf="myEAllActions['Section Category Change']">
    <div class="category-name cursor-pointer px-2" (click)="openCategoryModifyModal(categoriesTemplate)"
         *ngIf="!(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' ||articleData.category_id == 'default_articles' || articleData.section_id == 'partial_match' )">
      <mat-icon class="color-primary" style="font-size:12px;height:auto;width:auto;">edit</mat-icon>
      {{articleData.category_id | categoryIdToName : category_mapping}}
    </div>
    <div class="px-2"
         *ngIf="(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' ||articleData.category_id == 'default_articles' || articleData.section_id == 'partial_match' )">
      {{articleData.category_id | categoryIdToName : category_mapping}}
    </div>
  </span>
</div>

<div class="main-block">
  <div
    *ngIf="(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' || articleData.section_id == 'partial_match')">
    <div class="first-message-info pl-2 pr-3 mx-2 pt-1 pb-3 mb-3">
      <div>
        <mat-icon class="icon">info</mat-icon>
      </div>
      <div>
        <div class="questions-heading">Usage</div>
        <div *ngIf="articleData.section_id == 'first_message'">
          Welcome message is the first message which will be shown across all
          platforms as soon as a new conversation with a bot is initiated.
          This message helps user know
          what the bot can and cannot do and acts as a crucial onboarding step.
        </div>
        <div *ngIf="articleData.section_id == 'fallback'">
          This response will be used whenever the bot is unable to identify
          the question which is asked by the user.
          You can configure the response here and the confidence
          below which score this should be triggered can be configured from inference settings.
        </div>
        <div *ngIf="articleData.section_id == 'partial_match'">
          When the bot recognises multiple articles with a very small difference in scores(as set in bot configuration),
          the partial match message is shown to the consumer so that they can select which article they were referring
          to.
          This message consists of text informing the consumer what happened and the close articles are shown as quick
          replies which they can click on. The text part of the message can be configured below.
          <br>
          <br>
          A representative preview with sample articles is also shown just for ease of understanding,
          in which the text configured below can be seen in action.
        </div>
      </div>
    </div>
    <mat-form-field class="w-100 mx-2 my-2" *ngIf="articleData.section_id == 'partial_match'"
                    [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'">
    <textarea
      maxlength="250"
      placeholder="Partial match message text"
      matInput required type="text"
      [(ngModel)]="articleData.answers[0].text[0]"
      [disabled]="!isThisPermissionGiven(myEAllActions['Section Category Change'])" #autosize="cdkTextareaAutosize"
      cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
    </mat-form-field>
  </div>

  <div #questionListContainer class="questions-list px-2" style="height: 67vh;"
       *ngIf="!(articleData.section_id == 'first_message' || articleData.section_id == 'fallback' || articleData.section_id == 'partial_match')">
    <form [formGroup]="questionsForm" class="addQuestionPanel px-4 py-2" (ngSubmit)="addNewQuestion(questionsForm)">
      <mat-form-field [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'">
      <textarea matInput type="text" placeholder="Add new variant" formControlName="text"
                data-cy="add-question-ti-tentemplate"
                (keydown.enter)="$event.preventDefault();addNewQuestion(questionsForm)"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">
              </textarea>
        <mat-error class="mat-error-small"
                   *ngIf="questionsForm.get('text').errors?.error as errorObj">{{errorObj.message}}</mat-error>
      </mat-form-field>
      <button class="mat-theme-button cursor-pointer mr-2" type="submit" mat-button
              *appMyIf="myEAllActions['Update Corpus']"
              [disabled]="!questionsForm.valid || !questionsForm.value.text"
              style="border: 1px solid #e0e0e0;padding: 0 8px; border-radius: 2px; width: max-content;">
        + Add variant
      </button>
    </form>
    <div class="questions-heading">Variants</div>
    <div *ngIf="utteranceForm.value.questions?.length === 0" class="no-question">No question added yet, atleast one is required
      to save the article
    </div>
    <form [formGroup]="utteranceForm" style="flex:1;overflow-y: auto">
      <div formArrayName="questions">
        <div
          *ngFor="let question of utteranceForm.value.questions; let index = index;trackBy:trackByIndex;"
          formGroupName="{{index}}">
          <mat-form-field class="question-list-item"
                          style="margin-bottom: -10px"
                          [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'">
      <textarea matInput required
                type="text"
                formControlName="text"
                [disabled]="!isThisPermissionGiven(myEAllActions['Section Category Change'])"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">
            </textarea>
            <mat-error class="mat-error-small"
                       *ngIf="utteranceForm.get('questions')?.at(index).get('text').errors?.error as errorObj">{{errorObj.message}}</mat-error>
            <mat-icon matSuffix class="onParentHover cursor-pointer" (click)="deleteQustionWithId(index)">close
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </form>

  </div>
  <div class="response" *ngIf="(articleData.section_id != 'partial_match')">
    <div class="response-heading">Response
      <mat-form-field class="ml-auto" data-cy="response_type_drop" *ngIf="articleData.section_id != 'first_message'">
        <mat-label>Response type</mat-label>
        <mat-select [(ngModel)]="articleData.response_type">
          <mat-option [value]="'dynamic'" data-cy="response_type_drop_Dynamic">
            Dynamic
          </mat-option>
          <mat-option [value]="'rich'" data-cy="response_type_drop_Rich">
            Rich
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <form [formGroup]="logicCodeForm" class="response-template">
      <app-answer-template-wrapper [answerObject]="articleData.answers" *ngIf="(articleData.response_type === 'rich')"
                                   [bot]="bot"></app-answer-template-wrapper>
      <div *ngIf="articleData && (articleData.response_type === 'dynamic')">
        <app-code-editor
          data-cy="context-logic-input"
          style="height: 63vh"
          [formControlName]="'logic'"
          [doShowValidationsIcon]="false"
          [doShowUploadDownloadButton]="false"
        ></app-code-editor>
      </div>
    </form>
  </div>
  <div class="response" *ngIf="articleData.section_id == 'partial_match'">
    <div class="response-heading">Representative preview
    </div>
    <div>
      <app-partial-match-response [textContent]="articleData.answers[0].text[0]"></app-partial-match-response>
    </div>

  </div>
</div>

<ng-template #categoriesTemplate>
  <div class="primary-modal" style="min-width: 24vw;">
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;font-size: 16px;">Change article category
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="pb-2 ng-star-inserted">
      <p class="mb-1">Add to an existing category or create new category</p>
    </div>

    <div class="modal-body pt-0 ">
      <form role="menu" class="d-flex flex-column" [formGroup]="assignCategoryModal">
        <mat-radio-group formControlName="inputType" class="d-flex flex-column">

          <mat-radio-button value="existing" color=primary>Add to existing category</mat-radio-button>
          <mat-form-field style="width: 55%; padding-left: 26px;">
            <mat-label>Existing Category</mat-label>
            <mat-select name="existingCategoryName" ngModel [disabled]='!(assignCategoryModal.value.inputType == "existing")'>
              <div *ngFor="let categorie of category_mapping">
                <mat-option [value]="categorie.category_id" *ngIf="!(categorie.category_id == 'default_articles' )">
                  {{categorie.name}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-radio-button value="new" color=primary>Add to new category</mat-radio-button>
          <mat-form-field style="width: 55%; padding-left: 26px;"
                          [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'">
            <input matInput placeholder="Name" formControlName="newCategoryName" data-cy='add-new-category'
                   [disabled]='!(assignCategoryModal.value.inputType == "new")' maxlength=40>
            <mat-error class="mat-error-small" *ngIf="assignCategoryModal.get('newCategoryName').errors?.error as errorObj">{{errorObj.message}}</mat-error>
          </mat-form-field>
        </mat-radio-group>
        <div class="d-flex justify-content-center">
          <button class="btn-theme btn-theme-secondary-outline ml-auto mr-2 cursor-pointer" style="font-size: 13px;"
                  (click)="dialogRefWrapper.ref.close()">
            Cancel
          </button>

          <button class="btn-theme btn-theme-primary cursor-pointer" style="font-size: 13px;"
                  (click)="changeArticalCategory(assignCategoryModal.value);dialogRefWrapper.ref.close(true)"
                  [disabled]="!(assignCategoryModal.valid)">
            Change category
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #unsignedCategoriesTemplate>
  <div class="primary-modal" style="min-width: 24vw;">
    <div class="modal-header">
      <h4 class="modal-title mb-2" style="display: flex;justify-content: start;font-size: 16px;">Article category
        unassigned
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dialogRefWrapper.ref.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="pb-2 ng-star-inserted">
      <p class="mb-1">This article has not been assigned to any category. Do you want to change it’s category or
        keep it
        unassigned?</p>
    </div>

    <div class="modal-body pt-0 ">
      <form role="menu" [formGroup]="assignCategoryModal" class="d-flex flex-column" >
        <mat-radio-group formControlName="inputType" class="d-flex flex-column">

          <mat-radio-button value="existing" color=primary>Add to existing category</mat-radio-button>
          <mat-form-field style="width: 55%; padding-left: 26px;">
            <mat-label>Existing Category</mat-label>
            <mat-select formControlName="existingCategoryName"
                        [disabled]='!(assignCategoryModal.value.inputType == "existing")'>
              <div *ngFor="let categorie of category_mapping">
                <mat-option [value]="categorie.category_id"
                            *ngIf="!(categorie.category_id == 'default_articles' )">
                  {{categorie.name}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-radio-button value="new" color=primary>Add to new category</mat-radio-button>
          <mat-form-field style="width: 55%; padding-left: 26px;"
                          [attr.dir]="this.bot.language === 'ar' ? 'rtl' : 'ltr'">
            <input matInput placeholder="Name" formControlName="newCategoryName" data-cy='add-new-category'
                   [disabled]='!(assignCategoryModal.value.inputType == "new")'>
            <mat-error class="mat-error-small" *ngIf="assignCategoryModal.get('newCategoryName').errors?.error as errorObj">{{errorObj.message}}</mat-error>
          </mat-form-field>
        </mat-radio-group>
        <div class="d-flex justify-content-center">
          <button class="btn-theme btn-theme-secondary-outline ml-auto mr-2 cursor-pointer"
                  style="font-size: 13px;"
                  (click)="skipConformationModalSubmitted();dialogRefWrapper.ref.close()">
            Skip and save
          </button>

          <button class="btn-theme btn-theme-primary cursor-pointer" style="font-size: 13px;"
                  (click)="globalConformationModalSubmitted(assignCategoryModal.value);dialogRefWrapper.ref.close(true)"
                  [disabled]="!(assignCategoryModal.valid)">
            Change and save
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
