<header>
  <div class = "d-flex flex-row heading align-items-center">
      <div class = "heading-title">
        <i class = "fa fa-angle-left cursor-pointer p-1"></i>
        {{articleData.questions[0]}}</div>
      <div class="mr-auto">
      </div>
      <button class="btn-theme btn-theme-primary mat-theme-button mat-theme-button-border" 
      >asdasd
      </button>
  </div>

</header>

<div class = "category-edit px-2">
    <div class = "category-lable px-2">Category</div>
    <div class = "category-name curser-pointer px-2">{{articleData.category_id | categoryIdToName : category_mapping}}</div>
</div>

<div class = "main-block p-2">
    <div class = "questions-list px-2">
        <div *ngFor="let question of articleData.questions">{{question}}</div>
    </div>
    <div class = "response">
        <div class = "response-heading">Response</div>
        <div class = "response-items px-2">
                <div *ngFor="let answer of articleData.answers">
                    {{answer.text}}
                </div>
            </div>
    </div>
    
</div>

