@import "~src/sass/main";
header{
    .heading-title{
        font-size: 16px;
        font-weight: bold;
        color: #474747;
        .fa-angle-left{
            font-size: 19px;
            font-weight: bold;
        }
    }
}

.category-edit{
    display: flex;
    flex-direction: column;
    .category-name{
        color : $color-primary;
    }
}


.main-block{
    flex:1;
    display: grid;
    grid-template-columns: 55% 44%;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
    overflow-y: auto;
  .first-message-info{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: max-content;
    .questions-heading{
      font-size: 13px;
      font-weight: bold;
      color: #474747;
      padding-bottom: .25rem;
    }
    .no-question{
      font-size: 13px;
      font-style: italic;
      color: #4a4a4a;
    }
    .icon{
      font-size: 14px;
      padding-left: 3px;
      padding-top: 3px;
      color:$color-primary;
    }

  }
    .questions-list{
    display: flex;
    flex-direction: column;
    .questions-heading{
        font-size: 13px;
        font-weight: bold;
        color: #474747;
        padding-bottom: .25rem;
    }
      .no-question{
        font-size: 13px;
        font-style: italic;
        color: #4a4a4a;
      }
    .question-list-item{
        // height : 45px;
        width : 95%;
        .onParentHover{
            opacity: 0;
          }
          &:hover{
            .onParentHover{
              opacity: 1;
            }
          }
        mat-icon{
            font-size: 13px;
            color: #9b9b9b;
        }
    }
    }
    .response{
        .response-heading{
            display: flex;
            flex-direction: row;
            font-size: 13px;
            font-weight: bold;
            color: #474747;
            padding-bottom: .25rem;
        }
        .response-template{
            height:55vh;
        }

        //.response-items{
        //    width: 100%;
        //    .answer-list-item{
        //        width: 100%;
        //        border: solid 1px #d8d8d8;
        //        border-radius: 4px;
        //        textarea{
        //            background-color: transparent;
        //    }
        //    }
        //}
    }
}
.first-message-main-block{
    display: flex;
    flex-direction: column;
    width:80%;
    .first-message-info{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        .questions-heading{
            font-size: 13px;
            font-weight: bold;
            color: #474747;
            padding-bottom: .25rem;
        }
      .no-question{
        font-size: 13px;
        font-style: italic;
        color: #4a4a4a;
      }
        .icon{
            font-size: 14px;
            padding-left: 3px;
            padding-top: 3px;
            color:$color-primary;
        }

    }
    .response{
        .response-heading{
            font-size: 13px;
            font-weight: bold;
            color: #474747;
            padding-bottom: .25rem;
        }
        .response-items{
            width: 100%;
            .answer-list-item{
                width: 100%;
                border: solid 1px #d8d8d8;
                border-radius: 4px;
                textarea{
                    background-color: transparent;
            }
            }
        }
    }
}



.cursor-pointer{
    cursor: pointer;
}

::-webkit-scrollbar {
    /*width: 5px;*/
    // width: 0px;
    color: red !important;
    cursor: pointer !important;
  }

  textarea.mat-input-element{
    padding: 0 !important;
  }
.addQuestionPanel{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #ffffff;
    textarea{
        background-color: transparent;

    }
    textarea.mat-input-element{
        padding: 0 !important;
    }
}
