<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="showOverlay">
  <ng-content></ng-content>
</ng-template>

<!--<ng-template-->
  <!--cdkConnectedOverlay-->
  <!--[cdkConnectedOverlayOrigin]="overlayOrigin"-->
  <!--[cdkConnectedOverlayOpen]="isOpened"-->
  <!--[hasBackdrop]="true"-->
  <!--(detach)="connectedOverlayDetach()">-->
  <!--<div #matDialog role="matDialog" aria-label="Dialog" class="matDialog-container">-->
    <!--<ng-content></ng-content>-->
  <!--</div>-->
<!--</ng-template>-->

